[2019-01-31 05:37] SystemFuchs opened #1 "No device options visibleon USB Dongle (ZWave Plus USB Dongle)"
Hi there, great work! I've checked the git version yesterday with a ZWave Plus USB Dongle.
The device is recognized & after about 15 minutes all known ZWave devices appear in the webinterface.

When I select the USB Dongle there a no options under user, config, etc. So I'm not able to add devices, remove devices, etc

[2019-01-31 06:57] robertsLando commented on #1
Try with my last commit c8c3ae28a6fec0b35fee85900a74e54d0fa5d1b7 .

I have added 2 new functions to controller `Add Node` and `Remove node`. You find them in Control Panel in the top right corner there is a select input with a list of action that you can send to the controller.
Let me know :smile:

[2019-01-31 08:36] SystemFuchs commented on #1
@robertsLando Thx for your quick answer 👍  , I'll give it  a try. Have to look for a timeslot because I only have one working home automation and it's offline when I'm testing your solution :-D

[2019-01-31 13:01] robertsLando commented on #1
No worries, waiting for your feedback so I can close this issue :smile:

[2019-02-05 09:19] gazoscalvertos opened #2 "Invalid Network Key. Does not contain 16 Bytes - Contains 1"
Hi,

First of all kudos on the software!

I've run into a snag whilst getting this up and running, working without a security key is fine however when trying to add one openzwave fails. What format should the key be in? I have tried the following in the text box yet each one fails:

0xE1, 0x40, 0xE5, 0x36, 0x2E, 0xD2, 0xC6, 0x42, 0x28, 0xB1, 0x07, 0xBF, 0x9B, 0x81, 0x4A, 0xDA
"0xE1, 0x40, 0xE5, 0x

[2019-02-05 12:16] robertsLando commented on #2
According to [openzwave-shared docs](https://github.com/OpenZWave/node-openzwave-shared/blob/master/README-security.md)

`NetworkKey: "0xCA,0xFE,0xBA,0xBE,.... " // <16 bytes total>`

[2019-02-05 14:35] robertsLando commented on #1
@SystemFuchs any updates?

[2019-02-05 16:28] gazoscalvertos opened #3 "Request - Node Location"
Hi,

Wondering whether a button to disable showing node_location in the topic even when present?

I like the node_location feature however if zwave2mqtt restarts then it needs to wait until the devices have woken up and synced it's status before it picks up the location again. Or maybe I'm missing something?

I have this running in docker so maybe there are persistent files I need to look out for.

[2019-02-05 17:01] robertsLando commented on #3
Why don't simply set node location to "" (empty string)? Anyway, node location and node name properties are stored in `zwcfg_<homeIdhex>.xml` file, those properties are loaded once node is ready

[2019-02-06 05:32] SystemFuchs commented on #1
@robertsLando Sorry, no updates until now. I hope that I'll get a timeslot this week to test it again. Did not forget it 👍

[2019-02-06 09:50] gazoscalvertos commented on #3
Yeah I realise not setting a value works it was more for the aesthetics. My sensors are battery powered so only report as ready once they have woken up and synced if the system has been restarted, if the sensor is tripped in the meantime they would report this immediately and this would display as the nodeid rather than the name which is fine as I can work with nodeIDs.

I'll add in the button on

[2019-02-06 10:08] robertsLando commented on #3
@gazoscalvertos  I usually use only AC powered devices so I didn't know about this. I know there is an option in zwave options called `AssumeAwake` :

Maybe this option could help you?

[2019-02-06 14:46] gazoscalvertos commented on #3
Thanks, I will check this out!

[2019-02-06 15:22] SystemFuchs commented on #3
How do I set this option? I've got about 1/3 of battery driven devices?

[2019-02-06 16:16] SystemFuchs commented on #1
@robertsLando Inclusion and exclusion of non secure device could successfully be done.
What is not working at the moment is my danalock, which is already paired with the network key.

I've excluded the device but cannot include it secured as it seems...

[2019-02-06 16:18] robertsLando commented on #3
Sorry for the late replay, I have made some updates in last commit 1840bef82ae786fd2adf6becb99619950cb5e356 .

Now nodes name and location are loaded on driver ready so this fix your problem @gazoscalvertos .
Now you can also specify a custom config path (devices xml config database)

I will add the option `AssumeAwake` in next commit give me some minutes

[2019-02-06 16:27] robertsLando commented on #1
I never worked with secured devices, I can't give you any help about this, if you find a solution on openzwave docs I can fix it in my code but the only thing I can do with secured devices is to set the network key on the driver on boot

[2019-02-06 16:28] robertsLando commented on #3
`AssumeAwake` option added with 88698bdc1d7f77c7d8d256b829b69c85f1b2b58c

Pull the new version and let meknow @SystemFuchs  @gazoscalvertos

[2019-02-06 16:30] robertsLando commented on #1
@SystemFuchs try to check here: https://github.com/OpenZWave/open-zwave/wiki/Adding-Security-Devices-to-OZW

[2019-02-06 21:41] gazoscalvertos commented on #3
Awesome thanks @robertsLando !!! Will check this out and get back to you

[2019-02-07 10:11] robertsLando commented on #1
@SystemFuchs I think you shoul exclude your danalock from the controller (remove node), factory reset your danalock than add it to the controller again.

[2019-02-07 12:19] SystemFuchs commented on #1
@robertsLando I've excluded & included it. Did not work. The only thing I've not done is the factory reset because that would have locked out my wife yesterday evening :-D

After fiddling with the lock with openzwave I had to exclude & include it in openhab2 again & it worked.
I'll give it another try next week because I want to use nodered with your solution to be completely independent from open

[2019-02-07 13:19] robertsLando commented on #1
@SystemFuchs I'm sorry but Openzwave library doesn't give lot informations about secured devices and I really have no idea on how it works in the "low level". I think It works like https protocol and informations are encrypted using the network key but this is just a thought. I think that once you have included your danalock with openhab it may be bound with openhab zwave library (I don't know if

[2019-02-08 17:52] gazoscalvertos commented on #3
I can confirm this is working great, Operating on a docker container hosted by a RPI3

[2019-02-08 17:52] #3 closed

[2019-02-08 20:39] robertsLando commented on #3
@gazoscalvertos could you kindly submit a pull request with the Dockerfile you have used to create your docker container? It is in my todo list :)

[2019-02-08 23:11] gazoscalvertos commented on #3
Yeah no problem, I'm trying to finesse it slightly as the image size is 600MB. It builds everything from source as to pull the latest version of open-zwave

[2019-02-09 08:08] robertsLando commented on #3
You can both create the container using the pkg version (so you don't need to install nodejs too) or the entire nodejs app.
The first requires you to build the app using pkg (check dev section on readme) for the second I think you know as I think it is what you did :)

[2019-02-16 11:02] gazoscalvertos opened #4 "How to remove a failed node completely?"
Is there a way to remove a failed node?

I've tried modifying the xml file both while the server is up and down but doesn't make a difference. Can't see an option for it unless I'm missing something.

Thanks

[2019-02-16 11:53] robertsLando commented on #4
Check Readme.md. In order to replace a failed node you firstly have to make the controller detect the node as failed, send `update return routes` action or `update neighbors` To the failed node, controller status should said "node failed" once done, now use the controller action `replace failed node` and the controller will turn on inclusion and will assign the replaced nodeid to the new node adde

[2019-02-17 18:52] gazoscalvertos commented on #4
Thanks, I should have read that first as I simply ploughed ahead and readded the nodes that fell out of sync. Now I have 2 nodeIDs which are effectively dead, so the only way to get shot of these is to wait until i have new devices to add?

[2019-02-18 13:21] robertsLando commented on #4
@gazoscalvertos Yes. Actually some weired thing happens when removing devices in Openzwave, scan takes lot longer and all the systems seems to be slow down, If you have died nodes I suggest you to firstly exclude them from the controller.

The best thing you can do is to exclude all devices, hard reset the controller and add all them back.

[2019-02-18 13:21] #4 closed

[2019-02-18 13:22] #1 closed

[2019-03-03 13:24] sjorge opened #5 "Crash after a few seconds on SmartOS/illumos"
I found this project while googling for an issue building a node-red-ui-dashboard voor de openzwave stuff (which is a pain). This looked very promising and I got it installed OK.

After going through all the configuration steps and hitting save I had a hard crash. This happens again when restarting after a few seconds.

[code]

[code]

[2019-03-03 13:43] sjorge commented on #5
I only have limited javascript knowledge but I did manged to extra some info... using console.log,...

```{ type: 1, payloadType: 1 }```

Is the contents of this.config so the error makes sense, the values property is empty

[2019-03-03 14:00] robertsLando commented on #5
I will fix this tomorrow, if you want to make things work add a value in gateway settings table. Thanks for the issue

[2019-03-03 14:02] sjorge commented on #5
Awesome, I will try again next weekend. As it is getting late here.

[2019-03-03 14:26] sjorge commented on #5
This might be unrelated, but in the brief moment before the crash the settings tab seems to have lost all configuration.

[2019-03-03 14:54] robertsLando commented on #5
The problem is on line 76 of lib/Gateway.js, config.values is undefined (should be an empty array instead) and this throws an error when au call filter on that array. I haven't a pc right now but it is really easy to fix, if you want to make the Gateway works again go in store folder delete the json file and star again the Gateway. Now when saving settings remember ti add a value in Gateway values

[2019-03-04 09:20] robertsLando commented on #5
Hi @sjorge. I have just commited a fix for your error, please let me know if it works so I can close the issue :)

[2019-03-04 12:21] sjorge commented on #5
This is now fixed, I will open another issue for the settings page losing all settigns after restarting. As that is still present.

[2019-03-04 12:21] #5 closed

[2019-03-04 12:25] sjorge opened #6 "Settings does not load settings after a restart (on SmartOS/FreeBSD)"
```Error while retriving configuration, check console ```

Is displayed for a few seconds on the popup at the bottom.

[code]

That might be to blame.

[2019-03-04 15:01] sjorge commented on #6
I did some digging while I had a few minutes, looks like this is comming from the serialport library, seems it works fine for all the read/write stuff just not the listing stuff on non linux/mac.

On first run I can configure it by entering the path and everything keeps working, so It's a bit odd that it would error out only when a port has been entered already. I wonder if simply making this non

[2019-03-04 15:10] robertsLando commented on #6
Hi @sjorge, Thanks again for the issue, every feedback is useful for me? :) I have just commited a possible fix to your problem, please let me know if your problem is fixed now

[2019-03-04 16:34] sjorge commented on #6
Hi @robertsLando with that fix applied everything looks to be working fine now!
I'll give this a more better shake down this weekend when I try and convert my node-red setup from openhab as input to zwave2mqtt as input, small scale testing looks extremely promising. I should also have an extra device by then so I can test the inclusion commands also.

[2019-03-04 16:34] #6 closed

[2019-03-04 17:12] robertsLando commented on #6
Perfect! Waiting for your feedback and thanks again 🙏🏻

[2019-03-05 17:14] sjorge opened #7 "[Feature] Impossible to start a secure inclusion"
It doesn't look posible to start a secure inclusion via the control panel, it should be the same as regular inclusion but passing 'true' as the first argument.

[2019-03-05 17:16] sjorge opened #8 "[Bug] Menu always expands on click"
You can collapse the menu by clicking on the little 3 strip icon in the header.
This is great if the screen space available is small (say a small tablet), tapping a menu icon will expand the menu again.

Ideally it should remain collapsed until the header is clicked again.

[2019-03-05 18:02] robertsLando commented on #8
Will sort this out tomorrow morning. Thanks :)

[2019-03-05 18:02] robertsLando commented on #7
Will sort this out tomorrow morning. Thanks :)

Daniel

[2019-03-06 08:08] #8 closed

[2019-03-06 08:08] #7 closed

[2019-03-06 08:14] robertsLando commented on #8
@sjorge please let me know if now everything works as expected 😊

[2019-03-06 16:37] sjorge commented on #8
Works perfectly! I'll let you know how the conversion from OpenHAB goes this weekend, some brief tests shows everything arriving fine but it will take a few hours to convert all home flows.

[2019-03-06 18:36] robertsLando commented on #8
Let me know @sjorge! Every feedback is more than welcome 😊 oh and if you find some topic about openzwave in openhab forum or any other forum share a link to this project so I can have many other testers to improve it!

Daniel

[2019-03-09 11:34] sjorge opened #9 "UI Toggle buttons (for Switches) does a weird state dance when toggled"
I have a outlet device that has an on/off switch exposed in the user settings.

Changing the stay from On -> Off (or Off -> On) will make the toggle switch position, but immediately go back to the previous position. (It also sends the zwave command to the device). The device them responds with the new state making the toggle go to the correct state.

It would be nice that the button stays at the n

[2019-03-09 12:15] sjorge opened #10 "Not all configuration is exposed (for mutliple nodes the same type of config is missing)"
I have a `ZW116 Nano Switch (AEON Labs)`

It has a button under node -> values -> configuration with label `SET 111-113 TO DEFAULT` which are the reporting intervals for group 1, 2 and 3.

But there is no way (that I found) to change the values to something different. e.g. I want 111 to be set too 300 as I want updates every 5 minutes.

[2019-03-09 12:33] sjorge commented on #10
[code]

Here is the node block form zwcfg for that node, it lists all 3 properties as int under the button definition.

[2019-03-09 12:51] sjorge commented on #10
Other configuration items also seem to be hidden like 101, to set what kind of reports to send. It's a bitwise and type value.

[2019-03-09 13:34] sjorge opened #11 "Battery Powered devices marked as DEAD"
Some battery powered devices like `ZW100 MultiSensor 6 (AEON Labs)` are detected as DEAD after stratup and do not have the type/product fields loaded. (zwcfg has the device with all the info)

Under settings -> zwave I have `Assume Awake` toggled disabled.

The only way for the device to show online is by manually waking it (physically) and sending a NIF request to the device. After that it will b

[2019-03-09 14:06] sjorge opened #12 "Switch returns multiple conflicting changes"
[code]

When using the toggle button on the UI it detects multie state changes.  This is very hard to filter out on some MQTT clients as they also gets multiple changes.

Usually the first one is the correct one, but not always.

[2019-03-09 14:27] sjorge commented on #12
Same problem if I do the change via mqtt

zwave/bedroom/socket_desk/switch_binary/switch/set with `{ "value": false }`

will trigger the following messages on the bus

zwave/bedroom/socket_desk/switch_binary/switch `{"time":1552141391294,"value":true}`
zwave/bedroom/socket_desk/switch_binary/switch `{"time":1552141391361,"value":true}`
zwave/bedroom/socket_desk/switch_binary/switch `{"time":155214

[2019-03-09 18:35] sjorge opened #13 "Battery Level reported incorrectly in UI and MQTT messages"
[code]

One of my devices is battery powered and is zwave2mqtt is getting an incorrect `Battery Level` reading from `COMMAND_CLASS_BATTERY`.

On OpenHAB the device reads 100% with 2 fresh batteries and 50% with just one battery plugged in.

For zwave2mqtt the value is displayed as '0' in the interface and on the MQTT messages. When checking zwcfg.xml (because it also saves current values) it prope

[2019-03-09 18:43] sjorge commented on #10
Same issue with my multi sensor, the reporting interval/value selection configuration is also missing.

[2019-03-09 20:15] sjorge commented on #9
This is probably related to #12

[2019-03-09 20:18] sjorge commented on #11
(I managed to get most things working aside from battery level and the very annoying issues with switches, linking these to homekit using node-red is causing mayham due to the multiple conflicting state changes, I backed this config so I can quickly go back to the state I am at now. But I did revert to OpenHAB for my current flow as now so I have a working setup)

[2019-03-09 20:53] sjorge opened #14 "Does not reattach to controller after softreset"
After sending a softreset command the USB device gets briefly detached and reattached.
This results in zwave2mqtt talking to a no longer valid fd? for the serial device. Restart zwave2mqtt fixes this.

Reopening the device after sending a softreset should have the same effect.

[2019-03-09 23:40] tul opened #15 "How to access second channel on multi-zoned thermostat?"
Hi,

I have a "SSR 302 2-zone Thermostat Receiver (Horstmann (Secure Meters))" (https://www.vesternet.com/mwdownloads/download/link/id/517/) which exposes two channels to switch on either the central heating or the hot water cylinder.

If I switch the "Mode" of value `3-64-2-0` using the web UI of Zwave2Mqtt, I see the following on the MQTT bus:

    zwave/utility/heating/thermostat_mode/mode {"va

[2019-03-09 23:56] tul commented on #15
I've investigate a little, and the issue seems to be in `Gateway.js` here:

[code]

It seems that for the topic (`utility/heating/thermostat_mode/mode` in this case) only one value is stored, the value for channel 1. So when setting channel 2, it is being routed to channel 1.

Could it be that the gateway only supports one value per topic currently?

[2019-03-10 00:00] tul commented on #15
I am still quite new to ZWave, however I'm happy to look at creating a PR to resolve this issue if the maintainers could offer me a little guidance on their preferred approach.

[2019-03-10 00:44] tul commented on #15
As a workaround, I have realised I can do

    mosquitto_pub -t zwave/_CLIENTS/ZWAVE_GATEWAY-fluoron/api/setValue/set -m '{"args":[ { "node_id": 3, "class_id": 64, "instance": 1, "index": 0 }, "Heat" ] }'

and

    mosquitto_pub -t zwave/_CLIENTS/ZWAVE_GATEWAY-fluoron/api/setValue/set -m '{"args":[ { "node_id": 3, "class_id": 64, "instance": 2, "index": 0 }, "Heat" ] }'

to control the two channel

[2019-03-11 08:21] robertsLando commented on #9
This is the switch:

[code]
Each valueID object is bounded to an input element (like text input, select, number input etc..) and it must be bounded to a var, in this case I have bound it `valueID.newValue`. What happens in your case is correct even if it seems weird:

You press the switch and the switch changes state as feedback that you have pressed it,
For some reason before the value update is

[2019-03-11 08:36] robertsLando commented on #10
Hi @sjorge , this is strange. Does this happens just with the UI or it also doesn't work using MQTT?

This is the value configuration in the xml file:

[code]

I mean are you able to change the value via MQTT by sending for example an `apiRequest`:

topic: zwave/_CLIENTS/ZWAVE_GATEWAY-office/api/setValue/set

payload:
[code]

Also try to run the inspector on the page with the values and check for

[2019-03-11 08:39] robertsLando commented on #11
Did you try to set the `Assume Awake` option enabled? Battery powered devices usually need that to be awaken on init

[2019-03-11 08:42] robertsLando commented on #11
I thank you for your feedbacks and I will try to fix them all but some bugs related with the protocols most times are related to node-openzwave and Openzwave library, maybe you can find your issues there too

[2019-03-11 08:47] robertsLando commented on #12
Are you using lastest versionfrom master branch?
Have you enable pooling of the switch state?

This is strange and seems not a problem related to my library but more likely a wrong switch configuration in the protocol or a bug with Openzwave library because those events (like state changes and node status change) are triggered from the underlying libraries

[2019-03-11 09:00] robertsLando commented on #13
Are you able to debug a nodejs project?

You should try to lanch the application using `node --inspect bin/www` and open the link from console output and set some breakpoints in `lib/ZwaveClient.js` on lines 231-242. There you can detect when a value is added or it changes and see if there is a parse error there, I can't reproduce your problem with my devices

[2019-03-11 09:05] sjorge commented on #9
So it is related to #12 then, I'll close this one then.

[2019-03-11 09:05] #9 closed

[2019-03-11 09:11] sjorge commented on #11
Well thats the thing, the device is not awake at startup because it sleeps for ~20min and then sends an update. (Unless there is movement, then it sends it imediatly)

Wouldn't assume awake make it worse? I think the table should alteast load the type/product info from the zcfg.zml file in that case. I can see this getting very confusing if there are multiple battery devices.

Also the type/produc

[2019-03-11 09:14] sjorge commented on #12
I am on the master branch for zwave2mqtt, openzwave version = master branch also (als the fix for illumos went in a few weeks ago), node-openzwave-shared = master branch also.

I have not enabled pooling? What is this and how do I try to enable it?

[2019-03-11 09:15] sjorge commented on #13
I've not done so before, but I can give this a try later this week. Probably on wednesday as I should be home ealier from work then.

[2019-03-11 09:17] robertsLando commented on #15
Hi @tul, thanks for your issue!

This is correct and sincerly I will try to fix this. As workaround you can send a raw api request like you did or add two values on gateway values tables (Go to the web UI under Settings at the end and click on `new value`. Here you can select values from devices and choose a custom topic for them :)

[2019-03-11 09:37] #15 closed

[2019-03-11 09:39] robertsLando commented on #15
@tul Could you check it it works now? :smiley: I have also updated Readme:

  2. **Named Topics**: *Automatically configured*. The topic where zwave values are published will be:

  `<mqtt_prefix>/<?node_location>/<node_name>/<class_name>/<?instance>/<value_label>`

    - `mqtt_prefix`: the prefix set in Mqtt Settings
    - `node_location`: location of the Zwave Node (optional, if not present will

[2019-03-11 09:40] robertsLando commented on #13
Ok @sjorge let me know if you need help :smiley:  thanks !

[2019-03-11 09:45] robertsLando commented on #11
I can try to fetch the type/product from zwcfg_...xml file on init but I don't know how to detect devices as sleeping on start, try to send `testNode` on a device, does the state is correctly updated to `sleeping` then?

[2019-03-11 09:52] robertsLando commented on #11
Does send a NIF request to the sleeping nodes on init would fix the problem?

[2019-03-11 10:02] robertsLando commented on #11
Try with this fix ed6acb0929dde014d821fbcca32916e1677ae384 and let me know @sjorge

[2019-03-11 10:05] robertsLando commented on #13
Follow this guide to check how to debug nodejs app step by step using chrome: https://medium.com/@paul_irish/debugging-node-js-nightlies-with-chrome-devtools-7c4a1b95ae27

[2019-03-11 12:35] sjorge commented on #11
That didn't help, as the node deos not respond to a NIF command while it is sleeping.

Here is the log from the startup

[code]

I tried with both `Assume Awake` enabled and disabled.

[2019-03-11 12:36] sjorge commented on #11
Node 2 being the battery powered node that is asleep

[2019-03-11 14:37] sjorge commented on #10
The button is present and works, its the configuration stuff that should come after that is missing.

[code]

[2019-03-11 16:00] robertsLando commented on #10
Could you send me a screenshot of the values above? In the screenshot I can see values from index 120 and above, I would like to check if 111-113 are skipped in the UI. Also please try to check if there are error on chrome console, maybe those valueID rows fail to create for some reason

[2019-03-11 16:02] #10 closed

[2019-03-11 16:09] robertsLando commented on #11
I could fetch the type/product on init but I would prefer a way to detect battery powered devices, can you find something in openzwave docs about this?

Maybe by sending a wakeup command if your device supports it?

I think that mark a node as dead if it doesn't respond to the initial scan is correct here and If I change this I could create errors in the case the node is really missing in my netwo

[2019-03-11 16:23] sjorge commented on #10
Yep that fixed it! A lot more fields show up now, and I can set them correctly.

[2019-03-11 16:33] sjorge commented on #11
They seem to have the following command class:
[code]

If is this one is present in the cached configuration, one can make a safe assumption that it is a battery powered device?

[2019-03-11 16:50] sjorge commented on #13
Doesn't look like this works for a remote application? Well I got the inspector to attach but the sources tab is empty.

[2019-03-11 17:00] sjorge commented on #13
Not ideal but I inserted debug(valueId); so I should get some data when the device checks in.

[2019-03-11 17:04] sjorge commented on #13
[code]

Very interesting, it might be a openzwave bug then? Although a value of byte for battery level seems a bit weird too.

[2019-03-11 17:13] robertsLando commented on #10
Perfect! :)

[2019-03-11 17:21] robertsLando commented on #13
For the debug: you need to install chrome nodejs inspector plugin from chrome webstore.

About the probelm: I think is something related to the Openzwave library or (more likely) something wrong in the device xml configuration (that you can also find in openzwave github under [/config](https://github.com/OpenZWave/open-zwave/tree/master/config) folder).
Try to rise an issue or try to check in othe

[2019-03-11 17:21] sjorge commented on #13
I was googling on my phone but cannot locate the link anymore, but I found something about COMMAND_CLASS_BATTERY needs to be polled to get an update. As device only send it when the value changes.

Is there a way to send a poll request to see if it will update?

[2019-03-11 17:25] sjorge opened #16 "Label also has value for node name and location"
![screenshot](https://i.imgur.com/yGVHrji.png)

Seems a bit silly to repeat the value twice

[2019-03-11 17:42] sjorge commented on #13
I removed both batteries, waited for 5 minutes and inserted one battery.
At the next interval it reported a battery level of 50.

Repeat but with 2 batteries, we are now back to 100.
I'm going to close this.

[2019-03-11 17:42] #13 closed

[2019-03-11 20:33] robertsLando commented on #11
So in brief: I should check if a 'dead' device has `COMMAND_CLASS_WAKE_UP` after scan is done, set it to `asleep`, wait for `Wake-up Interval` seconds to check if it checks in than assume it 'dead' ?

Are you sure there is no way that openzwave can send a request to this node to manually trigger that 'check in' ? I think this would be lot easier and more correct

[2019-03-11 20:35] robertsLando commented on #16
The value is different because on the left you have the actual value (that you can't modify) and on the right an input text with the new value to set (that is equal to the actual value as default), if you edit it you can alway check the old one instead of scroll up and check in the table.

[2019-03-11 20:37] robertsLando commented on #14
Need to investigate, I think is something related with `node-openzwave-shared` library, it has some problems with disconnect too

[2019-03-11 20:42] robertsLando commented on #11
I have found this issue: https://github.com/OpenZWave/node-openzwave-shared/issues/249 check it

[2019-03-11 20:43] robertsLando commented on #14
Here more info: https://github.com/OpenZWave/node-openzwave-shared/issues/182

[2019-03-11 21:12] sjorge commented on #16
OK so a feature then.

[2019-03-11 21:12] #16 closed

[2019-03-11 21:17] sjorge commented on #11
Sounds about right

Not on the once I have atleast, testNode, Send NIF, all the commands just fail.
The only way to force and early checkin is getting on a ladder and opening the battery compartment to push the little wake up switch needed for inclusion.

Sounds different, after the first wake up of the node the table gets type/product update and all values start to come through.

[2019-03-11 21:25] sjorge commented on #14
So shall we close this then until the upstream issue is resolved and retest then?

[2019-03-11 21:42] tul commented on #15
Hi @robertsLando - yes your fix has worked great, thanks very much for the quick response!

[2019-03-11 21:43] tul commented on #15
For those finding this issue, the new pub call after the fix is now:

    mosquitto_pub -t zwave/utility/heating/thermostat_mode/instance_2/mode/set -m '{"value_id":"3-64-2-0","node_id":3,"class_id":64,"type":"list","genre":"user","instance":2,"index":0,"label":"Mode","units":"","help":"","read_only":false,"write_only":false,"min":0,"max":0,"is_polled":false,"values":["Off","Heat"],"value":"Heat"}

[2019-03-12 07:01] robertsLando commented on #14
Leave it here so we prevent someone else to create another one until it will be fixed

[2019-03-12 07:11] robertsLando commented on #12
Enable poll is used to get updates from a zwave device every `poll interval` seconds. Poll interval is global (it is the same for each device in the network) and when you enable poll of a value of a device you have to specify the intensity (that sincerly I still don't understand what intensity is used to since It isn't well documented and I can't see any difference between different intensity valu

[2019-03-12 07:12] robertsLando commented on #12
In your case I suggest to try to disable poll of that value by using the api `disablePoll` and check if it fix your problem

[2019-03-12 12:11] robertsLando commented on #13
To poll a value you can use the Gateway values table on UI settings tab, you just have to select the device and the value and set the pool to true (leave topic blank to keep the default topic or choose one to override it), in this way on init I will automatically poll all nodes of that product type; otherwise you can manually enable the poll of that value (but you need to do it for each node) usin

[2019-03-12 12:21] sjorge commented on #13
Good to know, but it now seems to be updating and I did not do anything with the polling, it might just have been in a weird state because I was messing with it a bit too much.

[2019-03-12 12:29] sjorge commented on #11
[code]

[2019-03-12 16:10] robertsLando commented on #11
@sjorge Check my last commit and tell me if everything works now

[2019-03-12 16:41] sjorge commented on #11
Works fine now!

[2019-03-12 16:58] robertsLando commented on #11
Let me know if you find other bugs. Thank you @sjorge

[2019-03-13 17:21] sjorge commented on #12
I tried with both poll enable or disabled under gateway for that property, there was no difference.

[2019-03-13 21:53] sjorge opened #17 "Reopening of serialport fails on settings save"
[code]
I restarted with the switch value with poll disabled under the gateway settings, I got this error.

[2019-03-13 21:55] sjorge commented on #12
I remembered I did not do a restart after messing with adding the value under gateway settings and setting poll enabled or disabled...

So I set it to disabled again and restarted zwave2mqtt and got the error described in #17
Looks like polling is still enabled after a restart/controller softreset and I am unable to disable it again using the gateway settings!

[2019-03-14 07:41] robertsLando commented on #17
This issue usually happens when you have two or more instances of the application running.
Do you have an instance of the application running on background? Maybe with pm2?

The poll disable feature cannot cause this error, it is an error related with mqtt datastore. If you want to fix this you can disable the peristent store in mqtt settings but please check if there are background process before

[2019-03-14 08:21] robertsLando commented on #12
By adding a value in gateway table and set the enable poll flag you can just enable poll but it is not disabled, I think the poll of that value is enabled in the device xml configuration so to disable it you have to use the mqtt api

[2019-03-14 15:37] sjorge commented on #17
I was indeed able to clear it with the API only, the interface is a bit confusing there. I assumed that setting the poll toggle to false would disable polling for the topic.

I am pretty sure there was no other instance of zwave2mqtt running, I'll work on exact steps to reproduce.

I also have store disabled, I did had retain set at the time, but it is now disabled as I thought that might cause so

[2019-03-14 15:47] sjorge commented on #17
I can duplicate this, the 'error publishing' one but not the missing file one. (Maybe I enabled store instead of retain while testing by mistake)

[code]

I annotated the log a bit, below are the some screenshots, it all goes bad after hitting save after adding the value.

![screen1](https://i.imgur.com/iHGaKgA.png)
![screen2](https://i.imgur.com/Iaww1k5.png)
![screen3](https://i.imgur.com/hCsiKSQ

[2019-03-14 15:53] sjorge commented on #12
So I can enable and disable polling via API but the result is the same. Well with polling I get them every X seconds depending on the value in frequancy which is a bit weird because there seems to be no logic to that.

Sadly this does also not fix the problem as it is still the same story
 - set switch state
 - switch state update (old value)
 - switch state update (old value)
 - switch state upda

[2019-03-14 15:57] sjorge commented on #12
I changed the payload to get all the data instead of just the timed value.

Turning off the switch
[code]

Turning on the switch
[code]

[2019-03-15 20:16] sjorge opened #18 "enablePoll / disablePoll does not update the is_polled flag of full zwave payload"
While trying to solve #12 I was playing with enablePoll/disablePoll.

- start zwave2mqtt with poll disabled for the value
- send `{"args":[{"node_id":4,"class_id":37,"instance":1,"index":0}]}` to `zwave/_CLIENTS/ZWAVE_GATEWAY-mosca/api/enablePoll/set`
- we now get the value every few seconds (frequency has no effect :()
**For the message received now this is the payload**
[code]
- (optionally disa

[2019-03-16 07:38] robertsLando commented on #18
You right, is_polled property is not updated after an enable/disablePoll call, I should check if there is an event related with the poll change or change the is_pooled on successfull call of enable_poll and disable_poll.

In your first cal you haven't set an intensity value when calling enable_poll, it must be higher than 0 or it returns some errors in lower level z_wave lib (you should enable Ope

[2019-03-16 07:41] sjorge commented on #18
The reply to the command is that is was successful though, and it seems to work.

I will try with a value next time I am near the computer.

~ sjorge

[2019-03-16 08:14] robertsLando commented on #18
Yep the command works and the value is polled but if you run the command isPolled on that value openzwave returns always false if you have set an intensity of null or 0, returns true otherwise. So try that than on Monday I will check if there are events or another way to update the is_polled flag on the value and all your other issues

[2019-03-16 16:07] sjorge commented on #12
Here is a OZW log from startup to toglging the value on and off and then stopping zwave2mqtt

[code]

[2019-03-16 18:07] robertsLando commented on #12
The strange thing I see there is the log
`Changes to this value are not verified`
I think this is a configuration problem, try to check how that value is configured in the xml configuration file (you can find it in Openzwave github under `config/<manufacturername>/<productname>.xml`) and post here the Vaue entry, I think there is a flag verify changes on the value that should be false.

[2019-03-16 21:07] sjorge commented on #12
https://github.com/OpenZWave/open-zwave/blob/master/config/aeotec/zw116.xml

I'm not finding the switch value configuration in the xml form the repo, but is is present in zwcfg.xml (auto detected?)

[code]

[2019-03-16 21:18] sjorge commented on #12
Something I noticed is that the SwitchBinaryCmd_Set is followed by a SwitchBinaryCmd_Get, ...
I think the first incorrect result is from the SwitchBinaryCmd_Get and then the correct one happens a bit later and that is the callback from SwitchBinaryCmd_Set? Not sure why it is doing a _Get as I am not requesting one?

[2019-03-18 10:30] robertsLando commented on #17
That kind of error has happen to me too. Seems a problem related with node-openzwave-shared package, disconnect doesn't handle the disconnection well. Could you help with this?

[2019-03-18 10:31] robertsLando commented on #14
I think it is related to #17

[2019-03-18 10:54] sjorge commented on #17
I'm not even sure it is a node library problem:
https://github.com/OpenZWave/node-openzwave-shared/blob/aae0760a7381d4e4c27b7ee5213823c76ede6f9a/src/openzwave-driver.cc#L62

There some to at least be some racy issues with this stuff e.g. https://github.com/OpenZWave/open-zwave/issues/583
https://github.com/OpenZWave/open-zwave/issues/792

Maybe try a simple sleep after the disconnect to if that ma

[2019-03-18 13:33] robertsLando commented on #17
@sjorge could you check last commit?

[2019-03-18 17:11] sjorge commented on #17
Didn't work :( Looks like something is still not cleaned up properly as I get a lot of logging twice after that :/

[code]

[2019-03-18 20:27] robertsLando commented on #17
There was no disconnect event becose of this error:

Error: spawn udevadm ENOENT
That is thrown by underlying library, I have to investigare, if you find something useful to fix this link it here in a comment

[2019-03-18 20:28] sjorge commented on #17
Yeah there is no udev on illimos, so no udevadm command either.

~ sjorge

[2019-03-19 08:42] sjorge commented on #17
I think so yeah, then we are not wasting a second for no effect.

[2019-03-19 09:07] robertsLando commented on #17
@sjorge could you try the last commit please? It should be fixed now

[2019-03-19 09:10] robertsLando commented on #17
I have checked `node-red-openzwave` that is a node written by @ekarak (the author of `node-openzwave-shared`) and he also calls a [function](https://github.com/OpenZWave/node-red-contrib-openzwave/blob/master/10-zwave.js#L379) `client.removeAllListeners` when closing the client (that is not documented) and that seems to fix duplicated messages. Doe it also fix other problems?

[2019-03-19 17:50] sjorge commented on #17
Yep, that seems to work! No duplicate message and no errors!

[2019-03-19 17:50] #17 closed

[2019-03-19 17:51] sjorge opened #19 "Enabeling/disabling zwave logging does not take effect on save."
When enabling or disabling the logging toggle and hitting safe, logging is not enabled|disabled.

[2019-03-19 17:52] sjorge commented on #18
This is still on my TODO to retest, but bit busy this week.

[2019-03-19 18:53] robertsLando commented on #19
I know this, I'm still sure that this is something wrong with node-openzwave-shared connection management. Something strange in connect and disconnect methods. I'm not very friendly with C++, could you check connect and disconnect methods of node-openzwave-shared and check if options are inited/reset correctly? I think that when something is not reinited on disconnect and this causes to connect us

[2019-03-19 18:53] robertsLando commented on #18
I still have to fix this but give it a try as I suggested

[2019-03-19 19:01] robertsLando commented on #19
Check the OpenZwave constructor too, here is where I pass the options and seems that options can be set only once:

https://github.com/OpenZWave/node-openzwave-shared/blob/master/src/openzwave.cc#233

Daniel

[2019-03-19 19:02] robertsLando commented on #19
Check this, it is the constructor of OpenZwave and seems that options can be inited only once:

https://github.com/OpenZWave/node-openzwave-shared/blob/master/src/openzwave.cc#233

How can this be fixed?

[2019-03-19 22:21] sjorge commented on #19
I think the only way to do the change is to destroy the entire object and create a fresh one?
Like do the cleanup as you do now, then complete reinitialize the entire client object? Seems a bit wasteful resource wise though... then again it is not something you will do often.

[2019-03-20 08:40] robertsLando commented on #19
This is not possible in javascript, the only way to do this would be start zwave in a separate process an kill the process but this is such an hard solution for a simple problem in my opinion. I think things need to be fixed on the library side, I will open an issue on node-openzwave shared about this problem

[2019-03-20 08:44] sjorge commented on #19
SGTM

[2019-03-20 09:06] robertsLando commented on #19
@sjorge  the response from the author:

time. It will need some refactoring to make it able to reread and apply new
options at runtime.

Need to check the code and see we can do something

[2019-03-21 17:04] sjorge commented on #18
I just had some time to test.

[code]
or
[code]

Both enable the polling of the value but the flag is set to false

[code]

Enables polling and the flag is then set to true as you said it would be.

All 3 variants do return a success message though 🤷‍♂️

[2019-03-21 19:21] robertsLando commented on #18
Ok just find out there are two events `poll enabled` and `poll disabled` that I can use to update values IDs, tomorrow In the afternoon I will make a commit with the updates, I will keep you updated to test when you have time

[2019-03-22 16:28] robertsLando commented on #18
@sjorge check the last commit and let me know if it fixes your problem :smile:

[2019-03-22 16:47] robertsLando commented on #19
Hi @sjorge. I have tried to check the code here: https://github.com/OpenZWave/node-openzwave-shared/blob/master/src/openzwave.cc#L203 but sincerly I don't understand why options can be inited just one time. Maybe you are more familiar than me with C++ could you check that code? I don't think the fix would be much hard just need to know where to start...

[2019-03-22 17:11] sjorge commented on #19
Aside from forcing it to compile I have limited understanding of c++ code.

This bit is very confusing as it seems to be building and arg list for a process... which does not make much sense.

[2019-03-22 17:12] sjorge commented on #19
Are there any clues in the other program where you got the other fix from?

[2019-03-22 21:57] sjorge commented on #18
That seems to work! But shoudn't the new code be moved up so that it is in the success branch of the if (err) ... above it?

[2019-03-23 08:59] robertsLando commented on #18
I have placed it there as it is not part of the result, result just tells if the apiCall is successful or not, in this case the api is enable/disablePoll so it is independent from the isPolled call result

[2019-03-23 09:21] robertsLando commented on #19
Just submitted a PR that seems to work from my tests, let's wait to check what happens

https://github.com/OpenZWave/node-openzwave-shared/pull/277

[2019-03-25 10:01] #18 closed

[2019-03-25 10:04] robertsLando commented on #12
I think this is more likely a problem related to underlying libs @sjorge, maybe Openzwave it self or the node wrapper node-openzwave-shared or simply a configuration problem, I never expected issues like this with my devices

[2019-03-25 10:06] sjorge commented on #12
I wasn't able to track down where the SwitchBinaryCmd_Get call was coming from, it could very well be coming from the node-wrapper

[2019-03-25 10:14] robertsLando commented on #12
By looking for `COMMAND_CLASS_SWITCH_BINARY` I have found this https://github.com/OpenZWave/open-zwave/blob/master/config/aeotec/zw129.xml#L9

So try to edit your configuration file in that way by adding

[code]

Usually the device db path is `/usr/local/etc/openzwave` but you can check it on the debug logs at start:

[code]

[2019-03-25 13:50] robertsLando commented on #12
I don't think so I think it is more likely from Openzwave lib, firstly try with the xml config file edit

[2019-03-25 14:40] sjorge commented on #12
Do I need to do anything else aside from editing the file for ZW116 and restarting?

[2019-03-26 08:13] robertsLando commented on #19
Error on app veyor:

[code]

[2019-03-29 16:08] sjorge commented on #12
So I updated the file, restarted zwave2mqtt and tried again... exact same result

[2019-03-29 16:23] robertsLando commented on #12
You should remove and add back again the node in order to get the new configuration, or you could delete the zwcfg_...xml file that contains the device configuration stored

[2019-03-29 16:46] sjorge commented on #12
This results in 0 updates at all :(

Old Behavior:
- 1 update immediately (wrong)
- 1 update delayed (correct)

New Behavior:
- no updates

[2019-03-29 19:15] robertsLando commented on #12
Mmmm try with other configurations by checking other config files. At least if now you don't receive any update it means that you are working on the right value configuration.

Last thing: open an issue on OpenZwave library, maybe they can tell you how to fix this in config file or maybe it is a know bug. Explain the bug by adding also a log output with the wrong behavior. Relate the issue to this

[2019-03-30 13:43] sjorge commented on #12
I've file one upstream https://github.com/OpenZWave/open-zwave/issues/1755

[2019-04-01 13:33] robertsLando commented on #12
@sjorge seems something related to the config xml file so, did you checked what group association you get from the device? Go to the UI control panel, select groups tab and select the node 4 from the first select than select Lifeline from the second and check if the controller is correctly paired to lifeline group

[2019-04-01 15:06] sjorge commented on #12
![screenshot](https://i.imgur.com/WNivgxe.png)

Looks OK to me? There is also a retransmit group...

![screenshot2](https://i.imgur.com/vzLn5yH.png)

Which is empty

[2019-04-01 20:14] robertsLando commented on #12
Yep it looks ok to me too, really I don't know what else to do now, just check config xml files of similar devices to see if there is something wrong

[2019-04-02 20:35] sjorge commented on #12
Did you see the additional reply in the upstream issue?

The only change you can try is Manager::SetChangeVerified on the specific ValueID, but that will increase the network utilization, and potentially latency and most likely, you would have recieved the Assocation Report before the change is verified anyway.

[2019-04-03 08:39] robertsLando commented on #12
Ok so try to use the api call : `setChangeVerified(valueid)` on that value to see if it works.

The other fix would be to add a flag on values like `send just if change` but check if the other way works

[2019-04-06 20:37] sjorge commented on #12
I am getting this response when trying to use SetChangeVerified

[code]

I am sending the following to ```zwave/_CLIENTS/ZWAVE_GATEWAY-mosca/api/setChangeVerified/set```

[code]

[2019-04-06 20:42] sjorge commented on #12
Ok that was stupid, ofcourse I need to pass a 2nd argument as true or false... resting later tonight

[2019-04-06 20:44] sjorge commented on #12
Yes! This works fine with setChangeVerified set to true!
Can we get an easy way to enable/disable this for values via the UI? I guess the value list section can get an additional toggle for this maybe?

[2019-04-08 08:39] robertsLando commented on #12
Yes that's what I was thinking, wait for the next commit

[2019-04-08 09:20] robertsLando commented on #12
Hi @sjorge, please check my last commit 1fd4ef03f410ed162610ef4afc8515b6c8577b05 and let me know if your problem is fixed now

[2019-04-08 09:43] sjorge commented on #12
Were did you add the toggle?

![screenshot](https://i.imgur.com/HvdmI74.png)

[2019-04-08 09:44] sjorge commented on #12
Oh I think I migh have forgot to run npm run build... retrying

[2019-04-08 10:05] sjorge commented on #12
Shows up now, will try to test it later today or tomorrow

[2019-04-08 10:12] sjorge commented on #12
Looks good!

[2019-04-08 10:12] #12 closed

[2019-04-16 16:40] bbenjamin11 opened #20 "Web page connection - 302 error code"
After the success install, I'm connect on the web service : http://myLocalIP:8091

But, my client notify me than the page is not redirected correctly.

In the backend, I have this message :
[code]

To inform, I use one Raspberry pi 0w with raspbian-strech. I have try your dockers images, the classic install and build my own docker image (with arm32v6/alpine).

Thanks a lot for your help !

[2019-04-16 19:29] robertsLando commented on #20
I need to investigate, tomorrow I will do some checks. So just to know did you tried also to build the project yourself (by cloning git repo and running npm build) or did you just pulled the precompiled image from dockerhub?
 thanks for the feedback.

Daniel

[2019-04-17 03:51] bbenjamin11 commented on #20
Hi, thanks for your help.

I have try your all docker image form docker-hub without success. So I have try with your repo to build the app (npm install). And to finish, clone your Zwave2mqtt-docker and build from this source.

All installs went well but none worked properly on my Rpi0w.

Thanks,
Benjamin

[2019-04-17 06:44] robertsLando commented on #20
I have just successfully installed it on my Rpi 3 Model B+ following the "manual" install:

[code]

I have also tried with docker and it works:

[code]

I don't have a Pi0w to test this but if it doesn't work using docker it must work by compiling the library yourself (first method I show you there, maybe you would need to compile openzwave yourself too)

Let me know

[2019-04-17 08:03] robertsLando commented on #20
I have also add a commit to better handle logs of `404 Not Found` errors. Anyway you receive 302 because I redirect by default all 404 to /. I think you forgot to run the command `npm run build` and it doesn't find any `index.html` file in `/dist` folder

[2019-04-17 09:14] bbenjamin11 commented on #20
I have remove the volume and the image, repull the image, recreate the volume and it work !

Thanks for your help !!
See you,
Benjamin.

[2019-04-17 09:17] #20 closed

[2019-04-20 23:00] sjorge commented on #9
Just letting you know It's been running perfectly for a few weeks now!

[2019-04-21 06:58] robertsLando commented on #9
Perfect 👌🏻

[2019-05-02 20:29] papertigers opened #21 "Protocol support in host url"
Maybe I am missing something but passing in the host and port to the mqtt `options.servers` array inside lib/MqttClient.js doesn't seem to allow me to connect to a tls secured mosquitto broker.

If I manually change the code to be `var client = mqtt.connect('tls://mqtt.example.com', options)` then everything works as expected and a connection to the mqtt broker is established.

I have tried messin

[2019-05-03 11:19] robertsLando commented on #21
Will submit a commit with the fix today

[2019-05-03 13:45] robertsLando commented on #21
@papertigers Please pull last version and tell me if it's working.

Just add the protocol in the host url like: `tls://mqtt.example.com`

[2019-05-03 14:23] papertigers commented on #21
Working perfectly.
Thanks!

Side note, I am using lets encrypt and I had to add the lets encrypt root cert to my local certs.
It's possible that others may be issuing a self signed cert instead and they might want a check mark in the UI for `"rejectUnauthorized": false`.  I can open another issue for that if you would like.

[2019-05-03 14:31] robertsLando commented on #21
I think that I could add that option by default to be false. Would it be ok for you?

[2019-05-03 14:33] papertigers commented on #21
I think a default of false would be bad because it exposes the user to a potential mitm attack.  I think the default of true that's implied now is the right way to go.  I think a user should explicitly have to click a "I am using a self signed cert" box.

[2019-05-03 14:34] robertsLando commented on #21
Yep sure you right, now I will submit the fix with the ui improovments than let me know if it works

[2019-05-03 14:48] robertsLando commented on #21
@papertigers Please check now and let me know, I have added an option `Allow self signed certs` on MQTT settings UI. Enable that flag and that will set the `"rejectUnauthorized": false` on connection options.

Remember to rebuild the project with `npm run build` to see the ui changes.

If your problem is fixed close this issue

[2019-05-06 08:09] sjorge opened #22 "[feature] parse alarm command class"
It would be nice that the alarm command clase would be translated to a descriptive string for the value. (Or maybe make it configurable)

https://github.com/OpenZWave/open-zwave/wiki/Alarm-Command-Class

[2019-05-06 08:48] robertsLando commented on #22
Suggestions?

I saw this:

But I don't undestand very well how to get the correct aram starting from the valueID

[2019-05-06 09:33] Fishwaldo commented on #22
That Wiki page is outdated with 1.6.

In 1.6, the Alarm Class is completely dynamic. All Alarm Types are loaded from config/NotificationCCTypes.xml now. (as its a frequently updated class).

the AlarmType id value in the XML maps to the ValueID index exported from the Alarm CC. You could use the GetLabel Call to get the Type String

The AlarmEvent id is the individual events. On recent devices, on

[2019-05-06 09:38] sjorge commented on #22
Would still be nice to get the string and the ID send via mqtt though

[2019-05-06 09:39] robertsLando commented on #22
@Fishwaldo Thanks!

I don't make any comparison in my code but I just use the command class label and valueid labels as parameters to compose the  values topic in MQTT. This is one of the 2 ways I provede here to map values on the gateway automatically. More info [here](https://github.com/OpenZWave/Zwave2Mqtt#gateway). Now I don't think that this is so bad just with version 1.6 users must keep the

[2019-05-06 09:41] robertsLando commented on #22
@sjorge I think that what you think is archived with valueid label that is already added in mqtt topic

[2019-05-06 09:43] Fishwaldo commented on #22
Like I said - the ValueLabel will contain the string. The ID will be the index.

The problem is I make "no promises" at all that the labels will not change, even between releases. The labels are now sourced from Localization.xml.

In addition, the labels are dynamic dependent upon multiinstance or single instance classes. So some will be "Instance #1: Switch", others might be "Top Left Switch" and

[2019-05-06 09:48] sjorge commented on #22
Currently I have this bit of code in node-red

[code]

Where the value of 0 => no alarm, 3 => tamper and 8 => motion it would be nice to have an optional value in the payload which also includes the text version of these. It's fine if they come in via the translation stuff fromn 1.6. It's mostly handy for when debugging and verifying things.

It took me a while to figure out which values were whic

[2019-05-06 09:48] robertsLando commented on #22
Yes that's sure, this is why I have provided the 2 ways for "auto mapping". Maybe I could add a warning in readme when using the "named topics" gateway type. Anyway the most advanced feature of the gateway is the manual mode that uses valueid to identify a value so this is not breaking that :)

I have no idea about how to create a better automatic mapping of values between the two protocol that is

[2019-05-06 09:53] Fishwaldo commented on #22
No idea how zwave2mqtt exposes ValueLists, but the labels are there in the C++ version for each "event": http://openzwave.com/dev/classOpenZWave_1_1Manager.html#ae137ac3ea0e3ac29784d5e567ca3db77

So once you get the ValueID, you can (via the nodejs wrapper I assume?) call that method to get all the "Events" (and http://openzwave.com/dev/classOpenZWave_1_1Manager.html#ae137ac3ea0e3ac29784d5e567ca3d

[2019-05-06 09:58] Fishwaldo commented on #22
I would very STRONGLY discourage it in your documentation. :)

I will export c++ enums for all available ValueID indexes very soon. If the nodeJS wrapper can stringify that, it might help...

but things like the Alarm (Notificatication CC), SensorMultiLevel (soon), SimpleAV etc CC's will have "dynamic" valueID's so the enums might end up being very generic, like Notification_Type_1, Notification_T

[2019-05-06 10:05] sjorge opened #23 "Using openzwave 1.6 git build breaks nodes that are sleeping on startup"
At startup they show as DEAD again.
![startup](https://i.imgur.com/Mehntc4.png)

After the first checkin they show up correctly,... but the location and name get cleared. Node now shows as SLEEPING
![after wakeup](https://i.imgur.com/Oh5WVZW.png)

The received data from the node gets send to mqtt without the name/location so node-red (in my case) does no longer matches on the mqtt messages.

If I

[2019-05-06 10:14] sjorge commented on #23
[code]

[2019-05-06 10:14] sjorge commented on #23
The log form checkin and sending the setNodeName command, screenshot above is after hitting the < arrow for updating tha name

[2019-05-06 10:20] sjorge commented on #23
Going to revert to my previous openzwave build now, as a lot of stuff is broken I think.
It probably has to do with the entire new config format.

[2019-05-06 11:52] robertsLando commented on #22
@Fishwaldo thanks, I will take a look on that stuff and think about a solution!

[2019-05-06 11:56] robertsLando commented on #23
@sjorge This is not a bug with Zwave2Mqtt right? I mean it is not a problem with the 1.1.0 version I released yesterday. If this is an Openzwave problem we can keep this issue open as a status tracker of Openzwave 1.6 compatibility.

It is not compatible for sure now at least not fully compatible until also node-openzwave-shared isn't updated with changes.

I think that once 1.6 is released we sho

[2019-05-06 12:06] sjorge commented on #23
Yeah, this might be more of a openzwave-shared issue than a zwave2mqtt specific one.

[2019-05-06 12:09] robertsLando commented on #23
Ok keep this open waiting for news about new release

[2019-05-06 19:05] kjetilsen opened #24 "Question: Get current state from a node_id"
Hi there.
I'm struggling with the api. I have set everything up and I can get all subscriptions on a topic. But when I start my own application I want to get the current value/state for a node.

I have tried to publish to this topic:
`<prefix>/<?Location>/<node_name>/status` or `<prefix>/<?Location>/<node_name>/status/set`
Where my prefix are set in my settings, and location is set to Kontor.

Wha

[2019-05-06 19:21] robertsLando commented on #24
From Readme.md

<mqtt_prefix>/<?node_location>/<node_name>/status

Daniel

[2019-05-07 05:49] kjetilsen commented on #24
Thank you for the reply!

I have tried that, but the payload is empty. There must be something I am doing wrong. What should be in the message? And will the response only report if the node is alive or not? Not the actual value? Like a dimmer level.

Regards,
Kjetil

[2019-05-07 12:35] robertsLando commented on #24
@kjetilsen please, read docs you can find everything there...

You have asked me for node status not node values, node values have different topics based on the gateway type you have chosed in settings.

Follow the docs step by step and you will be able to make it work, you don't have to publish nowthing to get updates, mqtt is event oriented so it will publish the update everytime the value chang

[2019-05-07 12:35] #24 closed

[2019-05-16 14:43] GieBek commented on #23
Hi, this is the fault of OpenZWave, I have exactly the same. All devices with batteries. Domoticz Updated: OpenZWave version 1.6.

![Przechwytywanie](https://user-images.githubusercontent.com/9890042/57862650-ffe05f00-77f8-11e9-89df-05b5203d03d4.JPG)

[2019-05-16 14:44] robertsLando commented on #23
@Fishwaldo is this a known issue with 1.6?

[2019-05-16 14:46] Fishwaldo commented on #23
https://github.com/domoticz/domoticz/issues/3213

Read towards the end...

[2019-05-17 11:39] RualdOrdelman opened #25 "Zwcfg config file problems"
Thanks for this great add-on. Very nice to see all the cool add-ons you created.

I tried to migrate from HA with Zwave with an Aeon Labs USB stick to this component. After configuring the basics I got the first nodes available in Zwave2Mqtt, but all the Zwave node information etc is empty because the add-on starts with a empty OpenZwave config.

I found the option to import an Zwave config file,

[2019-05-17 11:43] #25 closed

[2019-05-17 11:44] RualdOrdelman commented on #25
Sorry, this issue must be in hassio add-on for this component.
https://github.com/hassio-addons/addon-zwave2mqtt/

[2019-05-21 01:01] michael-benoit opened #26 "Question: Launching at Boot"
Sorry for a possible Linux noob question. How would I automatically launch Zwave2Mqtt at boot? I'm trying to create a systemd service, but issues with references to file dependencies, etc.

[2019-05-21 11:32] robertsLando commented on #26
The easiest way is to use docker compose

[code]

The second option is to use [pm2](http://pm2.keymetrics.io/docs/usage/startup/). If you have nodejs already installed use` npm install -g pm2` otherwise you can install pm2 as `.deb`

[code]

Than follow the link for instructions for running it on startup

[2019-05-21 11:32] #26 closed

[2019-05-23 12:12] MarsWarrior opened #27 "[Feature] Home Assistant integration"
I see in your todo list that integration (discovery I assume) with home assistant is planned.

Can you tell me when you think to build this functionality?

I am already using zigbee2mqtt, so a big fan of mqtt and would be very happy if full integration with the device registry of home assistant is implemented for z-wave!

[2019-05-23 13:19] kvaster opened #28 "[Question] Properties polling"
Telling the truth I do not completele understand how properties polling is implemented in openzwave right now, but it will be very good to have different settings per property for polling.

Two types of devices at my setup are: danfoss thermostat and MCO CO2 sensor.
First devices is almost always in sleep mode, second one is always on. Danfoss thermostat wakes up from time to time and pushes curre

[2019-05-23 16:37] robertsLando commented on #27
I have not time to implement it right now, If you want to submit a PR I can review it.

My idea is to start from zigbee2mqtt homeassistant gateway and customize it for zwave, the homeassistan gateway will work like the normal one and will subscribe to mqtt and zwave events like:

[code]

just chekc the gateway type and if it is `Home Assistant` init a new Homeassistant gateway, otherwise init the

[2019-05-23 16:41] robertsLando commented on #28
Actually the only way to set the polling interval is by using the entry in zwave settings `Poll Interval` and set the intensity of pooling for the value you need to poll. If it is a battery power device there is no way AFAIK to ask for updates, the update is triggered from the device when he decide to send it

[2019-05-24 00:28] michael-benoit opened #29 "Question: No message when switch changed physically"
I'm not receiving messages when my Leviton Dimmer Switch is changed physically. If it's changed via the API I receive the appropriate messages. Is this by design?

[2019-05-25 07:55] kvaster commented on #28
In openhab it is implemented in other way: they trigger query for values they want to poll on wakeup event. I.e. danfoss termostat pushes only battery level settings on wakeup, they do not push their current time. You can define 'check' period for such values - if passed more then 30 minutes (for example) from last check then openhab will request time value on next device wakeup and will correct i

[2019-05-25 08:42] robertsLando commented on #28
Could you explain this better?  Actually you can set the properties polling intensity of each value by adding a value on the gateway settings table. I never used OpenHab Zwave plugin so I don’t know how it works.

[2019-05-26 19:42] CurrentThread commented on #29
I'm receiving messages when switching my dimmers and switches physically (Qubino and Fibaro). Perhaps it is device specific?

[2019-05-26 20:15] guptamp commented on #2
I hit the same problem. However it seems that when I save the key from the UI it automatically formats it with spaces.
I only managed to resolve it by manually editing the settings.json.

[2019-05-26 20:29] robertsLando commented on #2
@guptamp that's wrong I don't do anything to network key in the code

[2019-05-26 20:30] robertsLando commented on #29
Most of your questions are likely a device configuration issue and nothing about this library. Try to ask in [Openzwave](https://github.com/OpenZWave/open-zwave)

[2019-05-26 20:31] #29 closed

[2019-05-27 13:07] christianwaite opened #30 "Device DB not working"
I’d love to move over to this, but if I start afresh, it doesn’t pull any device information (docker). I’ve tried pulling over the folder structure of the device db and pointing at that, but everything is unrecognised.

If I feed it an existing zwcfg from hass, it works.

Am I doing something wrong?

[2019-05-27 13:14] robertsLando commented on #30
Is there any error in logs? Could you try to ssh inside the docker container and check if the device db has the configuration files of your devices?

Device db is `/usr/local/etc/openzwave/` here you will find all xml config files separated inside folders with the manufacturer name.

[2019-05-27 19:30] christianwaite commented on #30
Thanks. I’ll strive to do this asap and get back to you. Free time is not readily available.

[2019-05-27 20:17] frankhommers commented on #27
I would love this too!

[2019-05-27 20:27] frankhommers opened #31 "Container won't start for the second time"
When I run `sudo docker run --rm -it -p 8091:8091 --device=/dev/ttyAMA0 -v /var/lib/zwave2mqtt:/usr/src/app/store robertslando/zwave2mqtt:latest`, configure everything and press CTRL-C.

It won't start the second time with this error message:

[code]

Any idea?

[2019-05-28 06:13] robertsLando commented on #31
The error is thrown here: https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/ZwaveClient.js#L192

I forgot to parse the entire file path, will fix this asap. Thanks!

[2019-05-28 06:16] robertsLando commented on #31
@frankhommers If you want to prevent the crash just enable the flag `Save configuration` under Zwave settings

[2019-05-28 06:32] #31 closed

[2019-05-28 14:13] ragenhe opened #32 "[QUESTION] Copy HA xml file(s)?"
Is it possible to copy (from HA installation) the two zwave configuration files to a fresh install on a rpi3b and not have to set everything up again?

[2019-05-28 16:11] robertsLando commented on #32
Yes it is possible,  just place the files inside store folder

[2019-05-29 11:56] kvaster commented on #28
I'm sorry, I've missed message.

Generally we want receive data in two ways: 1) immediate data in case of some change / alarm (it device decision to send such data) 2) we want to update some metrics from our 'application' depending on our ow logic. 1 now is OK - we receive data imediatelly when it is sent from devices. But with 2 we have some problems.

We have: devices which may be sleeping, prob

[2019-05-29 12:07] robertsLando commented on #28
@kvaster I think you should be able to do what you want by using [MQTT APIs](https://github.com/OpenZWave/Zwave2Mqtt#gift-mqtt-apis). With them you have full control of Zwave network and you can programatically ask to a node to update a value for example by using `refreshValue` api check [here](https://github.com/OpenZWave/node-openzwave-shared/blob/master/src/openzwave-values.cc#L116)

[2019-05-29 16:49] kvaster commented on #28
Ok. Thanks. I will check if it works this way!

[2019-05-30 09:24] pbathuk opened #33 "[Question] fgk-101 as doorbell not populating correctly"
Hi,

I have recently moved over from HA zwave as I found that the constant reboots were messing up the network, one thing that I am missing however the ability to trip a fgk-101 device with a doorbell (found an article online) under HA it would change the status of the device from on to off and back again (about 10 times in a row), which I could then attach automation to trigger alerts etc..
Under

[2019-05-31 23:28] frankhommers commented on #31
The Save config toggle works! Thanks ;-)

[2019-05-31 23:40] frankhommers opened #34 "Remove failed node"
I have read https://github.com/OpenZWave/Zwave2Mqtt/issues/4 but I don't think it's enough to just have a replace function.

I think there really needs to be something to remove a failed node... Like this feature in Home Assistant which does it too: https://community.home-assistant.io/t/z-wave-help-dead-nodes/41673/21

What do you think?

[2019-06-03 18:43] brettyj opened #35 "Door locks?"
Hi,

Sorry not an issue, but don't see a forum to post questions on - has anyone used zwave2mqtt with doorlocks - specifically the Yale Conexis L1? Thinking about getting one, but don't know if it will work.

Also what USB sticks do you folks use? Will https://www.amazon.co.uk/gp/product/B00YETCNOE/ref=ox_sc_act_title_1?smid=A3P5ROKL5A1OLE&psc=1 work?

[2019-06-04 06:51] robertsLando commented on #35
Try asking this kind of questions on [Openzwave](https://github.com/OpenZWave/open-zwave) repo

[2019-06-04 06:51] #35 closed

[2019-06-04 06:52] robertsLando commented on #33
Which version of openzwave are you using?

[2019-06-04 06:56] robertsLando commented on #34
I could try to implement a custom function that automatically tries to detect if a node is failed and than removes it just by adding a call before removeFailed node, what do you think about this?

[2019-06-04 09:21] #32 closed

[2019-06-04 11:06] brettyj commented on #35
Hi,

Sorry to be clear, are you saying that anything that works on Openzwave should work on zwave2mqtt? Because I believe people have gotten this to work with the zwave built into home assistant - so should be okay then?

[2019-06-04 14:02] robertsLando commented on #35
Yep it should work, this is just a gateway that is using mqtt and opnzwave libs so everything that is related to devices is mostly a problem related to underlying libs

[2019-06-04 22:45] pbathuk commented on #33
Just looked at the logs from the docker and it says 1.4.1

[2019-06-07 23:07] pbathuk commented on #33
I see that openzwave outside the docker build is on 1.6, should I be upgrading the docker manually or does it get rebuilt with key versions automatically?
Thanks

[2019-06-08 20:17] KennethLavrsen commented on #2
You should just close this bug without solving the problem which is not indicating anywhere in the user interface or the documention the format of the key.

In fact even after reading this bug report I am still not quite sure what the format is

[2019-06-08 20:42] KennethLavrsen opened #36 "Neither software not documentation contains any default values or explanations"
I am trying to - still not successful - setup this project.

I have the software compiled and running - but setting it up is almost impossible

Many of the settings are just blank fields.
What is the format of the network ID?
What poll interval should I use? I know little about z-wave - I have no idea if this should be 1 ms, or 10 ms, or 10000 ms. What is a good common sense default value? What is

[2019-06-08 21:49] KennethLavrsen opened #37 "Rows per page uses node ID instead of counting items causing items to be hidden"
I have been fighting to get a simple setup with an Aeotec stick and two sirens to work.
I moved them over from a Home Assistant installation and it used to be a larger installation

I tried to import the config and it was reported successful but I assumed it did not work because I could not see my 2 sirens.

So I removed them and added them and they are in the config. But no sign of them in the us

[2019-06-08 21:51] KennethLavrsen opened #38 "Gateway configured manually does not show all devices - at least not if same type"
I am trying to setup Gateway configured manually

I have one Aeotec stick and two identical sirens.

When I want to setup the topics manually for the sirens I can only see one.

I see the stick and one siren. So I cannot use the feature at all

[2019-06-10 06:52] robertsLando commented on #36
Most of you questions are documented in the readme.md in [zwave](https://github.com/OpenZWave/Zwave2Mqtt#zwave) and [mqtt](https://github.com/OpenZWave/Zwave2Mqtt#mqtt) sections.

The format of the network key should be: `"0xCA,0xFE,0xBA,0xBE,.... " // <16 bytes total>` whithout blank spaces. The poll interval shouldn't be less than 1 second per device so it depends on how many devices you have in

[2019-06-10 06:52] #36 closed

[2019-06-10 06:55] robertsLando commented on #37
There is a flag in the table to show/hide the hidden nodes, if you remove a node the next you add will get the next free nodeid, if you want a node to take a nodeid you need to use the function `replaceFailedNode`

[2019-06-10 06:57] robertsLando commented on #38
If you mean you see one device per type I assume that you are trying to add devices in the gateway values table, that table holds the configurations of the gateway and it is correct that there is just one per type because it is used to configure which values you want to push to mqtt for each device type. All your values are added in the table in the section `Control Panel`

[2019-06-10 06:57] #38 closed

[2019-06-10 11:09] KennethLavrsen commented on #36
Thanks for updating the documentation also. This comment goes for all 3 reports

[2019-06-10 11:15] KennethLavrsen commented on #37
That is not the problem. In my case I had removed many nodes so my Aeotec was number 1 and the first node was 28. I was fighting for an hour adding and removing nodes and could not understand that they did not show up in the table. I did press hidden nodes and saw 1 Aeotec and just lines saying deleted nodes. The user interface does not in any way hint that your nodes are there on page 2 or 3. It

[2019-06-10 12:16] robertsLando commented on #37
Ok now I have understand, I will fix this asap

[2019-06-10 13:19] #37 closed

[2019-06-10 23:25] frankhommers commented on #34
That would be nice. I solved my current problem by hardresetting and re-adding everything.

Maybe you can look into this: https://community.home-assistant.io/t/where-is-the-remove-failed-node-option-for-z-wave-devices/89250/3

[2019-06-11 10:53] pulsejets opened #39 "docker"
Hi

when I run docker run --rm -it -p 8091:8091 --device=/dev/ttyACM1 --mount source=zwave2mqtt,target=/usr/src/app/store robertslando/zwave2mqtt:latest

the I can't reach the  mqtt server running on same server at docker..  just get timeout connectig

[2019-06-11 11:52] #39 closed

[2019-06-11 11:52] pulsejets commented on #39
my bad.. Read the f... manual :)

[2019-06-12 16:40] pbathuk opened #40 "[Statement] MQTT auto discovery in HA"
Hey,
So I have set up my lights how I like them now, I luckily don't have many so easy to manually setup the HA discovery in MQTT.
I wanted to share my findings so far, incase this sparks something, or (with a bit more time & learning) I might complete a pull request to get this automated.

So I have only looked at lights & switches, and for lights only the brightness of them.
For switches its pre

[2019-06-12 17:30] pbathuk commented on #40
Actually following a HA reboot the light one is not working... It does change the lights but always reverts to off not the state it actually is :(

[2019-06-12 22:04] alekslyse opened #41 "Run on an embedded GL-MT300N-V2"
I have some GL-MT300N-V2 laying around, small embedded devices that originally run openWRT - this units are fully flashable and should be fully capable as running as a server for zwave2mqtt with a flash image.

Anyone had any luck flashing a openWRT / GL-MT300N-V2 device with a basic linux imsage and run zwave2mqtt on it?

Would be an easy way to put a small factor zwave bridge in the house that i

[2019-06-13 05:36] robertsLando commented on #41
What I suggest to you is to pkg the application for that device. Is it an arm32v6/7 arm64 (aarch64) or what else?

Daniel

[2019-06-13 06:13] robertsLando commented on #40
Hi @pbathuk . Thanks for this, the HAss MQTT auto-discovery is the hottest feature on the todo list. I have made some checks and I think we should take inspiration from [zegbee2mqtt](https://github.com/Koenkk/zigbee2mqtt/blob/master/lib/extension/homeassistant.js) home assistant integration. Zegbee is really similar to zwave and I think it can be made work

[2019-06-13 06:20] pbathuk commented on #40
Out of curiosity, is it best, or should I say more advisable to us value only or JSON (full or timestamp) for Mqtt? I see that for zigbee2mqtt they mention Json payload quite alot. Which I assume means the full JSON standard in z-wave?
I only ask so that I can try to mirror and find what works / does not.
Currently I use value only

[2019-06-13 06:30] robertsLando commented on #40
I don't understand what you mean with your question. When a value change is detected in zwave network there should be a function like the `discover` that compose the MQTT message with a JSON payload and the correct topic to send the update to HAss, the payload HAss expect must respect the HAss specification for MQTT auto-discovery, it changes based on the device type. Try to check the previous lin

[2019-06-13 06:34] pbathuk commented on #40
Sorry, I mean from a config on the openzwave panel, there is the option for the gateway to store in Mqtt as:

Just value
JSON timevalue

[2019-06-13 06:36] pbathuk commented on #40
Sorry accidentally clicked close on my phone

[2019-06-13 06:50] robertsLando commented on #40
To make it working you can't use that, we must create a new one

[2019-06-13 07:41] pbathuk commented on #40
Ah ok, so in theory you are thinking:
{Prefix}/{node_id}/status
Or something like that
And that would hold the HA required JSON values to use in the auto discovery?
Only asking out of curiosity rather than how it will actually be done.

[2019-06-13 09:10] robertsLando commented on #40
Yep something like that, need to study how to map devices and devices values into Hass devices configurations.

[2019-06-13 22:13] pbathuk commented on #40
So 1 final update on this:

I have code that now works for reporting the state of the light, its a little hacky as I am using the Attributes only option & it appears HA reads the value true in as 'true' therefore causing no end of issues. After setting up a second dev instance of HA so I can reboot the docker etc I finally have :

`{
  "name": "In_wall_study_switch",
  "command_topic": "zwave/_CLI

[2019-06-15 15:03] #40 closed

[2019-06-21 10:00] #21 closed

[2019-06-21 10:00] #19 closed

[2019-06-21 10:00] robertsLando commented on #30
@christianwaite any updates on this?

[2019-06-21 10:01] #14 closed

[2019-06-21 10:02] robertsLando commented on #33
Openzwave 1.6 is not ready yet, well, node-openzwave-shared needs updates that is the wrapper I use for my project

[2019-06-21 10:02] #33 closed

[2019-06-21 10:02] robertsLando commented on #28
Any updates @kvaster ?

[2019-06-21 10:03] #41 closed

[2019-06-23 22:26] brettyj opened #42 "State change not being published"
Hey,

I've got a door lock that reports it's battery state. I'm finding that while the zwave2mqtt Web interface is showing an updated battery state (93%), the mqtt topic it reports on is still showing the retained message of 100%, so it appears this change isn't being pushed to mqtt.

Any recommendations on what I could try to fix this?

Thanks, love this programme!

[2019-06-24 07:56] robertsLando commented on #42
Hi @brettyj . That's strange because every value change that goes to the ui is also forwarded to mqtt. Do you see any error on console log? Are you able to do a debug? Are you running the application using docker, pkg or full nodejs app?

[2019-06-24 11:47] robertsLando commented on #23
@sjorge I have updated Zwave2MQTT to latest `node-openzwave-shared` version, does it works now?

[2019-06-24 13:51] sjorge commented on #23
I tried this weekend, the node-openzwave-shared currently doesn’t compile anymore on SmartOS. I was a bit busy so I have not found a fix for that yet. I should have some time this weekend to look at it again.

[2019-06-24 14:28] robertsLando commented on #23
@sjorge  Ok thanks waiting for your feedback, I need to know if I can update docker openzwave to 1.6 safely

[2019-06-24 17:49] brettyj commented on #42
Hey,

I've since restarted the pi so the log has been wiped, but I'll keep an eye out for when I notice the battery has changed. When you say do a debug, how do you want me to debug this? I'm happy to help how I can. I'm using this in docker.

Here's a screenshot showing the disparity:
![image](https://user-images.githubusercontent.com/1395855/60040356-b402be80-96b0-11e9-961f-43bf8a6b5183.png)

Th

[2019-06-24 21:07] pbathuk opened #43 "Set row number per page"
Is it possible to change the default rows per page to something else?
The default appears to be 10, however i prefer 50 or All (50 does not exist), so wondered if there was a config setting to change the default or some JS that can force it to change?

[2019-06-25 06:17] robertsLando commented on #43
Actually there is not an option/setting for this, it is hardcoded in ControlPanel.vue here https://github.com/OpenZWave/Zwave2Mqtt/blob/master/src/components/ControlPanel.vue#L64

Just change this: `[10,25,{"text":"All","value":-1}]` with `[50,{"text":"All","value":-1}]`

[2019-06-25 06:17] #43 closed

[2019-06-25 06:21] robertsLando commented on #42
Hi brettyj, for the debug you should run the version here in github, than use `npm run dev` to start the frontend page and `node --inpect bin/www` to start the debug on the backend, than set some breakpoints for example in value change and in the websocket to check if the messages are forwarded correctly.

The screenshot you have sent here is so strange, what is the correct value? 100 or 92?

[2019-06-25 07:17] pbathuk commented on #43
Thanks for the assist :)

[2019-06-26 12:20] kvaster commented on #28
It needs some code to be written from my side and I had no time yet, but I understand the concept and it should work. I think this issue can be closed. I will add comments after I will implement this in my system. Thanks!

[2019-06-26 12:20] #28 closed

[2019-06-26 18:22] brettyj commented on #42
I've noticed at some point since my comment it's pushed the new battery level to MQTT. I'll keep an eye on it.

I don't know if it's an issue with the device or this component, but there's a string output by the device called "Log Record" which doesn't seem to update very often - every now and then it will, but I don't know what triggers it.

[2019-06-26 18:40] robertsLando commented on #42
It is almost impossible that the value changes and the change is not triggered, I think it is mostly a problem with the device or maybe with the device configuration. Try to enable poll of that value and see if the change is triggered correctly.

Daniel

[2019-06-26 18:43] brettyj commented on #42
Hey thanks for the reply - how would I go about enabling poll of the value?

[2019-06-27 05:25] robertsLando commented on #42
You have two options:
- Enable pool using Mqtt apis (check docs)
- Add a value in gateway settings values table end check the enable poll flag (suggested)

Daniel

[2019-06-27 05:56] Fishwaldo commented on #42
Polling battery devices wouldn’t work as expected.

In OZW 1.6 we do refresh the battery level when a device wakes up tho (via a config variable - see https://github.com/OpenZWave/open-zwave/wiki/CommandClass-Compatibility-Flags (refreshonwakeup)

[2019-06-27 06:09] robertsLando commented on #42
@Fishwaldo  thanks for the answer. Do you know if openzwave shared is ready for OZW 1.6? I would like to switch to OZW 1.6 in docker container image of zwave2mqtt but I don't want to break everything :(

[2019-06-27 06:14] robertsLando commented on #12
@sjorge check https://github.com/OpenZWave/open-zwave/wiki/CommandClass-Compatibility-Flags , seems *verifyChanges* does that

[2019-06-27 06:24] sjorge commented on #12
Cool, I'll check the device definition once I get the new OZW compiled. Still hoping to have time this weekend 🤞

It's nice to still have the current toggle though.

[2019-06-27 07:06] Fishwaldo commented on #42
Sorry. Not sure. I know some work has been done on shared but don’t know how complete it is. Have you tested yet?

[2019-06-27 09:21] robertsLando commented on #42
Actually I haven’t any device to test so nope :(

[2019-06-27 14:50] sjorge commented on #23
PR for node-openzwave-shared opened, https://github.com/OpenZWave/node-openzwave-shared/pull/314

It builds again, will look at updating zwave2mqtt tomorrow

[2019-06-27 19:58] sjorge commented on #12
That got merge and when running with node-openzwave-shared master I get zwave2mqtt to start.
I let it settle for a bit and tried the switch  I have (you know, the odd one that needs the verify stuff)...

[code]

Not working and not looking good. It segfaults oops! I double check and MiniOZW seems to work fine still. It doesn't always segfault, but the switch does not work. I am also not getting up

[2019-06-27 19:58] sjorge commented on #12
I should have more time on saturday to do a more 'controller' test.

[2019-06-27 19:59] sjorge commented on #23
Gah! I posted to the wrong issue!

That got merge and when running with node-openzwave-shared master I get zwave2mqtt to start.
I let it settle for a bit and tried the switch  I have (you know, the odd one that needs the verify stuff)...

[code]

Not working and not looking good. It segfaults oops! I double check and MiniOZW seems to work fine still. It doesn't always segfault, but the switch does

[2019-06-27 20:00] sjorge commented on #23
I should have more time on saturday to do a more 'controller' test.

[2019-06-28 04:54] necoras opened #44 "Constant MQTT disconnect/reconnect."
I'm seeing a constant disconnect/reconnecting of the MQTT client. I'm running a mosquitto client on the same Raspberry pi that zwave2mqtt and HA are running on. My zwave2mqtt logs are filled with this:

2019-06-28T04:42:10.379Z z2m:Mqtt MQTT client reconnecting
2019-06-28T04:42:10.384Z z2m:Mqtt MQTT client closed
2019-06-28T04:42:15.389Z z2m:Mqtt MQTT client reconnecting
2019-06-28T04:42:15.393Z z

[2019-06-28 05:09] soumya92 opened #45 "Support user defined aliases instead of numeric IDs in ValueId gateway type"
I see the argument against using names for the value classes (localisation, subject to change, etc.). However, it would be great if **nodes** could still be named. Those arguments do not apply to node names as they are specified manually in the UI.

This would help tremendously with moving/replacing z-wave devices.

Currently the options are `/33/112/1/90`, requiring downstream consumers to keep t

[2019-06-28 06:01] Fishwaldo commented on #45
The problem with using the node name or node locations fields is that it requires devices to support the NodeNaming CC - And less and less devices support that now days :(

So some external "mapping" needs to happen

[2019-06-28 06:35] soumya92 commented on #45
Oh I misunderstood how node names work then. I will change this to be a feature request for a "local" node ID to name mapping.

Basically, it would be great if the published topic had a user-defined constant in it, such that the constant could be moved to a different node if needed.

[2019-06-28 07:08] robertsLando commented on #45
Yes this could be an interesting feature to add, I think I can do like with scenes, create a setting.json with node ids paired with a name and a location

Daniel

[2019-06-28 14:48] robertsLando commented on #44
Sorry this was a problem with latest version, should be fixed by latest commit ea79b21d2ccfc57edfd68c1f57d9f7c0fdfdebe7

Please let me know if now works as expected and close the issue if it is ok

[2019-06-28 14:51] robertsLando commented on #42
@Fishwaldo Today I have made some tests (Not with OZW 1.6 but with openzwave shared latest version) and I have found some strange behaviour with valueid type list, seems now something is broken as the value is an integer and not the value string from values array. https://github.com/OpenZWave/node-openzwave-shared/issues/316

[2019-06-28 14:54] Fishwaldo commented on #42
You have to take that up with @ekarak. Nothing changed on the OZW side with regards to ValueLists.

[2019-06-28 15:51] robertsLando commented on #42
Just sent a PR to fix it

Daniel

[2019-06-28 16:42] necoras commented on #44
Good to hear it's likely fixed. I'm pulling from the Hass.io Add-ons store, so once the change is pushed there I'll test and respond here. Thanks!

[2019-06-29 09:45] sjorge commented on #23
zwave2mqtt (master) + node-openzwave-shared (master) + openzwave 1.6 == broken
[code]

[code]

I'm not getting the segfaults anymore I was getting earlier this week. But the it still seems to crash.

I will try zwave2mqtt (master) + node-openzwave-shared (master) + openzwave 1.4.

[2019-06-29 09:51] sjorge commented on #23
That also failed :(

[code]

The head of node-openzwave-shared does not compile against openzwave 1.4.

[2019-06-29 10:25] sjorge commented on #23
Ok this is not fun, so the first libopenzwave version with SmartOS support is somewhere between 1.5 and 1.6... I build mine form git (00fe3e7e) internally the version identifies at 1.4 (what a mess) and it ships with both ValueBitSet.h and OZWException.h... meaning master of node-openzwave-shared does not build against it as it thinks it is 1.6.

[2019-06-29 10:27] sjorge commented on #23
I reverted to my older version of zwave2mqtt and node-openzwave-shared. It looks like node-openzwave-shared is not yet fully compatible with openzwave 1.6.

[2019-06-29 10:53] sjorge commented on #23
zwave2mqtt (master + package.json set to pin openzwave-shared 1.4.8) + openzwave-shared 1.4.8 + openzwave 1.5 (00fe3e7e) seem to work fine.

I'll leave my current setup on this for now.

[2019-06-29 11:41] robertsLando commented on #23
Hi @sjorge, really thanks for the support! Hope to be able to make all thinkgs working soon with OZW 1.6.

[2019-06-29 11:44] sjorge commented on #23
I think for now still using 1.4.8 is the way to go, untill all or the 1.6 changes are included

~ sjorge

[2019-07-02 08:41] seletz commented on #44
I've rebuilt the docker image locally and it seems the bug is still there.  This is on an arm based device (a revpi core).  I confirmed that I can reach the MQTT broker from the device using mosquitto_sub.

[code]

[2019-07-02 08:42] seletz commented on #44
For reference -- the docker image references this commit: 2adc2dd6eebcfa292817fada90afa115a240ab1e

[2019-07-02 10:15] robertsLando commented on #44
You should refer to this commit:
https://github.com/OpenZWave/Zwave2Mqtt/commit/8c112ac6b30781656fa8739894a77fbc8a177338

Daniel

[2019-07-02 10:58] seletz commented on #44
Hrmpf.  I actually double-checked.  -ENOCOFFEE probably.  Will check again and report back.

[2019-07-03 09:37] rgruyters opened #46 "Cannot rebuild openzwave-shared@1.5.1"
I have issues installing the npm packages with OpenZwave2Mqtt version 1.1.3.

[code]

I have uploaded the logfile to my gist: https://gist.github.com/rgruyters/28825da79ee6ad479f134e9b14f71015

I don't have any issues when I install version 1.4.8 of openzwave-shared.

Is this a known issue?

[2019-07-04 15:33] robertsLando commented on #46
Yes, it is, I'm working on it

[2019-07-05 12:35] RualdOrdelman opened #47 "Correctly displays multiple group associations and suggestion for removing association for a dead child node"
I've a device with a few associations. I got two problems with it:

1. The interface does not display the entity names correctly because of the limited interface space. Now I can only see all the associations to open the zWave Log and look at the 'getAssociations' resultset
2. Another problem is that the parent device has some associations with some dead child nodes and I can't remove that. I can

[2019-07-07 03:28] zlalanne opened #48 "3-Speed fan lists "Dim" and "Bright" rather than something more applicable"
When controlling a 3-speed fan (I'm using the GE one for instance) the buttons that show up are for "Bright" and "Dim". It probably makes sense to change these to "Faster" and "Slower" for fans.

![zwave2mqtt_fan](https://user-images.githubusercontent.com/571411/60763607-6a658c80-a03d-11e9-855b-9d46be26312d.png)

[2019-07-07 09:20] robertsLando commented on #48
The label you see there are from Openzwave device xml configuration file. You should edit that and send a PR to openzwave I have no control of that. Find the configuration there:
https://github.com/OpenZWave/open-zwave/tree/master/config

Daniel

[2019-07-08 06:26] robertsLando commented on #46
It's related to https://github.com/OpenZWave/node-openzwave-shared/issues/320

[2019-07-08 06:29] #48 closed

[2019-07-08 06:30] #30 closed

[2019-07-08 06:31] #44 closed

[2019-07-08 06:33] robertsLando commented on #44
@seletz  What does ENOCOFFEE means?

[2019-07-08 07:28] robertsLando commented on #47
@RualdOrdelman could you check last commit?

[2019-07-08 07:28] #47 closed

[2019-07-08 08:08] RualdOrdelman commented on #47
I use your docker container and no custom installed version. Can you explain how to manually update the version in the docker container to the last commit?

[2019-07-08 09:01] robertsLando commented on #45
Please @soumya92 check last commit

[2019-07-08 09:09] robertsLando commented on #47
Check here: https://github.com/robertsLando/Zwave2Mqtt-docker/blob/master/Dockerfile#L9

Replace 2adc2dd6eebcfa292817fada90afa115a240ab1e with 6fd037382ee9a8ad53ab72e028b955b4374ee353

[2019-07-08 12:36] RualdOrdelman commented on #47
I tried to create a docker-compose to use that docker file, but got an error when creating the container.

My docker-compose looks like this:

[code]

I got this error when starting that container.

[code]

[2019-07-08 13:06] RualdOrdelman commented on #47
I've commented out the rule in the Dockerfile
`"COPY bin/package.sh /root/package.sh"`

But now I get others errors further during the build proces:

[code]

[2019-07-08 15:49] robertsLando commented on #47
You need to firstly clone my repo. Steps:

[code]

[2019-07-08 18:22] RualdOrdelman commented on #47
Still the same error:
`COPY failed: stat /var/lib/docker/tmp/docker-builder250884777/bin/package.sh: no such file or directory`

[2019-07-08 19:12] brettyj commented on #42
Hey,

Sorry to be a pain, but the issue has come back - can I turn on debug logging or something to give you info without debugging it (it wouldn't be easy to debug it as I'm guessing the door lock returns the battery level as and when).

Thanks

[2019-07-08 19:50] robertsLando commented on #42
I think it is more likely a bug with the xml file configuration

[2019-07-08 19:51] brettyj commented on #42
How do I check that? What do I check for?

[2019-07-08 19:54] robertsLando commented on #47
I think you are doing something wrong because it works on my laptop. The file is this one https://github.com/robertsLando/Zwave2Mqtt-docker/blob/master/bin/package.sh and should be present on your pc when you clone the repo

Daniel

[2019-07-08 20:07] robertsLando commented on #42
You find all config files here https://github.com/OpenZWave/open-zwave/tree/master/config

Daniel

[2019-07-08 21:57] brettyj commented on #42
I'm a bit confused, the battery is showing fine in zwave2mqtt, and people using the hass zwave integration have the battery working fine and it's also using openwave. The issue seems to be that zwave2mqtt isn't broadcasting the change to mqtt

[2019-07-09 04:11] soumya92 commented on #45
Looks like a good start, although it seems that fresh node info from the stick overwrites any locally defined name and location. So when I set the Name and Location, the node changes to "Dead", and the Type and Product are empty. Shortly afterwards, the Type and Product are restored, but the Name and Location go back to empty.

And it might have broken the scenes tab: `Error while calling api getS

[2019-07-09 06:34] robertsLando commented on #45
HI @soumya92, thanks for the isse about the scenes, it was caused by openzwave-shared updates, with OZW 16 scenes are deprecated so now I need to use just my custom implementation of scenes. Fixed with 5a2337244f161ed8e1c5c119420a78f94787c42e. I will check for this

[2019-07-09 07:28] robertsLando commented on #45
Ok now everything should work fine, could you check last version please @soumya92

[2019-07-09 07:46] robertsLando commented on #42
@brettyj I have added the support for the event "value refreshed" that should be triggered for battery updates. Check if it works now (you need t o use the version from master

[2019-07-09 13:21] RualdOrdelman commented on #47
I've checked your changes. The associated nodes are displayed correctly now. But there is no option to delete an dead associated node, see my screernshot. Node_ID_15 en 16 are dead, so I can't select that node on the Target Dropdown to Delete that node from association.

<img width="1285" alt="Schermafbeelding 2019-07-09 om 15 13 12" src="https://user-images.githubusercontent.com/1227427/60891047-

[2019-07-09 13:31] robertsLando commented on #47
Read the target description says "Select the node from the list *OR DIGIT
THE NODE ID*" . Just insert manually the nodeid in the target using the
keyboard

Il giorno mar 9 lug 2019 alle ore 15:21 Ruald Ordelman <
notifications@github.com> ha scritto:

--
--

*Daniel Lando - Ufficio Tecnico R&D**daniel@innovation-system.it*

*Innovation System S.r.l. *
*Via Motton, 83 36061 Bassano del Grappa (VI)*

[2019-07-09 14:08] robertsLando commented on #47
@RualdOrdelman the target description says: "Select the node from the list **OR DIGIT
THE NODE ID**" . Just insert manually the nodeid in the target using the
keyboard

[2019-07-09 14:10] RualdOrdelman commented on #47
Oops. Thats works. May be an Ux suggestion but not a big issue. Thanks.

[2019-07-09 14:13] robertsLando commented on #45
Just for reference:

Now node names and location are stored in a file named `nodes.json` and the UI buttons of Control Panel `Import` And `Export` are used now to import/export this json file

[2019-07-09 15:48] #46 closed

[2019-07-10 06:15] soumya92 commented on #45
Looks good. Thanks!
No more errors on scenes, and the location + name seems to persist even as the node changes states :)

For the MQTT topics, is there an option to use the user-defined location+name with the numeric values? Currently for a node with location "Floor1" and name "Door4", I see "TOPIC/Floor1/15/status=false". Is there a way to get "TOPIC/Floor1/Door4/status=false"?

[2019-07-10 06:32] robertsLando commented on #45
Will add a flag on gateway settings to use name/location when selecting valueID topics :)

[2019-07-10 07:05] robertsLando commented on #45
@soumya92 Check last commit :)

[2019-07-10 15:58] soumya92 commented on #45
That's exactly what I needed! Thanks :)

[2019-07-10 15:58] #45 closed

[2019-07-10 18:46] brettyj commented on #42
@robertsLando hey, I've built a new docker container from master, on boot the batteries are synced, I'll keep an eye on it, currently the battery hasn't changed since setting up the new docker container

[2019-07-10 20:53] robertsLando commented on #42
Ok thanks let me know!

Daniel

[2019-07-11 10:22] robertsLando commented on #27
I'm releasing a first beta version of hass integration today, any beta tester available here?

[2019-07-11 11:20] jshridha commented on #27
I'd be happy to try out the Hass integration

[2019-07-11 16:08] robertsLando commented on #27
@jshridha Check last commit

[2019-07-12 09:41] Fishwaldo commented on #27
Just a random question (maybe more appropriate for the HASS guys, idk much about mqtt and this auto discovery). Say I have a multifunction device, like a combined temp/light/movement/humidity sensor - Does that mean that hass must also have exactly the same device type to support all those features on my device? When I look at the "sensors" entry on the hass website, seems it only supports a "sing

[2019-07-12 09:45] MarsWarrior commented on #27
In your case you get - depending on how the discovery by zwave2mqtt is done - a temp, light, movement and humidity sensor, all from the same device!

![image](https://user-images.githubusercontent.com/1220775/61119175-8b453c00-a49a-11e9-8527-e9333d44fab9.png)

[2019-07-12 10:09] Fishwaldo commented on #27
Ok. Good to know. Then how about a bit more of a convoluted example.

A Wall Switch with a Power Meter? (Eg, W, amps, voltage, Kw/h etc)

So it’s a “switch and a sensor”?

[2019-07-12 11:47] robertsLando commented on #27
Yes Justin... I’m working to support thermostats (climate) and fans too on Zwave2mqtt, maybe this evening or next week there will be a first working version

Daniel

[2019-07-12 13:17] robertsLando commented on #27
@MarsWarrior Could you do some tests with the latest version from master ?

[2019-07-13 13:48] RualdOrdelman opened #49 "[bug] Empty node type and product after adding new device"
**Version**
Got this bug in version in the latest stable and the current head.

Steps:~
-add a new node
-Choosing in the UI the controller option "Add node", cancel the secure option
-Including the node by pressing the including option on the node
-The node is added successful

The new node is displayed in the list but with an empty type and product. It looks like there's no refresh or something.

[2019-07-14 18:57] jshridha commented on #27
@robertsLando
I'm not seeing any of the devices show up in home assistant yet. I'm monitoring the mqtt traffic and it looks like it is only publishing the changes under the specified prefix topic and it appears it's not publishing under the prefix topic with the correct format for hass discovery. Below is my configuration and mqtt traffic seen.

Can you let me know if my configuration is correct?

[2019-07-14 21:23] robertsLando commented on #27
Could you check if there is any error in console log? Are you using latest version from master? Please set the payload type to json time value or entire zeave object in  configuration. Also what kind of zwave device do you have in your network?

Daniel

[2019-07-15 03:18] jshridha commented on #27
I did not see any errors in the console. I am using the latest commit. I built the docker image from scratch changing the hash to match the latest commit. I am using GE switches, GE/Jasco light dimmers, and first alert CO/smoke detectors.

I changed to json time value and entire zwave object, but I I'm still not seeing the hass-formatted messages.

[2019-07-15 06:01] robertsLando commented on #27
Are you sure you don’t see anything publishing in <mqttPrefix>/+/+/+/config? That’s the topic used for discovered devices and the ‘+’ are component type, node name, object id. could you tell me the type of devices you have in your network?

Daniel

[2019-07-15 07:40] robertsLando commented on #27
@jshridha I have found a wrong loop that caused disovery to break. Could you check it now with latest commit please?

[2019-07-15 08:47] robertsLando commented on #49
@RualdOrdelman could you try with latest commit?

[2019-07-15 13:22] jshridha commented on #27
@robertsLando It's looking better. It looks like the sensors are being sent to the right topic. However, the light dimmers and fans are being shown up under the "cover" category instead of "light" and "fan" (see image below).

I have not yet tested if sending commands works correctly or if they show up in the hass interface correctly. I've only been monitoring the traffic so far.

As an additional

[2019-07-15 13:31] awulf commented on #27
I've tried running it (commit 042cace4d39c7e7477c26cb79fcadff45af9dbee) but when I enable `Hass Discovery` it crashes for me

[Error.txt](https://github.com/OpenZWave/Zwave2Mqtt/files/3392489/Error.txt)

[2019-07-15 14:08] robertsLando commented on #27
@awulf  Try now, it was a typo :)

[2019-07-15 14:10] robertsLando commented on #27
@jshridha Unfortunally I haven't any light dimmer or fans to test but I will try to make some changes in code. Could you send me there an example discovery payload for a dimmer and a fan to take inspiration?

Really thanks

[2019-07-15 14:37] jshridha commented on #27
@robertsLando I don't have a payload for fans, but this is an example from a zigbee light switch that was sent by zigbee2mqtt:

topic: homeassistant/light/0x90fd9ffffe0d2bfe/light/config
[code]

[2019-07-15 14:37] robertsLando commented on #27
Check with latest commit e0662f74a959a16cfc4c58982293c2888102674a

[2019-07-15 14:40] robertsLando commented on #27
@jshridha could you also join the slack chat? There we can chat faster https://join.slack.com/t/zwave2mqtt/shared_invite/enQtNjc4NjgyNjc3NDI2LTc3OGQzYmJlZDIzZTJhMzUzZWQ3M2Q3NThmMjY5MGY1MTc4NjFiOWZhZWE5YjNmNGE0OWRjZjJiMjliZGQyYmU

[2019-07-15 14:56] MarsWarrior commented on #27
As soon as my z-wave stick functions again I will join testing. Currently no z-wave network anymore 😢

My z-wave network consists of only 230V power switching and power measuring nodes btw.
All other stuff is WiFi and Zigbee (lights, switches, temp/humi sensors).

[2019-07-15 15:04] robertsLando commented on #27
@MarsWarrior No worries thanks anyway :) If you want to join the slack channel you are welcome

[2019-07-15 17:30] sneakpaw opened #50 "[feat] Publish scene event to MQTT"
I'm trying to react to different button-presses on the [NodOn Octan Remote](https://www.z-wave.com/shop-z-wave-smart-home-products/smart-accessories-nodon-nodon-octan-z-wave-plus-remote).

When set to "Scene activation" it publishes scene events. OpenZWave correctly receives them and I was able to access these events within NodeRed (and the Open-Z-Wave-components).

I also see the events in the Zw

[2019-07-15 17:37] robertsLando commented on #50
Sure! I have already set up a scene event handler but never found a device to make tests, I think I will call the topic “scene_event” just to be sure there will not be conflict with others. I will address this tomorrow and once done I will ask you to test it so stay tuned. Thanks

Daniel

[2019-07-16 08:33] robertsLando commented on #50
@sneakpaw Please check last commit and tell me if it is ok for you. Now scene events are published on

`<nodeTopic>/scene/event` eg `zwave2mqtt/node_ID2/scene/event` and payload depends on payload type it could be a JSON with time and value where value is the scene event code or just the event code

[2019-07-16 09:56] robertsLando commented on #49
@RualdOrdelman I have changed the way UI updates on node add events, try now

[2019-07-16 11:36] brettyj commented on #42
I've switched on polling on that value and it seems to be working fine now - all changes are being reflected instantly in HASS - only issue is I can't understand the Polling Intensity - no matter what I set it to, it seems to poll the lock every second or so - how can I make it poll say once an hour or day? (don't want to destroy my battery life)

[2019-07-16 12:05] awulf commented on #27
Thanks @robertsLando I got it running now, but looks like the discovery topics are being sent to the prefix set for zwave2mqtt, rather than the `homeassistant` prefix.

![Screen Shot 2019-07-16 at 9 34 42 pm](https://user-images.githubusercontent.com/186606/61292880-8d4c2980-a811-11e9-9a0d-0526041dc615.png)

[2019-07-16 12:27] #49 closed

[2019-07-16 12:27] robertsLando commented on #49
@RualdOrdelman Now it is fixed with https://github.com/OpenZWave/Zwave2Mqtt/commit/1b9fd36037c263d140d6ec624302d713a6bb089c

[2019-07-16 12:36] robertsLando commented on #42
The poll intensity is bugged right now I don't know if it has been fixed with openzwave 1.6 should ask to @Fishwaldo . It should be 1* 2* 3* `poll interval` based on the intensity.

Anyway glad it has been fixed so I close this

[2019-07-16 12:37] robertsLando commented on #27
The prefix used is the one specified in mqtt settings :) Change that one or the one in hass configutration to be the same

[2019-07-16 12:54] brettyj commented on #42
I've think I've come across a rather urgent bug. I turned off polling, but unknown to me, it was still polling every second and has knocked 10% off my battery life in an hour, so I deleted the entry in the override list, and saved, and it will still polling every second. So I restarted the docker container, and it's STILL polling every second. I've had to stop the docker container because otherwis

[2019-07-16 12:57] robertsLando commented on #34
@frankhommers  Sorry for the late reply, now the feature requested has been added and will be available in next release. Thanks!

[2019-07-16 12:57] #34 closed

[2019-07-16 12:58] #22 closed

[2019-07-16 12:58] robertsLando commented on #23
@sjorge Could you make some tests now?

[2019-07-16 13:08] sjorge commented on #23
I can give this another go this weekend.

[2019-07-16 13:25] jshridha commented on #27
@robertsLando It would be great if that was a user-customizable topic. That way hass isn't parsing unnecessary topics (e.g. "Study", "Theatre", "Living Room", etc from @awulf 's example above)

[2019-07-16 13:31] awulf commented on #27
Yeah would be good if the prefix for discovery is user customisable (and defaulting to 'homeassistant'). As you can see on the screenshot the other subscribers (such as zigbee2mqtt) do it this way.

[2019-07-16 14:09] brettyj commented on #42
Just an update, I deleted the xml files, and reset it up and now it's working, checking once an hour. Phew

[2019-07-16 14:28] awulf commented on #27
I found a bug where often the "Device HASS JSON" would be a mixture of the device you select and the last device in my list of devices. E.g. selecting the Garage Door switch shows the Bedroom 2 light switch (image attached). The discovery JSON in MQTT explorer is showing up correctly. I have been trying to change the JSON for the Garage Door from "switch" to "cover" but haven't been able to save i

[2019-07-16 16:02] sneakpaw commented on #50
I just tried it. The events are published, but now the values are `0`.
[code]
I guess the problem is within the Open-ZWave-library itself, because I had the same issue within NodeRed after migrating to a Docker-environment.

Also, the log only shows `0`-events now:
![image](https://user-images.githubusercontent.com/1275534/61309939-86aeb980-a7f3-11e9-99dd-7efd3dcae170.png)

Do you have any idea ho

[2019-07-16 16:18] robertsLando commented on #23
Thanks! Will need to do another release bevause 2.0 is bugger unfortunately a typo

Daniel

[2019-07-16 16:25] sneakpaw commented on #50
I just noticed, that the Zwave2Mqtt Dockerfile uses `openzwave-1.4.1`, which hasn't changed. So I guess the fault might be in the node-shared-library

[2019-07-16 16:35] robertsLando commented on #50
Sincerly I have no idea, try to open a ticket and let me know

Daniel

[2019-07-16 16:36] robertsLando commented on #50
I’m using that because ozw 1.6 is not fully supported yet

Daniel

[2019-07-16 16:37] Fishwaldo commented on #50
Central Scene isn't really supported in 1.4... so unless you do the various "hacks" on zwcfg_*.xml documented on the Net, it wont work.

[2019-07-16 16:40] sneakpaw commented on #50
I'm not using Central Scene, but Scene Activation.

[2019-07-16 16:49] sneakpaw commented on #50
And it was working on my old setup (without docker), without any hacks.
I also just checked: the old setup also used open-z-wave 1.4, and apparently node-openzwave-shared 1.46

[2019-07-16 16:51] Fishwaldo commented on #50
back to you @robertsLando :)

[2019-07-16 17:37] robertsLando commented on #50
Maybe a change with Openzwave-shared 1.5 ? Will investigate...

Daniel

[2019-07-16 17:37] sneakpaw commented on #50
I just tried building the Docker image with openzwave-shared 1.4.6, and the scenes are working as expected.
Now I'm ready to create the successor-issue. ;)

[2019-07-16 18:15] sneakpaw commented on #50
Alright, I just tried several versions:
* 1.4.8 still works
* 1.5.0 through 1.5.5 won't even build
* 1.5.5 only publishes `0`-event-values

So I guess it didn't help much, but I hoped I could pinpoint the versions some more.
I'll keep my docker running at 1.4.8 at the moment.

[2019-07-16 18:20] robertsLando commented on #50
@sneakpaw just to be sure. So you are using zwave2mqtt latest version from master with openzwave-shared 1.4.8 right now?

[2019-07-16 18:22] robertsLando commented on #27
I'm releasing a patch version 2.0.1 with a little fix

[2019-07-16 18:23] robertsLando commented on #27
So will add a feature for discovery prefix too

[2019-07-16 18:26] sneakpaw commented on #50
@robertsLando Yes openzwave-shared: 1.4.8, but not quite the latest on zwave2mqtt, but almost: a7d80dfb252cb344a0a02f213176103e324753bf

I'm aware, that i might run into some incompatibilities, but I haven't noticed any so far.

[2019-07-16 18:41] robertsLando commented on #27
@jshridha @awulf Available in 2.0.1

[2019-07-16 18:47] robertsLando commented on #50
@sneakpaw If you update the runing config it will crash as openzwave-shared 1.4.8 doesn't have the method `updateOptions` to update zwave options on runtime. If you update settings you need to manually restart application, or if it automatically restarts it is ok it will handle it

[2019-07-16 18:48] robertsLando commented on #42
Wil reopen this until news

[2019-07-16 18:59] sneakpaw commented on #50
@robertsLando Alright, thanks for the hint. For now, I think the settings should be alright.

And also thanks for the quick responses/fixes :)
With the scenes working, zwave2mqtt is practically a drop-in replacement for my old code. I just had to modify my topic-scheme a bit: `raw/z-wave/#` doesn't work here, but `raw_z-wave` is also fine as prefix ;)

[2019-07-16 19:06] robertsLando commented on #50
You welcome! If you have any questions join the slack channel, there I receive messages notification faster :) than also I will investigate about the bug on openzwave shared

Daniel

[2019-07-16 19:11] robertsLando commented on #50
I think the problem is there: https://github.com/OpenZWave/node-openzwave-shared/blob/master/src/callbacks.cc#L83

Need to check how OPENZWAVE_SCENES preprocessor is calculated in binding.gyp

Daniel

[2019-07-16 19:13] robertsLando commented on #50
Ok found the bug. The problem is that openzwave senes preprocesso is never created in binding.gyp this is why they don’t work in 1.5+ versions. I will fix the bug tomorrow than ask to ekark to update it

Daniel

[2019-07-16 19:13] sneakpaw commented on #50
I didn't see anything about a slack channel. Do you have any details?
Also:
* I guess this issue remains open for now?
* If you need me to test something, just drop me a note.

[2019-07-16 19:14] sneakpaw commented on #50
oh, alright. nevermind my previous comment, then.

[2019-07-16 19:30] robertsLando commented on #50
Keep this open will address it tomorrow but will need to wait the author of the package to release the update to npm. For the slack channel, you find the link at the top of readme, there is a badge near the logo just click on it

Daniel

[2019-07-16 20:43] jshridha opened #51 "[bug] GE Fans show up as light switches"
Build/Run method:
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.1
Openzwave Version: 1.4.1

**Describe the bug**
GE fans show up as lights in hass rather than fans (see image below):

![image](https://user-images.githubusercontent.com/11232787/61327783-b1931080-a7e7-11e9-9599-2db960f541ed.png)

The zwave protocol is using command cl

[2019-07-17 06:26] robertsLando commented on #51
Thanks for the detailed issue @jshridha. To make this work I have created a file named `devices.js` inside home assistant folder that will contain all 'non conventional' devices configuration that zwave2mqtt can't recogize its own. Now I don't have any fun to test it but I ask you if it is possible to do the test your own this way:

Follow this guide https://github.com/OpenZWave/Zwave2Mqtt#compone

[2019-07-17 06:30] robertsLando commented on #51
I have find an interesting integration of a fun using command class 38 here:
https://selfhostedhome.com/migrating-to-zwave2mqtt-for-home-assistant/

[code]

Starting from this it should be easily

[2019-07-17 06:39] robertsLando commented on #51
In your case the configuration should look like this:

[code]

[2019-07-17 07:01] robertsLando commented on #50
https://github.com/OpenZWave/node-openzwave-shared/issues/328

[2019-07-17 09:17] robertsLando commented on #51
@jshridha Try with this 26112c59c937eaf66828f7de92b723a155aa02ab

[2019-07-17 22:27] mlankamp opened #52 "Hass device creation"
How does the system decide which Hass devices the create for auto discovery? I have multiple Fibaro powerplugs and default two devices are created (switch and sensor). The sensor uses the kWh unit of measurement.
The Fibaro also has a value for the Power, which uses Watt:
![image](https://user-images.githubusercontent.com/8513556/61415993-9f51c900-a8f2-11e9-906e-06333c98fca7.png)

When I update th

[2019-07-18 06:25] robertsLando commented on #52
I have created a function that try to guess the correct component to create based on value properties like command class, index, instance, units of measurements and label. It is a work in progress as zwave devices are a lot so there will be for sure some device that is not discovered as expected... This is why I have added the possibility to edit the discovery configuration of each device manually

[2019-07-18 06:41] mlankamp commented on #52
Is it a solution to remap this file using a volume in the docker container? Or add an additional file? This would make it easy for people to add/test their own mappings?

[2019-07-18 10:15] robertsLando commented on #52
check it here https://github.com/OpenZWave/Zwave2Mqtt#Add-new-component

[2019-07-18 19:59] mlankamp commented on #52
Thanks, but I never see an `Add` button

[2019-07-18 19:59] #52 closed

[2019-07-18 20:01] robertsLando commented on #52
If you are using the “nodejs” version and not the docker you have to run “npm run build” to update the ui after pull from master

Daniel

[2019-07-20 08:50] pbathuk opened #54 "[bug] Handle rediscovery after broker connection"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.1
Openzwave Version: 1.4.1

**Describe the bug**
When zwave2mqtt and the MQTT broker restart at the same time zwave2mqtt Hass discovery options don't appear to rebuild again. Therefore meaning a second reboot of zwave2mqtt is required.

**To Reproduce**
Step

[2019-07-20 11:44] danjenkins commented on #27
Excited to try this out in the coming weeks! I can't wait until Home Assistant isn't dealing with Z-Wave anymore and a) I can move it onto another server and b) move z-wave to something that'll never get restarted and it'll hopefully keep the z-wave network rock solid! Thanks @robertsLando !

[2019-07-20 23:42] jshridha opened #56 "[feat] Alarms in home assistant"
Command class 113 contains alarm information that is not being included in home assistant as sensors. Below is an example of this command class from a smoke/fire detector.

The only value that I need to tell if smoke or CO2 is detected is the alarm_type field, but I believe that two sensors should be created. One for the alarm_type and one for the alarm_level just for completeness.

A contact sens

[2019-07-21 12:46] awulf commented on #27
Just had another go at using it, when trying to modify the `Hass Device JSON`, no matter what I put in (not even changing it) it will go red, shake and say `JSON test failed`
Happens on both one 2.0.1 and the latest master.

I'm trying to get the garage door to become a `cover` rather than a `switch`. Home Assistant's built in Z-wave sees it as that, but Zwave2mqtt doesn't.

[2019-07-21 13:27] sjorge commented on #23
- rebuild openzwave against master (OK on SmartOS)
- checked out a fresh copy of zwave2mqtt (OK)
- npm install (OK - nice!)
[code]
- npm build
[code]
- starting the solaris service
[code]
- testing (TODO)
[code]

[2019-07-21 13:28] jshridha commented on #27
@awulf You can ignore the red JSON test failed. What is happening is after you hit the "update" button, the text box is cleared out. Since it's clear now, the input is no longer valid. After you click on the hass device again, you'll see the updated JSON and then you can click on "rediscover" to send the MQTT discovery message.

[2019-07-21 13:29] sjorge commented on #23
So I've done some testing:
- Verified Changes seems broken again (needed for the switch(es)I have)
I doubled check the setting was still present... it  was
![](https://imgur.com/85lf62e.png)
- toggle switch from on -> off (action happens) worked fine
- toggle switch from off -> on (action hapepned) switch resets to off

[2019-07-21 13:29] awulf commented on #27
Have tried that, and it does temporarily work. But when I reboot zwave2mqtt it goes back to the default.

[2019-07-21 13:34] sjorge commented on #23
[code]

[2019-07-21 13:38] sjorge commented on #23
With the verified change option removed, it no longer does anything
[code]

[2019-07-21 13:43] sjorge commented on #23
I've reverted to the previous version for now (so I did not yet switch away my node-red setup from the depricated named values option for mqtt)

[2019-07-21 13:44] jshridha commented on #27
Yes that's right. I think ti's meant to be a troubleshooting/discovery tool. It's not persistent.

[2019-07-21 13:55] sjorge opened #57 "[bug] spawn udevadm errors are back on SmartOS"
**Version**
2.0.1-master

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.1
Openzwave Version: 1.6.848

**Describe the bug**
The errors about unable to start the udevadm process are back, I think they are releated to opening the settings page.

**To Reproduce**
1. start zwave2mqtt on non linux (e.g. smartos)
2. go to

[2019-07-21 14:06] sjorge commented on #23
Some progress, after wiping the entire setup and rebuilding the entire network (ugh)... it 'works' aside from the verify changes config. The switch is still broken but the nodes now show up in the correct state.

Perhaps we should close this issue and make a new one for the broken 'Verify Changes' option? It's back to the broken behavior before this was implemented now.

[code]

So the exact same

[2019-07-21 14:11] sjorge commented on #23
Ugh, I might have spoken to soon. I did another reset after setting the verify changes property, thinking it might need a restart to take affect and now all devices are sleeping again at startup... including the controller itself :s

[2019-07-21 14:26] sjorge opened #58 "[bug] "Verify Changes" seems broken"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.1-master
Openzwave Version: 1.6.848

**Describe the bug**
I have a switch ( you know the one) that does weird things on changing it.
This was fixed a while ago by allow "Verify Changes" to be set for the vlaue, this worked fine on openzwave 1.4 but it is now

[2019-07-21 14:27] sjorge commented on #23
I narrowed it down, closing this but opening 2 new issues.

[2019-07-21 14:27] #23 closed

[2019-07-21 14:35] sjorge opened #59 "[bug] after soft restart devices are missing information"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.1-master
Openzwave Version: 1.6.848

**Describe the bug**
Split of from #23, devices now appear correctly from a cold start!
However when changing a config option that reopens the connection, the devices are all back to the sleeping state. There are some oth

[2019-07-21 14:42] sjorge commented on #58
Meanwhile, I reverted my setup to a working version... here is the behavior with 'verify changes' set

[code]

I think the option might not be apply at all in 2.0.1-master

[2019-07-21 21:02] soumya92 opened #60 "[feat] removeFailedNode"
It would be great to be able to call "removeFailedNode" on a dead node. Currently that does not seem possible, only "replaceFailedNode" is available.

[2019-07-22 05:30] robertsLando commented on #60
Are you sure it is not possible? Did you try to enable the flag “show failed nodes” on the table? It allows you see all nodes amd select them. Also it should be possible to call removefailed node from controller commands and than once triggered a popuo wil ask you to enter the node id

Daniel

[2019-07-22 05:38] soumya92 commented on #60
Reasonably certain. I tried with both hidden nodes checked and unchecked.
The hidden nodes toggle only appears to affect nodes that are "Removed". The nodes I want to delete are "Dead", and are shown regardless of the toggle.

The options I see on the controller are:

- Add Node (inclusion)
- Remove Node (exclusion)
- Transfer primary role
- Create new primary
- Receive configuration
- Cancel Comm

[2019-07-22 06:13] robertsLando commented on #60
Now I got it, it is impossible in zwave protocol to remove a failed node, you can just replace it. To detect a node has failed you should send the command “update return routes” and then “has node faled” against the dead node. That’s a protocol limitation

Daniel

[2019-07-22 14:22] robertsLando commented on #51
@jshridha is this fixed now? if so please close the issue :) Thanks

[2019-07-22 14:23] jshridha commented on #51
Fixed and working great! Thanks again for all the hard work!

[2019-07-22 14:23] #51 closed

[2019-07-22 14:24] robertsLando commented on #56
@jshridha What component do you think I should create on hass when detecting alarm command class? A sensor?

[2019-07-22 14:26] robertsLando commented on #56
I have this: https://github.com/OpenZWave/open-zwave/blob/master/config/Localization.xml#L8 Does your sensor send binary states or multilevel states (from x to y levels) ?

[2019-07-22 14:28] jshridha commented on #56
Yes - I'm thinking it should be a sensor. I'm thinking one sensor for each value just to stick with the convention that hass already has.

[2019-07-22 14:29] robertsLando commented on #57
Do you have any console log to append here @sjorge ?

[2019-07-22 14:31] jshridha commented on #56
It sends multiple levels. The alarm_type will be either 1, 2, 12, or 13.

[2019-07-22 14:33] robertsLando commented on #56
Ok I could create by default a sensor with generic class and a custom icon like the `mdi:alarm-light`

[2019-07-22 14:40] robertsLando commented on #58
I think this is more likely a problem with openzwave 1.6 @sjorge . Should ask to @Fishwaldo

[2019-07-22 14:42] robertsLando commented on #59
@sjorge again I think that this is more likely a problem with underlying libs (openzwave-shared or open-zwave). I tag here @Fishwaldo

[2019-07-22 14:45] sjorge commented on #57
[code]

It's also visible in the list from #59 as that also does an update of the setting page, so it triggers the udevadm command also.

[2019-07-22 14:49] robertsLando commented on #56
@jshridha Please try this and let me know if it works :)

[2019-07-22 14:53] robertsLando commented on #57
I sincerly have no Idea about this bug :(

[2019-07-22 14:55] sjorge commented on #57
Maybe this is coming from one of the libraries?

[2019-07-22 15:01] robertsLando commented on #54
@pbathuk Try this and let me know :)

[2019-07-22 16:31] soumya92 commented on #60
Oh, interesting. That might explain why calling removeFailedNode over mqtt did not help :)
I will try out your suggestion. Thanks!

[2019-07-22 16:31] #60 closed

[2019-07-22 18:37] pbathuk commented on #54
I have just completed a the build of the latest version (2 commits after this as I liked the sound of the new feature as well).
I restarted Zwave to ensure it was working - it was.
I then rebooted the server.. all setup and working fine on a reboot.
Therefore happy to say this appears to be fixed :)
thanks

[2019-07-22 18:37] #54 closed

[2019-07-22 19:17] jshridha commented on #56
@robertsLando This works partially. I'm getting the alarm_type in hass, but the alarm_level is sending its discovery to the same topic as alarm_type. It looks like alarm_level is being overwritten by the alarm_type discovery. Also, the burglar value is not being sent at all.

Both of these messages are sent to the same topic (homeassistant/sensor/laundry_first_alert/alarm/config)

Sent at 07/22/20

[2019-07-22 22:28] jshridha opened #61 "[bug] setValue no longer works"
**Version**

Build/Run method
Docker built with latest commit: 3eafd996381ff0b27a20c0182a31305a9c68d690

Openzwave Version: 1.4.1

**Describe the bug**
Commands are no longer being sent. For some reason setValue recently doesn't actually communicate with the network. See the logs below for example:
[code]

**To Reproduce**
The bug happens both when I use the GUI to set the value and when I send a

[2019-07-23 00:24] jshridha commented on #61
I'm not quite sure what happened, but this issue seems to have disappeared. Hopefully it does not come back. I'll reopen if it does.

[2019-07-23 00:24] #61 closed

[2019-07-23 06:10] robertsLando commented on #57
@sjorge could be, yes

[2019-07-23 06:10] robertsLando commented on #57
@Fishwaldo

[2019-07-23 06:16] robertsLando commented on #56
Thanks @jshridha I forgot to check the value index, now I publish only the alarm level. Please try this again and let me know :)

[2019-07-23 06:26] Fishwaldo commented on #57
Not OZW. (Else you would see if with MinOZW)

[2019-07-23 06:32] Fishwaldo commented on #59
What’s the issue? I see all nodes present!

Please reproduce with MinOZW or OZWCP to confirm it’s a library issue.

[2019-07-23 06:33] Fishwaldo commented on #58
1.4 or 1.6?

[2019-07-23 06:40] sjorge commented on #58
Works on 1.4, broken on 1.6

~ sjorge

[2019-07-23 06:42] sjorge commented on #57
Will test with MinOZW once I get home.

~ sjorge

[2019-07-23 06:45] sjorge commented on #59
Never got OZWCP to work, how can I test this with MinOZW?

The after a soft-restart type column is missing in zwave2mqtt and in the log at 14:39:59 you can see some error about it not loading some files. That are not there on a cold start.

[2019-07-23 12:35] jshridha commented on #56
That gets us close. #62 gets us the rest of the way there.

[2019-07-23 18:50] alfaromeotango commented on #2
@KennethLavrsen No quotes, no spaces works in the configuration screen

[2019-07-24 04:29] jshridha commented on #42
@brettyj Which xml files did you delete? Did you have to re-add any devices to your network afterwards?

I'm having a similar issue where updates aren't being sent to mqtt.

[2019-07-24 06:54] #56 closed

[2019-07-24 07:01] robertsLando commented on #57
@sjorge I have added you to the [thanks](https://github.com/OpenZWave/Zwave2Mqtt/#-thanks) section of the project :)

[2019-07-24 07:02] robertsLando commented on #61
@sjorge I have added you to the [thanks](https://github.com/OpenZWave/Zwave2Mqtt/#-thanks) section of the project :)

[2019-07-24 07:08] sjorge commented on #57
Cool!

I also tracked the udevadm call to the serialport dependency: https://github.com/serialport/node-serialport/blob/3d34d0f7c06009bf256a4af0f306d3a2e30b3bf6/packages/bindings/lib/linux-list.js#L43

Not sure how it is being called on SmartOS as that seems to be Linux specific code?

[2019-07-24 07:16] sjorge commented on #57
@robertsLando what is the list callback for here https://github.com/OpenZWave/Zwave2Mqtt/blob/a7f28f849657a4a63a8978dffb9b305d3f85fc49/app.js#L118 ?

Is it to check if the port exists? If so maybe we can replace that for an `fs.exists` for SmartOS/illumos.

[2019-07-24 07:59] robertsLando commented on #57
This is used to get the list of available serial ports

[2019-07-24 08:01] sjorge commented on #57
We can probably skip that for SmartOS then, the code uses udevadm, which will not work. And I think the debug in the callback is printing the message. If you want to do minimal sanity checking on the entered value a fs.exists should be OK.

[2019-07-24 08:06] robertsLando commented on #57
Ok so I need a way to detect smartos on nodejs. What does [process.platform](https://nodejs.org/api/process.html#process_process_platform) returns to you?

[2019-07-24 08:09] sjorge commented on #57
I would expect sunos, as OpenSolaris -> illumos, which SmartOS is a distro off.

[code]

Seems to confirm that.

[2019-07-24 08:11] robertsLando commented on #57
Ok I will try to add a check so, try the next commit

[2019-07-24 08:16] robertsLando commented on #57
@sjorge  Try now :)

[2019-07-24 08:22] robertsLando commented on #59
@sjorge  try to run OZWCP with docker container

[2019-07-24 08:23] robertsLando commented on #27
@awulf to make it persistent you need to press "STORE" button at the top of hass devices table

[2019-07-24 13:08] sjorge commented on #57
Yep, that fixed it!

[2019-07-24 13:08] #57 closed

[2019-07-24 13:09] sjorge commented on #59
The box with the z-wave stick is not running linux, so I can't run the docker container.

[2019-07-24 14:08] sjorge commented on #58
From the OZW_Log it does seem to verify... so it might be a node-openzwave-shared issues?

[code]

Or am I reading the log wrong?

[2019-07-24 14:14] robertsLando commented on #58
Try to install openzwave-shared 1.4.8, if with that works so it is a problem with openzwave-shared

npm install openzwave-shared@1.4.8

Daniel

[2019-07-24 14:18] sjorge opened #63 "[bug] Cannot update some configurations with dropdowns"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.2
Openzwave Version: 1.6

**Describe the bug**
Unable to set some settings...

**To Reproduce**
- select a ZW100 device
- open the configuration section
- change the dropdown for 'LED Blinking Report' to 'Completely disable LED for motion, wakeup, and sensor

[2019-07-24 14:18] sjorge commented on #63
I'm not sure if it should be sending the textual value... maybe the UI is fetching label vs value?

[2019-07-24 14:22] robertsLando commented on #63
Actually to write a 'list' value you have to send the value label and not the value index. I don't know why it doesn't work, it should, as logs shows seems there is no error

[2019-07-24 14:29] sjorge commented on #58
That made no difference.

I'll try:
- zwave2mqtt 2.0.2
- openzwave-shared 1.4.8
- libopenzwave 1.4

Before I head off to bed.

[2019-07-24 14:44] sjorge commented on #63
This is with:
- zwave2mqtt 2.0.2
- openzwave-shared 1.4.8
- libopenzwave 1.4

[code]

This is a device that sleeps though, so maybe that is why it wasn't update the other time? But I would have expected and error or timeout in that case though.

[2019-07-24 14:50] sjorge commented on #58
That combination also doesn't work :/

[code]

[2019-07-24 15:05] sjorge commented on #58
This is using:
- zwave2mqtt 1.0.3
- node-openzwave-shared 1.4.8
- libopenzwave 1.4.3448

[code]

[2019-07-24 15:05] sjorge commented on #58
I forgot to enable debug logging for this one, but it's working fine here, we're only getting one valuechange after a short delay that is the correct change.

[2019-07-24 18:18] syphernl opened #64 "[bug] Updating config results in disconnecting from MQTT"
**Version**
2.0.2

Build/Run method
- [ ] Docker
- [X] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.2
Openzwave Version: 1.4.1

**Describe the bug**
As soon as I change a setting, the gateway will disconnect from MQTT and keeps on reporting it cannot reconnect:
[code]
I have to actually restart Z2M in order to get it going again.

**To Reproduce**
Se

[2019-07-24 18:48] syphernl opened #65 "[feat] Ignoring/not discovering specific keys to HASS"
**Is your feature request related to a problem? Please describe.**
With the HASS functionality I now have a lot of "useless" entities such as `alarm_type`, `alarm_level` and `alarm_burgular`. It would be nice if these could be prevented to be sent to HASS, and therefor not being discovered.

**Describe the solution you'd like**
An entity blacklist of sorts would be nice. It could be a list of keys

[2019-07-24 18:50] syphernl opened #66 "[feat] Send device_class motion for motion sensors for HASS discovery"
**Is your feature request related to a problem? Please describe.**
Right now motion sensors create the `_contact` sensor with open/closed. HASS sees this - by default - as a door. If the discovery could send `device_class`: `motion` it should change to a motion icon + On/Off (Detected/Not detected).

**Describe the solution you'd like**
See above

**Describe alternatives you've considered**
In the

[2019-07-25 07:47] robertsLando commented on #66
Hi @syphernl . To discover devices I try to guess the correct hass configuration based on zwave device and other properties of the values of device. Sometimes it is impossible for me to know the exactly type of device, for example for binary sensors, I suggest you to add this value to gateway vlaues table and set your custom device class from the dropdown list. Check readme for more information

[2019-07-25 07:47] #66 closed

[2019-07-25 07:48] robertsLando commented on #65
Like other issue. I suggest to put the gateway in manual mode and manually select which value you want to send for each device type in your network. In this way you can also set a custom device class and icon too

[2019-07-25 07:48] #65 closed

[2019-07-25 07:49] robertsLando commented on #64
What you mean with "change a settings" ? Do you mean you set a new setting and than you click on save?

[2019-07-25 08:38] syphernl commented on #64
If I make any change in the settings, this results in disconnecting from MQTT and constantly reporting the above error. It doesn't seem to reconnect. Only a restart solves it (the settings are ok)

[2019-07-25 20:17] joselito11 opened #68 "[question] Light discovered in Hassio without rgb"
I am migrating from existing Zwave integration in Hassio. Zipato Bulb 2 was in Hassio(installed ZWAVE2MQTT add-on) discovered as `light.nodeid_24_dimmer`, without RGB option. In ZWAVE2MQTT add-on the light Type is Light Dimmer Switch-same as Fibaro Dimmer 2. At Home Assistant - Devices from the light node, there are `light_dim` and `light_rgb` devices, but I was not able to push `light_rgb`-get co

[2019-07-25 21:00] robertsLando commented on #68
I need to know in zwave2mqtt control panel the valueId of the value that you use to control the rgb in order to make it work. The valueid is at the right of every value label between ‘(‘ ‘)’.

Daniel

[2019-07-25 21:12] joselito11 commented on #68
This?
[code]
[code]

[2019-07-26 09:17] joselito11 commented on #27
I have made a simple tutorial to try out ZWAVE2MQTT add-on in Home Assistant:

1. Add MQTT to Home Assistant
I installed add-on Mosquito broker and added `mqtt:` https://www.home-assistant.io/components/mqtt/ with `discovery: true` https://www.home-assistant.io/docs/mqtt/discovery/ to `configuration.yaml`

2. Install ZWAVE2MQTT add-on and open port to 8091(or change to your needs)

3. Delete Zwave

[2019-07-26 11:48] brettyj commented on #42
zwcfg_xxx.xml and zwscene.xml - didn't have to re-add anything

[2019-07-26 21:36] Lyve1981 opened #69 "[question] very old PKG version, wiki lists v1.0.0 / openzwave 1.6?"
I researched that openzwave 1.4 is no longer maintained and won't get updates for future z-wave devices, but the install instructions still list that version.
the latest bridge seems to be v2.xx but the installation mentions version 1.0.

Is there an updated installation tutorial or is the combination of 1.4 / 1.0 the only pair that works properly?

Would be nice if someone could shed some light i

[2019-07-27 04:07] johntdyer commented on #27
@joselito11  - Tried this but the UI doesn’t seem to accept the toggles when I change them.

Here is an example showing it changing back every time I change the state

https://www.dropbox.com/s/lo2h6fo80fjloib/RPReplay_Final1564143522.MP4?dl=0

[2019-07-27 20:41] sjorge commented on #58
@robertsLando is it still likely a openzwave bug? Given that zwave2mqtt 1.0.3 is working while 2.0.1 is not with the same node-bindings for ozw 1.4

[2019-07-28 19:32] silfa718 opened #71 "Monoprice Door sensor open close attribute."
Using Home Assistant discovery, the monoprice door sensor attribute for open close is not monitored.

This is what needs to monitored:

{
    "value_id": "16-113-1-9",
    "node_id": 16,
    "class_id": 113,
    "type": "byte",
    "genre": "user",
    "instance": 1,
    "index": 9,
    "label": "Access Control",
    "units": "",
    "help": "",
    "read_only": true,
    "write_only": false,

[2019-07-29 03:24] silfa718 commented on #71
Figured it out:

[code]

[2019-07-29 17:38] robertsLando commented on #71
Will add this to auto discovered devices in next release. Thanks!

Daniel

[2019-07-29 17:39] robertsLando commented on #69
Actually openzwave 1.6 is not fully supported by openzwave-shared that is the nodejs binding lib for openzwave. Once it will be ready I will update the docker image and everything else to use openzwave 1.6

Daniel

[2019-07-29 17:40] robertsLando commented on #58
I need to check out the code but I don’t remember to have changed that.

Daniel

[2019-07-29 17:42] robertsLando commented on #58
I do it there:

https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/Gateway.js#L189

That is triggered here:

https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/ZwaveClient.js#L327

Does your nodes are battery powered devices?

If so maybe they never become ready and this never get triggered

Daniel

[2019-07-29 17:44] sjorge commented on #58
No, that is the non battery powered node that never goes to sleep... maybe the node is in an 'unknown' state at startup so the changes never get applied?

[2019-07-29 18:05] robertsLando commented on #58
Check from logs if you se “node xx ready” if so that us triggered

Daniel

[2019-07-29 18:57] silfa718 commented on #71
Glad to help!

Is there a way to have the sensor return "Open" and "Closed".
Right now is returns 22 or 23 and I have a template sensor that converts to "Open" and "Closed"

[2019-07-30 12:58] robertsLando commented on #63
Don't know :(

[2019-07-30 13:00] robertsLando commented on #68
@joselito11 Try now

[2019-07-30 18:10] syphernl opened #72 "[bug] Ignored call to 'confirm()'"
**Version**

Build/Run method
- [ ] Docker
- [X] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.3
Openzwave Version: 1.4.1

**Describe the bug**
Clicking "Delete" on an HomeAssistant integration item does not work.
An error is logged to the devtools console:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Node
2. Scroll to Home Ass

[2019-07-30 19:40] ahknight commented on #27
I had the same issue (the delayed toggle).  What happened to me was that OZW was still starting up (it can take 10 minutes for me) and it was queueing up messages, but the state on MQTT was synced back to the last-known state for the device even while the change appeared to be queued to send.  If I waited a little while, it would get sent.  If I got impatient then I got some rubber-banding on the

[2019-07-30 19:42] ahknight commented on #27
A different issue than the above: my motion sensors (binary) get imported as contact/door sensors instead of motion/motion.  Easy to fix in HASS, but also a PITA when you have a lot of them.

Similarly, a voltage sensor came in as air volume or something similarly odd.

[2019-07-31 05:24] robertsLando commented on #72
Os?

Daniel

[2019-07-31 05:29] robertsLando commented on #72
If you are running the app inside an ifrsme and you are using chromium web browser this is the fix: http://techneerajnandwana.blogspot.com/2015/10/error-ignored-call-to-alert-document-is.html?m=1

Daniel

[2019-07-31 17:11] syphernl commented on #72
Ah yeah, that makes sense! I am using it from inside Home Assistant, but there is no way of adding that particular line to the iframes it generates.

That explains why I was baffled yesterday that it didn't work anymore even though it worked fine. Previously I used the app directly in my browser rather than through the iframe feature of Home Assistant.

Guess that's something for them to fix right

[2019-07-31 17:46] syphernl opened #73 "[feat] Show device name+location in manual config"
**Is your feature request related to a problem? Please describe.**
For some reason my device ID's in Home Assistant keep on changing. As recommended in previous ticket for this (and other) issues it would be better for my setup to switch to manual mode.

However, setting this up is rather difficult since I have multiple identical devices. Based on the "New Item" popup I cannot determine which sens

[2019-07-31 17:48] syphernl opened #74 "[bug] Manual Config > New Item doesn't show all devices"
**Version**

Build/Run method
- [ ] Docker
- [X] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.1
Openzwave Version: 1.4.1

**Describe the bug**
It looks like the manual configuration ("New Value" popup) doesn't show all devices, it only shows one occurrence of each product (and not even, because I am missing some devices there as well, but they are "s

[2019-07-31 17:59] syphernl opened #75 "[bug] Node keeps changing from name in Home Assistant"
**Version**

Build/Run method
- [ ] Docker
- [X] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.2
Openzwave Version: 1.4.1

**Describe the bug**
Yesterday I added a [Sensative Strips](https://sensative.com/strips/guard/) to my network. Every time I reboot Z2M or Home Assistant my ID's keep on changing.

Sometimes the binary sensor is named `binary_sens

[2019-07-31 18:00] robertsLando commented on #72
Yes should open an issue on hass addon!

Daniel

[2019-08-01 06:20] #72 closed

[2019-08-01 06:24] robertsLando commented on #73
When adding values to the gateway values table it shows just one device for each type. This is to make it easier and faster to setup your network as If you have lot different kind of devices (light, light dimmers for example) you just need to add the values you want to bridge to mqtt and it will bridge those values for all the devices of that type.

[2019-08-01 06:25] robertsLando commented on #74
I mention the other answer, this should be a feature for users, not a bug

[2019-08-01 06:25] #74 closed

[2019-08-01 06:26] #73 closed

[2019-08-01 06:28] robertsLando commented on #75
It should not change as the node name is loaded on application init. I can't reproduce this bug in my instance

[2019-08-01 08:49] hmorkemo opened #76 "[bug] Support for /dev/serial/by-path/"
**Version**

Build/Run method
- [X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 1.2.3
Openzwave Version: 1.4.1

**Describe the bug**
/dev/serial/by-path isn't supported by zwave. This is a problem since the ttyACMx port number may change after a reboot, and (at least for aeotec z-sticks), /dev/serial/by-id isn't able to separate between tw

[2019-08-01 14:32] syphernl commented on #75
For some reason it only happens with this particular device. It seems some of the sub-devices are using the _50 and others using the friendly name. I have adjusted the JSON to use the friendly name except now no data of the contact or battery sensor is being picked up by HASS (even though Z2M does notice the change).

[2019-08-01 14:34] syphernl commented on #73
Ah that makes sense.

However, what do you have to fill in for topic? I assumed this was the topic for the particular device (e.g. `device/livingroom_switch`, `device/bathroom_sensor`), but if it is for all types of that particular device what should you write there?

[2019-08-01 15:03] robertsLando commented on #73
There you write the “value topic” it means that before that you will see in order:

<mqttPrefix>/<?deviceLocation>/<deviceTopic>/<valueTopic>

Device location will be added just if it is present

Daniel

[2019-08-02 06:58] syphernl commented on #64
It looks like this issue is happening if the `zwcfg_HOMEHEX.xml` is not writable by the Z2M user. After fixing this, I can store the configuration just fine.

Perhaps it would be wise to add a check for this.

[2019-08-02 08:26] syphernl opened #77 "[bug] Unable to set icon for HASS integration"
**Version**

Build/Run method
- [ ] Docker
- [X] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.2
Openzwave Version: 1.4.1

**Describe the bug**
If I set the icon to `mdi:flash` HASS is showing an error in the logs:
[code]

If I remove the `mdi:` prefix it shows something different:
[code]

With either it won't create the items in HASS, they will be cr

[2019-08-03 10:10] sjorge commented on #76
Have you tried just pasting in the full path to the node in /dev/serial/by-path/... ?
On SmartOS the library used does not discover the ports so I have to manual specify the full path, it works fine afterwards.

[2019-08-03 10:15] sjorge commented on #58
I had some time to play with it again, I update to master, do the npm install and friends dance and enabled debug logging. Below is a log from cold startup, were I let it settle for a bit and then toggle the switch. There was no response at all this time :/

[code]

I'm starting to wonder if my USB stick is bad, I'm using a ZMEEUZB, but most people seem to be using the Aeotec one. Although chip wi

[2019-08-03 10:23] syphernl opened #78 "[question] How to change device settings via MQTT"
I have a bunch of touch-lightswitches with backlight. Previously with Z-Wave in HASS I could instruct it to disable and enable this on specific cases.

I have tried creating a "backlight" device/topic based on this particular setting but it doesn't get created in Z2M.

Is this something I can achieve with Z2M as well? If so, how should it be done?

[2019-08-03 12:17] sjorge commented on #58
I ordered one of the popular Aeotec Controller Sticks, it should get here next week. Let’s see if that helps, If not, atleast it will have a backup battery

[2019-08-03 12:50] warcanoid commented on #68
@robertsLando still no RGB entity, just dimmer

[2019-08-03 13:22] joselito11 commented on #68
@robertsLando still no RGB, same as before

[2019-08-03 16:27] sjorge commented on #58
Since the new stick is on the way and I need to rebuild the network anyway, I thought I'd do that with the old stick as wel.

- hard reset the controoler
- remove all of zwave2mqtt + libopenzwave
- install libopenzwave 1.6
- install zwave2mqtt from master
- include the multisensor
- include the switch
- check behavior ==> same as before
- re-add the verifychange thingy ==> fails as now I am requir

[2019-08-04 11:08] syphernl commented on #78
I'm close, but for some reason it's not accepting my provided arguments.
[code]

[2019-08-04 11:31] syphernl commented on #78
latter did the trick. For some reason the network was being refreshed at the time of testing (the product names were empty).

[2019-08-04 11:31] #78 closed

[2019-08-04 23:27] scadaguru opened #79 "[question] Liner garage door opener missing control"
I am trying to move from Home Assistant zwave to zwave2mqtt and noticed I am not seeing control (cover) for liner GD00Z-4 garage door opener. I have same device working under Home Assistant which is also runs ozw 1.4 same as zwave2mqtt. I wonder that COMMAND_CLASS_BARRIER_OPERATOR (102) for Secure Barrier AddOn is missing in ozw? I have added that device as secure node and it works under Home Assi

[2019-08-05 08:26] robertsLando commented on #79
Hi @scadaguru. This project uses node-openzwave-shared as ozw wrapper library, it isn't ready yet for 1.6, once it will be ready I will update the docker image to use it. ATM you can do it if you want by creating a custom docker image with ozw 1.6

[2019-08-05 08:26] #79 closed

[2019-08-05 08:28] robertsLando commented on #71
The only way is to manually edit the value template from hass devices table @silfa718

[2019-08-05 08:43] robertsLando commented on #71
@silfa718 Could you tell me your device id please? I mean monoprice door manufacturer id product type etc..

[2019-08-05 08:43] #69 closed

[2019-08-05 08:45] robertsLando commented on #75
@syphernl Did you fixed that? was it related to file permissions of the other issue?

[2019-08-05 08:46] robertsLando commented on #76
@hmorkemo Did @sjorge suggeestion fixed your problem?

[2019-08-05 08:49] robertsLando commented on #68
Actually this implementation should only allow you to set the rgb and not to control the light. Does the rgb works?

[2019-08-05 08:51] robertsLando commented on #27
@ahknight YOu can fix this easily by set the correct device class in gateway values table.

@joselito11 Thanks for the tutorial. I'm closing this issue as now it is supported. Open new issue for device specific problems

[2019-08-05 08:51] #27 closed

[2019-08-05 08:52] robertsLando commented on #42
@brettyj Can I close this now?

[2019-08-05 09:16] hmorkemo commented on #76
I have tried pating the full by-path with no good effect. Someone in the hassio community says that the problem is docker-relateed, that docker cannot handle device names with : in them.

[2019-08-05 09:28] joselito11 commented on #68
No, just dim option

[2019-08-05 12:23] silfa718 commented on #71
How do I find that? Do you need that link to the product page?

[2019-08-05 17:13] plasticrake commented on #76
@hmorkemo I'm using docker like this and it works great:

from my `docker-compose.yml` file:
[code]

[2019-08-05 18:37] syphernl commented on #75
@robertsLando Seems to be working fine now for the past days. I did switch to manual mode but prior to that everything was working good. It appears to be related to the file permissions. If Z2M cannot write to the xml when a new device is being added this results in this type of odd behavior.

[2019-08-06 21:01] sjorge commented on #63
I think I figured it out, there might be a race.
If I select something and imediatly hit the send icon it will be the wrong value.

If I wait for like a second it sends the right one.

[2019-08-06 21:04] sjorge commented on #58
I swapped to the Aeotec ZW090 as controller, re-added the switch and have the same
problem. I did notice it not being immediately detected at startup.

So the function might not be firing to configure the property.

I also ordered a 2nd of the same switch and one from fibaro to play with.
The 2nd Aeotec switch has the same problem.

The fibaro one does not, but that is because it works fine withou

[2019-08-06 21:23] sjorge opened #82 "[bug] node-openzwave-shared that works with ozw 1.6 has various issues when devices timeout"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: master @ 20190805
Openzwave Version: 1.6.848

**Describe the bug**
While trying to trouble shoot #58 more, I noticed the following after swapping to a new controller (Aeotec ZW090):

After including a device, all currently setting seem to be read properly.
After

[2019-08-06 21:24] sjorge commented on #82
If this makes sense, or seems possible we can probably close #58 until this is resolved.

[2019-08-06 22:33] scadaguru commented on #79
Thanks for the reply. I am not how to create custom docker of ozw 1.6 with zwave2mqtt, any direction to get started please? Appreciate it.

[2019-08-07 06:20] sjorge opened #83 "[bug] we do not handle a vlaue of type 'short' correctly."
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: master @ 20190805
Openzwave Version: 1.6.848

**Describe the bug**
Once of the devices I have is missing configuration in OpenZwave, while in the progess of writing a config file for it. I noticed values of type`short` are not handled properly.

**To Reproduce**

[2019-08-07 08:44] guptamp opened #84 "[bug] Please display the Scene Id in the UI"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.2
Openzwave Version: 1.4.1

**Describe the bug**
The Scene Id for Scenes is not displayed in the UI and can only be retrieved via json export.

**To Reproduce**
Steps to reproduce the behavior:
1. Look at scenes

**Expected behavior**
The scene id should be

[2019-08-07 13:01] #84 closed

[2019-08-07 13:05] robertsLando commented on #83
@sjorge You should submit a PR on openzwave to fix the file configuration [there](https://github.com/OpenZWave/open-zwave/tree/master/config/fibaro)

[2019-08-07 13:05] #83 closed

[2019-08-07 13:10] robertsLando commented on #82
@sjorge Thanks for the detailed explanation but sincerly I have no idea about this... I never changed the code about verifyChanges so if it was working and now it is not it is most probably related to underlying libs

[2019-08-07 13:11] robertsLando commented on #76
Thanks @plasticrake . @hmorkemo Does the fix suggested works for you?
Anyway this is not a problem related to my lib but something on docker side so I'm going to close this.

[2019-08-07 13:11] #76 closed

[2019-08-07 13:12] robertsLando commented on #75
@syphernl Ok I will check this. Thanks :)

[2019-08-07 13:12] #75 closed

[2019-08-07 13:12] #64 closed

[2019-08-07 13:14] robertsLando commented on #63
Mmmmm ok so nothing related to z2m but maybe with openzwave or ozw-shared @sjorge

[2019-08-07 13:14] #63 closed

[2019-08-07 13:15] robertsLando commented on #71
Add a value of monoprice door in gateway values table than export the json and look for that value entry it should have a property device_id

[2019-08-07 13:16] sjorge commented on #82
That seems most likely yeah as only old zwave2mqtt 1.0.3 with old node-openzwave-shared against old openzwave work for enablePoll and verifyChange...

[2019-08-07 13:18] robertsLando commented on #77
Could you tell me the valueid of the value you are tring to assign the icon?

[2019-08-07 13:19] sjorge commented on #59
I'll close this too since all sign point to somnething being really not good with newer openzwave and the update node binding. I think this, the poll, verifychange (and maybe querying the config from the device are all related)

[2019-08-07 13:19] #59 closed

[2019-08-07 13:20] #58 closed

[2019-08-07 13:21] robertsLando commented on #77
If it is a binary sensor it's because [binarry sensors](https://www.home-assistant.io/components/binary_sensor.mqtt/) cannot have an icon property, you can just set a `device_class` to them to change the icon.

[2019-08-07 13:23] sjorge commented on #63
I think it might be the ui framework used, where the send button still fetches the old value before sending. As the event logged by openzwave is that it sends the old value, so it goes wrong before that I think.

[2019-08-07 13:29] sjorge commented on #83
I'm not sure the configuration file is wrong (as it does not exist yet, I did also ask for help writing this specific one on the ozw mailing list.)

The device manual in this case says the value has a min/max within the '0-65535' (short) vs '0-4294967295' (int) and the Adding-Devices page, seems to indicate you should pick the one closely matching the value range. Which makes sense as if you are o

[2019-08-07 14:03] robertsLando commented on #83
Nope I never change values types on my side

Daniel

[2019-08-07 17:56] syphernl commented on #77
I didn't know about the binary sensors. I initially configured an icon for everything. It included sensors but also for `switch` and `power`. None got an icon. The error did perhaps originate from setting it on a binary sensor?

[2019-08-07 19:40] robertsLando commented on #77
Yes, fixed in last commit you see there. Can close this bug now

Daniel

[2019-08-07 19:40] syphernl commented on #77
Awesome!

[2019-08-07 19:40] #77 closed

[2019-08-07 19:44] robertsLando commented on #77
With “fixed” I mean that I have removed the possibility to set an icon for bisnary sensors, you should opt for a different device class that fits your needs based on the binary sensor. Check for hass binary sensor device classes for more info.

Daniel

[2019-08-08 04:26] gubiq commented on #50
@sneakpaw I also built [a7d80df](https://github.com/OpenZWave/Zwave2Mqtt/commit/a7d80dfb252cb344a0a02f213176103e324753bf) with additional
[code]
in package.json and I still get 0-event-values. Did you need to change something else?

[2019-08-08 05:24] sneakpaw commented on #50
Not really. I only forced the exact version (not `^`)
In my modified dockerfile that would be:

[code]

[2019-08-08 05:41] gubiq commented on #50
@sneakpaw Ah okay, didn't know about the semantics of  `^`. Thanks!

[2019-08-08 12:57] sjorge opened #86 "[bug] hard reset does not clear nodes.json"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: master @ 20190805
Openzwave Version: 1.6.848

**Describe the bug**
An easy one for a change, when triggering a hard reset. The nodes.json file does not get cleared. After adding nodes again they have the same name as the node that was there before.

**To Reprodu

[2019-08-08 13:34] robertsLando commented on #86
Hard reset is an action against the controller, nodes.json are managed by
the application

Il giorno gio 8 ago 2019 alle ore 14:57 Jorge Schrauwen <
notifications@github.com> ha scritto:

--
--

*Daniel Lando - Ufficio Tecnico R&D**daniel@innovation-system.it*

*Innovation System S.r.l. *
*Via Motton, 83 36061 Bassano del Grappa (VI)*

*Sede Operativa *
*Via San Giovanni bosco, 2  36022 Cassola (V

[2019-08-08 13:53] sjorge commented on #86
Correct after hard reset, all associations the controller had are lost.

I'll try go give a better example

network a:

 	* node 1 - controller (label = controller)
 	* node 2 - switch (label = lamp)
 	* node 3 - repeater ( label = )
 	* node 4 - sensor (label = door )

<trigger a hard reset>

network b: (new network after reset, label are still read from
nodes.json)

 	* node 1- controller (label

[2019-08-08 14:42] sjorge opened #87 "[bug] crash on replace failed node"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: master @ 20190805
Openzwave Version: 1.6.848

**Describe the bug**
When trying to replace a failed node, z2m crashes once we success in repalcing the node.

**To Reproduce**
Steps to reproduce the behavior:
1. mark a node as faulty
2. execute a replace failed no

[2019-08-08 14:59] robertsLando commented on #87
This is really strange as to get there the node must be ready and if the node is ready it also should have the values object inited... Does this happens every time you replace a failed node?

[2019-08-08 15:04] robertsLando commented on #87
Ok got it. Seems that the Node Alive notification sets the node ready to true, but the strange thing is that before that call it should first call node added and node ready event...

[2019-08-08 15:11] robertsLando commented on #87
@sjorge  Try now

[2019-08-08 15:31] sjorge commented on #87
The crash is gone now, I did have a quick look at the diff...

Do the proper things still happen for dead nodes now?
I would expect `ozwnode.available` to be false if the node is dead (case 5), but I don't know the ozw internals well.

[2019-08-08 15:37] robertsLando commented on #87
`ozwnode.available` for me means that the node has been inited (node added, values added and node info received). If the node is dead means that at least I have received it's info from controller but the node isn't alive but I have all it's values even if dead.

[2019-08-08 15:37] #87 closed

[2019-08-08 15:53] sjorge commented on #87
👍

[2019-08-08 16:01] sjorge opened #88 "[bug] cannot add multiple entries to gateway table"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: master @ 20190808
Openzwave Version: 1.6.848

**Describe the bug**
It is impossible to add multiple entries to the t able on the gateway tab.
Hitting save between each entry does not help either.

**To Reproduce**

[See video](https://imgur.com/aKd586S)

**Expec

[2019-08-08 16:09] sjorge opened #89 "[feat] Toggle to include/exclude 'location' from mqtt topic."
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to skip the 'location' part of the mqtt topic but still have a name and location set for when changing things inside the z2m web interface.

So the topic would look like `<prefix>/<node>/<param>/...

**Describe the solution you'd like**
An additional toggle box above the table 'Add location to mqtt topic

[2019-08-08 16:22] robertsLando commented on #88
Really strange... Try this (remember to rebuild)

[2019-08-08 16:22] robertsLando commented on #88
Could you also check the console log for errors ?

[2019-08-08 16:28] robertsLando commented on #88
@sjorge Now I have fixed, was a typo

[2019-08-08 16:28] #88 closed

[2019-08-08 16:58] sjorge commented on #88
Doesn't seem fixed, double checked that I pulled in all changes and rebuild everything.

[2019-08-08 17:05] sjorge commented on #88
https://youtu.be/NriB_iJsJ84?t=125

[2019-08-08 17:05] sjorge commented on #88
Exact same effect I can only add the main sensor none of the other properties work.

[2019-08-08 19:33] robertsLando commented on #88
If you are using chrome open browser console logs and check for errors there. That’s strange :(

Daniel

[2019-08-08 19:38] robertsLando commented on #88
Try this please: In Settingns.Vue https://github.com/OpenZWave/Zwave2Mqtt/blob/9424118ffd0c62937f98c9208d6b04692d94a7ab/src/components/Settings.vue#L518

setTimeout(() => {
this.editedValue = Object.assign({}, this.defaultValue);
this.editedIndex = -1;
}.bind(this), 300);

Add ‘.bind(this)’ there

Daniel

[2019-08-08 19:39] sjorge commented on #88
This is what I got in the firefox console it seems to hit a null value:
[code]

[2019-08-08 19:43] sjorge commented on #88
When I try to apply your change I get this when doing the rebuild:

[code]

[2019-08-08 20:59] robertsLando commented on #88
Ok found the bug. Forgot the previous one, remove the “.bind(this)” and fix in this line:

https://github.com/OpenZWave/Zwave2Mqtt/blob/master/src/components/dialogs/DialogGatewayValue.vue#L155

Add “this.” Before “isSensor”: “this.isSensor(...”

Daniel

[2019-08-09 03:06] silfa718 commented on #71
When I go to the gatway to add "New Value", in the "New Items" window, my door sensor is not listed in the device drop down menu.

[2019-08-09 05:51] sjorge commented on #88
Yep, the 2nd change works!

[2019-08-09 06:15] robertsLando commented on #88
Sorry for that, now should be fixed

[2019-08-09 06:16] robertsLando commented on #89
@sjorge Why this? I mean why set a node location and don't add a location to the topic? That should help you to better understand where your values comes from

[2019-08-09 06:18] robertsLando commented on #89
Why node names get long? Just choose shorter node names?

[2019-08-09 06:20] sjorge opened #90 "[bug] BitSet value types are missing"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.2-master @ 20190809
Openzwave Version: 1.6

**Describe the bug**
I noticed a parameter that use to be able to be configure is now missing, this is becasue the field type changed to bitset from int (as it is indeed a bitset).

**To Reproduce**
Look for a node

[2019-08-09 06:25] sjorge commented on #89
It’s handy to have the information available in z2m where I configure the nodes, but the mqtt messages are processed by stuff that has no need for the info. Having a short mqtt topic that is just the node, param and value is nice and simple.

~ sjorge

[2019-08-09 06:31] robertsLando commented on #90
How does bitset works?

[2019-08-09 06:33] robertsLando commented on #90
I haven't any device with this type of value, is it like a number input? Should I configure it like integers values?

[2019-08-09 06:35] robertsLando commented on #90
Try this and let me know if it works

[2019-08-09 06:37] sjorge commented on #90
it is send as an int... but it is stacked I think.

So if you set the first 2 bit, it should send 128+64 = 192, if you set bit 1 and 3 it sends 128+32 = 169

[2019-08-09 06:37] sjorge commented on #90
Oh you already have a test commit ready! I will look at it a bit as I am at work now.

[2019-08-09 06:40] robertsLando commented on #90
So maybe it would be better to input it as a binary value?

[2019-08-09 06:40] sjorge opened #91 "[bug] 'status' topic send for battery devices"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.2-master
Openzwave Version: 1.6

**Describe the bug**
I have manual topic configuration enabled, but for my battery device it sends an additonal one that I did not configure 'status' every time the device wakes up.

**To Reproduce**
- configure a few manual

[2019-08-09 06:41] robertsLando commented on #91
Would you like a toggle to disable status updates?

[2019-08-09 06:45] sjorge commented on #90
I'm not sure how  oz intended these to be implemented Ui wise.
I assume since we have the actualy description and bit indexes in the config, I think the idea is to have a checkbox for each items.

Then just add the bits that are selected and send that as an number?

[code]

bit 1 and bit 4 are selected so 128 + 16 -> send 144

[code]
All bits so send 241

[code]
Bit 2 and bit 3 so 64 + 32 -> send

[2019-08-09 06:49] sjorge commented on #91
That would work yes!

[2019-08-09 06:55] robertsLando commented on #91
Done

[2019-08-09 06:55] #91 closed

[2019-08-09 06:55] robertsLando commented on #89
Done

[2019-08-09 06:55] #89 closed

[2019-08-09 06:56] robertsLando commented on #90
I don't know how ozw shared parses those values, do I have those infos in valueid object? Could you send me the entire valueid of a bitset value?

[2019-08-09 07:04] robertsLando commented on #90
@Fishwaldo Is there a way in OZW 1.6 to get the bitset values labels?

[2019-08-09 08:42] Fishwaldo commented on #90
http://openzwave.com/dev/classOpenZWave_1_1Manager.html#af233d4b0ba7496ba3c9487c62ffae884 With pos set as the position of the bitset you want the label as.

[2019-08-09 08:46] Fishwaldo commented on #90
http://openzwave.com/dev/classOpenZWave_1_1Manager.html#a80edc0086f387233378d2b7c85010f48 GetBitMask tells you which bits are valid and GetBitSetSize tells how the size of the BitSet ValueID.

[2019-08-09 09:40] robertsLando commented on #90
So the steps are:

1. Get the value bitmask. This will return an int32 value like 241 that in binary is 11110001 this means that valid bitset ids are 1, 5, 6, 7, 8,
2. With the valid values id for eachone I call GetValueLabel(valueId, bitset id) that returns the label and GetValueHelp(valueId, bitset id) to get the help

I need to implement this on ozw-shared side

[2019-08-09 09:50] sjorge opened #92 "[bug] Automatically Clear Events is lost after restart"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.2-master 20190809
Openzwave Version: 1.6

**Describe the bug**
[Imgur](https://imgur.com/0CNHOSW)

This is a new thing introduce in ozw 1.6, it will automatically reset security sensors that trip after X ms (default being 5000), this has something to do with

[2019-08-09 10:17] petergebruers commented on #92
The Notification class and how events/states are generated might be trickier than you think. I talk a bit about that in this issue started by gizmocuz, Domoticz maintainer:

"COMMAND_CLASS_ALARM "magic" clear issue"

https://github.com/OpenZWave/open-zwave/issues/1889

[2019-08-09 10:25] petergebruers commented on #92
Forgot to mention... I haven't tested this but because OpenZWave does not write the timers to disk, a restart will indeed drop the auto clear event. But as explained in that issue, not all devices have this auto clear, it depends on the age of the device (to be precise: the version of the Notification CC implemented by the manufacturer).

On a side note ... I would argue that whenever OpenZWave st

[2019-08-09 10:27] Fishwaldo commented on #90
Yep. GetBitSize will tell you if it’s 1, 2 or 4 bytes long as well.

[2019-08-09 11:47] robertsLando commented on #90
@sjorge  I need your help now, I have made a patch for openzwave-shared, I need you to test it

[2019-08-09 11:56] robertsLando commented on #90
Please try to install my patch branch of openzwave-shared :

`npm install OpenZWave/node-openzwave-shared#feature/BitSet` And tell me if you get errors and if not send me the entire valueid object of a value type bitSet

[2019-08-09 12:34] robertsLando commented on #92
@sjorge In my opinion this is something that the device should handle, I think it is not a problem with z2m or underlying libs at all... For sure nothing about z2m.

Please open an issue on Openzwave project. What do you think @Fishwaldo ?

[2019-08-09 12:40] sjorge commented on #90
I'll give this a go later tonight/tomorrow once I am home.

[2019-08-09 12:46] sjorge commented on #92
In my case, the device handles it just fine.
There is a parameter that can be set, the device sends the motion alarm state, after the time defined in the parameter passes, it sends the clear state.

This worked fine on 1.4, but on 1.6 open-zwave sends the clear after 5 seconds, the another clear arrives later once the device has left the alarm state.

So there are potentially 2 things broken here

[2019-08-09 12:57] robertsLando commented on #92
I have no idea... try to check what fishwaldo says about this

Daniel

[2019-08-09 14:50] sjorge commented on #90
@robertsLando I get compile errors using your branch:

[code]

[2019-08-09 15:36] robertsLando commented on #90
@sjorge  It compiles well on my machine :(

[2019-08-09 15:43] robertsLando commented on #90
@sjorge Try now

[2019-08-09 15:47] robertsLando commented on #90
This is on my machine:

[code]

[2019-08-09 17:26] sjorge commented on #90
Different error this time:
[code]

I'll have a look tomorrow to see if I can figure out

[2019-08-09 17:30] sjorge commented on #90
I think both error are the same problem.

[code]

and

[code]

Although I am not sure what they mean, google isn't very helpful.

[2019-08-09 19:40] robertsLando commented on #90
It means just that the call to the methods GetValueHelp and GetValueLabel has wrong parameter, I’m not familiar with C++ but that error means there is a wrong parameter in the call

Here:

https://github.com/OpenZWave/node-openzwave-shared/blob/feature/BitSet/src/utils.cc#L179

The problem maybe is with pos that is uint8 and the method expects and uint32? I don’t know sincerly, you should try to m

[2019-08-09 19:53] sjorge commented on #90
Enjoy your holiday!

[2019-08-10 01:03] Fishwaldo commented on #90
That looks like using version 1.4 of the library which didn’t have BitSet.

[2019-08-10 13:55] sjorge commented on #90
It was compiled from master a week or so ago.

[code]

[2019-08-10 19:25] thundergreen opened #93 "[bug]Danalockv3 recognized as Keypad --> no lock function (Home-Assistant)"
**Version**
latest
Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 1.2.3
Openzwave Version: 1.4.1

**Describe the bug**
A clear and concise description of what the bug is.
I successfuly added my Danalockv3 to Zwave2Mqtt but it entities won't be lock but only sensors (batteery sensor and binary sensor)

**To Reproduce**
St

[2019-08-10 21:41] thundergreen commented on #93
additional infor..

After playing a bit around and searching. I found this:

![image](https://user-images.githubusercontent.com/13320319/62827076-58d94c80-bbc8-11e9-8bd7-6281039edacc.png)
under USER of the node i can control the lock but it won't be added for home assistant.

This might be the bug?

[2019-08-11 12:47] petergebruers commented on #90
Hi! I don't run ZWave2Mqtt but I saw you struggle with the compile so I thought I'd chime in.

That compile error makes sense to me, those function calls return a string. I saw utils.hpp uses a different macro for that. When I replace lines 179-180 in utils.hpp it does compile...

[code]

I cannot tell if it will work, but maybe you can give that a try.

[2019-08-11 13:49] robertsLando commented on #90
Thank you Peter, hope that will fix the error of @sjorge, If so please send a PR with the fix :)

Daniel

[2019-08-12 08:21] sjorge commented on #90
OK, so after editing the line 179-180 in utils.cc (as utils.hpp doesn't have that many lines and utils.cc made more sense) it compiles.

[code]

I did notice however that we are storing the label in help and help in the label? Is that correct? (both the change suggested by @petergebruers and the original code by @robertsLando have this)

[2019-08-12 08:27] sjorge commented on #90
z2m now no longer starts though, it seems to crash enumerating all the initial values.

[code]

@robertsLando just enjoy your holiday and look at this once you get back.

[2019-08-12 08:39] sjorge commented on #90
I did quickly try with help and label variables switch (so help goes in help and label in label) but it exits at the same spot.

[2019-08-12 08:50] petergebruers commented on #90
Oops, yes the .cc file. But it does seem to improve things.

Probably not. I'll make a PR with those vars swapped

https://github.com/OpenZWave/node-openzwave-shared/pull/333

Ah. I am not really collaborating on the node-openzwave-shared so no wise words... Sorry...

[2019-08-12 09:06] sjorge commented on #90
It's probably z2m not handling the value returned by node-openzwave-shared after the warning (probbaly null or something) The error seems to come from https://github.com/OpenZWave/open-zwave/blob/master/config/aeotec/zw100.xml#L121

Which does indeed have a default value of 0 set. 0 does indeed not look like a valid option for that param.

Although z2m should probably still not hard exit if it hit

[2019-08-12 09:42] Lionel642 opened #94 "[question] OpenZwave 1.6 support?"
Hi;

if I clone, the project, build it and run it, using my also build from clone version of OpenZwave (1.6 head), I see all nodes as dead (I copied the ozw cfg file from version 1 store to this version store folder before starting).

Whereas if I use the version 1 of Zwave2Mqtt downloaded from a zip file, then I can see almost all my nodes as alive and it's working. But it is using version 1.4 of

[2019-08-12 14:13] mattgruter opened #96 "[bug] Unable to disable node value polling"
**2.0.2**

Build/Run method
- [x] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.2

**Describe the bug**
It is not possible to disable node polling once that it has been enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable node polling for a Z-Wave node: Configuration -> Gateway -> New Value -> Choose any value V from one

[2019-08-12 14:15] mattgruter commented on #96
See bugfix in PR #95

[2019-08-12 18:46] pbathuk opened #97 "[bug] HA intergation / MQTT not retained"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.2
Openzwave Version: 1.4.1

**Describe the bug**
When I have z-wave docker already running (built off the latest commit) and restart the Homeassistant docker the auto discovery does not work and all items appear missing, until I either restart the z-wave doc

[2019-08-13 06:45] fracarvic commented on #94
Hi, I have version 2.0.2 working perfectly with OpenZwave1.6.

 I'm using node docker image (based on debian) with openzwave.com packages (1.6.878), and build project with npm, and all seems ok.

[2019-08-13 08:05] mattgruter commented on #97
@pbathuk Could you check that you have the `Retain` flag checked in the Configuration->MQTT section? Without that option, a restart of HA would show your observed behavior.

[2019-08-13 11:44] pbathuk commented on #97
I'll check as soon as I'm back on my home network :)
Thanks

[2019-08-13 16:37] silfa718 opened #98 "GE Smart Motion Switch, no motion sensor in Home Assisant"
**Version**

Build/Run method
- [x ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 1.2.3
Openzwave Version: 1.4.1

I have a GE Smart Motion Switch:

The motion sensor of this switch is not discovered in Home Assistant. What gets discovered is 2 alarm_burgalr and 2 alarm_levels, and 2 switches.

I get this from the json file export from the ga

[2019-08-13 17:28] pbathuk commented on #97
I just checked and retain is turned on Under that setting menu.

[2019-08-13 18:52] mattgruter commented on #97
Thanks for checking.
Does home-assistant MQTT configuration include these lines?

[code]

Which version of home-assistant are you using?

[2019-08-13 20:09] pbathuk commented on #97
I'm on home assistant 97.2.
I don't have the birth / will messages, I setup z-wave through the interface, should I manually add the above to my config?

[2019-08-13 20:34] pbathuk commented on #97
So I can confirm adding Mqtt in the config & having the above with retain: true worked perfectly.

However one thing to note: I have my homeassistant topic setup as
homeassistant

However for auto discovery to work I have to use
hass

`discovery_prefix: homeassistant
   birth_message:
    topic: 'hass/status'
    payload: 'online'
    retain: true
    qos: 2
  will_message:
    topic: 'hass/status

[2019-08-13 20:34] pbathuk commented on #97
I'll close this, however might want to have a note that Mqtt must be manually setup and Hass topic used for the birth / will. :)

[2019-08-13 20:34] #97 closed

[2019-08-15 05:29] tagno25 opened #99 "[bug] constant crash after startup with ZW095"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.2 / commit a521889
Openzwave Version: 1.4.1

**Describe the bug**
Crash on start after adding Aeon ZW095-A (Home Energy Meter)

**To Reproduce**
Steps to reproduce the behavior:
1. Add Aeon ZW095-A
2. restart docker container
4. crash after controller become

[2019-08-16 01:19] ratatine opened #100 "[bug] External switch on door sensor not handled"
Running on Raspbian Buster on an RPi 3
Zwave2Mqtt version: 2.0.2 (github clone)
Openzwave Version: 1.6-881-ga2f8a143-dirty (github clone)

The sensors I'm using are Linear/Nortek/GoControl WADWAZ-1 door/window sensors with an external switch feature. The default is to use a reed switch and magnet but internally they have contacts for connections to open/close circuit detection. I have these hardwi

[2019-08-16 04:48] tagno25 commented on #99
After examining the log it seems like nodes 2-16 become ready (web interface didn't update), then when node 17 becomes ready the crash occurs.  Node 17 is the ZW095-A.

The server acts normally, when I remove the ZW095-A.

[2019-08-16 16:22] ratatine commented on #100
I thought I'd add this spec doc that says what the alarm values represent. If this is really an openzwave issue please advise but I last used these in HA on OZ and had no issue getting this value. https://www.nortekcontrol.com/pdf/manuals/WADWAZ_install.pdf

The Alarm Event value will either be 0x02 for the reed switch or 0xFE for the external switch. The value will be 0x00 for closed and 0xFF for

[2019-08-18 04:55] 917huB commented on #71
`Device ID (114-1-3)`

<img width="824" alt="device-id" src="https://user-images.githubusercontent.com/22522964/63220336-c7268d80-c139-11e9-8226-aa114f187bfd.png">

[2019-08-18 11:25] brettyj opened #101 "[question] HASS Discovery and door locks"
Hey,

I've been playing with the hass discovery, and it works well. The problem is my door lock is reported as a binary sensor, so it reports its state to HASS but I can't control it from HASS. How do I fix this?

Thanks

[2019-08-19 02:26] iAutom8 commented on #68
First off, Excellent project!

I appear to have a similar issue with my AEON ZW098.  I have Dimmer but no RGB.  Here are the discovery payloads in MQTT for it :

`homeassistant/light/Bunkie-LED/dimmer/config: {"schema":"template","brightness_template":"{{ (value_json.value / 99 * 255) | round(0) }}","state_topic":"zwave/Bunkie/LED/38/1/0","state_template":"{{ \"off\" if value_json.value == 0 else

[2019-08-19 03:07] iAutom8 opened #102 "[bug] ZW100 MultiSensor Temperature Scale issue"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: Latest Docker Image

**Issue**
I started using Zwave2Mqtt and has been working great but noticed that my  ZW100 (AEON  Labs MultiSensor 6) is set to report in Celsius but keep getting readings in Fahrenheit.  I noticed this is also true in Zwave2Mqtt control pan

[2019-08-19 03:37] iAutom8 opened #103 "[bug] HASS Integration - ZW095 Power reading cycling to other readings"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: Latest Docker

**Issue**
I have an AEON Labs ZW095 Home Energy Meter Gen5 which seems to be working ok sending MQTT payloads.  However, in HASS with Discovery, the device entity for Power iscycling through a few readings (kWh, V, seconds).   From digging around

[2019-08-19 04:19] silfa718 commented on #71
How did you get the device id?

[2019-08-19 06:21] robertsLando commented on #90
@sjorge @petergebruers  Wait I don't understand what you did in your PR. My intention was to obtain something like:

[code]

With the fix suggested by @petergebruers He is storing help and label in value and that is not correct. You need to store help and label in two strings and than create a NaN object with the properties label and value set to those values.

[2019-08-19 06:22] robertsLando commented on #92
I have no idea... try to check what @Fishwaldo says about this

[2019-08-19 06:26] #93 closed

[2019-08-19 06:27] robertsLando commented on #93
@thundergreen check it now

[2019-08-19 06:29] robertsLando commented on #94
@Lionel642 the project is still using version 1.4 of openzwave in docker image but the devices db is fetched from master so it is the latest. The reason why it is not using 1.6 is because 1.6 has been released in latest months and not all things are ready yet oin ozw shared that is the nodejs wrapper for ozw

[2019-08-19 06:29] #96 closed

[2019-08-19 06:30] robertsLando commented on #98
What is the id of the value? @silfa718

[2019-08-19 06:30] sjorge commented on #90
I only needed 1 change for it to compile on top of your changes:
https://github.com/sjorge/node-openzwave-shared/commit/e67113e009d7443a7cb87d5e8a09bcc8b371922b

This resuled in z2m terminating (no core).

I also tried with swapping help and label:
https://github.com/sjorge/node-openzwave-shared/commit/2459837d1fa6c67a965809b351cb5818d886784b

But the result was the same.

[2019-08-19 06:33] robertsLando commented on #99
Do you have any possibility to run the instance using nodejs instead of docker way? I can't understand the error here @tagno25

[2019-08-19 06:34] thundergreen commented on #93
Will check this. Has it been pushed already as I am using it with home-assistant. The sensor shows the state of the lock. But let me check this first and I'll report

[2019-08-19 06:37] thundergreen commented on #101
Has been fixed here apparently. https://github.com/OpenZWave/Zwave2Mqtt/issues/93

did not het the time t check this. maybe you can give it a shot?

[2019-08-19 06:40] robertsLando commented on #99
I think you might have some errors in your nodes.json file. Try to rename it (like `nodes_bck.json`) and check if it still crash

[2019-08-19 06:51] robertsLando commented on #90
Should ask to @ekrak to take a look to it

[2019-08-19 06:57] robertsLando commented on #100
@ratatine Did you try to use ozw 1.4 instead of 1.6?

[2019-08-19 06:58] robertsLando commented on #101
@brettyj This is fixed now, check latest commits :)

[2019-08-19 07:00] robertsLando commented on #102
Did you changed that setting on runtime? I mean the temperature scale value. When you change that setting you have to remove your device from the network and add it back to get the correct values updated

[2019-08-19 07:01] robertsLando commented on #102
Anyway this is not a bug with z2m so I'm going to close this. Please try to remove and add your device back to check if the value cahnges the scale

[2019-08-19 07:01] #102 closed

[2019-08-19 07:11] robertsLando commented on #103
@iAutom8 Check with latest fix

[2019-08-19 07:26] sjorge commented on #90
These warnings make sense though:
[code]

As the config has the default set to `0` which is indeed not a valid BitMask. But z2m should probably not crash on it (and just show everything as unset?)

[2019-08-19 08:10] robertsLando commented on #90
Maybe I got it, I think we should add 1 to the bit index, let me try

[2019-08-19 08:17] robertsLando commented on #90
@sjorge check this f25d453b111e750be0f9fd0abb2923fe80a81298

[2019-08-19 08:20] sjorge commented on #90
Will try tonight, depending on how late I am home.

[2019-08-19 08:23] sjorge commented on #90
So latest commit of z2m or of the node bindings? Just to be sure I update the right thing.

[2019-08-19 08:24] robertsLando commented on #90
@sjorge https://github.com/OpenZWave/node-openzwave-shared/commits/feature/BitSet

[2019-08-19 09:30] sjorge commented on #90
[code]

Install works OK, lets starting z2m... still stops when it hits the value... but the warning is gone now though!

[code]

[2019-08-19 09:33] robertsLando commented on #90
Try to run npm install with `--debug` option to check if there are more info about the error

[2019-08-19 09:55] sjorge commented on #90
I assume you mean npm start with --debug?

[code]

[2019-08-19 10:42] robertsLando commented on #90
Nope, I mean npm install —debug

This should build the binding with debug enabled  but don’t know if will show something useful

Daniel

[2019-08-19 11:45] sjorge commented on #90
No extra output when install with --debug.

[2019-08-19 11:54] robertsLando commented on #90
I think it's an error with NaN, need to investigate how to assign an object property to an object properly

[2019-08-19 15:18] ratatine commented on #100
I did not. Is it backwards compatible or will I have to re-pair everything if I switch the device over to 1.4?

[2019-08-19 15:34] ratatine commented on #100
I'm reading this issue and some of the commentary harks to this behavior. The fact that the sensor uses the same value to represent multiple things. However I'm not nearly well enough versed on OZW to judge: https://github.com/OpenZWave/open-zwave/issues/1889

[2019-08-19 16:29] ratatine commented on #100
Here's a log from MinOZW:

2019-08-19 11:20:07.893 Detail, Node033, AdvanceQueries queryPending=0 queryRetries=0 queryStage=None live=1
2019-08-19 11:20:07.893 Detail, Node033, QueryStage_ProtocolInfo
2019-08-19 11:20:07.893 Detail, Node033, Queuing (Query) Get Node Protocol Info (Node=33): 0x01, 0x04, 0x00, 0x41, 0x21, 0x9b
2019-08-19 11:20:07.893 Detail, Node033, Queuing (Query) Query Stage Comp

[2019-08-19 17:07] iAutom8 commented on #102
Thanks, I will give that a try.

[2019-08-19 17:07] ratatine commented on #100
Just to highlight, I think these are the relevant data points:
Received: 0x01, 0x10, 0x00, 0x04, 0x00, 0x21, 0x0a, 0x71, 0x05, 0x07, 0x00, 0x00, 0xff, 0x07, 0xfe, 0x00, 0x00, 0xb5
Received: 0x01, 0x10, 0x00, 0x04, 0x00, 0x21, 0x0a, 0x71, 0x05, 0x07, 0xff, 0x00, 0xff, 0x07, 0xfe, 0x00, 0x00, 0x4a
                                                                      ^ open/close            ^ externa

[2019-08-19 17:29] iAutom8 commented on #103
I'll have a look tonight and get back to you.  Thanks again

[2019-08-20 00:20] Fishwaldo commented on #100
The device is sleeping - ApplicationCommandHandler - Unhandled Command Class 0x71

After restarting your device you have to wake it up so it progresses past the Cacheloas QueryStage or wait till the wakeup interval expires and try again.

And try to see if any configuration option to change it from Basic Set/Report to say Another type (BinarySensor etc)

[2019-08-20 00:54] ratatine commented on #100
The sleep status hasn't caused any problems as far as I am aware. The issue isn't the 0x71 report but the fact that it won't register the external switch contact sensor in the device. 0x02, the second one is the internal switch. 0xfe is the external switch. 0x02 is handled but 0xfe is not. The only thing that shows up in zwave2mqtt is the 113-1-257 reports an "Unknown Incident" and then goes back

[2019-08-20 01:05] ratatine commented on #100
Here's the zwave2mqtt debug output after the device has moved passed cacheload:

_**Internal switch closed**_
2019-08-20T00:58:04.083Z z2m:Zwave zwave node 33: changed: 48-1-0:Sensor:true -> false
OpenZWave Warning, Node033, Routing HandleIncomingMsg to HandleMsg - Please Report: COMMAND_CLASS_BASIC
2019-08-20T00:58:04.129Z z2m:Zwave zwave node 33: changed: 113-1-7:Home Security:Clear -> Intrusion

[2019-08-20 03:39] silfa718 commented on #98
value_id":"112-1-6"

[2019-08-20 05:46] 917huB commented on #71
Go to ZWave2MQTT control panel > settings.
Under Hass Discovery click 'new value' text
Device field = selected the incorrect device
Value = Device ID
topic = "monoprice door"
Save.
You should see the device list populate as per my screen shot above.

I have some other oddities in my list, for example
![2019-08-19 22-45-58](https://user-images.githubusercontent.com/22522964/63320626-34b9f180-c2d3-1

[2019-08-20 09:33] mattgruter commented on #97
You're right. The topic prefix should be changed to `homeassistant/` to reflect the default configuration of home assistant (https://www.home-assistant.io/docs/mqtt/discovery/).
Thanks for testing and pointing this out.

[2019-08-20 10:35] silfa718 commented on #71
@917huB  thanks for the instructions.

Here is my list:
![Screenshot 2019-08-20 at 6 28 26 AM](https://user-images.githubusercontent.com/24217411/63340145-630bf100-c314-11e9-82ca-ff8a1b87ee66.png)

Node 16 is my door sensor, but doesn't have a product name, which doesn't show up under the device field drop down menu.

[2019-08-20 14:24] tagno25 commented on #99
That was my issue, thanks

[2019-08-20 14:24] #99 closed

[2019-08-20 22:50] ratatine commented on #100
The results with ozw1.4 are different. It shows what HA shows.

With 1.4 I get:
48-1-0 (sensor): true/false - internal switch only changes this value
113-1-0 (alarm type): 7 - unknown this might be internal tamper?
113-1-1 (alarm level): 0/255 - changes with both external AND internal switch
113-1-10 (burglar): 2/254 - this reflects which switch triggered, 0x02 for internal and 0x254 for external

[2019-08-21 01:34] #100 closed

[2019-08-21 06:36] robertsLando commented on #103
@iAutom8 any updates on this?

[2019-08-21 10:23] foxy82 opened #104 "[question] Setting up Fibaro Dimmer with Home Assistant"
I'm on zwave2mqtt 2.0.2 and i'm trying to setup a Fibaro Dimmer 2 and seem to hit some problem.

The documentation isn't clear but if using home assistant auto discovery do I need to set the Payload Type to "Entire Z-Wave Value Object"? As it seems that the auto discovery template that appears on a node is expecting a JSON object?

It seems that changing this setting in the gateway config doesn't

[2019-08-21 11:18] sjorge commented on #90
I'm not great with C(++) so I don't think I can be much help on that front, but if you have thins you want me to try. Shoot, and I will do my best.

[2019-08-21 11:20] sjorge commented on #94
Same from my experience, 1.4 is overall pretty stable. With 1.6 I am still having a lot of issues, although it is improve thanks to bugs reports and quick fixes from @robertsLando.

So if you see particular things that are broken, it might be worth filing bugs.

[2019-08-21 11:51] Fishwaldo commented on #94
Regarding comments around using config files from master. That will not work. The config files formats are different between 1.4 and 1.6. Things will break.

[2019-08-21 13:51] iAutom8 commented on #103
Sorry.  I tried rebuilding the Docker image and it the resulting container using the image would start but then nothing would happen.  I am doing it on a RPi2  and it was very slow to build.  I will try again as soon as I have a chance.

[2019-08-21 15:35] thundergreen commented on #101
@robertsLando  could you please push a new release then as hassio needs release to update its component automatically

[2019-08-22 07:18] foxy82 opened #105 "[bug] Fibaro Roller Shutter HA integration - discovers as a light"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.0.2
Openzwave Version: 1.4.1

**Describe the bug**

I have added a Fibaro Roller Shutter 2 to my network with HA inegration enabled. The roller shutter is reported as a light to HA.

**Expected behavior**
A clear and concise description of what you expected to

[2019-08-22 08:12] foxy82 opened #106 "[question] What do I need to do to call BRIGHT / DIM buttons?"
In the UI I can see Bright / Dim buttons for my Fibaro Rollershutter. When I click them it opens/closes the shutter. What do I need to send on MQTT to do the same?

I've tried ON, OFF, on, off, On, Off, TRUE, True, true, FALSE, False, false, 0, 1, BRIGHT, Bright, bright, DIM, Dim, dim. None of them seem to work.

[2019-08-22 08:46] foxy82 commented on #105
This config works for the position.

`
cover:
  - platform: mqtt
    name: "MyWindow"
    command_topic: "zwave2mqtt/MyWindow/38/1/0/set"
    position_topic: "zwave2mqtt/MyWindow/38/1/0"
    set_position_topic: "zwave2mqtt/MyWindow/38/1/0/set"
    value_template: "{{ (value_json.value / 99 * 100) | round(0) }}"
    position_open: 99
    position_closed: 0
    #payload_open: "up"
    #payload_close

[2019-08-22 11:45] robertsLando commented on #98
112 class is for configuration values that's why it isn't discovered. You have to manually add it

[2019-08-22 11:45] #98 closed

[2019-08-22 11:55] robertsLando commented on #104
@foxy82 Hass integration works with all gateway types as it parse discovery templates based on the gateway type. Changing that configuration should force a new publish as when you click on "Update" from settings all connections are closed and a new scan starts on zwave network like at start.

[2019-08-22 11:55] #104 closed

[2019-08-22 11:56] robertsLando commented on #106
For buttons send boolean `true`. Example: `{value: true}`