[2020-01-13 21:38] beanz commented on #196
@Fishwaldo tagging you on this question as requested by @robertsLando.

Thanks!

[2020-01-13 22:24] beanz commented on #196
I think I see how it can be done currently. (I'd test it now but my family are going to sleep in all the rooms with dimmers and might not appreciate it. I'll test it tomorrow.) I'd have to send three messages:

1) Send the duration to topic `zwave2mqtt/<node-id>/38/1/5/set`,
2) Send the level value to topic `zwave2mqtt/<node-id>/38/1/0/set`, and
3) Send the default duration value (255) to topic `z

[2020-01-13 22:33] twochannel commented on #198
Thanks for the replies.  I assumed since the manufacturer showed up in a non-secure pairing, it would be fine when paired securely.  I did the refresh node info then woke the device up and it did not populate the correct info.  FWIW on native home assistant integration it showed correctly when paired securely.

[2020-01-13 22:35] twochannel commented on #197
Thank you, I think I could do that but the ease of discovery is very compelling and wanted share what I was experiencing.

[2020-01-14 00:28] gertvdijk opened #199 "[question] How to use customDevices.(js|json)?"
I've tried a lot to get customDevices to work (https://github.com/OpenZWave/Zwave2Mqtt/issues/146#issuecomment-567947829). Using 2.1.0-dev, this is my attempt (JSON) that loaded but does not seem to take any effect:

[code]

Device is `0371:0003:00af` in Open-Zwave logs - which should match `881-3-175` numerically - and I'm trying to override the RGBW stuff with a simple switch (context: https://g

[2020-01-14 07:18] robertsLando commented on #197
@twochannel Can I close this?

[2020-01-14 07:23] robertsLando commented on #199
@gertvdijk All steps should be ok the only thing I can tell you is to check the deviceid, it should show up in settings in gateway section when you try to add a value to the gateway values table first dropdown shows all devices with their id. Also after this go to the control panel and check in hass devices table of your node to see if the discovery payload is correct

[2020-01-14 07:25] robertsLando commented on #196
@beanz That is what I meant when I said:

Let me know

[2020-01-14 08:51] julien-w commented on #64
I've this problem. After un-checking the "Hass discovery" in settings and saving them...
And permissions seems to be OK.

[2020-01-14 09:08] robertsLando commented on #64
I’m not able to reproduce this problem. Could you provide more info about the version running?

Daniel

[2020-01-14 09:13] julien-w commented on #64
Just edited my first message above, I'm on docker with latest-dev since a few days (used my own build before to have OZW 1.6).

I'm using this docker-compose:
version: "3.7"
services:
  zwave2mqtt:
#    build: Zwave2Mqtt-source/.
    image: robertslando/zwave2mqtt:latest-dev
    user: "0:0"
    restart: always
    tty: true
    stop_signal: SIGINT
    networks:
      - zwave
    devices:
      - "

[2020-01-14 09:24] julien-w commented on #64
I can reproduce this problem by modifying Hass discovery or Retain discovery in the settings.

[2020-01-14 14:54] twochannel commented on #197
Well, I'd like it to work as expected. I know discovery is beta so maybe I can help with some direction.  From what I can tell the zwave part of the app looks correct. I didn't see any errors in processing of the zwave messages. Is the mapping of zwave status to mqtt topic/messages something definable through a configuration or is it in the logic of the app? I'm happy to update a config or do more

[2020-01-14 19:25] beanz commented on #196
Okay. The non-atomic process I described does work. When you say "Z2M provides a generic gateway that maps values from zwave<-->mqtt", I think it maps from mqtt specifically to the openzwave API since as you can see from the code I referenced the wire protocol to the controller permits sending the duration atomically with the value. The way the duration is handled is specific to openzwave not the

[2020-01-14 20:11] twochannel commented on #197
I dont know much about javascript but I poked around a bit and I think the alarm type in the switch statement in gateway.js may be why its only publishing topics for level (0), alarm (1), and burglar (10). I'm researching  the flood type but wanted to verify 8 is the correct type identifier since I'm seeing 5 mentioned as flood in some home [assistant](https://www.home-assistant.io/docs/z-wave/ent

[2020-01-15 00:08] Fishwaldo commented on #197
This file contains the list of alarm type id’s:
https://github.com/OpenZWave/open-zwave/blob/master/config/NotificationCCTypes.xml

8 seems wrong. The OZW logs should tell you what alarm types are supported/triggered by the device.

[2020-01-15 00:15] Fishwaldo commented on #196
Everything in OZW is essentially exposed as a value. In this case, as long as a device supports specifying dim duration, a duration value is exposed.

You have to be aware of the order of setting values. If Z2m is setting the duration value “after” the level, then of course it will not take effect (but will for the next level set and so on”).

Sending them in a atomic fashion may mean your left to

[2020-01-15 01:27] twochannel commented on #197
Ok I will look for that. Will that be in the logs on inclusion or just during normal reporting? and will it be some byte sting or something more human readable?

Perhaps this?
`2020-01-13 01:12:32.295 Detail, Node013, Decrypted Packet: 0x00, 0x71, 0x05, 0x00, 0x00, 0x00, 0xff, 0x05, 0x02, 0x00`
`2020-01-13 01:12:32.301 Detail, `
`2020-01-13 01:12:32.305 Info, Node013, Received Alarm report: type=0

[2020-01-15 07:19] robertsLando commented on #196
@beanz If you look at the code you previuosly pointed me to:

[code]

You can see that the args of the method `SetLevel` are `instance` and `level`. There is no `duration` parameter because it is fetched by another valueid here

[code]

This is what I mean when I say 'It is take from another configuration value" Because duration is a configuration value of the device.

[2020-01-15 07:23] robertsLando commented on #64
@julien-w Sorry but in all my instances I never expected such problem... The problem should be related for sure to some kind of permission issue, the only directory where z2m writes is the `store` directory so you should just ensure that everything is writable there

[2020-01-15 07:51] ilharts commented on #199
@gertvdijk I think the correct id is 881-175-3, at least if I chose the right device in the OpenZWave config.

https://github.com/OpenZWave/open-zwave/blob/07acd313435998c2740257cc5f71c1bb8a27cb43/config/manufacturer_specific.xml#L220

[2020-01-15 09:45] robertsLando commented on #50
@Fishwaldo Is there a reason why there could be a central scene update and I don't get a `value_change` event in ozw 1.6?

[2020-01-15 12:32] julien-w commented on #64
Juste tryed on docker :latest, i've the same problem (using the same directory).
I'll check again permissions, thank you.

[2020-01-15 18:29] craigrallen opened #201 "Unidentified device, but has a definition config/fibaro/fgwd111.xml"
A device is included as an unknown device, but has an Open-Zwave definition file as per issue [#1873](https://github.com/OpenZWave/open-zwave/pull/1873)

I've included a device, but it is not identified. Also tried rediscovering the device with (Refresh Node Info). The unit is a Fibaro Walli Dimmer, but when including it doesn't identify and shows some of the Home Assistant devices, one comes up a

[2020-01-15 22:59] Mdleal opened #202 "Can not add Secure devices."
Version: 2.1.0 on docker
Devices: First Alert smoke detector, kwikset lock

I've added 3 secure device and non have added securely. I have the key in place and added the device within inches of the aeon stick. What kind of logging do I need to turn on to help figure out what's going on?

[2020-01-15 23:00] Dinth commented on #172
Hey. Thanks for all the help with this.
Ive been advised to rebuild my Zwave network from scratch and so did i. I have replaced some older nodes with new ones, bought few more, got a Fibaro HC to update firmware on my Fibaro nodes and started from scratch.
So far i have just done about 1/3 of my house, starting from the side where controller is, so all the nodes are fairly close to each other and

[2020-01-16 07:15] robertsLando commented on #202
@Mdleal the secure flag that you see in control panel is not always correct because it depends on a valueid that not all secure devices have. So it could be possible that you added it securely and you see a false flag on the control panel

[2020-01-16 07:16] robertsLando commented on #201
@craigrallen This could happen sometimes when there are errors while scanning, try to call the api 'refresh node info` against the unknown node

[2020-01-16 07:31] robertsLando commented on #188
@Dinth Unfortunally it's not that easy to identify devices in zwave and create hass instances according to this, this is why I have created `hass/devices.js` file, it would become like a database where users can contribute to identify 'non-standard' devices that z2m isn't able to identify automatically

[2020-01-16 08:29] Dinth commented on #172
Ah yes, I have already updated to 2.1.0 and enabled autoheal.
I will try to switch it off and see what happens.

[2020-01-16 10:41] craigrallen commented on #201
Hi,

I tried to refresh node a couple of times. I also added a second identical device and it came up as unknown as well.

It seems to be some other issue that the device isn't recognized, because it is now two identical units that are showing unknown.

[2020-01-16 11:28] shbatm opened #203 "[bug] Home Assistant 0.104 breaks Lock State Discovery"
**Version**
Docker: robertslando/zwave2mqtt:latest

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 1.2.3
Openzwave Version: 1.4.1

**Describe the bug**
Home Assistant release 0.104 added a separate state value to MQTT Locks. The state is no longer correctly reported using the default discovery payload.

**To Reproduce**

[2020-01-16 12:07] fatmcgav opened #204 "[question] How to add Popp smoke alarm"
Hi there,

I'm trying to include a Popp [Smoke alarm](https://www.popp.eu/products/sensors/smoke-sensor/) to my Zwave network using Zwave2Mqtt. The device is powered by a 240V AC mains adapter so it's not a battery sleep issue AFAIK.

However when I try and include the device, it fails.

The logs for the inclusion attempt look like:
[code]

Any ideas what the issue could be?

[2020-01-16 17:26] robertsLando commented on #201
@Fishwaldo

[2020-01-16 17:27] robertsLando commented on #203
@shbatm Would this change break old hass instances?

[2020-01-16 17:27] robertsLando commented on #204
@Fishwaldo

[2020-01-16 23:26] Mdleal commented on #202
I can not control the locks via mqtt or HA. Here is the device in zwcfg.
[](https://pastebin.com/MSnYMN8J)

[2020-01-17 02:20] twochannel commented on #197
I changed Gateway.js to have a case for 8 for water_sensor so now I see a config topic for the flood sensors and home assistant picked them up. When I tested tonight I was not getting different values.  Each time I tested I never saw the expected value of 2. So maybe something is up with either the sensor or the pairing. I may try a new battery and a exclude/include to see if I get the right value

[2020-01-17 03:05] shbatm commented on #203
I don't think so (I think it'd just ignore those keys), but I will check it against my dev instance when I get a chance tomorrow.

[2020-01-17 05:11] Fishwaldo commented on #202
You need to ensure a network key is set and it’s added securely.

[2020-01-17 05:44] Fishwaldo commented on #201
OZW 1.4 is no longer updated. The config you reference are in 1.6.
@robertsLando could you please drop 1.4 support, or at least make 1.6 the default. This is causing issues all over the place.

[2020-01-17 05:48] Fishwaldo commented on #197
Is this OpenZWave 1.4 or 1.6? The alarm class was rewritten in 1.6 and the index values are difference.

I don’t support 1.4 anymore

[2020-01-17 05:52] Fishwaldo commented on #204
The stick won’t go into inclusion mode. Power cycle etc it and see if that helps.

[2020-01-17 05:53] Fishwaldo commented on #172
Auto heal is possibly the worst thing todo. Please disable it and remove the option all together.

You should only heal when adding/removing devices or physically moving a mains powered device.

[2020-01-17 07:27] robertsLando commented on #201
I wish but If I do this all people using z2m with Ozw 1.4 will have to remove and add back all nodes of their network and maybe someone will stop updating instead of doung this

Daniel

[2020-01-17 07:57] Fishwaldo commented on #201
Then please stop tagging me on 1.4 issues. 1.6 has been out almost 12 months. I'm starting on 1.8 soon. I can't continue to support 1.4 (and it has bugs/issues that have been fixed in 1.6)

eh? That does not make sense. The network is stored on the stick. If you start ozw 1.6, it will just work with existing nodes. No need to exclude/include devices.

Other things like the discussion around #197 a

[2020-01-17 08:10] Dinth commented on #172
Sorry, i have just noticed that i never actually saved my config after enabling autoheal, so it was never enabled. I will keep it off as per @Fishwaldo advice, although it shouldnt make a difference for me, as according to this every node sees all other nodes anyway.
![Screenshot from 2020-01-17 08-09-03](https://user-images.githubusercontent.com/313674/72595035-dd12c700-3900-11ea-904f-2e1fbf85fce

[2020-01-17 08:32] robertsLando commented on #203
@shbatm Please let me know if hass rejects the discovery payload if it identify unknown keys because I remember that unknown keys could cause the payload reject afaik

[2020-01-17 08:36] robertsLando commented on #172
@Dinth Love that mesh graph :heart_eyes: . Dunno why but on most my instances most of my devices only see the controller even if they are close (no battery devices). @Dinth would you mind to send a PR to update the mesh graph screenshot? Or just add it here and I will do it my own... Just send the same image with the entire interface

[2020-01-17 08:39] robertsLando commented on #201
@Fishwaldo users that have upgraded from 1.4 to 1.6 usually had to recreate the entire network because after the upgrade all devices are shown as sleep

[2020-01-17 08:56] craigrallen commented on #201
How do I enable ozw 1.6 in the Home Assistant z2m version? I just thought it ran 1.6 as default?

[2020-01-17 09:03] robertsLando commented on #201
@craigrallen If you are using docker switch to latest-dev tag

[2020-01-17 09:08] craigrallen commented on #201
I'm using the standard Home Assistant build of HassOS and community download of z2m through the Home Assistant Lovelace interface, on a raspberry pi. Is this install of z2m in that instance docker based?

[2020-01-17 09:23] Fishwaldo commented on #201
Sleeping devices just need to be woken up. You would have exactly the same experience as restarting OZW 1.4.

As you can see - people are migrating to Z2m expecting OZW 1.6 and they are not getting it. It is frustrating a lot of users over there.

[2020-01-17 09:33] craigrallen commented on #201
I just moved form the home assistant native to z2m to get it to work with devices I saw definition files for. To be honest if can't have it on 1.6, I'll move back to the native version on home assistant because it doesn't require all the extra effort to manage MQTT without any benefits.

[2020-01-17 09:35] Fishwaldo commented on #172
Just FYI - https://community.home-assistant.io/t/z-wave-graph-without-the-python/64275/278?u=fishwaldo

[2020-01-17 09:46] robertsLando commented on #201
@craigrallen I don't know what the Hass Lovelace interface makes you download, I think it downloads [this](https://github.com/hassio-addons/addon-zwave2mqtt/blob/master/zwave2mqtt/Dockerfile) ? That is not maintaned by me, try to update to the latest version 2.1.0 please and let me know

[2020-01-17 09:47] robertsLando commented on #201
I also got many issues from users updating to 1.6 and saw lot devices not working anymore that is why I hadn't still removed the 1.4 support. Also hass afaik is still using ozw 1.4 am I wrong?

[2020-01-17 09:48] Dinth commented on #172
Thanks @Fishwaldo. Could you please say little bit more about those extended statistics? Thanks sounds like something what could help me troubleshoot my issues and Z2M is already based on OZW1.6 so those should be accessible somehow?

[2020-01-17 09:49] robertsLando commented on #201
@Fishwaldo For me removing ozw 1.4 support would be fine and would make it easier for me but I must be sure everything works as expected... If you confirm that this will not break anything I will remove supoort from next versions

[2020-01-17 09:50] craigrallen commented on #201
Yep, Hass is using 1.4 natively and it's buggy and a lot of devices aren't fully recognized. There is work going on to build a 1.6 version as far as I can see from researching it, but it's not ready yet.

[2020-01-17 09:53] craigrallen commented on #201
This is the community version I'm using

https://github.com/hassio-addons/addon-zwave2mqtt

[2020-01-17 09:55] robertsLando commented on #201
@craigrallen Main reason why hass users are using zwave2mqtt is because it allows to prevent full network scans (that could take very long in large networks) when you restart hass. Now as I said the OZW 1.6 is already available [here](https://hub.docker.com/layers/robertslando/zwave2mqtt/latest-dev/images/sha256-1e719efe779801994a167d1dc73323edea8560bc4a51e8d99d5ce8e0b0d954df) you could choose to

[2020-01-17 09:55] robertsLando commented on #201
@craigrallen So just update it as you are using 2.0.6 version and the latest is 2.1.0

[2020-01-17 12:34] twochannel commented on #197
It is OpenZwave Version 1.4.3496, I'm using the zwave2mqtt docker container and this is what came with it.

Thanks for keeping an eye on this thread.  I don't think I have an ozw issue since this worked w/ native home assistant which is 1.4.  The only odd thing are those device alarm reports w/ no changing values.  Hope to replace battery tonight and maybe repair.

[2020-01-17 12:54] robertsLando commented on #197
@twochannel Use latest-dev docker tag instead of latest, latest-dev uses ozw 1.6

[2020-01-17 14:25] Mdleal commented on #202
Network key is set but I do not get the secure pop up when adding a device. I have tried removing the key and re-adding it. I'll create a new one and try again.

[2020-01-17 18:16] pulgagr commented on #203
Mine is broken as well.
It is using lock: platform: mqtt.
And as soon as I have updated to 104, it will only change the status to unlocked. To change back to locked I have to go to Developer Tools, States, find my lock and type locked to set the state, but as soon as using home assistant to unlock it again it remains that way forever.

[2020-01-18 00:34] shbatm commented on #203
@pulgagr -- You can make the change I listed in the bug description manually in the zwave2mqtt web page--this will restore the functionality in 0.104.  You'll need to:
 a) edit the payload for the _lock device.
 b) Click Update and then Store on the same page.
 c) Click rediscover
 d) Delete the entity from HASS (I removed it using the Integrations page).
 e) Restart HASS.

You should be able to d

[2020-01-18 00:36] shbatm commented on #203
@robertsLando -- I tested this with my dev instance and you're right, HASS rejects the payload.  Tested with 0.97.0b1.

[code]

[2020-01-18 04:52] Fishwaldo commented on #172
You have to have a fairly new stick (now 700 series and not the zstick S2). And you should see in the logs a message about TxStatus very often. The actual details are published as statistics for each node. (The route a packet took, speed, rssi levels etc).

See http://www.openzwave.com/dev/classOpenZWave_1_1Manager.html#a588a7e060c0aa312b00082d5c2683f73 and http://www.openzwave.com/dev/structOpenZ

[2020-01-18 05:14] Fishwaldo commented on #50
Nope. It’s treated just like any other value. No special handling

[2020-01-18 07:28] robertsLando commented on #172
Should be already available from control panel, just send a node actuon “node statistics “

Daniel

[2020-01-18 10:02] Fishwaldo commented on #202
You need to use the right function when adding it as secure. I have no idea how that’s exposed in Z2m

[2020-01-18 10:19] robertsLando commented on #202
When you send a controller action to start the inclusion from control panel you will see a popup that asks if you want ti add that node in secure mode or not, just press in ok and the node will be added with security enabled

Daniel

[2020-01-18 10:20] robertsLando commented on #50
So based on this scenes should work properly in z2m both with 1.4 and 1.6 version

Daniel

[2020-01-18 15:40] Mdleal commented on #202
@robertsLando I am not getting the pop up. I might blow everything away and start over. I have 2 pi's with their own stick running zwave2mqtt and both do not get the pop up.

[2020-01-18 15:49] tekmaven commented on #50
@robertsLando I too have Inovelli switches and have the same problem.  I see the same log messages as @jaburges - scene events, but nothing ever appears on MQTT.  I'm using OZW 1.6, with ValueID topics.

[code]

[2020-01-18 16:27] chickenandpork commented on #50
@jaburges @tekmaven after confirming your OZW and Z2M versions, can you also confirm what switches you have?  NZW30, LZW31, LZW30-SN, etc

[2020-01-18 16:41] robertsLando commented on #202
Please send me the screenshot of the action you are sending... once you select the action press the airplaine botton on the right of the dropdown

Daniel

[2020-01-18 17:33] Mdleal commented on #202
![image](https://user-images.githubusercontent.com/691042/72667898-520bfc80-39e6-11ea-99bf-f1b135c696fe.png)

[2020-01-18 17:48] tekmaven commented on #50
@chickenandpork that's a good point.  I have the LZW31-SN.  I'm using Z2M 2.1.0 and I'm on the current latest master from OZW (https://github.com/OpenZWave/open-zwave/commit/07acd313435998c2740257cc5f71c1bb8a27cb43).

[2020-01-18 20:03] chickenandpork commented on #50
I don’t see where OZW-1.6.974 comes from; I confirm neither latest nor official release 1.6 has the LZW31-sn.  I have a build of 2.0.6 with Inovelli config overlaid OZW-1.6 as docker image `chickenandporn/zwave2mqtt:latest` if you want to see if it reacts differently (you’d need to start it instead of yours, then while z2m is stopped, delete the section in store/zwcfg_<home_id>.xml, then start z2m

[2020-01-18 20:54] tekmaven commented on #50
I've taking the DB from the latest OZW master commit and  and overlaid the inovelli config.

As far as the OZW version, I'm using the HassIO addon, it installs this version explicitly here: https://github.com/hassio-addons/addon-zwave2mqtt/blob/master/zwave2mqtt/Dockerfile#L28.  It looks like that is the version number created by Alpine and that is the latest release in Alpine.  Do you recommend I

[2020-01-18 21:58] JasonSwindle commented on #203
Can confirm I'm impacted by this as well.

[2020-01-19 00:00] jerepeer commented on #142
Finally got it up and running under OZW 1.6 (v2.1.0)   Trying to adjust the volume with the Z-wave PC controller but still no luck. Keep u guys updated.

![Doorbell Config Change](https://user-images.githubusercontent.com/56473045/72672171-b4044a80-3a56-11ea-88b9-eaded8b65a4d.png)

[2020-01-19 02:23] Fishwaldo commented on #50
If your running 1.6 you should see scenes as “values” (I imagine in the GUI). Clicking a scene button should update the value (Eg long press etc).

If your running 1.4 - CentralScene was not fully supported and didn’t work.

To test - you can run ozwcp and see the values change when clicking scene buttons. If you don’t see them changing then something else is wrong.

[2020-01-19 08:55] jerepeer commented on #198
Had the same problem with the Aeotec Siren6  (ZW164). Switching to OZW 1.6 was my only option. It works now.

[2020-01-19 09:18] magtimmermans opened #207 "[question] how to get a list of all available nodes?"
Hi,

First of all thanks for this great project!

I have aquestion which command i need to send to zwave2mqtt topic to get a list of all available nodes?

[2020-01-19 19:40] Dinth commented on #188
@robertsLando that's really weird, because Z2M actually identifies a device an on/off switch correctly:
![Screenshot 2020-01-19 at 19 36 01](https://user-images.githubusercontent.com/313674/72687144-fa0eec00-3af2-11ea-822d-3638be93b2a4.png)
but then creates dimmers for it:
![Screenshot 2020-01-19 at 19 37 57](https://user-images.githubusercontent.com/313674/72687167-393d3d00-3af3-11ea-881e-9dfc109

[2020-01-19 20:56] Mdleal commented on #202
Reset Z-wave stick and reinstalled zwave2mqtt resolved the issue. I know get the pop up.

[2020-01-20 01:39] twochannel commented on #197
I setup a new container with latest:dev and have not had much luck.  When pairing both securely or non, i only get two  sensors, battery and temp.

However, I see this in the logs

2020-01-20 01:29:21.850 Detail, Node017,   Received: 0x01, 0x1a, 0x00, 0x49, 0x84, 0x11, 0x14, 0x04, 0x07, 0x01, 0x5e, 0x85, 0x59, 0x80, 0x70, 0x7a, 0x71, 0x73, 0x31, 0x86, 0x84, 0x60, 0x8e, 0x98, 0x72, 0x5a, 0xef, 0xa7

[2020-01-20 02:02] Fishwaldo commented on #197
Can you please post the full log?

[2020-01-20 02:02] Fishwaldo commented on #197
The alarmclass get failure is ok. Not all devices will support it.

[2020-01-20 02:06] twochannel commented on #197
Sure, is there anything I should redact?

[2020-01-20 07:43] robertsLando commented on #203
@shbatm @JasonSwindle What I suggest is to do like @shbatm said because if I update to fix this I would break every lock on older versions of hass.

The options to fix this are

1) Edit the main lock configuration [here](https://github.com/OpenZWave/Zwave2Mqtt/blob/master/hass/configurations.js#L366) by just add:

[code]

This would fix all the locks of all your devices.

2) Fix each single lock d

[2020-01-20 07:43] robertsLando commented on #142
Thanks @jerepeer

[2020-01-20 07:45] robertsLando commented on #198
@twochannel Please consider update to OZW 1.6

[2020-01-20 07:46] #198 closed

[2020-01-20 07:47] robertsLando commented on #207
@magtimmermans Nope there is not such functionality, what would you need it for ?

[2020-01-20 07:49] robertsLando commented on #188
It describes how to create the discovery payload that is sent to hass so yes you can play with it to fix this. If you make it work please send a pr with the edits to devices.js file

[2020-01-20 07:50] robertsLando commented on #202
@Mdleal I think that was something related to browser that was blocking the pop ups or something else not strictly related to z2m. Gla you fixed it

[2020-01-20 08:08] Fishwaldo commented on #142
@jreaper I believe there was a few firmware updates since it was released. Make sure it’s the latest (as I can adjust the volume on mine)

[2020-01-20 08:15] magtimmermans commented on #207
Pitty, i have a homey and i am not happy with the range of the zwave module. I am not sure if it is broken but any way i bought a zwave usb stick and installed everything on a rasp pi. Now i am writing a program that create those devices on homey and the communicate with the homey devices using zwave2mqtt. To add the devices to homey i need a list with all available devices (nodes) and can create

[2020-01-20 08:34] robertsLando commented on #207
I could add this as a feature but I was thinking about something like _EVENTS topic where you receive all zwave events like: scanComplete, nodeAdded, nodeReady, nodeAvailable etc.. with all the args of this events like nodeInfo etc. Would it be ok for you ?

[2020-01-20 09:18] 917huB commented on #142
@Fishwaldo Can you confirm what version you have on yours please? thanks for confirming yours is working.

[2020-01-20 09:37] Fishwaldo commented on #142
Mines in a box but it was the latest version a few months ago.

[2020-01-20 12:47] twochannel commented on #198
1.6 shows manuf info correctly when securely paired.  Thank you

[2020-01-20 13:33] robertsLando commented on #164
@towerhand @thucar latest commit should fit your needs. Now all zwave events are sent to mqtt with all the datas so you can catch controller status updates and more. Just enable the flag on gateway settings to send zwave events via MQTT

[2020-01-20 13:45] #164 closed

[2020-01-20 13:45] #207 closed

[2020-01-20 13:50] robertsLando commented on #50
I would like to close this issue guys as I think everything should work right now if you are using OZW 1.6. If you are using 1.4 there could be some issues but it isn't mantained anymore so the only option is to update to 1.6.

From what @Fishwaldo said scenes in 1.6 should be treated as valueIDs so I already have some users that told me that they are receiving them correctly as I don't have to ch

[2020-01-20 14:11] jerepeer commented on #142
@Fishwaldo ... I asked Aeotec for the latest FW... this is their reply 🤔🤔

“Thank you for inquiry.

No new firmware is currently available for Siren 6.

Best regards
Sebastian Putz
Field Application Engineer
Aeotec”

[2020-01-20 14:24] Dinth commented on #201
@craigrallen is your node detected as Dead by any chance? Had this few times with OZW1.6 and Fibaro switches, but readding the node helps?

[2020-01-20 14:28] jreaper commented on #142
Why am I included ?

On Mon, Jan 20, 2020, 8:11 AM jerepeer <notifications@github.com> wrote:

[2020-01-20 14:39] robertsLando commented on #142
@jreaper I think someone has typo @jerepeer name and has wrongly tagged you

[2020-01-20 14:46] robertsLando commented on #201
@Fishwaldo Just to inform you, OZW 1.4 support removed from Z2M 2.1.1. Now latest tag hìhas 1.6 version

[2020-01-20 14:48] Fishwaldo commented on #201
👍👍👍

[2020-01-20 15:54] fatmcgav commented on #204
@Fishwaldo Cheers for the suggestion... I power cycled the stick and factory reset the Popp smoke alarm a couple of times and managed to get it to pair :)

[2020-01-20 15:54] #204 closed

[2020-01-21 10:42] fatmcgav opened #209 "[question] Issue with pairing Aeotec Nano Dimmer (ZW111)"
Hi there,

I'm trying to pair an Aeotec Nano Dimmer (ZW111) device to my Zwave network.

The initial inclusion appears to work as expected, however none of the device details are then being populated, and the node ultimately ends up in a "Dead" state.

If I press the action button, then I get the following log output:
[code]

I've tried excluding and including the device, re-plugging the ZWave sti

[2020-01-21 11:04] fatmcgav commented on #209
Well that was strange... I just killed the lighting circuit power in order to install another device, and when I powered back on this node connected perfectly and discovered fully...

Sorry for the noise...

[2020-01-21 11:04] #209 closed

[2020-01-21 13:39] syphernl commented on #201
@robertsLando I installed Z2M 2.1.1 (via the zipfile) but it still includes OZW 1.4.1?

[2020-01-21 13:42] robertsLando commented on #201
What do you mean with `via zip file`?  If you have downloaded the pkg version from github releases the OZW is not shipped with it, OZW is installed in your system

[2020-01-21 13:44] syphernl commented on #201
This one: https://github.com/OpenZWave/Zwave2Mqtt/releases/download/v2.1.1/zwave2mqtt-v2.1.1.zip AFAIK this bundles everything without needing to install libs yourself?

[2020-01-21 13:45] robertsLando commented on #201
@syphernl Nope. Only if you use docker it works in that way. OZW is a separated software from Z2M

[2020-01-21 13:46] syphernl commented on #201
Ah I see. Didn't recall installing it myself, but it was indeed in my bash history :)

[2020-01-21 14:23] syphernl opened #210 "[bug] OZW 1.4 still being required by openzwave-shared"
**Version**
2.1.1

Build/Run method
- [ ] Docker
- [X] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.1.1
Openzwave Version: 1.6.1018

**Describe the bug**
After updating my OZW to 1.6 using the instructions in your README Z2M fails to startup:
[code]

This file does indeed not exist, but I cannot find any reference to this in any file on the filesystem.

[2020-01-21 14:26] robertsLando commented on #210
It's caused by openzwave-shared that was build with ozw 1.4 and it is
linked to it. Could you clone the project and compile it ? This would be
always the best option to always use latest version but requires nodejs to
be installed

Il giorno mar 21 gen 2020 alle ore 15:23 Frank <notifications@github.com>
ha scritto:

--
--

*Daniel Lando - Ufficio Tecnico R&D**daniel@innovation-system.it*

*Innova

[2020-01-21 14:51] robertsLando commented on #210
I forgot this thing about the openzwave-shared, yes it's kind of an issue, Starting from next release I will only release pkg versions with openzwave-shared compiled for 1.6. Thanks for this issue!

[2020-01-21 20:05] magpern opened #211 "[feat] Heatit Thermostat TF 056 (ThermoFloor AS) Hass support"
I have a [Heatit floor thermostat](https://www.heatit.com/heating-control/floor-heating-thermostats/heatit-z-trm2fx/). How do I get it to show up in Home Assistant? I use autodiscovery, but wiki says climate device is not audodiscovery enabled.

In the documentation there is a section about custom device and the example shows a similar device [Heatit 021](https://github.com/OpenZWave/Zwave2Mqtt#cu

[2020-01-21 20:05] alex-savin opened #212 "[bug] Inovelli LZW30-SN"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.1.1
Openzwave Version: 1.6.1008

**Describe the bug**
On very first run ZWave2MQTT starts, detects Inovelli LZW30-SN switch, all of the settings are available and it is possible to change any settings. But no of any switches sends Scenes Events.

If I changes

[2020-01-22 07:22] robertsLando commented on #211
@magpern If you are using docker the location of the store folder depends on how you start your docker container. If you are using volumes you can't easily access it, you should create a store folder and then map it inside the container.

Check here for more info: https://github.com/robertsLando/Zwave2Mqtt-docker#run-using-local-folder
Or even better using docker-compose: https://github.com/robert

[2020-01-22 07:24] robertsLando commented on #212
@alex-savin Could you paste here the logs of z2m after the restart?

[2020-01-22 08:00] Dinth opened #213 "[bug] Voltage metering is detected as gas density"
**Version**
2.1.0
Build/Run method
- [x ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.1.0
Openzwave Version: 1.6

**Describe the bug**
Voltage value of power sensors is detected as "gas density".

**To Reproduce**
Can be reproduced both with Fibaro and TKB power switches with power metering.

**Additional context**

I believe its this bit

[2020-01-22 08:00] magpern commented on #211
@robertsLando I use the hass.io and the zwave2mqtt plug-in, so I assume everything is set up as it should.
This are my shares:
![image](https://user-images.githubusercontent.com/6589760/72875879-8426a280-3cf5-11ea-9ccd-27d69f91b65c.png)

But question remains, what files do I have to create to make the Heatit device work?

[2020-01-22 10:26] robertsLando commented on #211
@magpern As documented in readme.md [here](https://github.com/OpenZWave/Zwave2Mqtt#custom-components)

So what you need to do is to create a file named `customDevices(.js|.json)` (extension js or json) in `store` folder of z2m (I don't know how the docker plugin maps that folder because I haven't created it). Maybe the configuration already existing for heatit works even for you:

[code]

Check [h

[2020-01-22 10:48] robertsLando commented on #213
@Dinth I think your device goes against the standards devices command classes specs: https://github.com/OpenZWave/open-zwave/blob/master/config/Localization.xml#L679.

In your case command class is 50 and the index I think is 16 or 17 that based on that file means should be a gas meter, you should edit this by your own in hassDevices from control panel or in hass/devices.js file

[2020-01-22 11:23] magpern commented on #211
@robertsLando zwave2mqtt finds the device the "heatit z-trm2fx". It is shown in the web gui. But there is nothing in Home Assistant gui.
In documentation it says that climate devices will not be autodiscovered.

So, if I find this path "store" and put a file there called customeDevices.json and in this file put the text between the { } above, it will show up automatically in home assistant?

[2020-01-22 11:54] magpern commented on #211
@robertsLando I removed the hassio add-on, and installed zwave2mqtt docker with docker compose instead.
No luck...

I see the device in zwave2mqtt with out-of.-the-box docker
![image](https://user-images.githubusercontent.com/6589760/72891912-9d3f4b80-3d15-11ea-8913-e49f29ce65b5.png)

I also see it in home assistant, but just as sensors
![image](https://user-images.githubusercontent.com/6589760/72

[2020-01-22 12:56] robertsLando commented on #211
Wait wait you don't have to `just copy` what I give to you to make it working. If you read the documentation it is well explained that you need to specify the correct deviceid of your device in order to make it working...

try to create `store/customDevices.js` with this inside:

[code]

[2020-01-22 18:45] magpern commented on #211
@robertsLando Thanks! It is hard to follow a document that shows fragments of things when you don't understand what you have to do and why.

I changed the customeDevices.json to what you wrote above, I also tried to rename the file to *.js . I excluded the device from zwave network and included it again.

I see the device in MQTT under the homeassistant topic. It is registered as `homeassistant/se

[2020-01-22 19:15] magpern commented on #211
@robertsLando I changed payload type to "JSON Time-Value" then the home assistant gui shows the
![image](https://user-images.githubusercontent.com/6589760/72924450-3b043c00-3d51-11ea-9d2d-5d8c6d03acaa.png)
If I change it back to "Entire Zwave value Object" it is still there. Talk about confusing.
The "Heat" button is not working. Nothing happens and if I change the temp with the slider, the set te

[2020-01-22 19:23] Dinth commented on #188
Hi @robertsLando.
Following up on the original issue with dimmers. Have you made any commits recently to fix it?
I just noticed that my HASS Device JSON started showing up for my dimmers.
Also it already contains the following code:
[code]
Basically what you've advised me to add above.
This being said the behaviour of dimmer didnt change.
1. I can use Z2M control panel to control the light. My Zwa

[2020-01-22 20:12] Dinth commented on #213
@robertsLando

Its really weird, as Home Assistant was always detecting this correctly and it's not just one odd model but two different from different manufacturers. Anyhow, i will try to fix this using devices.js as soon as i will figure out how to do that.

[2020-01-22 20:26] robertsLando commented on #213
That’s interesting, I would like to know how hass identify devices to create. Is it inside hass zwave repo?

Daniel

[2020-01-22 20:26] Dinth opened #214 "[bug] Fibaro Double Switch II autodiscovery"
**Version**

Build/Run method
- [*] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.1.1
Openzwave Version: 1.6

**Describe the bug**
First of all, im really sorry for logging another bug. I think Z2M is a great piece of software and appreciate the time and effort you are putting in this project. Please dont treat my tickets as demanding attit

[2020-01-22 21:28] Dinth commented on #213
I really dont know how HA is built. But to be honest I had over 50 zwave devices and besides devices which were not supported by OZW i dont remember having an issue with entities being created wrong type over past two years when i was using HA built in OZW1.4.
With OZW1.6/Z2M almost every single device has an odd water or gas sensor somewhere which should not belong there.
Potentially this may be

[2020-01-23 07:04] Dinth opened #215 "[feat] Octan Remote - scene activation events"
**Is your feature request related to a problem? Please describe.**
Im trying to get my Octan Remote remote controller to work. It had it working in Scene Activation mode with HA using this guide - https://community.home-assistant.io/t/nodon-octan-remote-how-to/4076 but im not sure how to use it in Z2M. After pressing a button, the controller creates a Scene activation event, but this is currently

[2020-01-23 07:07] Dinth commented on #215
The remote also has a second (default) mode: General Scene. This mode could not communicate with HA, but it may be get the remote working with Z2M in this mode. Here's an OZW log of pressing buttons in this mode:
[code]

[2020-01-23 07:11] Dinth commented on #172
Thanks for all your help @robertsLando @Fishwaldo. I think this issue can be closed, i have completed migration from HA, after rebuilding my network it works decently. To carry on with troubleshooting my networks stability problems i need to wait for Aeotec to release a new 700 series controller and i have opened separate issues for bugs i have encountered.
Thanks again!

[2020-01-23 07:11] #172 closed

[2020-01-23 07:21] Fishwaldo commented on #215
That looks like OZW 1.4 with the “hack” in zwcfg to make scenes work. Please use 1.6 and no hack is required.

[2020-01-23 07:30] Dinth commented on #215
@Fishwaldo im using Z2M 2.1.1 with OZW 1.6. I have never used hacks for scenes to work, not even with OZW1.4.

[2020-01-23 07:32] robertsLando commented on #211
@magpern Sorry but what version of Z2M are you using?

Z2M is born as a mqtt gateway and hass integration is born just after lot requests from hass users (I'm not an hass user), and as described in docs it is still a 'beta'. The hass integration should work with all payload types

It is not that hard if you know Mqtt protocol and hass. But If you think docs can be improved just tell me or send a P

[2020-01-23 07:54] Dinth opened #216 "[bug] Minor issue - "Replace failed node" doesnt ask if the now node should be added securely"
**Version**
2.1.1

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.1.1
Openzwave Version: 1.6

**Describe the bug**
Replace failed node function doesnt open a dialog to add a new node securely, as "Node inclusion" function does.

[2020-01-23 07:55] robertsLando commented on #188
That file just describes how the device is created in hass and how it should receive/send commands with z2m. So based on what you said I think it's the device that doesn't handle correctly the 'off' command (if sent from control panel). If this happens when you send the off from hass it means there is something not working with hass discovery payload.

[code]

[Here](https://www.home-assistant.io/

[2020-01-23 07:57] robertsLando commented on #214
Don't worry @Dinth I really appreciate your effort and I think every issue is a change to improve the project :smile:

Check hass logs, there you will find errors thrown when they receive the discovery payload. Paste the log here

[2020-01-23 07:58] robertsLando commented on #216
@Dinth thanks!

[2020-01-23 08:00] robertsLando commented on #216
@Fishwaldo How can I call replace failed node with secure flag enabled??  http://www.openzwave.com/dev/classOpenZWave_1_1Manager.html#a6dc832fe823228a821b81ac900b01c5c

[2020-01-23 08:01] robertsLando commented on #213
I will investigate on this

[2020-01-23 08:04] Dinth commented on #215
Actually the remote works in "Central scene" mode - events are being sent to MQTT. The only problem is lack of autodiscovery.

[2020-01-23 08:09] Dinth commented on #215
The remote actually works in Central Scene mode and the events are being published to MQTT. The only small problem is lack of autodiscovery.
Also is it possible to control scenes from within Z2M? Ive been trying to create a scene, but im not sure how can i attach a newly created scene to a particular button on the remote.

[2020-01-23 08:09] Dinth commented on #215
The remote actually works in Central Scene mode and the events are being published to MQTT. The only small problem is lack of autodiscovery.
Also is it possible to control scenes from within Z2M? Ive been trying to create a scene, but im not sure how can i attach a newly created scene to a particular button on the remote.

[2020-01-23 08:14] robertsLando commented on #215
Yes, but z2m scenes don't depends on ozw, I have created a custom scenes management as scenes were broken in prev versions of OZW.

https://github.com/OpenZWave/Zwave2Mqtt#scenes

[2020-01-23 09:23] Fishwaldo commented on #216
Right now you can’t. Please open a issue on the OpenZWave tracker.

In those cases, only option now is remove failed node and then add node with secure true.

[2020-01-23 09:28] robertsLando commented on #216
@Fishwaldo Yes but this means the new inserted node will take an incremental id instead of taking the id of the replaced one?

[2020-01-23 09:50] robertsLando commented on #213
@Fishwaldo Do you know something about this? I mean do you know how hass zwave integration works? I can't find the source code. I don't know if they have created a database zwave-config --> hass devices like I'm doing with hass/devices.js or what else...

[2020-01-23 09:56] robertsLando commented on #211
@magpern

Edit the customDevices.json as follow:

[code]

[2020-01-23 10:11] Dinth commented on #213
@robertsLando OK i think that with the sensors, HA is using the unit to determine what kind of data it stores.
But with other devices, like distinguishing lights, binary switches and fans, **i think** it uses this code: https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/zwave/discovery_schemas.py

[2020-01-23 10:29] Dinth commented on #216
Yes, the newly node will have incrementally increased ID. Which wouldnt be a huge problem (a minor issue, mostly in terms of usability - a new user may expect this option to be there), but i believe at the moment the only way of getting rid of dead nodes is actually replacing them with something else.

[2020-01-23 10:44] Dinth commented on #214
BTW is there an option to force Z2M to re-send the discovery payload without restarting whole docker container? It would make troubleshooting easier.

[2020-01-23 11:02] robertsLando commented on #213
Wow your link is what I was looking for and I think I could apply it to Z2M too. I saw they also have https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/zwave/workaround.py that is something like my hass/devices.js.

Actually I have not the time to dig into this and add to the code but it is a point to start with. WOuld you mind to send a PR to improve discovery? Ju

[2020-01-23 11:05] robertsLando commented on #214
Yes there is a rediscover button in control panel, node tab, hass devices section, on the right when you select a device from the table you see the json and on the top of it there is rediscover button

[2020-01-23 11:06] SKOJau opened #217 "[question] 404 - Error: Not Found on Webpage"
Since Yesterday i have a problem with my docker installation of Z2M v2.1.1.
It worked just fine for 2 days. As soon as I’m going on the webinterface I’m getting the Yellow reconnecting symbol in the upper right corner and the devices aren't apearing anymore. In the log there is an error with the bold parts always changing:

GET / 304 2.964 ms - -
POST /socket.io/?EIO=3&transport=polling&t=**M_I40v

[2020-01-23 11:10] robertsLando commented on #217
I have other users running it without problems sincerly dunno what is break here. How are you starting you docker container?

[2020-01-23 11:27] SKOJau commented on #217
If i go back to 2.1.0 the problem disappears.
Normally I'm managing my containers with the Portainer webinterface. I also tried to start it as a new container in the commandline you provided in the readme

[2020-01-23 11:34] robertsLando commented on #217
Are you running it on arm32/64 or amd?

Daniel

[2020-01-23 11:45] SKOJau commented on #217
Its running on an RPI3, so it should be arm. Reacently i did all updates on the system.

[2020-01-23 13:00] robertsLando commented on #217
@SKOJau I'm investigating...

[2020-01-23 14:05] #50 closed

[2020-01-23 15:21] robertsLando commented on #217
@SKOJau Another user using z2m 2.1.1 on rpi 3 told me it's working correctly. Could you please remove the docker image and try with a fresh install?

[2020-01-23 15:36] SKOJau commented on #217
@robertsLando Did a new pull of the image and now its working. I dont know why, but thats absolutly fine :).
Thanks for your great work on that project 👍

[2020-01-23 15:36] #217 closed

[2020-01-23 16:10] Dinth commented on #213
@robertsLando my level of coding is very entry-level. My badge may say "Contributor" but the only thing i contributed was a screenshot :)

Ive picked up one thing which *may* be causing problems though. In this place the code is going through all the "values", checks command class assigned to that value and proceeds accordingly - https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/Gateway.js#L

[2020-01-23 16:23] robertsLando commented on #213
Yes it runs discoverValue for each value you see in controlpanel (it means every value that OZW detects), but I don't know what `GetSupported` means sincerly. Maybe @Fishwaldo knows

Check the label isn't really good as with OZW 1.6 labels now support differents languages. I have make long thoughts about hass auto discovery and how to cleverly map values from zwave to hass but I never found someth

[2020-01-23 16:30] Dinth commented on #213
I really hope he wont mind, but i will tag @petergebruers

Would it be possible to check the unit of measurement instead of the label? "V" stands for volt anywhere in the world.

This may work, but only once the userbase reaches a certain critical point

[2020-01-23 16:41] robertsLando commented on #213
Just for a quick reference:

° °C C F ---> temperature
pa bar atm ---> pressure
V volt ---> Voltage
A ---> Current
kwh kw w watt ---> Power
m3 ---> Water
kg/m3 ---> Gas density
lux lx ---> Illuminance

Are this all? I can create regex based on this and If I don't find any occurence use the switch case based on valueid index

[2020-01-23 18:37] Dinth commented on #213
Ive got a slightly different idea. The value type still gives us more information than the unit - provided it is correct. For example the code must be able to distinguish air pressure from water pressure.
What if its done other way around:
[code]
Its more code but once you could make one switch, i can do the boring work and copy and paste it few times. Doesnt make a lot of difference now, but in t

[2020-01-24 00:23] magpern commented on #211
I think it works now, with your latest customDevices.js.
I added `temp_step: 0.5` so slider allowes for 0.5 increments. Added my file content below.
I believe I run on the latest of everything, just installed it and docker downloads the latest of everything.

One small question remains. If I use the native zwave integration with home assistant, it will show "preset mode" as well. You are able to s

[2020-01-24 04:30] flamingm0e opened #218 "[question] Where can we change attributes and modes?"
This is driving me crazy.  I have 2 GOCONTROL GC-TBZ48 thermostats.  Running ZWave2MQTT in docker, and Home Assistant.  I have discovery turned on and everything shows up.

The problem I have is with the mode options and fan mode options.

ZW2M is setting the fan modes and operating modes to Capitals, like Heat, Cool, Auto.  Home Assistant doesn't recognize Capitals and tells me invalid mode.  Whe

[2020-01-24 07:06] Dinth commented on #218
You can edit `hass/devices.js` file to change the way in which Zwave2MQTT exposes data to Home Assistant. If you are running Z2M in a docker container it may be easier to test your changes by editing `store/customDevices.js` instead (it's same thing but located in a folder which is easier to access).
With a thermostat you can use exisiting _Eurotronic Spirit Z_ and _Heatit  TF 021_ thermostat defi

[2020-01-24 07:12] Dinth commented on #215
Thanks @robertsLando i think that i will just use /91/1/1 topic and automate it in HA.
For some reason this
[code]
doesnt trigger an automation though.
The messages are:
[code]
So everything should work fine... could you confirm what encoding Z2M uses for those messages? I believe that HA by default uses utf-8 (although i also tried with no encoding set in HA).

[2020-01-24 07:16] robertsLando commented on #213
@Dinth by doing what you are doing you always make units check a priority so the result will always be the same as what I told you :) You firstly check for the valueId index than you make sure units are ok, if not you check the correct type based on units.

More efficent would be firstly check units (when the command class is a multilevel or a meter) and then check for valueid index in case the un

[2020-01-24 07:19] Dinth commented on #193
@Munsio, one more thing.
By "device is not being discovered" do you mean that after adding a node, you're getting a dead device in Z2M without empty "Type" and "Product" fields?
This happened to me few times with different Fibaro devices, it seems that the inclusion process doesnt always finishes correctly (although i dont have logs to post upstream). Re-adding the node (reset the switch, add it a

[2020-01-24 07:25] Dinth commented on #153
I second this. Last few versions of Z2M have greatly improved things, but also made a lot of changes in terms of how values are discovered. The payloads for many of the values must have changed, as i have ended up with literally dozens of unused/unavailable sensors in HA. It would be really nice if Z2M could clean up after itself, but ive got no idea how or even if this is possible in MQTT.

[2020-01-24 07:25] robertsLando commented on #211
@magpern Here you can find a list of parameters for MQTT HVACs: https://www.home-assistant.io/integrations/climate.mqtt/.

Just edit the discovery payload according to this propertiesv :)

[2020-01-24 07:29] Dinth commented on #214
Here's the log:

"2020-01-24 07:27:18 DEBUG (MainThread) [homeassistant.components.mqtt] Received message on homeassistant/switch/Living_room-Heating_1/switch/config: b'{"payload_off":false,"payload_on":true,"value_template":"{{ value }}","command_topic":"zwave/Living_room/Heating_1/37/1/0/set","state_topic":"zwave/Living_room/Heating_1/37/1/0","device":{"identifiers":["zwave2mqtt_Living_room-Heat

[2020-01-24 07:38] Munsio commented on #193
@Dinth, the device is not dead - it is actually working but there is no product/manufacturer information and instead of 1 switch there are 3 switches available and in general all fields are doubled etc.

About the log, the hassio addon does not provide the OZW log in a shared folder and I didn't have time for that yet, but i am trying to get all the information you need including screenshots this

[2020-01-24 07:55] robertsLando commented on #218
That is for sure the best thing to do to break OZW like it has happen :disappointed:

I suggest to do like @Dinth has suggested, hass discovery payloads allows to create templates to understand how to read incoming datas and how to write commands in mqtt. Check existing thermostats configurations inside hass/devices.js

[2020-01-24 07:58] robertsLando commented on #215
UTF-8 :)

I don't know, Is there any pro/cons to use internal zwave scenes instead of mine? Also with mine you can set timeouts to values when activating a scene. Anyway you always have access to internal scenes apis from mqtt apis

[2020-01-24 08:00] robertsLando commented on #153
@Dinth I have keep this as last because it could break some existing things. Needs some thoughts it is in my TODOs btw

[2020-01-24 08:01] robertsLando commented on #214
@Dinth No error throw. Is this an hass bug so?

[2020-01-24 08:09] Dinth commented on #193
Hmm that's more than odd.
For me nodes were being discovered without product/type before, but i had a big zwave network with some underlying issues. Ive been told that i need to rebuild my network from scratch and since then the problem went away.
Three switches is also very weird, you should see two switches with Fibaro single switch and three with Fibaro Double Switch. Additionally, Z2M also gen

[2020-01-24 08:27] Dinth commented on #214
Potentially, I have logged https://github.com/home-assistant/home-assistant/issues/31123 this on their bug tracker

[2020-01-24 08:34] robertsLando commented on #214
Thanks @Dinth ! As you see Hass auto discovery is relally hard, also Hass updates usually break something like the lock device in latest release :disappointed:

[2020-01-24 11:08] magpern commented on #211
@robertsLando Thanks! I have studied the MQTT HVAC documentation, but I guess I'm not smart enough.
I don't understand how the module.exports discovery_payload is transformed to a MQTT discovery message and then transformed in home assistant to a device entry.

eg. in module.exports there is a line `mode_command_topic: true`, in MQTT HVAC documentation it is supposed to be a string, in the MQTT se

[2020-01-24 13:47] robertsLando commented on #211
Climate entity is different from MQTT HVAC, the last one doesn't support all Climate features this is why you are getting that parse error, you can just use the options listed in the link I have provided.

About the `"mode_command_topic": true` that is there just to know that it needs to be calculated, as you can imagine that parameters is not equal for every thermostat but depends on node name/lo

[2020-01-24 14:34] flamingm0e commented on #218
I tried this but it didn't seem to change the right parameters.

If I can ever figure out the magic combination, I certainly will.

So using the default setup in ZWave2MQTT, the thermostat is presented over MQTT, and HA sees it.  It seems that the modes are being passed through as ["Auto", "Heat", "Cool", "Off"], the fan modes are being passed as ["On Low", "Auto Low"], and HA expects them to be i

[2020-01-24 14:36] robertsLando commented on #218
@flamingm0e Keep me updated :)

[2020-01-24 14:39] flamingm0e commented on #218
@robertsLando

Do you have a list of available options we can put in customDevices.json?

[2020-01-24 14:41] robertsLando commented on #218
@flamingm0e Check [here](https://github.com/OpenZWave/Zwave2Mqtt#thermostats)

For the `discovery_payload` option check hass docs about mqtt auto-dscovery: https://www.home-assistant.io/docs/mqtt/discovery/

[2020-01-24 14:43] flamingm0e commented on #218
I've seen the example for your customDevices.json, I just didn't know if there were other options we could set.

[2020-01-24 14:45] robertsLando commented on #218
@flamingm0e Nope those are all the options available. There shouldn't be anymore needed

[2020-01-24 14:45] flamingm0e commented on #218
OK.  Thank you.  I will play around with this.

[2020-01-24 19:01] Dinth commented on #213
I think the code you're looking for is here: https://github.com/OpenZWave/open-zwave/blob/5fdefd84b60c6c4989e39d8948dc199890d16da3/cpp/src/command_classes/SensorMultilevel.cpp
Unfortunately its objective so i literally dont understand nothing from it.

Going back to this:
[code]
Is that GetSupported variable exposed to Z2M somehow?

[2020-01-24 20:52] Dinth commented on #213
So as far as i understand, GetSupported doesnt really imply that the value should be hidden (although comments in some of the config files may indicate otherwise), just that the value should not be updated.

Also i had a look in HA code and found this
[code]

and i believe that CONF_IGNORED makes entity discovery skip the entity. But i couldnt find where that value is coming from.

[2020-01-24 21:45] jtronicus commented on #212
I dont have access to my logs right now, but I was experiencing the same thing with both the LZW30-SN and LZW31-SN (I dont think config files for the LZW31-SN are not on github yet). Here is what I discovered:

- When OpenZwave 1.6 loads the config file the very first time, everything works except for scenes.
- If you restart z2m or use refresh note info, ozw appears to check for an updated config

[2020-01-25 04:27] flamingm0e commented on #218
Got home tonight and tried to update and use the customDevices.js.

[code]
This still failed, and I had no fan mode options. I guess I will try to play around with it more this weekend and see what happens.  I see no way to pass through my fan modes.  I tried adding:
[code]
But that obviously didn't work.  Not only did I not have any fan modes, but my min and max temps weren't coming through prope

[2020-01-25 07:14] Dinth commented on #215
Ive managed to sort out my device using scene activation modes posted to MQTT.

Anyhow...

I guess its just a matter of extra work supporting and maintaining it.

[2020-01-25 07:28] Dinth opened #219 "[bug] command classes which were hidden in HA/OZW1.4 are visible in Z2M"
**Version**
2.1.1

Build/Run method
- [*] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.1.1
Openzwave Version: 1.6

**Describe the bug**
Some devices have CommandClasses which dont work or should be hidden. Such entities were not visible in HA/OZW1.4, but Z2M generates values for them.
Examples of such devices:
- Fibaro FGS-213
- Fibaro FGS

[2020-01-25 07:29] Dinth commented on #219
Moving the discussion from https://github.com/OpenZWave/Zwave2Mqtt/issues/213

[2020-01-25 07:45] Dinth commented on #218
Hi @flamingm0e. Thanks for doing this troubleshooting.
Can you check if your Devices.js file actually does what it's supposed to do, i.e. can you use mosquitto_sub or other MQTT listener to see if the messages being sent by Z2M match what you are expecting to see (lowercase fan modes).

also @robertsLando since it seems that HA likes lowercase characters so much, maybe applying lower() method to a

[2020-01-25 08:56] Dinth commented on #214
You were absolutely correct, i have just identified why this doesnt work https://github.com/home-assistant/home-assistant/issues/31123#issuecomment-578385801

While the workaround using devices.js is possible, i will wait on what HA team will say.

[2020-01-25 16:39] mchangsp opened #220 "How to migrate from "Domoticz + Aeon zwave stick" to zwave2mqtt"
Hi all,
I have looked around on the internet for my question but cannot find any forum for zwave2mqtt.
Google also does not have anyone documenting this.

I have a running zwave network configured with Domoticz on a AEON Labs ZW090 Z-Stick Gen5 EU.
I want to use zwave2mqtt to manage this zwave network.
Home Assistant with MQTT autodiscovery will be my new home automation hub.

I already managed to

[2020-01-25 18:37] flamingm0e commented on #218
The Devices.js file is actually creating an MQTT discovered device so it appears to be doing something, but looking at the topic for modes, I get
![image](https://user-images.githubusercontent.com/1229798/73125659-eb9b5700-3f6e-11ea-87c5-490f76dcb6dd.png)

error log in HA says:
[code]

What's really confusing is in the ZWAVE2MQTT logs, when I select the options it appears to be responding, and the

[2020-01-25 19:29] flamingm0e commented on #218
More information just to annoy everyone getting these alerts.  ;)

The HVAC Modes are working correctly.

On the latest version of zw2mqtt, I changed the name of the thermostats so they would create different topics in MQTT.  The new topic created a new device in HA, and I have partial control of the thermostats.

What continues to be broken is:
- min/max set point
- fan modes/state reporting

So

[2020-01-26 03:02] flamingm0e commented on #218
Found some more time to troubleshoot a little more.

Got this in my HA logs:
[code]

[2020-01-26 03:32] flamingm0e commented on #218
This is the /config payload going across MQTT, and it seems incorrect to me:
[code]

[2020-01-26 03:54] billiaz commented on #213
I do experience the same issue with Fibaro Wall plugs.
Where Watt (w) is confused to be water:

`{
  "type": "sensor",
  "object_id": "water",
  "discovery_payload": {
    "value_template": "{{ value_json.value }}",
    "icon": "mdi:water",
    "state_topic": "mqttzwave/Master_Bedroom/m_bedroom_wall_plug/50/1/32",
    "json_attributes_topic": "mqttzwave/Master_Bedroom/m_bedroom_wall_plug/50/1/32",

[2020-01-26 05:06] flamingm0e commented on #218
Still can't get fan modes to work in HA, and trying to change the low/high setpoints results in this error in HA:
`voluptuous.error.MultipleInvalid: expected float for dictionary value @ data['target_temp_low']`

I'm tired of messing with this for today.  Reverting back to 2.0.6 for the time being (I have to work tomorrow and wife wants things to work for at least a day).

[2020-01-26 06:30] Dinth commented on #213
Thank you @billiaz. Which version of Z2M are you running

[2020-01-26 06:36] Dinth commented on #218
Hi @flamingm0e
Thanks for doing all that troubleshooting.
We are still missing one important thing though - what messages are being actually published to your MQTT server.
Can you run mosquitto_sub leeching on your server or alternatively if you dont have access to linux, one of those clients https://www.hivemq.com/blog/seven-best-mqtt-client-tools/? Connect to your MQTT server, subscribe to "zwav

[2020-01-26 06:59] flamingm0e commented on #218
I provided the config payload of my customDevices.js device.  If you want all the other payloads, there are a lot.  Please specify which one.

This is currently what I see on the 2.0.6 build (The only modifications done are in the xml to set the modes to lowercase):

![image](https://user-images.githubusercontent.com/1229798/73131775-add21900-3fd6-11ea-9344-f7c50488e362.png)

I will be out of town

[2020-01-26 07:37] billiaz commented on #213
It is packed with the addon of hass (0.4.2) and I found from package.json of the node the version 2.0.6

[2020-01-26 08:36] billiaz opened #221 "[question] Removed/renamed nodes, doesn't dissapear from HomeAssistant"
I have removed or renamed some nodes. I can still see them on my Home Assistant.
Running 2.1.1 version
Is there something I am doing wrong?

Behaviour:
Removed node: still there

Renamed: Old and new still on my MQTT devices
**On options**
My MQTT options: Retain, Store
Gateway: Use nodes instead of ID, HASS Discovery, Retained Discovery

[2020-01-26 08:55] billiaz opened #222 "[bug] Doorbell 6 (zw126) cannot change tone or volume"
Running 2.1.1 version on docker.

Having an 3 days old Aeotec Doorbell 6. And with the latest firmware. Configuration of Volume/Type of sound seems to not work properly.

Example:
WebUI apply settings for Tamper Alert type to **Inactive**  (67-121-2-3)

Log output
[code]

example of volume update doorbell 1:

[code]
[code]

[2020-01-26 12:23] billiaz commented on #222
Another small finding. When including secure i do have also some other issues on parameters.

I tried both secure and insecure! both have the same result.

I have a temp network key: "0x76,0x42,0x02,0x4,0xC?,0xBC,0xAB,0x62,0x94,0x??,0x1B,0x3C,0x0D,0x4C,0xDF,0x1F"
(I will re-add devices with new key once problems are over! just sharing this, in case something is wrong) the ? are on purpose to hide

[2020-01-26 14:25] Dinth commented on #220
Devices as in node numbers should show up immediately, although with empty product and type fields - which will get populated after few minutes depending on the size of your network.

Can you please run "docker logs <your z2m instance name>" and paste the output for a start?

[2020-01-26 14:27] alex-savin commented on #212
@jtronicus would mind to share what kind of configuration files to you modify and when (before first restart or after)?

Thank you in advance

[2020-01-26 14:54] Dinth commented on #222
@billiaz This looks like an upstream issue. Can you please log this issue on OpenZwave github and post a link to that thread?

[2020-01-26 14:55] Dinth commented on #221
Nope, you're doing everything fine, this is a behavior of Home Assistant. Apparently @robertsLando has this on his todo list so maybe he has a plan how to deal with it, but it wont be easy due to the way MQTT and HA autodiscovery work.

[2020-01-26 15:07] billiaz commented on #222
is domoticz beta also use openzwave?

[2020-01-26 15:34] Dinth commented on #222
yes, its a best way to troubleshoot issues with OZW1.6, as it runs on windows (so you can just pull out the Zwave stick from your server/Raspberry Pi) and plug it in to any windows computer.

[2020-01-26 15:41] Dinth opened #223 "[feat] Renaming entities"
**Is your feature request related to a problem? Please describe.**
Is there currently any way of renaming entities/values in Z2M?
I've tried changing device name, but it keeps entities names the same.
I've tried changing id in HASS Deviec JSON but it changes back to the old one as soon as i highlight a different device.

**Describe the solution you'd like**
Maybe a button to rename nodes between "

[2020-01-26 15:47] billiaz commented on #221
thought so, but if there is a guide how to "manually" cleanup, I am up to that too

[2020-01-26 15:49] billiaz commented on #222
wish I have had a stick, I use the Raspberry hat, due to the need of Extra antenna (external antenna)

But I also use SSD, so I can test with an microsd. Will post if It works there.

[2020-01-26 16:04] Dinth commented on #221
Im struggling with that myself. Ive got several dozens of entities in HA which i want to get rid off.
If the sensor is "Unavailable" in HA you can just go to Developer -> States, click on the "i" icon next to sensors name and click "Remove entity".
If the sensor is "Unknown" then its a bigger problem, you can try restarting HA/Z2M/Mosquitto server and try again.

[2020-01-26 17:50] billiaz commented on #222
@Dinth also Domoticz does the same.

[2020-01-26 17:54] Dinth commented on #222
Thanks for checking. This means that this is definitely an upstream issue.

TBH siren support in OZW was never great, im struggling with former model of Aeotec siren even today - while the siren is working fine, the notification sound is not supported.

[2020-01-26 17:58] Dinth commented on #221
Actually in recent version HA added possibility of mass removing entities which i just tested.
You can do that from Control Panel -> Entities.

[2020-01-26 18:12] billiaz commented on #222
My understanding (reading the spec) is that SoundSwitch should be a typical entity (in the world of HASS) and been albe to change sound and volume.

If this is not supported, I cannot use the new fancy Bell I bought in order to be able to mute when baby sleeps :\

I will post on the project. What I want also to try, as I see some commits. I want to build OZW from master and use it with zwave2mqtt.

[2020-01-26 18:12] magpern commented on #211
@robertsLando ok, thanks! Maybe in the future I will get more involved in the understanding. But as for the current issue, I am good. The device works now in HA, and the extra features, like dimming of LED can be done through the web interface of zwave2mqtt. I will settle there.

[2020-01-26 18:12] #211 closed

[2020-01-26 18:18] Dinth commented on #222
Feel free to experiment with it, the biggest problem with Zwave is that only few understand it and obviously those few people cannot own every device out there.
I would happily migrate to Zwave doorbell, right now im using Google Homes to play a door chime and my Aeotec siren is only hooked up to alarms.

[2020-01-26 18:21] billiaz commented on #222
I will poke node-openzwave team to help (if I cannot find it) to build a newer library and plug it. I suspect this is the only piece i need. Or I can use ozwdaemon and try to send commends through it's interface! I will post my findings (if so)

[2020-01-26 19:28] jtronicus commented on #212
@alex-savin here is everything I have done to get this working, as well as my OZW_Log.txt file (in case it is useful to @robertsLando in identifying the root cause)

From what I can tell, it doesn’t really matter when I modify the configuration files (before restart, or after restart, but changing the Auto Update option needs to be done prior to restart)
- If I leave Auto Update turned on, my conf

[2020-01-27 04:54] visnaut commented on #113
@ksuclipse Using the [latest commits of Zwave2Mqtt & OZW](https://github.com/robertsLando/Zwave2Mqtt-docker/issues/12#issuecomment-578588029), and with two BE469's and one BE469ZP, I am able to:
- See all 30 user code fields (Class ID 99, Instance 1)
- Set individual codes as numbers in the UI (i.e.: "9999")
- Unset codes

Curiously, the older BE469s do not report the actual values of each user co

[2020-01-27 07:06] robertsLando commented on #215
Yes and there are always compatibility problems somewhere so I decided to make my own support that isn easier to maintain :)

Sorry for the late reply @Dinth but I try to don't use the PC on the weekend when I can

[2020-01-27 07:06] #215 closed

[2020-01-27 07:09] robertsLando commented on #219
I don't generate values I just take values that OZW pass to me :( I don't know how to access that flag, @Fishwaldo could you help?

[2020-01-27 07:09] robertsLando commented on #214
@Dinth Thanks! Keep me updated

[2020-01-27 07:15] robertsLando commented on #218
@flamingm0e The problem as you can see is that actually there is no support for thermostats with fans/fans modes. I will submit a commit for this

[2020-01-27 07:35] robertsLando commented on #218
Try with:

[code]

In poor words just add

[code]

[2020-01-27 07:39] robertsLando commented on #213
I'm waiting for @Fishwaldo for `GetSupported`

[2020-01-27 08:03] robertsLando commented on #220
Just copy it inside the `store` folder. If running with docker ensure to map local store folder with app store folder in docker container.

Depends on how many devices your network has, it could one minute or 10 minutes or even more on very large networks

If your docker container stops please paste here the error thrown

[2020-01-27 08:07] robertsLando commented on #223
You mean `discovey_payload` `name` or `unique_id` props?

They aree calculated in this way actually:

[code]

Where `nodeName` is:

[code]

[2020-01-27 08:10] robertsLando commented on #221
@billiaz If the discovery payload was retained you have to use mqtt explorer or some other tool to remove them from mqtt broker (or just restart the broker if it stores retained in memory and not on disk).

I also used to complete remove mqtt integration from hass and than restart hass and z2m

[2020-01-27 08:14] robertsLando commented on #222
Actually I'm supporting that too as the main author is not that active

https://github.com/OpenZWave/Zwave2Mqtt#nodejs-or-pkg-version

[2020-01-27 08:16] robertsLando commented on #212
@Fishwaldo

[2020-01-27 08:18] #113 closed

[2020-01-27 08:18] robertsLando commented on #113
@visnaut Thanks

[2020-01-27 10:20] billiaz commented on #222
I used also qt-openzwave which comes with 1.6.1019 and I have the same issue
1. Unencrypted I can see tone names, encrypted has issues
2. Wrong default values on Tones (per setting)
3. Same error on volume change

The posted issue on core openzwave has the details: https://github.com/OpenZWave/open-zwave/issues/2085

[2020-01-27 10:22] billiaz commented on #221
Saw that! Played around. now deletion seems to work.
I cleaned up the devices from .storage/*core files and then entities from webgui

[2020-01-27 10:22] #221 closed

[2020-01-27 13:04] mchangsp commented on #220
OK thanks for the tips.
I will try on my own, and try to create an environment where I can recreate the error easily. I will close this question. When I can reproduce the error  consistently I will open a new question and post some logs.
At the moment sometimes zwave2mqtt just stops without giving an error....

[2020-01-27 14:28] Dinth commented on #223
But thats generated only once and doesnt seem to change when for example Node Name changes.
<img width="1503" alt="Screenshot 2020-01-27 at 13 19 43" src="https://user-images.githubusercontent.com/313674/73182256-a0b94500-4110-11ea-92c1-15741eaee71c.png">

[2020-01-27 16:33] robertsLando commented on #223
That is a know bug and is in my todos :(

[2020-01-27 16:34] robertsLando commented on #220
@mchangsp Ok let me know about that stop

[2020-01-27 16:39] robertsLando commented on #223
Wait sorry, the problem here with your configuration is that you have stored those entities (check the column `persistent`  `yes`. YOu should remove store to let z2m rediscover those values and the topic/name will be updated according to that.

When store is enabled z2m on startup simply checks on the store and sends all the discovery payloads without recalculate them for each value.

This could b

[2020-01-27 18:44] alex-savin commented on #212
@jtronicus Thank you very much!
This trick does very well!

PS: I created a new docker image, it you want I can share it

[2020-01-27 19:59] Munsio commented on #193
So today i got finally some spare time to look at it again, and i feel really really dumb cause it is working now.

The first time i tried docker daemon restarts or just simple container restarts an nothing worked.
Today after a Kernel update i rebooted the whole thing and now the switch get recognized as it should.

So i think that this wasn't a failure of openZwave or so but more like a failure

[2020-01-27 21:11] robertsLando commented on #193
It could be yes, or something docker related too

Daniel

[2020-01-28 02:57] Fishwaldo commented on #220
Zwcfg is only for 1.4. It’s not used in 1.6 and has been renamed to ozwcache (as it’s not a config file). The formats are different so you can’t copy it over.

It doesn’t matter anyway, as it’s just a cache file and will be regenerated

[2020-01-28 07:22] Munsio commented on #193
My bet is on the controller cause I restarted the docker container and daemon several times.

Nevertheless should i upload my OZWLog so you can take a look at it or should we close this issue now that it is resolved.

[2020-01-28 08:33] #212 closed

[2020-01-28 08:35] robertsLando commented on #193
@Munsio Such things are hard to debug when things don't work and than start working so I prefer to close this issue for now and I will reopen it if you get some errors again that could help to debug this

[2020-01-28 08:35] #193 closed

[2020-01-28 08:46] Dinth commented on #193
@Munsio theres no need to "feel dump", there's definitely something on the plate with Fibaro switches - i had a very similar problem few times, except ive been re-including such devices

[2020-01-28 08:53] robertsLando commented on #213
@Dinth Did you try with latest changes?

[2020-01-28 08:54] robertsLando commented on #218
@flamingm0e With latest changes you should be able to do what you want. Let me know :)

[2020-01-28 15:03] kingsleyadam opened #224 "[bug] Application crashing on dimmer devices"
**Version**

2.1.1

Build/Run method
- [x] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.1.1
Openzwave Version: (imbedded in docker)

**Describe the bug**
My docker container is crashing a lot. Sometimes there's not much in the docker logs/stdout/stderr. And I can't reproduce it consistently. I should have a very simple setup, with HomeAssi

[2020-01-28 15:06] robertsLando commented on #224
@kingsleyadam This is happen after a settings update so?

[2020-01-28 15:07] robertsLando commented on #224
Could be related to this https://github.com/OpenZWave/node-openzwave-shared/commit/b9df0cf7f437c2f9518f7d3f8d572ec2ddc94e66#comments

[2020-01-28 16:36] kingsleyadam commented on #224
This just happened after switching a light off from HomeAssistant.

I switched the light off, and it went off immediately. I then tried another light and it wouldn't toggle. I check zwave2mqtt and it had crashed.

There's nothing in the logs that look like an exception.

`
2020-01-28 17:32:51.853 Info, Node035, SwitchMultilevel::Set - Setting to level 0,
2020-01-28T16:32:51.853Z z2m:Mqtt Message r

[2020-01-29 05:05] flamingm0e commented on #218
Thanks @robertsLando

I can't wait to try it out.  I should have some time tomorrow evening.

[2020-01-29 05:16] Fishwaldo commented on #213
GetSupported isn't relevent here. (as far as the Meter Class goes from what I read). Get Supported means that OZW will not try to retrieve the current value from that CommandClass (but the device might still send Report or Set messages to OZW so its "still valid").

As far as the mappings on the Meter Class - https://github.com/OpenZWave/open-zwave/blob/master/config/SensorMultiLevelCCTypes.xml is

[2020-01-29 05:20] Fishwaldo commented on #218
I'm sure Robert knows what I'm about to say - Using "Strings" for comparisons is asking for trouble. In this case, I'd try to update the "mapping" to use the ValueItem "Value" (the integer that represents Heat/Cool etc) because it might change (by config file, discovery etc).

Then that way, spelling changes, enhancements to the Specification, users switching langugages in OZW etc will not be affe

[2020-01-29 05:21] Fishwaldo commented on #193
FYI - There is a bug in the interview process, after adding a new device, not all its capabilities are "exposed". You just need to restart OZW and it will correct itself. Its possible your hitting this bug.

[2020-01-29 05:23] Fishwaldo commented on #212
Yes - Inovelli only just submitted new config files to the OZW repo. I will merge soon.

If your manually editing config files, make sure you set the revision number to a impossibly "high" number to stop OZW overwritting your changes when restarting. (I will add some details about this to the Wiki/Documentation etc)

[2020-01-29 05:29] Fishwaldo commented on #219
OZW has "never" hidden values/command classes. What you are seeing is probably something that HA did itself in the native integration. If you used the old z2m (based on 1.4) or ozwcp (with 1.4) then you will see the same values as 1.6

what you are hitting is more than likely a bug with Fibaro. Unfortunately their QA sucks and they force you to purchase their HomeCenter to update the firmware. Tha

[2020-01-29 07:35] robertsLando commented on #213
You mean [this](https://github.com/OpenZWave/open-zwave/blob/master/config/SensorMultiLevelCCTypes.xml) ?

So for example temperature is usually is
- 49: sensor multilevel class
- 1: the instance
- 1: Index (In this case matching the Sensor type)

But is there something like this for command class 50 ? (meters)
Does it also rely on that file?
Because I have some meters valueID and no one respect t

[2020-01-29 07:41] robertsLando commented on #218
Yes I know, until I don't find a better way to identify devices it is better than nothing... Actually there are too many wrongly discovered devices

[2020-01-29 07:43] #219 closed

[2020-01-29 07:49] robertsLando commented on #224
@kingsleyadam Could be related to segmentation fault received on multievel updates

[2020-01-29 07:53] robertsLando commented on #188
@Dinth Any news?

[2020-01-29 07:54] robertsLando commented on #141
@Fishwaldo When upgrading to OZW 1.6 I'm getting this problem too, also I'm getting segmentation fault when sending switch multilevel set commands. This was working befor in OZW 1.4

[2020-01-29 08:40] Fishwaldo commented on #213
Instance is dependent upon the device endpoint. You can also have multiple “sensors” per endpoint (meaning more than 1 ValueID per instance).

Meter is hard coded per this table: https://github.com/OpenZWave/open-zwave/blob/0d94c9427bbd19e47457578bccc60b16c6679b49/cpp/src/command_classes/Meter.cpp#L74

(You can use those ValueID_Index_Meter enums if they are exposed to nodeJS. )

[2020-01-29 08:42] Fishwaldo commented on #224
It will only crash if you just added a device with Multilevel and have not restarted. (As long as the ozwcache file is updated)

[2020-01-29 08:46] Fishwaldo commented on #141
The stream issue - it’s not a OZW issue. It’s the kernel running out of buffer space to transmit. It seems to be hardware based. I can’t do jack about that unless someone debuts the kernel/hardware.

The multilevel crash is known. The bug was present in OZW 1.4 but it didn’t crash. The fix is very involved and will be what I’m working on soon. (2 attempts at a fix caused other issues).

[2020-01-29 09:30] kingsleyadam commented on #224
@Fishwaldo, so once the item is added and I've restarted things should be stable?

I had moved to the `2.0.6-dev` tag and things were more stable, but the application crashed again later when editing an items gateway properties.

[2020-01-29 09:51] robertsLando commented on #213
Is there a way to get the meter type for a specific valueID?

[code]

[2020-01-29 09:54] Fishwaldo commented on #224
If your error is indeed the same as the MultiLevelSwitch bug, yes, it should be stable. If your error is something else then ?????

[2020-01-29 09:58] kingsleyadam commented on #224
It's hard to say what the error actually is. There's no exception bubbling up, the application crashes without much in the logs.

I'd be interested in increasing log verbosity to see exactly what's going on.

[2020-01-29 10:01] robertsLando commented on #224
Could you run the app using nodejs?

[2020-01-29 10:20] Fishwaldo commented on #213
Apart from units, no. But all meter types have a static Index Value.

[2020-01-29 10:24] kingsleyadam commented on #224
Yep, I've spun-up an Ubunntu 18.0.4 VM and will be reinstalling everything from scratch in nodejs.

I'll update again if I see the same issues.

[2020-01-29 10:29] robertsLando commented on #213
I still don't understand how to correctly identify meters so...

[2020-01-29 10:40] petergebruers commented on #213
If you have an id then this gets the index

index = vID.GetIndex();

And then you can compare it with ValueID_Index_Meter::Gas_Cubic_Meters for example

It points to that enum @Fishwaldo posted and "index" is "stable" because the Z-Wave Spec assigned these numbers.

[2020-01-29 10:42] kingsleyadam commented on #224
Currently getting this when trying to spin-up zwave2mqtt

`  z2m:Store settings.json not found +0ms
  z2m:Store scenes.json not found +1ms
  z2m:Store nodes.json not found +1ms
Error: libopenzwave.so.1.4: cannot open shared object file: No such file or directory
    at Object.Module._extensions..node (module.js:680:18)
    at Module.load (module.js:564:32)
    at tryModuleLoad (module.js:504:12)

[2020-01-29 10:49] robertsLando commented on #213
[code]

Does it means that if I have index 0 it is `Electric_kWh`, index 2 `Electric_W`, index 4 `Electric_V` and so on?

[2020-01-29 10:50] robertsLando commented on #224
@kingsleyadam COuld you tell me the steps you have run?

[2020-01-29 10:51] petergebruers commented on #213
Yes

[2020-01-29 10:52] petergebruers commented on #213
Here is an interesting snippet from Domoticz

[code]

So Domoticz only has one type of meter object and so they have to convert from Cubic Feet to m3

[2020-01-29 10:53] robertsLando commented on #213
Because I have this:

![Schermata da 2020-01-29 11-51-51](https://user-images.githubusercontent.com/11502495/73350680-cae44180-428d-11ea-98fc-e27265f8693f.png)

And Index 8 in the enum isn't Watt

[2020-01-29 10:57] petergebruers commented on #213
Sorry, I have had a very bad week adn I am catching up. I'll start reading from the start of this topic. There has to be a misunderstanding about which number refers to what...

[2020-01-29 11:04] kingsleyadam commented on #224
Yep, here's what I've done

1. Install operating system dependencies:

[code]

2. Install openzwave

[code]

3.  Install zwave2mqtt

[code]

4. Run zwave2mqtt

[code]

[2020-01-29 11:08] kingsleyadam commented on #224
I was able to get it working by instead of running 3 and 4 above, I built and ran based upon the latest git code.

[code]

[2020-01-29 11:38] kingsleyadam commented on #224
I turned the above into a system.d service so I can better test this.

[code]

[2020-01-29 11:55] robertsLando commented on #224
Yes the problem was that you where using the pkg version, that was packaged using ozw 1.4. You did it right in the last comment by running npm build and npm install.

Let me know if your problem persists

Daniel

[2020-01-29 12:23] petergebruers commented on #213
Tested Neo Wall Plug and Fibaro Wall Plug, I don't see "8" and cannot find a discrepancy anywhere. Here is what I get...

2020-01-29 12:32:17.435 Always, OpenZwave Version 1.6-1016-g2bbbd2dd Starting Up

[code]

Are you mixing OZW 1.4 with 1.6? I am not familiar with how it used to be on 1.4...

Please note this type of log line is specific to open-zwave-control-panel: `Info, Notification: Value A

[2020-01-29 12:38] kingsleyadam commented on #224
I was able to reproduce this almost immediately upon adding the first node to the network, it is a dimmer.

I only have 1 dimmer node on the network. This happens every time I try to update it's dimmer level, even after restarting the npm process.

Log output is

[code]

[2020-01-29 12:44] kingsleyadam commented on #224
An additional note, I added just a binary switch and that does not cause an application crash. That one seems to work just fine.

[2020-01-29 14:10] robertsLando commented on #213
@petergebruers I have just submitted a commit that should identify meters and sensors multilevel correctly based on

https://github.com/OpenZWave/open-zwave/blob/0d94c9427bbd19e47457578bccc60b16c6679b49/cpp/src/command_classes/Meter.cpp#L74

And

https://github.com/OpenZWave/open-zwave/blob/0d94c9427bbd19e47457578bccc60b16c6679b49/config/SensorMultiLevelCCTypes.xml

[2020-01-29 14:11] robertsLando commented on #213
Anyone can test latest commit?

[2020-01-29 14:28] robertsLando commented on #224
@kingsleyadam It is related to the issue #141. @Fishwaldo told me that he is tring to fix this on OZW

[2020-01-29 14:42] kingsleyadam commented on #224
@robertsLando, interesting that I don't see any stream buffer issues in my errors. Is that the correct issue?

[2020-01-29 16:27] robertsLando commented on #224
Check my last comment on that issue

[2020-01-29 18:32] kingsleyadam commented on #224
Got it, I see it now although it seems it should be a separate non related issue.

Thanks again for you help @robertsLando , I really appreciate it.

[2020-01-29 19:57] Dinth commented on #213
Is it in docker? Ive tried pulling latest "latest" branch, but i dont think anything new was downloaded.

[2020-01-29 20:02] Dinth commented on #188
Sorry @robertsLando i havent had a chance to test it yet, something came up at work and i will be extremely busy for next few weeks. I will try to test that in next couple of days, weekend latest.

[2020-01-30 06:49] Dinth commented on #214
@robertsLando can you have a look on this comment https://github.com/home-assistant/home-assistant/issues/31123#issuecomment-580053235. What do you think?

[2020-01-30 07:11] robertsLando commented on #224
@kingsleyadam You welcome hope this will be fixed soon :smiley:

[2020-01-30 08:28] robertsLando commented on #213
@Dinth not yet, just on master. I suggest you to use nodejs version to be able to always use the latest updates :)

[2020-01-30 08:52] robertsLando commented on #188
@Dinth Don't worry let me know :)

[2020-01-30 09:19] robertsLando commented on #214
That has no sense. The payload is parsed into into json and json supports Boolean types.

Now by checking your discovery payload:

[code]

[2020-01-30 09:58] robertsLando commented on #214
I have submitted a fix for this

[2020-01-30 10:03] robertsLando commented on #213
@Dinth Closing this for now, will reopen if necessary

[2020-01-30 10:03] #213 closed

[2020-01-30 10:03] #210 closed

[2020-01-30 19:47] Dinth commented on #223
Thanks @robertsLando i dont know how i could miss that!

[2020-01-30 19:47] #223 closed

[2020-01-30 19:56] Dinth commented on #214
Hi @robertsLando

I havent checked the nodejs version yet, due to issues at work, but i changed the HASS discovery template to this:
[code]
and now HA is throwing out this error:

[2020-01-31 04:38] chilicheech opened #226 "[question] How to disable auto update of config files/db?"
OZW has this option in the `options.xml` file:
[code]
How do I set that to true in zwave2mqtt? Right now openzwave.com is failing to resolve via DNS and I can't start Z2M because it crashes when OZW fails to contact mfs.db.openzwave.com.
[code]

[2020-01-31 07:21] robertsLando commented on #214
@Dinth Sorry my fault, jinja doesn't support booloean casts, try with:

`"value_template": "{{ value == 'true' }}"`

[2020-01-31 07:26] robertsLando commented on #226
@chilicheech Thanks for your issue, I will submit a fix for this

[2020-01-31 08:25] robertsLando commented on #226
4a9c8c4e6d4e42e93801554458d02ded87ed7377 done

[2020-01-31 08:25] #226 closed

[2020-01-31 10:49] aretakisv commented on #199
Similar issue here, device is 2-4-5 (Danfoss LC13)

customDevices.json is:
[code]
nothing seen, my MQTT broker has no thermostat topic, and like it is not discovering it

[2020-01-31 11:05] robertsLando commented on #199
@aretakisv I don't think your thermostat has only "67-1-1" as values, where is the temperature? The setpoint the modes...

[2020-01-31 11:50] aretakisv commented on #199
The Danfoss living connect has:
1. no feedback temperature
2. no modes
3. has settemp
4. climate control schedule
5. Date/time
just set temp
image attached
<img width="1496" alt="Screenshot 2020-01-31 at 12 40 49" src="https://user-images.githubusercontent.com/48288386/73536756-f5b5cd80-4426-11ea-8912-2ebc8def2615.png">
xml:
https://github.com/OpenZWave/open-zwave/blob/07acd313435998c2740257cc5f71

[2020-01-31 11:52] aretakisv commented on #199
adding from the ozwcache:
[code]

[2020-01-31 12:19] aretakisv commented on #199
found my error, it was missing the wrapping around list on the whole thermostat.

now with the following config:
[code]

i get this error:
`zwave2mqtt-7f6db75dff-zh42w zwave2mqtt 2020-01-31T12:11:49.975Z z2m:Gateway Error while discovering device climate_thermostat of node 12: Cannot read property 'value_id' of undefined`

[2020-01-31 13:13] robertsLando commented on #199
That error occurs because it looks for a temperature, I will submit a commit for that

[2020-01-31 13:26] robertsLando commented on #199
@aretakisv done

[2020-01-31 13:38] billiaz commented on #199
I use docker, if nightlies exist I could test it.

[2020-01-31 14:35] kingsleyadam commented on #224
I've got a _lab_ environment setup where I'm able to replicate this issue. Running openzwave 1.6, the latest zwave2mqtt code, a spare zwave controller, and a spare dimmer. Running on a raspberry pi.

I can test this whenever a fix is posted.

[2020-01-31 17:05] chilicheech commented on #226
Thank you!

[2020-01-31 17:23] aretakisv commented on #199
@robertsLando
I also have some payload issue on the same climate device.
the thermostat on home assistant doesn't allow me to change value other than 1.0C. Devices support 0.5.
I found on manual for MQTT HVAC https://www.home-assistant.io/integrations/climate.mqtt/#precision
Based on that My device discovery is:

[code]
tried the precision value as 0.5 and "0.5" same result
home assistant log:
[co

[2020-01-31 18:02] chr55 opened #227 "[bug] Motion sensors not working"
robertslando/zwave2mqtt   latest              45912840ae75

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.1.1
Openzwave Version: 1.6.0

**Describe the bug**
I am currently using HomeSeer Z-Wave and am determining if Home Assistant / Zwave2Mqtt would be a better fit for me. I have two Z-Wave motion sensors that work fi

[2020-01-31 18:32] aretakisv opened #228 "[question] Battery Device values not held until battery device receives update"
I will use an example on this.
I have a climate control (battery operated) TRV.

Once I send new value to 67-1-1 of the device (setpoint) the value a few seconds after this change will return to the previous state.... once device wakes, receives the command and the value updates to the new value.

Flow on a device with 5m wake interval:
[code]

Is there way to fix this?  using _events or other way

[2020-01-31 19:26] chr55 commented on #227
This is the first device
https://products.z-wavealliance.org/products/1034

and the second

https://products.z-wavealliance.org/products/1744

[2020-01-31 19:52] chr55 commented on #227
I went ahead and brought another motion sensor over from my old Z-Wave network. It is a different brand. It is device
EcoLink PIRZWAVE2.5-ECO
https://products.z-wavealliance.org/products/1500

It works VERY WELL in both zwave2mqtt and also Home Assistant. The motion sensor is very responsive in Home Assistant and works perfectly. Motion detected / Clear all working as expected.

This tells me I ha

[2020-02-01 08:47] Dinth commented on #214
Done this, the errors are gone now and i think that the switch works now. Need to reset whole my system, including mosquitto to double check but it looks promising.

[2020-02-01 11:19] Dinth commented on #214
Yep. im not sure what == 'true' does but it seems to work :D

[2020-02-01 16:57] nicoxygen opened #229 "[bug] Philio PSM02-1 philio 4 in 1"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Brand: Philio **PSM02-1 Slim Multi-Sensor**
**Model:** 0x0002
par Philio Technology Corp
Firmware: 1.00

Zwave2Mqtt version: 2.1.1
Openzwave Version: 1.6.0

**Describe the bug**
- It is a problem between zwave2mqtt and the module, I used this module with openzwave under jeedom and

[2020-02-01 18:55] aretakisv opened #230 "[bug] Minor Bug on motion sensor, identified as door"
My Motion Sensor is identified as Door instead of Motion sensor.
I can probably modify using customDevices my device. But is there a way to submit a change on this device under zwave2mqtt?

the device is: NAS-PD02Z Battery Powered PIR Sensor V2 (Shenzhen Neo Electronics Co Ltd)

At the example, at least device class needs change.

binary:
[code]

[2020-02-01 22:42] aretakisv commented on #228
I noticed the following.
On my danfoss device I have Hour/minutes and day as user values, but also Heating set point

The heating setpoint 67-1-1 when I change the value from z2m web int or HASS, MQTT doesn't receive an update until the device wakes where the: 129-1-0, 129-1-1 129-1-2 do change on MQTT topic before device wakes.

Is this expected?

[2020-02-02 06:28] Fishwaldo commented on #228
Yes. That’s the way battery devices work. They can only receive updates once they wake up.

I can’t comment why the GUI reverts to the old value though. That’s something specific to Z2M or the Node Wrapper.

[2020-02-02 07:19] petergebruers commented on #228
For sake of completeness. Newer battery operated TRVs like Eurotronic Spirit and Fibaro FGT-001 respond within about 1 second, they are "frequently listening routing slaves"... They behave more like mains devices.

[2020-02-02 22:14] mshiznitzh opened #231 "[question] Error while discovering value 42-49-1-1 of node 42: Cannot set property 'unit_of_measurement' of undefined"
I have 2 MultiSensor 6 with the newest firmware that keep getting this error.

z2m:Gateway Error while discovering value 42-49-1-1 of node 42: Cannot set property 'unit_of_measurement' of undefined +277ms
  z2m:Gateway Error while discovering value 42-49-1-3 of node 42: Cannot set property 'unit_of_measurement' of undefined +2ms
  z2m:Gateway Error while discovering value 42-49-1-5 of node 42: Can

[2020-02-02 23:06] chilicheech opened #232 "[question] Multisensor not discovering all values"
I have 2 different multisensors that have temperature, humidity, luminance, and motion sensing. All values are identified properly and I can see them in the UI. However, the hass devices section only shows:
- binary_sensor_contact
- sensor_battery
- sensor_humidity
- sensor_illuminance
- sensor_temperature

The devices that are missing in hass devices are:
- sensor_home_security/sensor_security/se

[2020-02-03 05:36] chilicheech commented on #231
This might be related to what's happening to me as well. I created #232 but I haven't seen any errors in the logs.

[2020-02-03 07:49] robertsLando commented on #224
@Fishwaldo Please let me know when you create a fix for this crashes

[2020-02-03 07:52] robertsLando commented on #199
I think the property you are looking for is not `precision` but `step`

[2020-02-03 07:56] robertsLando commented on #227
Hi @chr55, thanks for your issue, unfortunally based on your logs it is difficult to debug the problem, it could be a device problem for sure if the new one is correctly working. Can I close this so?

[2020-02-03 07:57] robertsLando commented on #214
@Dinth Already done, thanks! :)

[2020-02-03 07:57] #214 closed

[2020-02-03 07:58] robertsLando commented on #229
@Fishwaldo

[2020-02-03 07:59] robertsLando commented on #230
@aretakisv Yes, sure! Take a look here https://github.com/OpenZWave/Zwave2Mqtt#custom-components

[2020-02-03 08:01] robertsLando commented on #228
I don't take the newer value until I don't receive a feedback from the device

[2020-02-03 08:01] #228 closed

[2020-02-03 08:10] robertsLando commented on #232
@chilicheech The problem is that they have valueID index:

113: Command class alarm
1: Instance
512 513 7 256: The valueID index

I use command classes and index to identify devices, as you can see the alarm class I only handle index 0 1 and 10 https://github.com/OpenZWave/Zwave2Mqtt/blob/v2.1.1/lib/Gateway.js#L785-L802 . I think your device doesn't respect ozw specs (usually alarm level should be

[2020-02-03 08:18] robertsLando commented on #232
@chilicheech Fixed now, check latest commit :)

[2020-02-03 08:18] #232 closed

[2020-02-03 08:18] robertsLando commented on #231
@mshiznitzh Fixed now

[2020-02-03 08:18] #231 closed

[2020-02-03 13:04] nicoxygen opened #233 "[bug] minor Bug Fibaro eyes FGMS001 motion sensor"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.1.1
Openzwave Version: 1.6.0

for home assistant binary_sensor_alarm is
 "payload_on": **255**,
    "payload_off": **0**,

and not

 "payload_on": true,
    "payload_off": false,

[2020-02-03 13:07] nicoxygen commented on #229
for first bug is a problem of parameter just change bit:5 to 12 and not 8 who is for farenheit
for motion dectector it's good
but i have a problem with door sensor

[2020-02-03 13:08] Fishwaldo commented on #224
I may ask help for testing the fix (in dev branch) when I’m ready. It makes some fairly substantial changes to some core OZW functions and I’m only about 80% sure it won’t break something else. Stay tuned. 😜

[2020-02-03 13:24] chr55 commented on #227
With so many of my motion sensors not working in zwave2matt / Home Assistant I will stay on my current home automation platform ( HomeSeer ) where they are working perfectly. Thank you for the response. You can close this ticket.

[2020-02-03 13:24] #227 closed

[2020-02-03 13:39] robertsLando commented on #233
@nicoxygen Is this for every ` binary_sensor_alarm` device?

[2020-02-03 13:40] robertsLando commented on #224
@Fishwaldo Thanks! I would like to relase a new version but I prefer to wait for ozw2 to fix this :)

[2020-02-03 13:41] robertsLando commented on #229
So the only problem is the door sensor now?

[2020-02-03 19:10] nicoxygen commented on #233
no just for fgms001 other products are true and false

[2020-02-03 19:18] nicoxygen opened #234 "[feat] files recommended configuration"
hello is it possible to create a file with inside a recommended configuration for each zwave module in order to have a turnkey configuration and put a link recommended configuration in the configuration tab

[2020-02-03 19:20] nicoxygen opened #235 "[bug] product configuration not saved"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.1.1
Openzwave Version: 1.6.0

[bug] I think it has already been mentioned, the configurations are reset by default when the container is restarted, they do not remain saved, it is annoying.

[2020-02-03 19:22] nicoxygen commented on #229
in fact these are only configuration problems I must find the right balance, I had made a mistake it is the door sensor that does not currently work, hence my question of recommended configuration.

[2020-02-03 21:09] chilicheech commented on #232
Thank you so much for the quick fix :)

[2020-02-03 21:36] chilicheech commented on #232
@robertsLando quick question. I want to build the docker image so i can test the new change locally so I'm looking at this: https://github.com/robertsLando/Zwave2Mqtt-docker#custom-builds
So, looking at the Dockerfile, i see this: https://github.com/robertsLando/Zwave2Mqtt-docker/blob/master/Dockerfile#L9 and it says: `# Latest stable 1.4`
Is that still the case? I thought we were defaulting to 1.

[2020-02-03 21:53] robertsLando commented on #232
I suggest you to build it also by replacing the openzwave sha with latest ozw commit so you are also using latest ozw in your docker.

So copy and paste there the ozw and the z2m latest commit sha and your image will be ready

Daniel

[2020-02-03 21:59] Dinth commented on #188
Hi @robertsLando
Ive just noticed that when i run light.turn_on or light_turn_off service in HA (which both work) or manually switch the light using a physical switch im getting the following error in HA:
[code]

[2020-02-03 22:16] ovenystas commented on #233
I have found the same issue on `binary_sensor_alarm` devices on these other Fibaro devices as well. They also need values of 255 and 0 instead of true and false.
FGMS001-ZW5 Motion Sensor
FGSS101 Smoke Sensor
FGFS101 Flood Sensor

[2020-02-04 03:19] chilicheech commented on #232
Just reporting back that it's working great. Thanks again:
<img width="738" alt="Screen Shot 2020-02-03 at 7 19 12 PM" src="https://user-images.githubusercontent.com/732659/73710922-25c8cf00-46ba-11ea-8ef7-bb068f80bd56.png">

[2020-02-04 03:38] chilicheech commented on #232
@robertsLando another question, since in openzwave the value is called `home security` do you think it would make sense to label this `home_security` instead of `alarm_burglar`? Or maybe `alarm_home_security`? I found a reference doc here: https://github.com/OpenZWave/open-zwave/blob/master/cpp/src/ValueIDIndexesDefines.def#L1076 and here: https://github.com/OpenZWave/open-zwave/blob/master/cpp/sr

[2020-02-04 08:12] Dinth commented on #232
The next release is gonna be soo great :)

[2020-02-04 08:48] robertsLando commented on #234
@nicoxygen Could you better explain what you mean please?

[2020-02-04 08:49] robertsLando commented on #235
@nicoxygen Configurations are not resetted, you should send 'requestConfigParams` agains the node to refresh them

[2020-02-04 08:49] #229 closed

[2020-02-04 08:51] robertsLando commented on #188
@Dinth Please set the payload to JSON time value or Entire zwave object

[2020-02-04 08:52] robertsLando commented on #233
Could you create a PR for those devices ? Just add them to `hass/devices.js`

[2020-02-04 09:18] robertsLando commented on #232
@chilicheech I have follow this file specs: https://github.com/OpenZWave/open-zwave/blob/master/config/Localization.xml

Anyway there are 18 different types of alarms (index < 256) would you mind to create a configuration for each one of them? Every configuration need also to be added to /hass/configurations.js

[2020-02-04 10:25] kingsleyadam commented on #224
@Fishwaldo, I have a minimal testing _lab_ setup that I can replicate my issues on. Let me know which commit to build off of and I can give it a try whenever you're ready.

[2020-02-04 10:26] robertsLando commented on #224
@kingsleyadam I think this branch https://github.com/OpenZWave/open-zwave/tree/Dev

[2020-02-04 12:45] Fishwaldo commented on #224
Testing now would be ok. But I’ve yet to actually test with secure devices so... I’m not a fan of wasting people’s time. Secure devices might require some further changes.... once I hit thats stage and we feel it’s “alpha” I’ll post here.

[2020-02-04 17:12] chilicheech commented on #232
Sounds good. I'll work on that today.

[2020-02-04 18:48] Giel538 opened #237 "Hass switch discovery"
Hi,

I'm running home assistant core 0.104.1 (docker) with the latest zwave2mqtt (docker).
Zwave2mqtt is running fine, and i can control my devices.  All messages are send to my mqtt broker which i can see and verify in MQTT explorer.

I turned on Hass discovery and see my devices now in home assistant.

The first thing i mentioned in the home assistant log is this warning which is repeating all t

[2020-02-04 23:01] Support-Vezca opened #238 "After node excluded from controller, it still remains in the hidden list in zwave2mqtt webui?"
Manually built (git clone - npm install - npm run build )
Zwave2Mqtt version: 1.2.3
Openzwave Version: 1.4.1

This may just be the way this app is designed to function and not a bug.
Say I have 5 nodes in the zwave controller, node 1,2,3,4,5... then I include node 6, then I exclude node 6, I check on the controller using pc controller software and it is indeed completely gone... however in the zwa

[2020-02-05 00:10] Fishwaldo commented on #238
Node ID’s are assigned by the controller and not the application. When adding a node we have no influence over the node number assigned and is usually the next highest number.

[2020-02-05 07:07] robertsLando commented on #237
@Giel538 are you using docker? If so just set the payload to json time value or entire zwave object and it will work

[2020-02-05 07:09] robertsLando commented on #238
@Support-Vezca that is how zwave works so isn't a bug. What you can do is replace a node after you have removed it so it will take that id

[2020-02-05 07:09] #238 closed

[2020-02-05 09:34] s-frei opened #239 "[question] How to improve performance"
Hi there,

first of all thanks for your continous development of this software. We are using it to develop a custom _home automation_ software against it and are planning to run multiple zwave networks with your software and control them over mqtt. We planned to use ten networks and in that case also ten times your piece of software.

**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manu

[2020-02-05 10:45] Support-Vezca commented on #238
How does one replace a node?

[2020-02-05 10:50] robertsLando commented on #239
@s-frei Unfortunally I think this is a protocol limit and not something can be improved. Anyway I tag @Fishwaldo that maybe could say more about this

[2020-02-05 10:54] robertsLando commented on #238
@Support-Vezca You have to firstly remove the node, than select the node in the table go to node actions dropdown select `Replace failed node` that will make your controller in inclusion mode and you will be able to add a new device that will take that id

[2020-02-05 10:55] robertsLando commented on #239
@s-frei Is this software open-source? just for information, I like to see how people are using z2m :)

[2020-02-05 11:17] Support-Vezca commented on #238
Excellent!!!!!

[2020-02-05 12:10] s-frei commented on #239
Unfortunately not at this time.

[2020-02-05 13:21] thucar opened #240 "[bug] MinOZW /dev/ttyDevice works. Zwave2Mqtt does not"
**Version**
Dev

Build/Run method
- [x] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.1.1
Openzwave Version: 1.6-1026

**Describe the bug**
Running "MinOZW /dev/ttyZWAVE"after installing OpenZwave works correctly. Running and configuring Zwave2Mqtt is not able to connect to the /dev/ttyZWAVE device and throws the following error:
`z2m:Zwave Exception calling Open

[2020-02-05 13:36] petergebruers commented on #240
OpenZWave contributor here... We've seen similar things before, it is not caused by Z2M and also not by OZW.

Something is interfering with your serial port.

You may think so, but it does not run as expected, this error is a sign of trouble on that device...

`2020-02-05 14:16:05.621 Error, contrlr, ERROR: Dropping command, expected response not received after 1 attempt(s). Command: "FUNC_ID_ZW_G

[2020-02-05 13:41] thucar commented on #240
I guess this issue belongs in the Openzwave repository in that case.

[2020-02-05 13:41] #240 closed

[2020-02-05 13:43] petergebruers commented on #240
Nope, it is your system...

[2020-02-05 14:38] kingsleyadam commented on #224
I moved my openzwave git branch and `Dev` and built/brought everythong online.

I ran through my scenario that crashed the service and this time around it didn't crash and my MQTT entries got updated accordingly.

For me, this looks to be fixed. But I don't have any security devices.

I can test this again once it's in its final state.

[2020-02-05 21:08] JonasPed opened #241 "Double activation of button does not correctly fire central scene event"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.1.1
Openzwave Version: 1.6.0

**Describe the bug**
Double click button on LogicHome ZHC5010 not published correctly to MQTT.

**To Reproduce**
Steps to reproduce the behavior:
1. Double click on any of the four buttons on a LogicHome ZHC5010 switch.
2. This sh

[2020-02-05 22:14] hostrup opened #242 "[question] ZW164 Indoor Siren 6 (Aeotec Limited) Trigger Sound?"
Hi!
I own a new ZW164 Indoor Siren 6 (Aeotec Limited) - and i am running the Zwave2MQTT - in docker.
I have successfully paired the deivce - using a network key.

Now - as another user stated - i am not able to change the tamber setting - but there seems to be a connection to the Siren.

When i do "tamber" the device - i get this in the log files:

zwave2mqtt          | 2020-02-05 22:06:42.119 Det

[2020-02-05 22:26] hostrup commented on #242
Hi again!
OK - it looks like the download - of device should just finish.
Now i can actually make it play a tone - by using the "user" section on the node - in the control panel.

Next step - to be able to trigger this by using mqtt :)

[2020-02-06 06:12] Fishwaldo commented on #224
Thanks. This is pretty big change to the core. Did you only test with a dimmer?

[2020-02-06 07:04] robertsLando commented on #239
@s-frei Ok let me know if you need some support :) About your question, how many devices are in your network?

[2020-02-06 07:42] wilmardo opened #243 "[question] Possibility to connect to a TCP serial"
First of all, thanks for the awesome work on this!

At this moment I am running the software in a Kubernetes cluster with the container pinned on the node where the USB is plugged in. I would love to decouple the Zwave stick from the cluster(node) to be able todo failovers of the container.

I came across this section over at Zigbee2MQTT:
https://www.zigbee2mqtt.io/information/connecting_cc2530.ht

[2020-02-06 08:09] robertsLando commented on #242
@hostrup Just check the readme for more info :)

[2020-02-06 08:11] robertsLando commented on #243
@wilmardo AFAIK tcp isn't supported. But maybe @Fishwaldo (Openzwave author) can help you with this :) (I'm curious too)

[2020-02-06 08:12] robertsLando commented on #241
@Fishwaldo

[2020-02-06 18:11] Giel538 commented on #237
Yes i am using docker. The solution is unfortunately not working.

Updated to 105.1 in the meantime.

[2020-02-07 03:58] Fishwaldo commented on #241
Nothing wrong on OZW side: zwave2mqtt_1  | 2020-02-05 20:46:54.394 Info, Node049, Received Central Scene set from node 49: scene id=4 with key Attribute 3. Sending event notification.

[2020-02-07 04:00] Fishwaldo commented on #243
It wont work. OZW expects a Serial Device...

You could try configuring [USB/IP](https://wiki.archlinux.org/index.php/USB/IP) on your kernel

[2020-02-07 04:09] Fishwaldo commented on #239
The Z-Wave Protocol is basically serial transactions. Meaning you have to wait for the previous command to finish before starting a new one.

its also low bandwidth. At most 100K assuming all ZW+ devices, and when you have non plus devices, it can go as low as 40K. Its not wifi speeds by any stretch of the imagination.

Regarding the timeouts, the logs posted are not OZW logs, so I can't say. It c

[2020-02-07 07:04] robertsLando commented on #237
@Giel538 this has been fixed, just wait for a new release or make a custom build with latest changes. Check Zwave2Mqtt-docker for more info about custom builds

[2020-02-07 07:04] #237 closed

[2020-02-07 07:31] robertsLando commented on #241
@Fishwaldo Shouldn't it be cacthched here? https://github.com/OpenZWave/node-openzwave-shared/blob/master/src/callbacks.cc#L171

[2020-02-07 08:40] nicoxygen commented on #234
so I'm talking about the advanced configuration (bit) of the z-wave modules
it would be good to create a file with each configuration set differently from the default configuration of the z-wave module and put a button (recommended configuration) above the configuration which would replace the default configuration. Jeedom already has that.
In the configuration file, you should be able to put seve

[2020-02-07 08:42] nicoxygen commented on #235
it's possible to translate zwave2mqtt ? if yes i translate to french

[2020-02-07 09:06] Fishwaldo commented on #241
The Log Text is misleading. All Scenes are just ValueID's

Looking at what you pointed at, thats the Notification Callback. If you have to handle scenes differently in Z2M and so on, I guess so...

Regardless, in OZW, we see the "Scene" change and propagated it out via a ValueID. I imagine something wrong on the node-shared or your Z2M

(Remember, Scenes changed in OZW 1.6 from Notifications (like

[2020-02-07 09:44] robertsLando commented on #234
@nicoxygen THis means to create a device db with all recommended configurations, do you know how many zwave devices exists?

[2020-02-07 09:45] robertsLando commented on #235
@nicoxygen actually there is no multilanguage support. I'm the only mantainer of the project

[2020-02-07 09:49] robertsLando commented on #241
I already have users that have scenes correctly working. When a scene change as it is a valueID I sould get a value changed notification like for other id, am I worong?

Actually the value change event is triggered [here](https://github.com/OpenZWave/node-openzwave-shared/blob/master/src/callbacks.cc#L212) from openzwave shared and then I listen for the event in z2m like I do for all others values

[2020-02-07 10:01] JonasPed commented on #241
Please note that it is only double activation that is not working on the device. Single activation, long hold and key released after long hold are all correctly published. Sorry if that was not clear in the original bug report.

The device supports the following actions on each button (it contains 4 buttons).
1. Button activated.
2. Button released
3. Long activation of button
4. Double activation

[2020-02-07 10:09] robertsLando commented on #241
@Fishwaldo So I think this one is work

@JonasPed can you confirm you don't get that log when you double press the button? I mean you don't get the message published via mqtt but even ozw doesn't detect it?

[2020-02-07 10:12] #243 closed

[2020-02-07 10:12] #242 closed

[2020-02-07 10:16] wilmardo commented on #243
@Fishwaldo Thanks for the clarification! USB/IP isn't suitable since it implements it's own protocol.

For future reference the two implementation of RFC2217 I am looking into at the moment are:

* [ttynvt](https://gitlab.com/lars-thrane-as/ttynvt)
* [cyclades-serial-client](https://linux.die.net/man/8/cyclades-serial-client)

If I won't forget I will update the issue when I find on of the solutio

[2020-02-07 10:19] nicoxygen commented on #234
Yes there are a lot but we can do this as the device.js if a recommended configuration exists for the device it will update otherwise nothing would happen is it possible? i have join pictures
![advanced-configuration](https://user-images.githubusercontent.com/17491075/74021382-b85bbd80-499b-11ea-8de9-9ed549f93623.png)

[2020-02-07 10:20] nicoxygen commented on #235
I suspect and frankly congratulations

[2020-02-07 11:03] #161 closed

[2020-02-07 11:04] robertsLando commented on #235
@nicoxygen About your issue I have just submit a fix

[2020-02-07 11:04] #235 closed

[2020-02-07 11:06] robertsLando commented on #234
I make it in my todos but I can't ensure you when and if it will be implemented

[2020-02-07 11:07] robertsLando commented on #243
Keep us updated!

[2020-02-07 11:20] aretakisv opened #244 "[feat] support Controller command timeout (for instance AddNode)"
I noticed that IF i forget to cancel commands (For instance during add node process) controller is going on an AddNode waiting state... and never timeouts.
Last time this was for one night, both z-stick and z-wave.me behaved the same way

Most controllers and software I played with, they did have around two minutes timeout.

[2020-02-07 12:12] Tazintosh commented on #161
Just in case someone else struggles on this, here's my solution (quite drastic):

- I got refund ALL my crappy Z-Wave devices, including the Stick. Sorry for any lovers of this protocol, but as far I'm concerned, this have been my worth tech experience ever, whatever the software used (Hass, Openhab, etc.).
- Bought all my devices from "Shelly" Company (got 10 shutters, 6 dimmers, 2 RGBW). They ar

[2020-02-07 12:39] robertsLando commented on #161
@Tazintosh Personally I think each protocol has its pro/cons, in case of zwave it is low brandwith and low consumption devices. Also Openzwave before 1.6 version was a reverse engineering of zwave protocol and that was not as stable as it is becoming now.

There are still problems as zwave devices are a lot and sometimes manufacturer doesn't repect specs, other times users do things in the wrong w

[2020-02-07 12:46] robertsLando commented on #244
@Fishwaldo I could add this feature on z2m, my question is should this be implemented in Openzwave? I noticed for example my z-stick has this behaviour built in and it stops inclusion/exclusion after around 1 minute from last inclusion/exlusion

[2020-02-07 13:03] Fishwaldo commented on #244
No. I won’t implement. It can get messy as some “controller commands” are single shot and other (like add/remove) change states. And some devices like your zstick will timeout while others won’t.

I don’t think there is any harm in sending a cancel controller command any time though.

[2020-02-07 15:25] aretakisv commented on #244
@Fishwaldo during an Add Node state, no setvalue can be sent. Is this a normal behaviour?
For instance my zstick didn't timeout after a night and all commands where sent after i did a cancel.

[2020-02-07 15:37] aretakisv commented on #244
An example here:
I started inclusion 15:28:00 and then I did send two commands.
until and 15:29:58 where I cancelled the command, the others where not executed:

[code]

and a 5 minute example.
devices began executing setvalues after 5 minutes and only when I did cancel the add node

[code]

[2020-02-07 16:25] aretakisv opened #245 "[question] Encryption seems not to be working"
I try to include securely devices. Specifically Fibaro Wall plug and it seems they do not use encryption.
The strange part is I do always see this : " Info, contrlr, Encrypted Flag is 0"
the logs when I start inclusion:

[code]

inclusion bits:
[code]

[2020-02-07 17:04] robertsLando commented on #245
@Fishwaldo

[2020-02-07 17:44] chilicheech commented on #245
I had an issue with encryption and it was because I was I had "spaces" in my key. When I removed the spaces it worked, i.e.: `0x00,0x00,0x00...` instead of `0x00, 0x00, 0x00...`

[2020-02-07 17:47] Fishwaldo commented on #245
Firstly:

zwave2mqtt2-664b84f44b-jlw9l zwave2mqtt 2020-02-07 16:08:04.782 Info, Check that the config path provided when creating the Manager points to the correct location.

You need to check if that file is in your config directory (same as manufacturer_specific.xml)

second:
I don't see the Security CC advertised on this node. Can you try a previous docker image and see if you can include it se

[2020-02-07 17:47] Fishwaldo commented on #245
Thats not the case here. Something else is going on.

[2020-02-07 17:47] billiaz commented on #245
Key is loaded, and i see no spaces.
This happens only with z stick of aeotec.
My z.wave.me which is slowly diying works with the same key/settings.

[2020-02-07 17:50] billiaz commented on #245
I think that is.
I compiled arm64 from the docker repo of @robertsLando with the latest commits (wanted the thermostat patch which is not released yet for z2m... and thisntime I did also use latest commit of openzwave. Let me recompile tonight, and report back

[2020-02-07 17:54] petergebruers commented on #245
IIRC the _oldest_ variant of the Fibaro FGWPx does not have security, as you can see "COMMAND_CLASS_SECURITY" is not listed (see text under "Basic device class...." in log). The newer model is Z-Wave Plus and supports S0, the newest additions even S2 security. One way to tell the difference is by loking at the firmware version, oldest are 2.X then 3.X and 4.X. IIRC the old one has model number 101

[2020-02-07 18:11] billiaz commented on #245
Mine are 102s

[2020-02-07 21:43] JonasPed commented on #241
I do get that log line when double activating the button. The attached files are from when double activating the button. The one named zwave2mqtt.txt contains the console output from zwave2mqtt container and the other one is what published to MQTT.

[2020-02-07 22:37] aretakisv opened #246 "[question] update configuration parameter using MQTT publish"
I was reading the main page but for some reason I cannot pinpoint how it is done.

I have a device (doorbell) and i want to update 121-3-2 value from 25 to 0.
The device in my mqtt is:
zwave2mqtt/nodeID_9/121/3/2/
Is there way to set a value on this?

Is there maybe alternative to create a custom device supporting a volume setting 0-100? I could write something about it for the Doorbell 6, now is

[2020-02-07 22:47] robertsLando commented on #246
Publish on topic

zwave2mqtt/nodeID_9/121/3/2/set

Payload: (depends on the gateway payload settings)

Just value: 0
Json/zeave object:  {value:0}

Daniel

[2020-02-08 05:39] aretakisv commented on #246
cool! i was putting a / in the end and didn't help

[2020-02-08 15:10] aretakisv commented on #246
Two reasons:
1. Slash
2. I have two zwave2mqtt, migrating from Razberry to z-stick. running on the same MQTT, I was using the same MQTT Name, which was connecting/disconnecting each other. once i changed this, I saw 4 clients (Homeassistant, my explorer and two Z2M, instead of 3 in total.
I suspect the reason 2 made assume I was doing something wrong

[2020-02-08 15:10] #246 closed

[2020-02-08 18:31] aretakisv commented on #245
I found my mistake (i'm @billiaz ). It was on my ublock :\

[2020-02-08 18:31] #245 closed

[2020-02-08 18:33] aretakisv commented on #246
after restarting my zwave2MQTT i lost soundswitch on this node. I can no longer use the sound switch options nor can see the CC 121 (0x79).
Tried heal, NIF, Request node info... nothing brings these back.

[2020-02-08 19:28] mitharen opened #247 "[question] gateway only producing discovery for battery"
I have some First Alert Z-Combo alarms that I'm trying to add to a zwave2mqtt/mosquitto/hassos group. I can see the alarms pairing and zwave2mqtt publishing information to mosquitto, but when creating events for hassos discovery only the batteries are getting recognized. It seems like the classid for the alarm is correct and should be converted into a discovery event. Any ideas? Attaching a pictur

[2020-02-09 11:58] aretakisv opened #248 "[bug] Compiling from Master breaks Node commands"
I just compiled from master the Z2M using the Zwave2Mqtt-docker repo.

the latest changes coming from the following git Hashes breaks the node commands

Log:
[code]

GIT HASH on docker file:
[code]

Way to reproduce:
[code]

[2020-02-09 14:23] rweglarz opened #249 "[question] nodes are not added in secure mode"
I'm running zwave2mqtt in docker on hassio (ZWave2MQTT v2.0.6, OpenZwave 1.4.164)
My issue seems to be similar to report/question in #202 . I cannot add nodes in secure way - at least they are not marked as secure in webui and logs show secure=false. The USB stick is ZW090 Z-Stick Gen5 EU (AEON Labs).
I'm not being prompted for secure add, I checked that popups are allowed and tried two browsers (

[2020-02-10 07:18] robertsLando commented on #241
@JonasPed Could you send the merged logs? It is really strange that you get all others events and not that one because all events are catched in the same way...

[2020-02-10 07:26] robertsLando commented on #248
@aretakisv Thanks! Fixed now

[2020-02-10 07:26] #248 closed

[2020-02-10 07:29] robertsLando commented on #246
@aretakisv That's really realy strange, any error in logs? @Fishwaldo Could this happen??

[2020-02-10 07:31] robertsLando commented on #247
@mitharen Are you using latest version from master ?

[2020-02-10 07:35] robertsLando commented on #249
@rweglarz Please update to ozw . Use latest version on docker. Like I said on readme I don't support questions about ozw  as it is deprecated

[2020-02-10 07:35] #249 closed

[2020-02-10 09:03] JonasPed commented on #241
@robertsLando Not sure what you mean by "the merged logs"?

[2020-02-10 09:20] robertsLando commented on #241
@JonasPed I mean both ozw and z2m logs together to see how z2m reacts to ozw events

[2020-02-10 10:22] JonasPed commented on #241
@robertsLando this is what is present in zwave2mqtt.txt file. That is everything that gets printed to the console when I double activate the button.

[2020-02-10 10:34] aretakisv opened #250 "[question] when enabling autoupdate device_classes.xml fail"
I have a strange issue and I do not know if I do something wrong OR is a bug.
When I enable on zwave to Autoupdate the database. It cannot recognise device classes anymore
Also log has this error: Failed to load device_classes.xml

Database adds files on /usr/src/app/config This way it stops using the /usr/local/etc/openzwave DB
Device_classes and other XML are missing from the /usr/src/app/config

[2020-02-10 11:47] JonasPed commented on #241
Tried to dig a bit into this and found something strange in the ozwcache file. Below is the CommandClass element for command class 91. My understanding is that it is actually OpenZwave that generates this file. Is that correct? As you can see this does not list the "Pressed 2 Times" item element.

			<CommandClass id="91" name="COMMAND_CLASS_CENTRAL_SCENE">
				<Compatibility />
				<State>
					<

[2020-02-10 12:24] kingsleyadam commented on #224
@Fishwaldo , I also tested this with a standard switch without issues.

I don't have a wide range of devices I can test with, unfortunately. But it seems to have addressed the issues I was having.

[2020-02-10 13:12] aretakisv commented on #230
I have time now, Will try to submit something for this and for Danfoss Thermostaats

[2020-02-10 13:28] robertsLando commented on #250
Did tou set this as custom path in Zwave settings config path?

[2020-02-10 13:29] robertsLando commented on #241
@JonasPed I think this is the problem @Fishwaldo

[2020-02-10 13:57] mitharen commented on #247
No, I'm using the 2.1.1 release from last month packaged through the hassio addon. That might explain it. Thanks.

[2020-02-10 13:57] #247 closed

[2020-02-10 15:41] Fishwaldo commented on #241
I need to see the full OZW_Log.txt file (or you can use ozwcp if you can’t get it from z2m). You need to remove any ozwcache file before starting. Those entries are discovered by interviewing the device and if not in the interview then it’s a big with the device).

[2020-02-10 16:19] Fishwaldo commented on #224
Thanks for the feedback.

[2020-02-10 16:51] billiaz commented on #250
no, using the container build from zwave2mqtt-docker, path was empty.
I had to set the original Openzwave path: /usr/local/etc/openzwave and then it tried to update that spot, if you do not set it does update the mentioned path.

[2020-02-10 17:05] robertsLando commented on #250
@billiaz That's strange...

[2020-02-11 05:38] billiaz commented on #250
@robertsLando
I built the container based on your repo zwave2mqtt-docker.
Modified the Dockerfile to use the latest z2m commit for better features

In practice:
Starting the container without config or store.
Enable the "Update database" function
System downloads device database in folder /usr/src/app/config but without the main manufacturer xml
Error begins to occure after DB is downloaded.

Sear

[2020-02-11 08:17] robertsLando commented on #250
THanks for the clarification @billiaz now I have understand. I don't know how this is handled in ozw side. @Fishwaldo when `Update database` option is enabled in OZW what path does it uses to store configurations db update? IS this behaviour a bug or what else?

I would like to know if it is possible to OZW to use data path to store its configurations when that option is enabled

[2020-02-11 12:16] billiaz opened #254 "[question] Made some "fan" entities for AEOTEC Doorbell 6 and questions"
I've made some Entities discoveries for AEOTEC Doorbell 6.

Scope: I like to adjust the volume of my bell and use scheduled rules todo so.
What i've done is create the most important bits as custom devices.
My result:

[code]

Is there better way to do so and/or Template repeated bits?
is there some other type that can support inputing the value in a field?

This device also allows you to update s

[2020-02-11 12:53] robertsLando commented on #254
@billiaz Thanks for the info, I have now added internal support for command class 0x79 so now your sound switch will be automatically discovered :) Please remove this customdevices and use latest version from master and confirm me if they are working

[2020-02-11 13:20] billiaz commented on #254
My little raspberry pi4 is building every day like Crazy!

[2020-02-11 13:22] robertsLando commented on #254
@billiaz Are you using the docker way? If so I really suggest you to switch to nodejs if you would like to make the process lot faster!

[2020-02-11 13:26] billiaz commented on #254
Using your repo and changing only the Hash. you mean the build container to be nodejs?

Also in your code addition

[code]

The min/med/high values are personal choice! the volume is from 0-100, would it be better solution to "custom adjust this with another type? like Dimmer !?
What about drop down like switch?

[2020-02-11 13:55] robertsLando commented on #254
@billiaz I'm not very familiar with hass, could you send me a working configuration for this? Check https://www.home-assistant.io/docs/mqtt/discovery/

[2020-02-11 14:40] billiaz commented on #254
your example covers the whole sound_switch. But soundswitch has 3 sub types/categories:
121-?-0 - number of available tones (Read only
121-?-1 - List of tones
121-?-2 - Volume 0-100
121-?-3 - Default tone if command has no tone specified

? = action target
Actions:
1 - Browse dones
2 - Tamper
3 - Doorbell 1
4 - Doorbell 2
5 - Doorbell 3
etc...
my example is made for all Volume (121-?-2). Is there

[2020-02-11 14:45] robertsLando commented on #254
@billiaz You right: https://github.com/OpenZWave/open-zwave/blob/master/config/Localization.xml#L1575

Yes but what type of control should I create for that?

[2020-02-11 14:48] billiaz commented on #254
I am looking. If there is way to create new component for this and work with MQTT might be the only way. Really trying to fit something on this.

[2020-02-11 14:50] robertsLando commented on #254
@billiaz Let me know if you find a way to support that

[2020-02-11 16:15] billiaz commented on #254
@robertsLando what about https://www.home-assistant.io/integrations/binary_sensor.mqtt/#json_attributes_topic
this for the Sound tones and maybe a dimmer or fun for the volume

[2020-02-12 07:19] robertsLando commented on #254
The fan for the volume is already working, for json attributes it needs a try, but I think json attributes are read only, right?

[2020-02-12 10:32] billiaz opened #255 "[question] State becomes null/unknown on HASS when i restart zwave2mqtt"
I have an issue where state becomes unknown in HASS when i restart zwave2mqtt
An example:
I have a Eurotronics Spirit TRV. once i restart zwave2mqtt the state of temperature and mode becomes unknown/null.

For the purpose of debugging:
Screenshots in order of events
1. State before restart
<img width="1234" alt="Screenshot 2020-02-12 at 11 24 01" src="https://user-images.githubusercontent.com/4048

[2020-02-12 12:41] robertsLando commented on #255
@billiaz Is retain on mqtt enabled? COuld you check the value of those vars with mqtt explorer? Does this happen for all values?

[2020-02-12 15:33] billiaz commented on #255
1. Retain is enabled
2. should QOS also be higher than 0? i have it 0?

The values are retained at MQTT as I can see.

If i restart home assistant without touching values in Z2M values return...
I am confused.

[2020-02-12 15:46] billiaz commented on #255
More details. When starting Z2M the page of nodes looks like:
<img width="1567" alt="Screenshot 2020-02-12 at 16 44 28" src="https://user-images.githubusercontent.com/4048920/74351150-05ce9500-4db7-11ea-8b46-72d1638c6075.png">

still discovering (i call it discovery)... once discovery finishes and looks like:

<img width="1558" alt="Screenshot 2020-02-12 at 16 45 41" src="https://user-images.githu

[2020-02-12 15:53] robertsLando commented on #255
@billiaz I think that too, maybe when the value is rediscovered this happen?

[2020-02-12 16:13] billiaz commented on #255
even on stored values this happens tested that.
HASS retain discovery could help?

[2020-02-12 16:31] robertsLando commented on #255
@billiaz Not sure, you should try to open an issue on hass and tell why if a component already discovered receives another discover its values become null

[2020-02-12 19:21] billiaz commented on #255
@robertsLando doesn't consider them discovered

log:
[code]

it is updating the component, which probably causes this.

[2020-02-12 20:13] robertsLando commented on #255
Ok should this be considered a bug in hass? Would you like to open an issue there?

Daniel

[2020-02-12 21:23] billiaz commented on #255
Reference ticket in HASS: https://github.com/home-assistant/home-assistant/issues/31759

[2020-02-13 05:56] jeroenhendricksen commented on #224
FWIY, I also experienced the described issue with a `FIBARO System - FGD212 Dimmer 2` and after testing it with your changes (from zwave2mqtt in docker, with a custom created image), it no longer crashes. I also have two `NAS-WR01Z Power plug 12A` connected an they still work.

[2020-02-13 07:59] robertsLando commented on #224
@jeroenhendricksen Did you get any issues?

[2020-02-13 20:44] JonasPed commented on #241
I have around 10 of these devices in the house. After digging a bit deeper into the problem it turned out that it was only the device I used for testing that did have the issue. I have used quite some time comparing configuration of the device that did have the issue and one of the other devices. Everything under configuration was the same. After reading the manual I could see that there was one s

[2020-02-13 20:44] #241 closed

[2020-02-13 20:54] kvaster opened #256 "[bug] zwave2mqtt crash during initialization when value polling enabled on sleeping device"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: latest git (Feb 13, 2020)
Openzwave Version: latest git (Feb 13, 2020)

**Describe the bug**
Zwave2Mqtt crash when polling intensity enabled on 'time' value.

**To Reproduce**
1. Setup polling interval to 10000ms
2. Setup Danfos Living Connect thermostat
3. Setu

[2020-02-13 21:08] robertsLando commented on #241
With latest changes in master now you can refresh configuration paramenters by pressing a button on the ui :)

Daniel

[2020-02-13 21:15] kvaster commented on #256
Seems that problem is cause my device was somehow in state 'DEAD' and there was no any properties/values for it. Anyway it should not lead to zwave2mqtt crash I think...

[2020-02-14 00:52] Fishwaldo commented on #224
Cheers!

[2020-02-14 08:28] robertsLando commented on #256
@kvaster Thanks for your issue, that error is strange as at that point node is marked as ready so it should have all values, maybe it gets ready and immediatly dead before calling that api. Anyway I have added a try catch to handle this now :) thanks!

[2020-02-14 08:28] #256 closed

[2020-02-14 08:31] robertsLando commented on #224
I think I will create a release so :)

[2020-02-14 13:50] robertsLando commented on #250
@Fishwaldo News?

[2020-02-14 13:52] #233 closed

[2020-02-14 13:52] #230 closed

[2020-02-14 13:52] #224 closed

[2020-02-14 13:53] robertsLando commented on #222
Is this fixed now?

[2020-02-14 13:53] #222 closed

[2020-02-14 13:54] #201 closed

[2020-02-14 13:56] #220 closed

[2020-02-14 13:57] #199 closed

[2020-02-14 13:57] #188 closed

[2020-02-14 14:12] robertsLando commented on #224
@Fishwaldo I have noticed that this still happens if you send a setValue command before the node is ready!

[2020-02-14 14:26] #218 closed

[2020-02-14 14:26] #196 closed

[2020-02-14 14:27] #142 closed

[2020-02-14 14:28] #239 closed

[2020-02-14 14:28] robertsLando commented on #197
@Fishwaldo

[2020-02-14 17:02] Fishwaldo commented on #224
Yeah. I’m pretty confident there isn’t any major bugs now. Went a lot smoother than I thought

[2020-02-15 04:19] Fishwaldo commented on #250
Downloads are to the config path. (specified in the Options Class or options.xml)

[2020-02-15 15:43] orson1282 opened #257 "[feat] Password protect the control panel"
First of all, thanks for all the hard work! 👍

Can you maybe add an option to password protect the control panel...?
I'm thinking of reverse proxying it (with ssl) so I can access it remotely, so having it password protected would be a must-have feature.

Thanks.

[2020-02-16 12:55] billiaz commented on #254
To clarify.

Instead of FAN, can I use A Dimmer switch to change volume? I could have a scale 10 Dimmer 0-10 and this could translate to 0-100. This way the volume can be set more progressively.

I tried to make it, but with many failures.

[2020-02-17 08:49] robertsLando commented on #250
@Fishwaldo So is there any reason why this has happen? If he enable `Auto update` option with no config path set (so it sohould use the default `/usr/local/etc/openzwave`) It seems is using the `process.cwd` dir instead.

[2020-02-17 08:52] robertsLando commented on #257
@orson1282 this is possible, yes but requires some work and I have no time for that right now. I add this to my todos!

You could use nginx for this purpose anyway: https://www.digitalocean.com/community/tutorials/how-to-set-up-password-authentication-with-nginx-on-ubuntu-14-04

Would it be good?

[2020-02-17 09:01] robertsLando commented on #254
@billiaz Unfortunally hass has a really low set of components and some are very difficult to set up.

Have you tried to set up the component manually on hass? Maybe it is easier for tests, check https://selfhostedhome.com/migrating-to-zwave2mqtt-for-home-assistant/. Is shows how to set up alight dimmer that you could use for the fan

[2020-02-17 12:55] orson1282 commented on #257
Awesome., thanks for the tip. Basic auth could work, since it would be going over an ssl connection.
Yeah I understand it would take some work to implement it as a form based auth, but thanks for adding it to the To do list for Z2M 3. 👍

[2020-02-17 12:59] robertsLando commented on #257
@orson1282 Stay tuned :smile:

[2020-02-17 13:45] magpern opened #259 "ZW090 Z-Stick Gen5 EU (AEON Labs) led does not turn off"
**Version**
Build/Run method
- [robertslando/zwave2mqtt:latest ] Docker

Zwave2Mqtt version: 2.1.1
Openzwave Version: ? the one in the docker I guess

**Describe the bug**
I have a "ZW090 Z-Stick Gen5 EU (AEON Labs)" as zwave controller.
It has a LED that is blinking constantly like crazy in red, orange, blue.
What I understant, this is correct behavour for this device, unless explicitly turned of

[2020-02-17 14:32] robertsLando commented on #259
I suggest you to use this command to turn off led blink:

`echo -e '\x01\x08\x00\xF2\x51\x01\x00\x05\x01\x51'|cu -l /dev/ttyACM0 -s 115200`

Remember to replace `/dev/ttyACM0` with your device path

[2020-02-17 14:32] #259 closed

[2020-02-18 09:45] s-frei commented on #239
We recently went productive with six networks, each around 50 nodes, managed over MQTT by your software.

Thank you, I will 😉

[2020-02-18 09:48] kintrupf commented on #123
Is there anything new to this? I have the same problem. I'm using yesterdays latest Docker image of ZWave2mqtt (version 2.2.0). On the "User" page of the Fibaro there's the switch item, and the four buttons labeled "Inc", "Dec", "Open" and "Close", but "Stop" is still missing.
I'm coming from openHAB, and the ZWave binding there did support a stop button out of the box for this device (but had oth

[2020-02-18 16:54] kvaster opened #260 "[feat] Timestamp for last value update"
**Is your feature request related to a problem? Please describe.**
There are two types of modes for updating sensor values (and battery value) for z-wave: device will push new values according to it's logic and you should request update of the value. Requesting update is done via value polling but it really differs from device to device.

For example, Danfoss Living Connect thermostat will push it

[2020-02-18 17:01] robertsLando commented on #123
@Fishwaldo

[2020-02-18 17:02] robertsLando commented on #260
In poor words: You would like to have timestamp in both devices status and zwave objects ?

[2020-02-18 17:55] kvaster commented on #260
If it will not break anything - yes, it will be really good to have timestamps of last update. Also device status is a bit confusing to me, cause 'false' is sent when device is also in 'sleep' mode, but device is still in a good state.

[2020-02-19 01:55] gertvdijk opened #262 "[bug] Change of Mode to Eurotronic thermostat fails with warning since 2.2.0"
**Version** v2.2.0

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.2.0
Openzwave Version: as per 2.2.0 Docker release

**Describe the bug**
The Eurotronic Spirit Z-Wave radiator thermostat can operate in different modes (OFF, HEAT, ECO, etc.). Setting any of this mode through HA fails since 2.2.0 (it worked in 2.1.0!).

[2020-02-19 04:01] DanielWinks opened #264 "[feat] Health check endpoints"
**Is your feature request related to a problem? Please describe.**
Currently, there aren't any health check endpoints.

**Describe the solution you'd like**
It'd be valuable to be able to set up health and liveness probes in Kubernetes to a (semi-standard) /healthz endpoint.

A HTTP endpoint for /healthz that gives 200 OK if the Zwave network is connected/USB stick is responding would be great. An

[2020-02-19 06:37] billiaz commented on #262
@gertvdijk
Tried the same but from Heat to Heat Eco using 2.2.0 version and openzwave from master and works

[code]

Can @robertsLando it be the built container is using an older openzwave version?
@gertvdijk are you using security on this device or not?

[2020-02-19 07:37] robertsLando commented on #262
@gertvdijk for sure is something related to the discovery payload, at first sight seems that it fails to map the command, in fact `heat` is the command sent from hass, that should be converted to `Heat` from z2m before writing the value. Try using the latest version 2.2.0?

[2020-02-19 07:48] robertsLando commented on #264
Hi Daniel, thanks for your feature request. What status code should I use for a fail? 404?
What if I create 3 health Checks:

`/health` : General health status, respond with a 200 if both mqtt and zwave are connected
`/health/mqtt`: Mqtt status
`/health/zwave`: Zwave status

[2020-02-19 08:25] robertsLando commented on #260
@kvaster done

[2020-02-19 08:25] #260 closed

[2020-02-19 10:12] billiaz commented on #262
@gertvdijk maybe you have a Custom Payload and now it is imported there is some conflict? Can you also remove the stored payloads if exist?

[2020-02-19 10:13] billiaz commented on #255
@robertsLando Is here a way to extract the payload HASS stores and compare it to the one z2m publishes? I am still scratching my head over these details!

[2020-02-19 10:50] gertvdijk commented on #262
@robertsLando

I'll have to check the messages in MQTT to see what's in there, no access to the machine ATM, will update later.

Thanks, that confirms some suspicion on my side. :)

@billiaz

I used to have one to test for another product, but don't have any at this moment.

[2020-02-19 11:13] billiaz commented on #262
cam you paste
1. from WEBui the thermostat discovery payload
2. From your container under folder hass/devices.json (if i remembeR) the part of TRV

[2020-02-19 11:47] DanielWinks commented on #264
I think a 5xx code would be more appropriate. 500/502/504 all seem like they'd work. Per the Kubernetes docs:

The end points seem good too, like the idea of having 3.

JSON isn't needed, and I think the 3 end points alone provide enough info. Either zwave and MQTT are up or not. If not, 5xx and the pod gets killed and replaced by kubelet. Kubernetes doesn't look at response body, just the respons

[2020-02-19 14:05] robertsLando commented on #255
@billiaz IDK, I really have low knowledge about hass :disappointed:

[2020-02-19 16:16] robertsLando commented on #264
@DanielWinks Check readme https://github.com/OpenZWave/Zwave2Mqtt#healt-check-endpoints

[2020-02-19 16:23] DanielWinks commented on #264
Looks great, minor edits submitted in https://github.com/OpenZWave/Zwave2Mqtt/pull/265

[2020-02-19 16:46] #264 closed

[2020-02-20 15:18] kvaster opened #268 "[bug] Changing poll_interval and poll_intensity sometimes doesn't apply"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: latest git (today)
Openzwave Version: latest git (today)

**Describe the bug**
I've made setup with poll_intervall = 10000 (10 seconds) and added value polling at each interval.
After I've changed poll_intervall to 60000, but nothing changed - values updated eac

[2020-02-20 15:38] robertsLando commented on #268
@Fishwaldo

[2020-02-20 15:39] robertsLando commented on #268
@kvaster Poll interval and poll intensity are set after each restart. I don't know if this could be a problem of ozw that is not updating them as If you set them the first time it works

[2020-02-20 18:11] billiaz commented on #254
I managed to get Dimmer working.
volume is adjustable from 0-100 I created a dimmer with the following setup:

[code]

This works like charm! now  this doorbell has 8 volumes
the topics are:  121-?-2 where ? is 1-8.
Is there a way to create a loop in devices which will create 8 entities?

[2020-02-20 18:21] kvaster commented on #268
Poll settings are set after each restart, but values are not updated in ozw settings.
I will take a look into code.

[2020-02-21 08:07] robertsLando commented on #254
@billiaz Could you try with latest commit?

[2020-02-21 09:34] darkpainy commented on #92
I have the same issue, my Aeotec Multisensor 6's support clearing there own motion alarm, set to 2 minutes going from motion to no motion (if it is not retriggered within those 2 minutes). But the Automatically clear events setting clear is after 5 seconds. I can set this higher but it is not saved after reboot. Also for these sensors which support clearing on their own it is not a usefull thing,

[2020-02-21 09:36] robertsLando commented on #92
@Fishwaldo

[2020-02-21 09:38] robertsLando commented on #92
@darkpainy This is more likely a issue with ozw lib and not mqtt. Could you open the issue there?

Are you sure? If it is a configuration parameter (command class 112) You should ask for updateConfiguration to get the actual value after a reboot, with latest version of z2m there is a button for this purpose on configuration section of node values

[2020-02-21 12:05] billiaz commented on #254
@robertsLando reporting soon. but Now I got it how you target specific classes.

[2020-02-21 13:33] billiaz commented on #254
compiled with fe9511e0da043b29e9a3561b43b4acf2f1575f5a. Doesn't show any bell on discovered devices (under node)

[2020-02-21 13:41] robertsLando commented on #254
@billiaz It should show volume dimmers, nope? Do you get any errors in discovery?

[2020-02-21 13:49] billiaz commented on #254
z2m web int shows nothing.

log:
[code]

[2020-02-21 14:32] robertsLando commented on #254
@billiaz I mean on hass side

[2020-02-21 15:09] billiaz commented on #254
shouldn't the discovered entities show first on Z2M interface?

[2020-02-21 15:16] robertsLando commented on #254
@billiaz Yes they should be visible in z2m interface also, it's strange you don't see anything could you check the code?

[2020-02-21 15:20] billiaz commented on #254
i checked the code i checked out and all changes are there. Checked the active container.

[2020-02-21 15:23] robertsLando commented on #254
Could you add some breakpoints or console.log to see what happens?

[2020-02-21 16:21] billiaz commented on #254
I'm not a dev. if you can guide me with some guide for breakpoints.

console.log: the container output is enough or something else?

[2020-02-21 16:25] robertsLando commented on #254
You should run `node --inspect bin/www` and open your browser to the link you see in the console. Than go to òib/Gateway and set a breakpoint to the line that creates the sound_switch

[2020-02-21 16:56] billiaz commented on #254
[code]

does this help? :) maybe is not what you expect.

[2020-02-21 17:07] billiaz commented on #254
ignore the previous, rookie mistake

[2020-02-21 18:07] billiaz commented on #254
@robertsLando I cannot for some reason use breakpoints properly.

[2020-02-22 00:09] jerepeer commented on #142
@robertsLando FYI ... it all works like a charm now with the latest release 2.2.0  including setting the volume.

Thx for the update !

[2020-02-22 14:48] billiaz commented on #262
@robertsLando I added a new TRV today and it only discovers the climate_thermostat. when the previous TRVs have a lot more info like:
 - battery
 - dimmer (valve position)
 - alarms

something seems to be "off" I would say

[2020-02-22 17:22] jwalker343 commented on #68
@robertsLando and @johntdyer I was able to fix this in my setup after several hours of beating me head against the keyboard. I have 3 Aeotec ZW098 LED Bulbs that all work as expected now.

In the "HASS Device JSON" (Discovery template?) from the zwave2mqtt control panel, I changed these two lines:
[code]

[2020-02-24 06:30] CaCu15 opened #271 "[question]"
I've been using zwave2mqtt for 6 month without major problems. But since the upgrade to OpenZwave 1.6 I'm experiencing problems with device discovery. I'm using release 2.2.0 (tried 2.1.1, 2.1.0 as well) in a docker container and tried starting with a complete fresh install to ensure there are no effects of the old configuration.  My zwave network consists of
- 1 ZME_UZB1 USB Stick (Z-Wave.Me)
- 6

[2020-02-24 07:12] robertsLando commented on #271
@CaCu15 Do you see those values in values list?

[2020-02-24 07:26] robertsLando commented on #254
Did you make it work someway?

[2020-02-24 08:32] robertsLando commented on #271
@CaCu15 Could you check home assistant logs to see if there are errors on discovery and paste them here please? On my instance everything is working

[2020-02-24 08:36] robertsLando commented on #262
Could you check for errors in hass logs please? If there are no errors on z2m logs it means it has sent the discovery payload but that has not been parsed correctly from hass

[2020-02-24 08:41] robertsLando commented on #68
I think hass has made some change because as I remember the old payload_on and payload_off where `on` and `off`, can someone confirm this? I would like to know that this doesn't breaks some existing configuration

[2020-02-24 09:13] CaCu15 commented on #271
I can see the following values in the zwave2mqtt's web interface:
"User" section:
11-38-1-0
11-38-1-1 (as button "Bright")
11-38-1-2 (as button "Dim")

Not entries in "configuration" section

"System" section
11-38-1-3 (as switch "ignore start level")
11-38-1-4
11-39-1-0

Will look for my home assistant logs..

[2020-02-24 09:25] robertsLando commented on #271
@CaCu15 Ok so this is not an hass discovery problem but seems an Openxwave probelm, could you try to exclude and include back a node? To be sure it takes the same id use in order `Remove Node` and than `Replace Failed node` functions.

[2020-02-24 09:27] CaCu15 commented on #271
In the Home Assistant logs there are a lot of entries like the one below. I already know this kind of errors. They come from a type mismatch in the value of the MQTT message. The state_template and brightness template treat the value as an int, but obviously they are transmitted as string. Hence in the past I changed the auto generated templates:

`"brightness_template": "{{ (value / 99 * 255) | r

[2020-02-24 10:07] robertsLando commented on #271
@CaCu15 could you set payload to JSON time value or entire zwave object, this would fix those errors

[2020-02-24 11:08] CaCu15 commented on #271
I will try that today in the evening. Currently I don't have access to my installation.

[2020-02-24 12:41] robertsLando commented on #271
Remeber to remove the hass stored configurations, If you have.

[2020-02-24 13:37] CaCu15 commented on #271
That seems to help. I'm getting the same zwave endpoints as in previous versions. Thx for your support!

[2020-02-24 13:37] #271 closed

[2020-02-25 04:17] jwalker343 commented on #68
I'm all for making sure this does not break anybody's config!

According to the [docs](https://www.home-assistant.io/integrations/light.mqtt/#payload_on) on home-assistant.io, `payload_on` and `payload_off` defaults to `ON` and `OFF`.
The Docs also specify that all values in Home-Assistant are [case-sensitive](https://www.home-assistant.io/docs/configuration/yaml/#upper-and-lower-case).

So it doe

[2020-02-25 07:25] robertsLando commented on #68
@jwalker343 I know now hass works with ON and OFF but my question is if this is a new change in hass latest releases beause if I fix this I could break old hass instances...

[2020-02-25 11:26] darkpainy commented on #92
Hi @robertsLando I managed to disable this behavior for my sensors by setting the value of the automatic clear to 0. I use my sensors for lights automations and they send one innitial "detected motion" on first motion and don't send a "clear" event untill they have not seen anything for 3 minutes. This way the light stays on for as long as needed. with the automatic clear, even if i set it to for

[2020-02-25 11:43] Fishwaldo commented on #92
In this case you should set the compatibility flag EnableNotificationClear in the device config file. Please see https://github.com/OpenZWave/open-zwave/wiki/CommandClass-Compatibility-Flags#notification-commanclass

[2020-02-25 12:04] darkpainy commented on #92
Hi @Fishwaldo ,  I will try that thank you.
Is it normal that setting the clear event to 0 also has the same effect? I guess 0 means disable in this case aswell right.
The Notification command you're reffering to, is something i need to manually add to the device class of all the sensors in the zwave file that is stored in my ZW2MQTT configuration folder right?

Kind regards

[2020-02-25 12:44] robertsLando commented on #92
@darkpainy Here: https://github.com/OpenZWave/open-zwave/blob/master/config/aeotec/zw100.xml

[2020-02-25 20:01] billiaz commented on #262
i am only focusing on z2m.

a normal thermostat (which has discovered all entries is like this:

<img width="754" alt="Screenshot 2020-02-25 at 20 59 26" src="https://user-images.githubusercontent.com/4048920/75282771-e4879300-5811-11ea-9f39-b59d2df6c63a.png">

as you can see we miss, battery and other payloads.

what is causing this? they where there a day ago and they just disappear

[2020-02-25 20:50] robertsLando commented on #262
Could you send me the valueids that are missing? Are those valueids visible in control panel?

Daniel

[2020-02-25 23:14] raymonvdm opened #273 "[bug] Precompiled Version 2.2.0 not starting"
**2.2.0**

Build/Run method
- [X] PKG

Zwave2Mqtt version: 2.2.0
Openzwave Version: 1.4.3496

**Describe the bug**
A clear and concise description of what the bug is.

The precompiled version off 2.2.0 is not starting on Ubuntu 18.04 since it is compiled using a different version of Node.JS

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

Normal startup

**Additio

[2020-02-26 05:28] billiaz commented on #254
No my chrome is buggy with breakpoints (found people complain) and I am on a cdocker container.

A full debug log using inspect would help?

[2020-02-26 07:05] robertsLando commented on #273
@raymonvdm OZW 1.4 is not supported anymore, check https://github.com/OpenZWave/Zwave2Mqtt#-attention-

[2020-02-26 07:05] #273 closed

[2020-02-26 07:18] robertsLando commented on #254
It could, if there are errors there

[2020-02-26 13:57] raymonvdm commented on #273
Check didn`t notice that OZW switched to 1.6, i just installed this machine a week ago with 1.4

[2020-02-26 17:01] raetha commented on #203
@robertsLando I can confirm another person affected by this issue.

Was wondering if there was some way you could add code that could either detect version of hass in use, or at least be a configuration setting that a user could set. Though I don't mind changing the individual node now, I guarantee this will be forgotten with future locks or other changes. And as of now, it isn't obvious to a new

[2020-02-26 17:29] raetha commented on #203
Another option that I just found after reading the hass release notes would be to change the state to use "LOCKED" and "UNLOCKED" instead of "true" and "false". That might break some folks automation, but would match the default values and not require any other changes from what I can tell. In that case hass version wouldn't matter, but after upgrading might require updating some automation or oth

[2020-02-26 21:51] UmbraMalison commented on #262
I have just moved from using hassio's Zwave2MQTT addon which is at version 1.6.0 IIRC, to running docker container outside of hassio (but on same OS) with 2.2.0.

None of my four Eurotronic Spiritz have climate_thermostat anymore (they did before), but they have the other 6 hass discovered entities.

I have also tried excluding/removing a TRV and including/adding it again. Same result.

Mine looks

[2020-02-26 22:04] UmbraMalison commented on #262
i've just seen #250
i also enabled 'Auto update database' as it was a new option for me since 1.6.0 and it would seem like a good thing to enable.

i've not noticed other device classes missing however.

[2020-02-27 05:30] billiaz commented on #262
@UmbraMalison if you do have autoupdates... and running container. I suggest to disable them and try.
Or find the default path updates stored and set it on your UI.

[2020-02-27 07:27] robertsLando commented on #203
@raetha I think I will follow zigbee2mqtt way, seems they always make updates based on latest hass version

[2020-02-27 07:39] #68 closed

[2020-02-27 07:40] #203 closed

[2020-02-27 08:02] billiaz commented on #262
@robertsLando I confused you.
Nodes find multiple devices like the picture I posted... but Sometimes the same node appears to have 1 device only. No reason yet found for this behaviour.
It is like Z2M cannot discover all/probably crashes somehwere?

I need to find when it happens in the logs.

[2020-02-27 13:17] robertsLando commented on #262
@UmbraMalison Do you see all values in Control Panel? I don't mean hass values but values id on node tab

[2020-02-27 18:54] billiaz opened #274 "[feat] Make Devices in HASS easier to identify"
Currently, HASS registers smilar devices under the same Name/Device

an example of Eurotronic sensors:
<img width="1415" alt="Screenshot 2020-02-27 at 19 51 59" src="https://user-images.githubusercontent.com/4048920/75476315-abc6f580-599a-11ea-8eff-d23df5869595.png">

Philips Hue uses the fields in different way:
Device: the name of the bulb
Manufacturer: the Manufacturer
Model: the name of the mo

[2020-02-27 23:12] UmbraMalison commented on #262
@robertsLando

You mean this?

![Screenshot_20200227-231010](https://user-images.githubusercontent.com/1877124/75495492-8fd14d00-59b6-11ea-94dc-80bd19b2b73b.png)

[2020-02-27 23:15] UmbraMalison commented on #262
I did disable auto update. But I I'll try setting config path. Thanks

[2020-02-28 07:29] robertsLando commented on #262
@UmbraMalison Ok the values are there in control panel so there is no reason why they are not discovered, do you get any error on console?

[2020-02-28 07:31] robertsLando commented on #274
@billiaz In poor words you suggest to change [this](https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/Gateway.js#L429) With the node name/id?

[2020-02-28 07:41] billiaz commented on #274
yeap, this way the device will clearly show in HASS.
and move this to the Model (instead of the HEX id)
I've seen this on normal Z-wave (1.4) and all the plugins i used
1. Philips hue
2. Gardena

[2020-02-28 08:02] robertsLando commented on #274
Would you mind to send a PR for this? I will review it :)

[2020-02-28 12:56] billiaz opened #277 "[bug] HASS Devices dissapear or partially appear in Z2M after "refresh node info""
Build/Run method
- X Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.2.0
Openzwave Version: 1.6.0

Creating a separate bug for this.

When performing refresh node info on a Node. The "HASS Devices" dissapearing or partially appearing after the discovery.

Example:
I have a Home plug of Fibaro
When Z2M starts the devices for Home assistant are

[2020-02-28 12:58] robertsLando commented on #277
@billiaz `refresh node info` causes node to be removed and added back with the configuration fetched from the ozw config database, I cannot view your second image

[2020-02-28 13:02] #274 closed

[2020-02-28 13:21] billiaz commented on #277
I waited in some devices for 1-2 days. they do not reappear.
they do only if I restart the whole z2m
This was not the case before. (v 2.1)

Reattaching image:
<img width="1095" alt="Screenshot 2020-02-28 at 13 51 34" src="https://user-images.githubusercontent.com/4048920/75551939-8935ea80-5a35-11ea-9262-f556dffae147.png">

[2020-02-28 15:26] bitshiftr opened #278 "UZB1 stick no longer recognized after the latest update"
I am running a native hassOS instance on an rPi 3b. After the latest update of zwave2mqtt, my zwave.me stick UZB1 is no longer recognized. Instead it now shows up as "Unknown: type=0400, id=0001 (Unknown: id=0115)". How do I fix this?

[2020-02-28 16:28] robertsLando commented on #278
@Fishwaldo

[2020-02-28 22:47] UmbraMalison commented on #262
@robertsLando just been skimming through the logs using
`docker logs zwave2mqtt`
I didn't see any errors relating to discovery of adding values.

i do see a lot of errors though, got a couple of devices that seem unhappy.

i think i might just wipe it, reset the controller and start again with a new instance of z2m.

[2020-02-29 04:03] jaburges opened #279 "[NB] how to add custom devices"
Hi there,
hopefully of use to others when using custom device.xml.
A few things needed, most importantly mapping the correct folder in the zwave2mqtt docker.

1. map this location `/usr/local/etc/openzwave/` to a local folder.
your docker command will be something like this:
[code]

2. Clone the [OZW rep ](https://github.com/OpenZWave/open-zwave) and copy ALL the files from the OZW [config](https:

[2020-02-29 08:50] robertsLando commented on #262
Let me know if you fix it Andrew!

[2020-02-29 08:50] robertsLando commented on #279
Thank you so much for this 🙏🏻

[2020-02-29 12:38] raymonvdm opened #280 "[bug] Network Graph not showing spiderweb"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.2.0
Openzwave Version: 1.6.1044

**Describe the bug**

The network graph is not working correctly because al data is shown on a couple of pixels see https://imgur.com/a/D2HtDT3

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://192.168.100.52:

[2020-02-29 13:40] robertsLando commented on #280
What browser are you using? Could you open developer console in chrome/firefox and check if there are errors?

[2020-02-29 16:18] elcosmelco opened #281 "How do I request data from ZWave2Mqtt"
Hi,

I have my own home automation app with an implementation of an old OZW library. I wish to decouple this from my app and Zwave2Mqtt seems like a great candidate!

I would still like to do most of the node management in my app as I am running multiple controllers for 2 locations and all the logic and UI is already in place.

Most is covered by the mapping to the API calls which is great, but I

[2020-02-29 22:53] UmbraMalison commented on #262
@robertsLando

I did the following:
* excluded all nodes
* reset z-wave stick
* removed z2m docker container and store
* installed z2m docker using docker-compose
* configured zwave without gateway (I did not set a security key as previously I had mixed results with only some nodes successfully including as secure)
* included all nodes
* named nodes
* configured mqtt and gateway

the results are t

[2020-03-01 01:38] raymonvdm commented on #280
I tried Firefox and Chrome but bot seem to have the same issue. Today i rebuild my Z-Wave network by resetting the stick and including all nodes one by one to clean out died nodes en adding some extra nodes. And the view is now different

https://imgur.com/a/DI5yNs7

The bug might hower be changed into a wish  to increase the canvas

[2020-03-01 08:12] robertsLando commented on #280
Seems working now, doesn’t it? How many nodes do you have in your network?

Daniel

[2020-03-01 10:53] bitshiftr commented on #278
I will mark this issue as resolved. I enabled the option to "Auto update database" and this resolved the issue.

[2020-03-01 13:39] hvxl commented on #277
I see the same issue when sending "online" to the "hass/status" topic via MQTT. Initially all of my ZWave devices are reported. But after refreshing a node, that node is no longer reported when triggering Hass discovery reports.

[2020-03-01 15:02] hvxl opened #282 "[bug]"Send 'list' values as integer index" sends meaningless value."
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 2.2.0
Openzwave Version: 1.6.992

**Describe the bug**
The value sent when enabling the "Send 'list' values as integer index" feature is useless.

For example: My Everspring AN181 uses the following mapping for Power Management Alerts (class 113, index 8): 0=Cle

[2020-03-01 15:31] Fishwaldo commented on #278
@robertsLando
I think there is something wrong with the database location in z2m - I'm seeing these weird errors all over the place about people with unrecongized devices, or errors about device_classes.xml not being able to be loaded.

I've just added some new exceptions to OZW to bail out if we can't load these files, and OZW show show the path when starting up (about trying to find options.xml)

[2020-03-01 15:33] Fishwaldo commented on #278
That means it can't load manufacturer_specific.xml - That device has been in the database for years, its not a new entry. So something is wrong with the default paths in Z2M and "autoupdate" is partially solving the issue (but not everything, as it doesn't download all config files necessary)

[2020-03-02 07:22] robertsLando commented on #281
Take a look to: https://github.com/OpenZWave/Zwave2Mqtt#zwave-events

[2020-03-02 07:26] robertsLando commented on #262
@UmbraMalison Your logs don't show anything about errors, could you try to downgrade to z2m 2.1.0 to see if something change?

[2020-03-02 07:27] #280 closed

[2020-03-02 07:48] robertsLando commented on #282
@hvxl The list of values comes from OZW I don't have the control of that, maybe it could be a typo on device configuration of ozw library? you should try to check [here](https://github.com/OpenZWave/open-zwave/tree/master/config)

This should be done in openzwave-shared library, not here. Would you mind to send a PR for that?
Check [here](https://github.com/OpenZWave/node-openzwave-shared/blob/mas

[2020-03-02 07:51] robertsLando commented on #278
@Fishwaldo could you check if there is something wrong in the docker file? Check it [here](https://github.com/robertsLando/Zwave2Mqtt-docker/blob/master/Dockerfile.cross#L40) and [here](https://github.com/robertsLando/Zwave2Mqtt-docker/blob/master/Dockerfile.cross#L70)

[2020-03-02 08:21] raymonvdm commented on #280
At the moment there are 25 nodes, but i need to add a couple in the upcomming week.

[2020-03-02 08:32] robertsLando commented on #280
Let me know how it goes

[2020-03-02 08:32] robertsLando commented on #282
Check out this: 60272ab90bc829965160b5d0722ee8a126a5ce4f

[2020-03-02 09:06] elcosmelco commented on #281
As I understand it those just echo the events from the OZW lib when they occur right? That won't do me any good if I start my app after these events - I would like to request these on demand rather than listening at the right moment.
I.e. I could never reboot my app separately from the Zwave2Mqtt app, I would always have to restart my app first and then restart Zwave2Mqtt to build the node list ba

[2020-03-02 09:50] robertsLando commented on #282
@Fishwaldo How can I call `SetValue` with a list value and not a list item?

[2020-03-02 10:04] #281 closed

[2020-03-02 10:04] robertsLando commented on #281
@elcosmelco Done

[2020-03-02 11:00] #277 closed

[2020-03-02 11:01] robertsLando commented on #262
@UmbraMalison @billiaz I have found and fixed a bug for this, please check latest commit. Closing this for now

[2020-03-02 11:01] #262 closed

[2020-03-02 11:03] robertsLando commented on #277
@hvxl @billiaz PLease check latest commit should fix this issue

[2020-03-02 15:58] robertsLando commented on #165
Hi @RobertMe ! I have just submitted a commit for this, could you check it?

[2020-03-02 16:30] robertsLando commented on #153
@derelict @Dinth COuld you check latest commit?

[2020-03-02 16:56] robertsLando commented on #278
@Fishwaldo Let me know if you can point to me somewhere because this seems has started happening since latest uèdate but I didn't changed anything in code about that

[2020-03-02 19:01] cts1085 opened #283 "[feat]Add (inclusion) securely"
**Is your feature request related to a problem? Please describe.**
I am trying to add new nodes to my ZWave network and they are not showing as added in a secure fashion - I do have a key established and some nodes added earlier (Before Zwave2mqtt) were added securely.

**Describe the solution you'd like**
Either assume inclusion is to be done securely or add an option to add secure

**Describe al

[2020-03-02 20:06] hvxl commented on #277
Confirmed. The hass output now correctly reports all devices after performing a refreshNodeInfo. Thanks for the quick fix.

[2020-03-02 20:19] hvxl commented on #282
Heh, I had the same question a while ago: https://github.com/OpenZWave/open-zwave/issues/1885

[2020-03-02 20:48] sarkyscouser opened #284 "Battery powered sensors dead on restart"
I've just tried to migrate my zwave setup to zwave2mqtt from home assistant's internal zwave ahead of any future breaking changes.

Whilst I've had things working with HA for over a year now, the same zwave controller and sensors aren't working with zwave2mqtt.  The controller is a ZME EU UZB1 and I have 4 door sensors which are detected as "Kaipule Technology Co. Ltd" IM20 sensors.

I can get the

[2020-03-02 20:56] sarkyscouser commented on #284
Some extra screens (I only got round to adding 3 of the 4 sensors)
![ScreenClip](https://user-images.githubusercontent.com/1990152/75717034-46d80c00-5cc8-11ea-84af-dcc6891b9de1.png)
![ScreenClip2](https://user-images.githubusercontent.com/1990152/75717042-4c355680-5cc8-11ea-801b-dcba2a339d68.png)

[2020-03-02 21:04] robertsLando commented on #282
I think that would be lot more user friendly

[2020-03-03 01:33] Fishwaldo commented on #278
Nothing changed in OZW except the latest commit now raises exceptions if it can’t find the files. You need to check the paths sent to the options class when creating it and ensure they are pointing to the right directory.

[2020-03-03 02:01] pullbox opened #285 "[question] Motion Sensors IDs are not "populated" correctly and show unkown"
HomeAssistant 106.2
zwave2mqtt  0.5.0 which I believe is using OZW 1.6

I believe this started after upgrading to  z2m 0.5.0 but not 100% sure. There was a power outage in between which also messed up my serial ports to the USB stick which I did not notice immediately.
After lot's of trial and error and a hard reset in between, I got the devices showing up again.

BUT...
Previously the IDs for the

[2020-03-03 03:34] Fishwaldo commented on #285
Probably related to #278

[2020-03-03 05:22] errolsancaktar opened #286 "[bug] Cant add new nodes"
**Version**

Build/Run method
- [X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: latest
Openzwave Version: 1.6

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'add node
2. try to add node via device guide
3. get:
2020-03-03T05:20:33.814Z z2m:Zwave Success

[2020-03-03 05:58] kpine commented on #278
I've not used this for awhile, but I just fired it up with an empty store directory. Z2M found my thermostat no problem (my controller is not in the DB).
[code]
Seems like the paths, in the container at least, are fine?
[code]
![image](https://user-images.githubusercontent.com/791794/75746775-29a73b80-5cd0-11ea-8f08-6847a2d1947d.png)

For node descriptions to go from correct to "Unknown", wouldn't

[2020-03-03 07:06] robertsLando commented on #283
@cts1085 The secure flag you see there comes from a valueid that not all devices support. In order to start a secure inclusion you just have to start inclusion and a popup will show up asking if you want to start it in secure mode. The node could have secure set to false but it will be secured if added in this way

[2020-03-03 07:06] #283 closed

[2020-03-03 07:08] chilicheech opened #287 "[bug] Only one device showing up in HASS with ALL entities in it"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: master
Openzwave Version: master

**Describe the bug**
All entities are showing up under a single MQTT device in HASS:
<img width="1415" alt="Screen Shot 2020-03-02 at 11 04 56 PM" src="https://user-images.githubusercontent.com/732659/75751038-60824f00-5cda-11ea

[2020-03-03 07:12] robertsLando commented on #287
@chilicheech Please use latest version from master, I have fixed this in latest commit :)

[2020-03-03 07:12] #287 closed

[2020-03-03 07:13] chilicheech opened #288 "[bug] All light devices showing error in HASS: Invalid state value received"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: master branch
Openzwave Version: 1.6 - master branch

**Describe the bug**
All light devices are throwing this error in HASS:
[code]
All of the lights are now `unknown` in HASS.
The discovery payload looks like this:
[code]
I believe this change broke it, form P

[2020-03-03 07:14] kpine commented on #278
There is something amiss with the config path though. If you click on the "Save" button on the preferences, it seems to restart OZW w/o any config path set:
[code]
If I restart the container it goes back to using /usr/local/etc/openzwave.
[code]
Not sure if any of that is related to this issue, but it looks wrong.

[2020-03-03 07:15] robertsLando commented on #284
@sarkyscouser Did you remove them after migrating from the other zwave instance? I mean did you start with a 'fresh' usb controller without any node paired?

[2020-03-03 07:32] Fishwaldo commented on #278
If the config path is wrong when saving it would explain.

Later on there should be some messages about unable to Load SensorMultiLevelCCtypes.xml etc and I imagine manufacturer_specific.xml.

[2020-03-03 08:18] sarkyscouser commented on #284
Yes, I used "ZMESerialUpdater" from the manufacturer to factory reset the controller first then rebooted.  I noticed a closed bug regarding duplicate sensors when they are renamed so that's still an issue.  There's also a closed bug on dead sensors but that looks specific to another brand of sensors.

I can afford to keep my system like this for another 48 hours if there's any further info I can p

[2020-03-03 08:44] robertsLando commented on #284
@Fishwaldo What could be the problem here?

[2020-03-03 08:45] robertsLando commented on #278
So seems this only happens on restart?

[2020-03-03 09:10] robertsLando commented on #286
@errolsancaktar What is the error?

[2020-03-03 09:11] robertsLando commented on #288
@chilicheech Check readme and the closed PR

[2020-03-03 09:16] Fishwaldo commented on #284
#278?

[2020-03-03 09:20] Fishwaldo commented on #286
I assume you clicking add node In Z2M before clicking anything on the device?

[2020-03-03 09:52] #278 closed

[2020-03-03 09:52] robertsLando commented on #278
Seems that there was a problem with openzwave-shared not taking the correct paths, don't know why this was working before. Anyway now should be fixed

[2020-03-03 09:53] robertsLando commented on #284
Seems that there was a problem with openzwave-shared not taking the correct paths, don't know why this was working before. Anyway now should be fixed. Will release Z2M 3.0.0 on docker in few hours

[2020-03-03 09:53] robertsLando commented on #285
Seems that there was a problem with openzwave-shared not taking the correct paths, don't know why this was working before. Anyway now should be fixed

[2020-03-03 09:53] #285 closed

[2020-03-03 11:09] robertsLando commented on #279
I also add a link to this guide: https://github.com/robertsLando/Zwave2Mqtt-docker#auto-update-ozw-device-database

[2020-03-03 11:26] sarkyscouser commented on #284
I will pull the new image later and report back

[2020-03-03 11:36] robertsLando commented on #284
Hold a bit, it’s still building.

[2020-03-03 13:18] sarkyscouser commented on #284
Just got a new image.  Removed and re-added 2 sensors both die after 1-2 min and before they die they permanently report "closed" status - they don't update when the doors are opened.

[2020-03-03 13:19] robertsLando commented on #284
Is it the 3.0.0?

[2020-03-03 13:20] robertsLando commented on #284
@Fishwaldo

[2020-03-03 13:25] sarkyscouser commented on #284
It say openzwave v 1.6.1045 in the dashboard now, can't see any other version numbers in the logs via portainer

[2020-03-03 13:26] sarkyscouser commented on #284
Does this help:

`  z2m:Store scenes.json not found +0ms
,  z2m:Gateway No customDevices file found +0ms
,  z2m:App Application path:/usr/src/app +0ms
,Initialising OpenZWave 1.6.1045 binary addon for Node.JS.
,	OpenZWave Security API is ENABLED
,	ZWave device db    : /usr/local/etc/openzwave
,	User settings path : /usr/src/app/store
,	Option Overrides : --Logging true --ConsoleOutput true --Queue

[2020-03-03 13:30] sarkyscouser commented on #284
Here's something interesting.  For the 3rd sensor I re-added, I ran a heal and woke it up before it died and so far it's still sleeping and the battery level and open/closed are correctly coming through to HA.

Progress!

I'm going to try this with the other two now....

[2020-03-03 13:31] robertsLando commented on #284
@sarkyscouser Keep us updated :)

[2020-03-03 13:32] robertsLando commented on #284
Just open the side nav, on the top of the nav you will see also the Z2M version. But if OZW is 1045 it must be the 3.0.0

[2020-03-03 13:35] sarkyscouser commented on #284
The working sensor has now died too I'm afraid.  I can see the v3.0.0 now

[2020-03-03 13:36] robertsLando commented on #284
@sarkyscouser Only @Fishwaldo could help with this so

[2020-03-03 14:36] cts1085 commented on #202
I am running into the same problem and have used multiple browsers with no pop-up. How did you reset the Z-wave stick?

[2020-03-03 14:39] Fishwaldo commented on #284
OZW_Log.txt please.

[2020-03-03 14:58] sarkyscouser commented on #284
[OZW_Log.txt](https://github.com/OpenZWave/Zwave2Mqtt/files/4281912/OZW_Log.txt)

[2020-03-03 15:01] Fishwaldo commented on #284
What node? I see Node 6 is still sleeping.

[2020-03-03 15:02] chilicheech commented on #288
Hi @robertsLando, I am on the latest version of HASS. As you can see in the code I linked the values should be lowercase. I know the documentation says it should be uppercase, but the code looks for lowercase. Either the HASS documentations is wrong or the HASS code is wrong. In any case, please keep this issue open since this error is still happening, even if what I pointed above is not the cause

[2020-03-03 15:05] robertsLando commented on #288
@chilicheech Open the issue on hass so and let me know :)

[2020-03-03 15:09] robertsLando commented on #202
To reset the zwave-stick you could both do it via the UI or by following the z-stick manual (I suggest you to follow the manual)

[2020-03-03 15:14] sarkyscouser commented on #284
They are all dead:

![ScreenClip](https://user-images.githubusercontent.com/1990152/75789460-a6362a80-5d61-11ea-996f-eb654c406955.png)

[2020-03-03 15:14] chilicheech commented on #288
Thanks. Give me a few hours to do it since I'm taking the kids to school. Here's what I found so far. The documentation for payload_on and payload_off you linked in the PR is for the `default schema`. We are using the `template schema`. They even have an example with it using uppercase values for the default schema and lowercase values for the template schema: https://www.home-assistant.io/integra

[2020-03-03 15:15] robertsLando commented on #284
@sarkyscouser Please disable `refresh node info` from gateway settings and retry

[2020-03-03 15:15] cts1085 commented on #202
Perfect - I will give it a go - so I should expect a pop-up dialog when adding the first device that I know supports secure add - Thanks for all of your help!

[2020-03-03 15:17] robertsLando commented on #288
@chilicheech Are you sure maybe the problem is with the mqtt plugin version? Maybe the breaking change has come from there

[2020-03-03 15:18] robertsLando commented on #288
@chilicheech https://github.com/home-assistant/core/blob/dev/homeassistant/components/mqtt/light/schema_basic.py#L91

[2020-03-03 15:21] robertsLando commented on #202
@cts1085 YOu should send `Add Node (inclusion)` controlle action and than a pop-up will be show to ask you if you want to add it securely or not

[2020-03-03 15:22] raetha opened #291 "[bug] Lock device not using new human readable model in Hass discovery"
**3.0.0**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.0
Openzwave Version: 1.6.2?

**Describe the bug**
Just upgraded to 3.0.0 and allowed all devices to recreate in Hass. Most look as expected with new human readable model for the device. One exception is my Schlage BE469 Touchscreen Deadbolt. It still shows a m

[2020-03-03 15:27] robertsLando commented on #291
@raetha I think that is something from a previous instance? Because as you can see the code is different: https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/Gateway.js#L440

[2020-03-03 15:32] robertsLando commented on #288
@chilicheech Could you also try to add this to `configurations.js` light component:

[code]

To check if it works or not

[2020-03-03 15:34] sarkyscouser commented on #284
OK, a bit more progress it seems.  I've re-added a sensor and it hasn't died and is correctly reporting it's metrics through to HA.  I'll try the others now..... cross your fingers and toes!

[2020-03-03 15:48] sarkyscouser commented on #284
This is starting to look promising so much so that I'm prepared to trek down to the bottom of the garden on the pouring rain to get my 4th sensor out of the garage!

[2020-03-03 16:04] sarkyscouser commented on #284
OK looks like it working.  It's survived a restart of HA, mosquitto and zwave2mqtt containers, and a reboot of the whole server.  If it's still working in the morning it's time to fix all my automations!

Many thanks

[2020-03-03 16:06] cts1085 commented on #202
ok - tried that before resetting my zwave stick - ensured browser (chrome) allows pop-ups and it did not prompt me. My next step is to reset everything

[2020-03-03 16:15] robertsLando commented on #202
@cts1085 https://stackoverflow.com/questions/34063030/javascript-confirm-not-working-in-chrome

Try to disable Ad BLock

[2020-03-03 16:20] robertsLando commented on #284
@sarkyscouser You welcome :)

[2020-03-03 16:20] #284 closed

[2020-03-03 17:10] chilicheech commented on #288
The problem is we use the Z2M uses the `schema_template`, not the `schema_basic`, and the `schema_template` uses lowercase on/off:
- https://github.com/home-assistant/core/blob/dev/homeassistant/components/mqtt/light/schema_template.py#L223-L228
- https://github.com/home-assistant/core/blob/dev/homeassistant/components/mqtt/light/schema.py#L9

Let me try your suggestion to see what happens.

[2020-03-03 17:16] robertsLando commented on #288
@chilicheech Seems you are right https://github.com/home-assistant/core/blob/dev/homeassistant/const.py#L200

I think I should make a patch release for this :( Let me know if the fix I suggested works or not, but I don't think it will work as I don't see any reference to `payload_on|off` in the schema_template.py

[2020-03-03 17:27] jaburges commented on #291
i updated to 3.0.0 and do not have this issue
(confirmed I have also mapped /openzwave using the lastest device handlers from OZW repo)

Have you tried 'Refresh Node Info' since the update?

[2020-03-03 17:32] jaburges opened #292 "[bug] not detecting all of lock manual state changes"
**Version**
Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.0 (same on 2.2.0)
Openzwave Version: 1.6

**Describe the bug**
Locks in Z2M are not reporting certain manual state changes.
- Keypad lock on BE469 Schlage is being sent and IS detected by Z2M
- Manual internal lock turn (lock or unlock) is not being picked up

[2020-03-03 18:10] chilicheech commented on #288
OK, I tried your suggestion and got the following error in HASS:
[code]
The light devices never showed up. Here are some screenshots:
![Screen Shot 2020-03-03 at 10 09 00 AM](https://user-images.githubusercontent.com/732659/75805750-3e6aea00-5d37-11ea-97d2-c01789fefcf7.png)
![Screen Shot 2020-03-03 at 10 09 16 AM](https://user-images.githubusercontent.com/732659/75805752-4034ad80-5d37-11ea-9e73-37

[2020-03-03 19:06] cts1085 commented on #202
So - before resetting - I tried the following: Disabled Ad block, allowed pop-ups, even tried incognito same issue, also tried a clean install of firefox - same thing.  The log simply said adding unsecure:

`

2020-03-03T19:03:50.942Z z2m:App Zwave api call: addNode [ false ]
2020-03-03T19:03:50.944Z z2m:Zwave Success zwave api call addNode true
2020-03-03T19:03:50.950Z z2m:Zwave controller comman

[2020-03-03 19:33] jaburges commented on #292
@Fishwaldo any reason why the lock would be sending some commands to Z2M but not all.
(I guess a better way to ask would be, what could be the reason Z2M / OZW would be missing some commands from the lock?)

[2020-03-03 19:37] jaburges commented on #292
turning the BE469 internal lock handle I can see the following in Z2M:

[code]
but notice there is no update to the actual lock state.... weird?

[2020-03-03 20:21] robertsLando commented on #292
I suggest you to enable logs on zwave settings and post the OZW_logs.txt

[2020-03-03 20:41] cts1085 opened #293 "How can I determine if the auto update database is working? [question]"
I am running HassOS 3.11 on a Raspberry Pi, Supervisor 207 with Add-on Zwave2MQTT 0.5.0

Is there a way via the UI to determine if the Auto Update Database switch is working? Where can I go to verify the updates are current?

Thank you!

[2020-03-03 21:49] balloob commented on #288
`on` and `off` has been the values for the last 3 years … https://github.com/home-assistant/core/blame/dev/homeassistant/components/mqtt/light/schema_template.py#L223-L226

It should not have been changed to capitalized versions.

[2020-03-03 22:16] chilicheech commented on #288
@balloob, I agree for `schema_template`. But it seems that for `schema_basic` it does use all caps, which seems inconsistent and may cause confusion: https://github.com/home-assistant/core/blob/dev/homeassistant/components/mqtt/light/schema_basic.py#L90-L91

In Zwave2Mqtt the `light_dimmer` devices use `schema_template` while the `light_rgb_switch` uses `schema_basic`.

[2020-03-03 22:53] cliviu74 opened #294 "[bug] Home Assistant Lock autodiscovery broken after update to 3.0.0"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.0
Openzwave Version: 1.6
Home Assistant 0.106.4
Yale YD-01-CON + Yale Zwave module 2 a.k.a Keyless Connected (YD-01-CON) (0x0001) by Assa Abloy

**Describe the bug**
Home Assistant autodiscovered lock stopped working after zwave2mqtt update from 2.2.0 to 3.0

[2020-03-03 23:20] elcosmelco opened #295 "incorrect array JSON structure in API response"
Hi,

First of all - thanks for adding the getNodes API call!

In parsing the response I ran into an issue where the 'values' property of each node isn't structured like a proper JSON array, i.e. in square brackets, but rather as following:
`"productid": "0x005a",
    "type": "Static PC Controller",
    "values": {
      "112-1-81": {
        "value_id": "1-112-1-81",
        "node_id": 1,

[2020-03-04 00:55] jaburges commented on #292
is there anything specific to look for, the log.txt is pretty big.
Also what is "Current Record Number" with locks - i'm seeing `Invalid Record` for `Log Record`

[2020-03-04 01:19] seizedengine opened #296 "v3.0.0 package fails to start with error about NODE_MODULE_VERSION"
Version
Build/Run method

- [ ] Docker
- [x] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.0
Openzwave Version: 1.6
Node version installed is v12.16.1

This is probably on me, or I am missing something. Things worked on v2.1.0. Also, Zwave2MQTT is fantastic, I have been running it for a few months now and it has been dead reliable.

I have tried this

[2020-03-04 01:20] balloob commented on #288
Right. That is confusing. It's inconsistent but would be too much of a breaking change to break now on our side.

[2020-03-04 03:16] jaburges commented on #292
ok update, i had created a new manual value for the lock under `Gateway` in the `Settings` tab.
There are 2 values in 1.6 so created both
`Locked` 98-1-0
`Locked (Advanced)`98-1-1

polling time = 1
verify value = true
and now (apart from my MQTT being flooded with values, the lock is reporting the correct state).

So Z2M is able to pull the value from the lock, but it was my understanding that the

[2020-03-04 04:36] Fishwaldo commented on #292
Did you check the Association groups on the lock? Controller should be in there.

[2020-03-04 07:04] #291 closed

[2020-03-04 07:05] #288 closed

[2020-03-04 07:08] robertsLando commented on #288
@balloob @chilicheech Sorry for this guys, will release a patch today 3.0.1

[2020-03-04 07:09] robertsLando commented on #202
@cts1085 I will replace that confirm dialog with a normal dialog in future, sincerly I don't know why it doesn't work in your instance I'm sorry :(

![Schermata da 2020-03-04 08-09-12](https://user-images.githubusercontent.com/11502495/75854019-83525780-5def-11ea-9a37-1626816f510d.png)

[2020-03-04 08:20] #202 closed

[2020-03-04 08:20] robertsLando commented on #202
@cts1085 Just submitted a fix for this. WIll be available in next 3.0.1 release

[2020-03-04 08:21] robertsLando commented on #293
Check logs on startup, OZW will check for new updates and download them

[2020-03-04 08:24] robertsLando commented on #294
@cliviu74 Are you sure this is actually working?

[2020-03-04 08:30] robertsLando commented on #295
@elcosmelco No errors here, this is how I store them in the server to quick find them

[2020-03-04 08:30] #295 closed

[2020-03-04 08:32] robertsLando commented on #296
@seizedengine Try to use Node `v12.14.1`

[2020-03-04 08:34] robertsLando commented on #296
Seems that after upgrading to nodejs 12 some deps were not rebuilded (strange). Will fix this in next release 3.0.1

[2020-03-04 08:38] robertsLando commented on #292
@jaburges Check if the lock lifeline group has controller :)

[2020-03-04 08:39] #296 closed

[2020-03-04 08:41] robertsLando commented on #294
@cliviu74 Are you using gateway with payload `Just value` or other? If `Just value` please use `JSON` or `Zwave Object`

[2020-03-04 08:57] cliviu74 commented on #294
Seems to be working fine, not sure why the booleans would be interpreted differently, mqtt shouldn't care much about it.
This is the full discovery payload that works currently, if it helps
[code]

[2020-03-04 08:59] cliviu74 commented on #294
Sorry, I'm not sure I know what you mean? Is this a gateway setting somewhere?

[2020-03-04 09:07] robertsLando commented on #294
Go to settings, gateway section, payload type

[2020-03-04 09:18] cliviu74 commented on #294
So I fiddled with it and set it to "JSON Time-Value". Before if was the default, don't know what the default is.

settings.json config before:
[code]
settings.json config after the change
[code]

[2020-03-04 09:26] cliviu74 commented on #294
Worked like a charm, thanks for the help.
Discovery payload changed back to the original after resetting the gateway payload setting to JSON Time-Value.
After rediscovery it works, lock/unlock works, also state is reflected by the lock status.

[2020-03-04 09:36] #294 closed

[2020-03-04 11:54] cts1085 commented on #202
Thank you very much! I will still try a reset of the controller as indicated above to see if that resolves it - I will let you know.

[2020-03-04 11:58] cts1085 commented on #293
Thank you!

[2020-03-04 13:22] robertsLando commented on #296
@seizedengine Check https://github.com/OpenZWave/Zwave2Mqtt/releases/tag/v3.0.1

[2020-03-04 13:23] robertsLando commented on #202
@cts1085 Don't need it now, don't waste your time :)

[2020-03-04 13:24] robertsLando commented on #293
I don't know how that container is installed, usually if you use docker-compose I use docker-compose log command

[2020-03-04 13:45] cts1085 commented on #293
This is all I was able to find, just in case others were wondering: 'ha addons log a0d7b954_zwave2mqtt'

But it shows the same as what is in the HA UI

[2020-03-04 14:44] jaburges commented on #279
@robertsLando in the 3.0.0 I confirmed your guide works. Closing this for your persistent guide.