[2020-03-04 14:44] #279 closed

[2020-03-04 15:05] robertsLando commented on #279
@jaburges Thanks for the feedback!

[2020-03-04 19:22] elcosmelco commented on #295
Ah my mistake - I thought it was an array but it is a dictionary - thanks!

[2020-03-04 19:39] shbatm commented on #292
I noticed what I think is the same issue after a recent update to Z2M. The manual states are no longer reporting as LOCKED, but when I send a LOCK command, it will report back as LOCKED.

There was an old issue with Schlage locks not correctly updating the status (can't find a reference to it right now), wondering if some change may have regressed?

[2020-03-04 20:36] hvxl commented on #282
That looked promising, but that version doesn't actually work for me. Either I'm doing something wrong, or the change breaks zwave2mqtt. I also see that the change has been reverted again.

For completeness, this is how I tried to use the fix:
[code]
That ends with: TypeError: valueId.values.indexOf is not a function

[2020-03-04 22:24] elcosmelco opened #297 "Is there any way to get the HomeId ?"
Is there any way to request the HomeId via the api calls or otherwise?
I'm also after the OZW version if possible?
I could not find any references to this in the help.

Cheers,
Elco

[2020-03-05 01:17] chilicheech commented on #288
Thanks for the quick fix!

[2020-03-05 01:23] chilicheech opened #298 "[bug] missing HASS sensors on thermostat device"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: docker 3.0.1
Openzwave Version: docker 3.0.1

**Describe the bug**
I added my thermostat to `customeDevices.js`:
[code]
So now I only get the following hass devices:
- climate_thermostat
- sensor_battery_level
- sensor_humidity_air

The temperature sensor, along

[2020-03-05 01:25] Fishwaldo commented on #292
joys of non-compliant devices!

you could try adding something this to the AlarmCC Block in a config file (adjust values to suit):
[code]
see [here](https://github.com/OpenZWave/open-zwave/blob/5d8e1ced2b3a76d0e0c09e8b83fe0e035c96948d/config/fibaro/fgrgbwm441.xml#L37) for a example.

[2020-03-05 02:42] jaburges commented on #292
its already there with some commentary on the previous edit:
[code]

[2020-03-05 02:51] Fishwaldo commented on #292
Ahhh. Ok. It’s possible that broke with some core changes we made recently. I’ll confirm it’s still working.

[2020-03-05 02:52] jaburges commented on #292
cool, thank you :) appreciate the help

[2020-03-05 03:00] Fishwaldo commented on #292
Please change
[code]
to
[code]
and either RefreshNodeInfo or delete ozwcache

[2020-03-05 04:56] jaburges commented on #292
deleted ozwcache (and amended BE469.xml)

but weirdly ended up with 2 entries that dont match the change:
[code]
assuming i should amend this to the above, and only need one of them?

[2020-03-05 05:18] jaburges commented on #292
i'm seeing this a little more wide spread to more than just the BE469 lock. Also the Kwikset lock, and garage door opener. All are securely added.
Interesting in the logs I see a similar issue as you commented on here:
https://github.com/OpenZWave/open-zwave/issues/1949#issuecomment-539053738

[code]
is from my Kwikset lock - so the issue isnt isolated to the BE469.

[2020-03-05 06:19] jaburges commented on #292
as per the issue #1949 above where i dont believe there was a known solution. I excluded and re-added 2 of the locks - they now seems to have solved the issue.

To me observing this as a non-zwave person, it seems the issue is contained to the securely added devices, and seemed like they lost trust with the controller (assuming there is some kind of handshake using the network key). FYI The networ

[2020-03-05 08:44] sumo-89 opened #299 "[bug] Container keeps crashing"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.0(?) Downloaded yesterday.
Openzwave Version: 1.6.1049

**Describe the bug**
The container keeps crashing.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove "store" folder.

2. Add basic settings.json:
{"mqtt":{"disabled":true},"gateway":{"values"

[2020-03-05 10:46] sumo-89 commented on #299
I've been restarting as soon as it dies, it actually dies on different nodes. But now I also got this:

  z2m:Zwave Notification from node 6: Notification - NoOperation (2) +1ms
  z2m:Zwave ValueRemoved: 114-1-0 from node 45 +1ms
  z2m:Zwave ValueRemoved: 114-1-1 from node 45 +1ms
  z2m:Zwave ValueRemoved: 114-1-2 from node 45 +1ms
  z2m:Zwave ValueRemoved: 114-1-3 from node 45 +1ms
  z2m:Zwave Va

[2020-03-05 15:30] robertsLando commented on #296
@seizedengine Sorry, the pkg script had a typo, fixed now :) retry to download the pkg zip

[2020-03-05 15:33] robertsLando commented on #282
@hvxl I have moved that change on a separeted branch of openzwave shared, it needs also some work on z2m side to make it work

[2020-03-05 15:54] robertsLando commented on #299
@Fishwaldo

[2020-03-05 15:55] robertsLando commented on #292
So what ?  I have also another user expecting some strange crash :(

[2020-03-05 15:56] robertsLando commented on #298
@chilicheech They are not missing, they are in the thermostat device :) Each valueid can only be discovered in 1 device

[2020-03-05 15:57] #298 closed

[2020-03-05 15:57] robertsLando commented on #297
@elcosmelco Actually there is no API for that, but I can add it!

[2020-03-05 16:09] #297 closed

[2020-03-05 16:09] robertsLando commented on #297
@elcosmelco DONE

[2020-03-05 17:08] chilicheech commented on #298
It would be nice to change this so that each value id gets discovered, and then in addition to that the custom devices get discovered. This would allow thermostats to be discovered in addition to the individual sensors.

[2020-03-05 17:09] sumo-89 commented on #299
Everytime today it died I've kept restarting (not changing anything), new record, maybe it works now:
CONTAINER ID        IMAGE                            COMMAND                  CREATED             STATUS              PORTS                    NAMES
df04917cd5a1        robertslando/zwave2mqtt:latest   "docker-entrypoint.s…"   **3 hours ago         Up 3 hours**          0.0.0.0:8091->8091/tcp   fu

[2020-03-05 17:26] jaburges commented on #292
note - i dont see the BE469 manual lock turn appear in the OZW logs - just the kwikset.

I do now see the following for the Kwikset in MQTT - but NOT for `Locked` or `Locked (Advanced)`

turned to lock:
zwave/back_lock/113/1/512 = 21
zwave/back_lock/113/1/513 = 1

turned to unlock:
zwave/back_lock/113/1/512 = 22
zwave/back_lock/113/1/513 = 1

The Kwikset lock is reporting as `Touchpad Electronic D

[2020-03-05 17:34] stich86 opened #300 "[question] Add Zwave2Mqtt as "Secondary Controller""
Hi guys,

can OZ2MQTT be added as "Secondary Controller"? It should be fantastic because I can avoid to repair all the stuff from scratch.

Thanks!

[2020-03-05 18:03] robertsLando commented on #298
that would need some thoughts, if you check the code you will see that this.discovered is a map topic->valueid, it should be changed to be an array, then I also don’t know why someone would need this

Daniel

[2020-03-05 19:50] seizedengine commented on #296
That worked, thank you! I was just coming to report that removing node seemed to fix it too for some reason, but my testing with that would have been with your newest release download so that can be ignored. Thank you for all the fixes!

[2020-03-05 21:05] elcosmelco commented on #297
Much appreciated - Thanks!

[2020-03-05 22:40] elcosmelco opened #301 "Include node ID in response to API call requesting data from a node"
Currently when making API calls it will return the data without any information about the source node it was requested for.
For instance calling `getNodeNeighbors` will return a list but it might be difficult to figure out which node this is for.

Perhaps an extra property in the result or something would be helpful here.

Cheers,
Elco

[2020-03-06 06:23] billiaz opened #303 "[question] MQTT QOS always 0"
I have set the QOS on Z2M to be 1. but on my mqtt broker debug log I do only see 0 on QOS transactions with z2m.
Is QOS setting working?

some logs:
[code]

[code]

[2020-03-06 07:28] chilicheech opened #304 "[bug] climate action_topic not being rendered"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: docker 3.0.1
Openzwave Version: docker 3.0.1

**Describe the bug**
According to the documentation [here|https://github.com/OpenZWave/Zwave2Mqtt#thermostats-with-fans] I've set the `action_topic` to `66-1-0`, which is the correct value for my thermostat. However,

[2020-03-06 09:03] robertsLando commented on #292
@Fishwaldo

[2020-03-06 09:03] robertsLando commented on #299
@Fishwaldo

[2020-03-06 09:04] robertsLando commented on #300
Zwave cannot be added as a secondary controller, only a controller can, zwave is just a gateway

[2020-03-06 09:05] robertsLando commented on #301
@elcosmelco You right, will add args to response

[2020-03-06 09:09] robertsLando commented on #301
@elcosmelco Done

[2020-03-06 09:09] #301 closed

[2020-03-06 09:39] robertsLando commented on #304
Could you send a PR fot that?

Like this way
https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/Gateway.js#L750-L760

[code]

[2020-03-06 09:47] robertsLando commented on #303
@billiaz Where did you set the qos settings? On MQTT settings right?

[2020-03-06 10:47] sumo-89 commented on #299
So it actually worked pretty well last night, I started naming nodes and get them into Hass. But then the web-ui and mqtt gw stopped working so I had to restart the container. After that I have difficulties getting it to run solid again. These are a few examples from today:

2020-03-06 07:13:13.070 Warning, Node059, Node::GetValue - Couldn't find ValueID in Store: HomeID: 0xdd5f5751, ValueID: (Id

[2020-03-06 11:09] robertsLando commented on #299
When it dies in that way it means it throws a segmentation fault. Why this happens is not known, maybe @Fishwaldo could know as it seems a problem with OZW library and not with z2m

[2020-03-06 11:47] sumo-89 commented on #299
Thank you @robertsLando !
The few times I actually seem to get past the zwave stuff ok, then the web-ui and mqtt gw dies. I can't see any log messages except this, not sure if it's related at all:

2020-03-06 12:24:38.647 Error, MutexImpl::UnLock failed with error: 11 (1)

[2020-03-06 11:53] billiaz commented on #303
I have it on MQTT settings,
ValueId ( i think that is the default)
check the following:
<img width="1571" alt="Screenshot 2020-03-06 at 12 52 34" src="https://user-images.githubusercontent.com/4048920/76081471-75e0cd00-5fa9-11ea-9491-4ec81e69e8ba.png">
<img width="1564" alt="Screenshot 2020-03-06 at 12 52 43" src="https://user-images.githubusercontent.com/4048920/76081476-77aa9080-5fa9-11ea-89a6-1

[2020-03-06 12:34] robertsLando commented on #303
mqtt-79fdbfb859-zs97g eclipse-moquitto 1583475711: 	zwave2mqtt/MasterBedroom/RR/112/1/7/set (QoS 0)
mqtt-79fdbfb859-zs97g eclipse-moquitto 1583475711: Sending SUBACK to ZWAVE_GATEWAY-home

Based on your logs the subscribe is QoS 0, not the publish :)

[2020-03-06 12:34] #303 closed

[2020-03-06 18:31] chilicheech commented on #304
Cool, cool.. I'll work on it this weekend :)

[2020-03-06 19:10] robertsLando commented on #304
It’s all about add those lines before/after the code I linked

Daniel

[2020-03-07 04:52] jaburges commented on #292
in more testing (as locks are important and I need my house to be secure)

If I use the Z2M console it will lock and unlock the lock using the toggle `Locked (NodeID-98-1-0)`
this produces:
zwave/back_lock/113/1/512
locked = 24
unlocked = 25

However i'm unable to send a command via MQTT to the lock
`zwave/back_lock/98/1/0` or `zwave/back_lock/98/1/0/set`

HA therefore is not able to send lock/unl

[2020-03-07 07:59] robertsLando commented on #292
Try to check in your broker if on startup z2m subscribes to the topic you wrote with “/set” at the end, than also when you publish something you should see a log on z2m if he receives the message

Daniel

[2020-03-07 22:36] jaburges commented on #292
Yes ‘/set’ does now work. It was a different issue preventing the node from receiving messages. Z2M still has the old node ID number so I was sending to 93/98/1/0 and the node was still thinking it was 36/98/1/0.
I’ve fixed that, but the initial bug still remains.

No locks are responding to manual turns.
My current work around is to listen to
113/5/12 (in node-red via an MQTT in node, but could a

[2020-03-08 02:00] brgaulin commented on #292
Very timely find this thread is. I'm also having this issue.

Kwikset ZWave 914 Deadbolt Lock: https://github.com/OpenZWave/open-zwave/blob/master/config/kwikset/914c.xml#L65-L73

Latest ZWave MQTT code and such. OZW 1.6.

It looks like the same lock, or similar situation as @jaburges . The lock doesn't update the locked true/false on its own, so when Command Class 113 is reported, we need to poll

[2020-03-08 09:13] sumo-89 commented on #299
I had a spare zwave.me uzb-stick. So I started fresh with that one, moving old units one by one from the old stick. It runs much more solid now. We'll see how it goes!

[2020-03-08 13:27] jyvern opened #306 "[question] Regression with Aeotect HEM (ZW095) ?"
I've an Aeotec HEM (1 phase). When I try to reset de total kWh counter, it fails with the last versions of zwave2mqtt (v3.0.1) when using this command :

and it works with the HA zwave2mqtt add-on (v2.0.6).
Is there a regression ?
Best regards
JYV

[2020-03-08 16:57] crxporter commented on #145
I’m currently building my HomeKit setup around zwave2mqtt. I’m using node red with [this plugin](https://github.com/NRCHKB/node-red-contrib-homekit-bridged) to handle the HomeKit side. I currently have outlets, dimmers, and on/off switches running great.

I spend a lot of time supporting that plugin, I’d be happy to help out if you want to open an issue over there.

[2020-03-08 22:41] crxporter opened #307 "Errors on startup"
I've installed the docker way (docker-compose) and mostly things seem to be working great. However, during startup I get timeout errors from all devices. Looks like:

[code]

The only other thing I've seen that doesn't quite seem right is that all of my devices in the config tab show "Test Status (xx-115-1-8)" as "Failed". I don't know if this is related, any pointers to get my configuration sorte

[2020-03-09 07:30] #304 closed

[2020-03-09 07:43] robertsLando commented on #292
Zwave2Mqtt uses `openzwave-shared` to use OZW. And I think that once the configuration of a device is loaded it should work as the configuration tells, I should not handle that. I think that this is something on OZW side not something wrong with Z2M

@jaburges

2020-03-04 22:43:07.240 Detail, Node093, Notification: ValueChanged CC: COMMAND_CLASS_NOTIFICATION Instance: 1 Index: 513

`Notification:

[2020-03-09 07:50] robertsLando commented on #299
@Fishwaldo Z2M never calls that, it is called on node-openzwave-shared when a value is added, refreshed or changed:

https://github.com/OpenZWave/node-openzwave-shared/blob/master/src/utils.cc#L343

Or for BitMask values: https://github.com/OpenZWave/node-openzwave-shared/blob/master/src/utils.cc#L180

Here is where it is used: https://github.com/OpenZWave/node-openzwave-shared/blob/master/src/cal

[2020-03-09 08:16] robertsLando commented on #306
@jyvern Why are you using mqtt apis for setvalue? Anyway do you get any error on console log?

[2020-03-09 08:17] robertsLando commented on #145
@crxporter Would you like to help with a PR or what else?

[2020-03-09 08:20] robertsLando commented on #307
I think that it could be normal to get those errors, I usually get them too, maybe @Fishwaldo can tell you more about this

[2020-03-09 08:29] #141 closed

[2020-03-09 08:30] robertsLando commented on #133
https://github.com/OpenZWave/open-zwave/issues/2137 Waiting for this to be supported by Openzwave

[2020-03-09 08:31] #153 closed

[2020-03-09 08:32] #165 closed

[2020-03-09 08:33] #187 closed

[2020-03-09 08:47] Fishwaldo commented on #299
Ok. But my point stands. It’s not a OZW bug. It’s a “application” issue. (Either wrapper or something else)

[2020-03-09 08:53] robertsLando commented on #299
@Fishwaldo Based on the logs it seems it's not that is causing the crash, when logs stop in that way it usually is a segmentation fault

[2020-03-09 09:27] Fishwaldo commented on #299
It is:

Terminate means it’s exiting the application as there is no exception handler around the call.

[2020-03-09 09:48] robertsLando commented on #299
@Fishwaldo I don't think all crashes are caused by that, just latest log shows that

@sumo-89 Could you check zwave settings in the UI please? Could you disable `refresh node info` ?

[2020-03-09 10:53] jyvern commented on #306
@robertsLando Because I mainly use Node-Red for the orchestration of my domotic. In this context, I use MQTT between every dongle (zwave, rfp1000, zigbee, rtl_433) and node-red. I give HA just a try for the moment. I've no logs but will truy to grab them.

[2020-03-09 11:47] crxporter commented on #145
@robertsLando it's not a change to anything on zwave2mqtt. It's simply using the zwave messages to connect to homekit through node red. Here's what it looks like:

![Screen Shot 2020-03-09 at 6 39 59 AM](https://user-images.githubusercontent.com/38265886/76209820-cdad4d00-61d0-11ea-8181-925f1aeed0fd.png)

For those not familiar with node-red: each purple box is an MQTT connection (subscribe on the

[2020-03-09 14:57] robertsLando commented on #306
@jyvern My question is because you should use `/set` instead of call the apis, it would be much clear :)

Check docs: https://github.com/OpenZWave/Zwave2Mqtt#set-values

[2020-03-09 15:51] jyvern commented on #306
I've tried but it fails too. It 's not surprising as this parameter is marked as read-only in the zwave2mqtt dashboard.
`zwave2mqtt/hem/50/1/0 {"value_id":"6-50-1-0","node_id":6,"class_id":50,"type":"decimal","genre":"user","instance":1,"index":0,"label":"Electric - kWh","units":"kWh","help":"",**"read_only":true**,"write_only":false,"min":0,"max":0,"is_polled":false,"value":54.269,"lastUpdate":15

[2020-03-09 16:42] robertsLando commented on #306
Aaaah, if it is read only, it cannot be write :)

[2020-03-09 18:03] sumo-89 commented on #299
I moved all my units (don't have that many) one by one to a new stick. I only had one or two crashes in the beginning, but now it runs solid:
CONTAINER ID        IMAGE                            COMMAND                  CREATED             STATUS              PORTS                    NAMES
7e6355cc6da2        robertslando/zwave2mqtt:latest   "docker-entrypoint.s…"   2 days ago          Up 2 days

[2020-03-09 18:15] errolsancaktar commented on #286
yup clicked add new node, get the message in the error log and it doesnt add anything.

`2020-03-09 12:12:18.439 Detail, contrlr,   Expected reply was received
2020-03-09 12:12:18.439 Detail, contrlr,   Message transaction complete
2020-03-09 12:12:18.439 Detail,
2020-03-09 12:12:18.439 Detail, contrlr, Removing current message
2020-03-09 12:12:18.439 Detail, Notification: AddDevice ControllerComm

[2020-03-09 18:31] Fishwaldo commented on #286
There is no error in the log. It’s waiting for you to do the inclusion on the device. You need to consult the device manual.

If it still doesn’t happen, please verify the frequency of the stick and the device your adding.

[2020-03-09 18:36] errolsancaktar commented on #286
So it’s weird. I have a couple of these in my network already and just went
to add a couple more. They are the Monoprice zwave door sensors. It’s like
it doesn’t see them at all when I try to include either securely or
insecurely. Is there a log level I can turn up to get more info?

On Mon, Mar 9, 2020 at 12:31 Justin Hammond <notifications@github.com>
wrote:

[2020-03-09 18:37] robertsLando commented on #299
Based on your errors I think it was something weired on your configuration, so yes a reset in such situations usually resolve everything. If the issue returns feel free to open this again, so yes close this for now

Daniel

[2020-03-09 20:04] jyvern commented on #306
Yeahhh ! ;-) But could you explain why I've been able to reset it with HA and OZW 1.4 with zwave2mqtt 2.0.6 and now I can't ?

[2020-03-09 21:31] errolsancaktar commented on #286
something must have mucked up in the config files.  once i removed the data folder and started fresh with just the info on the zwave controller it let me add the device.  no clue why it wasnt working before

[2020-03-09 21:31] #286 closed

[2020-03-09 22:20] elcosmelco opened #308 "additional option to set Value"
Hi,

I would like to suggest an additional way to set a value other than posting a `/set` in the existing topic, or using the API `setValue` function, which requires the `ValueId` which I don't think we have at that point. It could be a custom setValue that takes `NodeId, CommandClassId, Index, Instance` and `Value` as arguments sidestepping the need for a ValueId object.

Hope this makes sense!

[2020-03-10 02:57] jaburges commented on #292
@robertsLando i'm not sure i understand your comments?
i am getting updates to MQTT on /113/1/512 & 113/1/513 but NOT /98/1/0 (which is the "Locked" state) for a manual lock turn.
I can still lock/unlock when I send `true` or `false` to 98/1/0/set - which then the lock confirms its new state at /98/1/0 .

As above it seems like there were some edits made to the devices to grab/poll the state of th

[2020-03-10 10:28] #299 closed

[2020-03-10 10:30] robertsLando commented on #306
Find your config [here](https://github.com/OpenZWave/open-zwave/tree/master/config/aeotec), there could be an update that has made that value read only for some reason. @Fishwaldo

[2020-03-10 10:32] robertsLando commented on #306
If your device is this one: https://github.com/OpenZWave/open-zwave/blob/master/config/aeotec/dsb09104.xml

YOu should use 6-112-1-100 to reset the counter

[2020-03-10 10:49] robertsLando commented on #308
I can't find a reason why this should be implemented, anyway for your information `setValue` api can be called both using `(valueId, value)` and `(nodeid, comclass, index, instance, value)`

[2020-03-10 10:49] #308 closed

[2020-03-10 10:52] robertsLando commented on #292
@jaburges My comment was mainly for @Fishwaldo to show him how things are from my side, I really think it is something on OZW side and I have no power with that

[2020-03-10 12:22] Fishwaldo commented on #292
Has anyone actually tried my suggestion to change the config?

These devices are not compliant with the specifications. The Config change works around that.

[2020-03-10 12:28] jaburges commented on #292
@Fishwaldo yep about 5 days ago after your comment. Sadly didn’t resolve the issue :-(

[2020-03-10 12:50] elcosmelco commented on #308
ah it seems  I didn't look through the overloaded functions carefully enough! thanks!

[2020-03-10 13:07] Fishwaldo commented on #292
Logs please. After removing ozwcache

[2020-03-10 13:16] Fishwaldo commented on #306
Reset is index 257. It’s a button.

[2020-03-10 21:01] jyvern commented on #306
No, it's actually a ZW095-C. I would like to help to diagnose this ... "regression ?" but I don't how to and where to start !

[2020-03-10 21:39] jaburges commented on #292
removed ozwcache last restart. Here is the log: https://1drv.ms/u/s!At3XmrQSJ2NJs5EsTxjIauM3WPa0JQ?e=3AnSwi

Let me know if you want me to restart and just lock/unlock the locks.
Node 92 & 93 are Kwikset Locks
Node 78 is the BE469

[2020-03-11 08:10] sarkyscouser opened #309 "Remove dead (and removed) nodes?"
Is it possible to remove dead nodes?

I have a dead node that wouldn't remove itself via "remove node" so I factory reset the sensor and re-paired it leaving a dead node.

There are also several removed nodes visible when toggling "show hidden nodes" - is it possible to remove these as well?

According to the documentation there should be a "Remove Failed Node" option somewhere but it's not in the

[2020-03-11 16:33] robertsLando commented on #306
@jyvern Did you check @Fishwaldo comment, is it working now?

[2020-03-11 16:36] robertsLando commented on #309
@sarkyscouser You can only remove failed nodes. If a node is dead you should try to call removeFailed node against it. Once a node is marked failed you can replace it with a new one but you cannot "rearrange" nodeId of devices

[2020-03-11 16:36] #309 closed

[2020-03-11 18:20] broyuken commented on #309
This doesn't really answer the question. I have a node that is marked as dead, but I cannot figure out how to remove failed node. Is it a command I have to run on the cli or is it an option in the gui somewhere? If it is, I'm not seeing it.

[2020-03-11 18:58] broyuken opened #310 "[question] GE14294 Dimmer"
I have added a GE 14294 dimmer to zwave2mqtt, and it looks like it was added fine except that it says it is not secure even though I selected secure when I added it.

My major issue with it is that the state is nowhere near in sync with the actual light itself. I try to set the state in the zwave2mqtt control panel, and I've tried it directly in HA, but they are all so out of whack it's not even u

[2020-03-11 20:47] jyvern commented on #306
I was thinking that's it's a joke. Isn't it ? Reset to factory default is not what I want to do.

[2020-03-11 20:49] sarkyscouser commented on #309
Thanks but can you provide more detail please. I’m not bothered about nodeIDs but how do we “call removeFailed node against it”?

[2020-03-11 21:53] jyvern commented on #306
Succeed !!!
The API call "zwave2mqtt/_CLIENTS/ZWAVE_GATEWAY-broker /api/setValue/set" -m "{ "args": [6, 50, 1, 257, true] }" will reset the counter.
@Fishwaldo Many thanks to you to pointed this button to me (I think first it was a joke, shame on me !)

[2020-03-12 07:50] #306 closed

[2020-03-12 07:56] robertsLando commented on #309
@sarkyscouser There are details for everything in README.md. Lot users post questions that already have an answer in it but it seems many prefer to ask than read the docs. Anyway to explain better my question:

Once a device is included in the network it get an id that is incremental and is assigned from the controller. So the first device usually has nodeId 2, the second 3 and so on.  If you remo

[2020-03-12 08:03] robertsLando commented on #310
@broyuken If you added it securely don't trust that flag, secure command class is not supported from all devices and there is no way right now to know if it is secured or not. There is an open feature request on openzwave about this.

If using with hass please be sure that your gatewat payload type setting is set to JSON time-value or zwave object (not Just value)

Than what version of z2m and OZW

[2020-03-12 15:51] broyuken commented on #310
I have it set to ValueID Topics and  Time-Value. I'm running OZW 1.6.974 and z2m 2.2.0.

[2020-03-12 16:47] robertsLando commented on #310
Could you check slack channel? There is an open conversation about this

[2020-03-12 16:51] broyuken commented on #310
Yep, that's me :)

[2020-03-12 22:39] magpern opened #311 "[feat]Add Docker support for linux/arm64/v8"
I try to get zwave2mqtt with docker on an Orange Pi 3. I use
robertslando/zwave2mqtt:latest

OPi3 responds

`Pulling zwave2mqtt (robertslando/zwave2mqtt:latest)...
latest: Pulling from robertslando/zwave2mqtt
ERROR: no matching manifest for linux/arm64/v8 in the manifest list entries
`

[2020-03-12 22:55] magpern commented on #311
I also tried

`Pulling zwave2mqtt (robertslando/zwave2mqtt:arm64v8-latest)...
ERROR: manifest for robertslando/zwave2mqtt:arm64v8-latest not found: manifest unknown: manifest unknown
`

[2020-03-12 23:00] magpern commented on #311
Duplicate of #
https://github.com/robertsLando/Zwave2Mqtt-docker/issues/15

[2020-03-12 23:00] #311 closed

[2020-03-13 03:52] Fishwaldo commented on #310
I don't know why your confused here:
1) All ZWave Plus Devices mandate Security Support. (S0). This is just about any device manufactured in the last 5 years or so
2) The Presence of the Security CC indicates that the device is able to be included Securely
3) The Security CC exposes a ValueID with Index 1 (Label "Secured") that indicates if the endpoint on the device is encrypted. That is the flag

[2020-03-13 07:21] robertsLando commented on #310
I'm not confused @Fishwaldo . Actually on the code I make this check:

https://github.com/OpenZWave/Zwave2Mqtt/blob/ccd8650471a3fd68595702d7f3e0b65c44072602/lib/ZwaveClient.js#L399

As you can see I check both the index and the command class, if so I set the secure to true

[2020-03-13 07:24] Fishwaldo commented on #310
But you say this:

With your code- then you have everything you need.

[2020-03-13 07:26] robertsLando commented on #310
@Fishwaldo with that I mean "there is no way that works with 100% of devices",, I can tell that that method almost doesn't work as many users are still asking me why they see all nodes set as not secure even if them are secured.

Anyway you told me to check index 1 but localization tells to check index 0. Am I wrong??

[2020-03-13 07:27] Fishwaldo commented on #310
As mentioned, pre-zwave+ devices do not support it. So the absence of the CC indicates the device can not do Secure Inclusion. All ZWave+ devices have to support the Security CC (otherwise they can not get certified) hence, that CC would be present, and the index value tells you if we successfully negotiated the encryption when adding the device.

If the Node is pre-zwave, security is not supporte

[2020-03-13 07:29] Fishwaldo commented on #310
Sorry, your correct. Index 0. A comprehensive list is actually in here (as some values might not always get translated) - [ValueIDIndexDefines.def](https://github.com/OpenZWave/open-zwave/blob/master/cpp/src/ValueIDIndexesDefines.def)

[2020-03-13 07:31] Fishwaldo commented on #310
So a combination of presence of the CC and the Index 0 flag gives you:
1) No Security CC - Not Supported
2) Security CC present, index 0 = false - Supported but not enabled
3) Security CC Present, index 0 = true - Supported and enabled.

[2020-03-13 07:33] robertsLando commented on #310
Yes so it is what I'm actally doing right now :) I make set the node as not secure at start and than once that value is added I check if its value is true or false. My question is, should I ask for refresh that value or the value I get in valueAdded event is correct?

[2020-03-13 07:34] Fishwaldo commented on #310
I've just seen you test it during valueAdded. This is probably your issue. You should do the test in ValueChanged as well (if your not already). (eg, when a node is added to OZW, the initial communications are clear text, its only half way through the interview process that security keys are negotiated - Hence when index 0 is "added" to the list of ValueID's, its possible security hasn't been negi

[2020-03-13 07:36] robertsLando commented on #310
It is also there and in valueRefreshed event :)

https://github.com/OpenZWave/Zwave2Mqtt/blob/ccd8650471a3fd68595702d7f3e0b65c44072602/lib/ZwaveClient.js#L467-L470

[2020-03-13 07:39] Fishwaldo commented on #310
Then it should be working. For those reporting its "not true" then id be reviewing to ensure they added secure, or consult log files of OZW why it isn't working.

[2020-03-13 07:41] Fishwaldo commented on #307
Just a buggy device(s). its a useless CC (IMHO) anyway :)

[2020-03-13 07:41] robertsLando commented on #311
Did you tried also `robertslando/zwave2mqtt:arm64v8-3.0.1`?

[2020-03-13 07:47] #307 closed

[2020-03-13 07:50] magpern commented on #311
@robertsLando yes I tried that and it works fine!(saw it after I created this ticket). But I would rather, if possible, be able to just use latest to always get updates, if any

[2020-03-13 07:53] robertsLando commented on #311
@magpern I think that is just a metter of a little fix in the build script, I sincerly don't know what I should add as variant to make it match your arch, could you dig into this?

[2020-03-13 08:04] #300 closed

[2020-03-13 13:16] jaburges commented on #292
@Fishwaldo let me know if you need any more info and what thoughts you have on resolving this.

[2020-03-13 15:51] Fishwaldo commented on #292
[code]
Node 78 Does not have the changes I recommended above (change Index to 6). Hence:

[code]
Does not trigger OZW to refresh the DoorLock Status

Node92:
[code]

Also does not have the changes (index 6)
but it does not seem to expose a Access Control (index 6) Alarm Message type:
[code]

hence we get:
[code]
So you probably have to change index from 0 to 512 or 513 for the Kwikset locks

Also,

[2020-03-13 17:05] jaburges commented on #292
Thanks for the response, I’ll take another look and make sure the changes stick.

Can’t understand why it would happen in an update though. I’ve had these locks for 4 years and have been working fine. I understand they may not be compliant but that shouldn’t suddenly stop them working - unless there was a change made that aligns to Compliance and these then don’t fall in line?

[2020-03-13 17:29] Fishwaldo commented on #292
I suspect its a case of transition from OZW 1.4 to OZW 1.6 - The Alarm (now called Notification) CC was rewritten to support Version 11 (it previously supported version 4?). With that re-write, the index numbers changed - hence why the config file was pointing at the wrong index's

I can't possibly test all the devices (I own a *LOT* but not everything!) hence, why a lot of config files are mainta

[2020-03-13 17:54] jaburges commented on #292
Cool, I’ll do my best to test these and report back today :-)

[2020-03-14 01:38] jaburges commented on #292
every step forward is another 2 backward.
So removed ozwcache and it rebuilt the Kwikset locks correctly, now responding to manual commands.

However, now the door sensors are reporting as dead.
and I removed node on the BE469 and its still showing :-/

is there a limit to how many nodes you can have, as I feel like there seems to be some kind of limit on the zwave network before issues occur. Its

[2020-03-14 02:10] jaburges commented on #292
@robertsLando dead nodes or excluded nodes arent removing from the list and show up as:
[code]
Even after restart

[2020-03-14 08:54] robertsLando commented on #292
This is not handled by Z2M

I only store nodes name and locations in a file in store named nodes.json but that doesn't do anything against OZW. I only take those info if nodes are coming from OZW events notifications

[2020-03-14 12:26] hvxl commented on #282
Right. That was why z2m would no longer run.

I forked both node-openzwave-shared and Zwave2Mqtt and then made the necessary changes with 60272ab as the starting point. That seems to do what I wanted.

[2020-03-14 17:16] jaburges commented on #292
There is definitely something off, as I excluded the BE469 lock. I then reset the lock (full factory reset, no working codes etc etc).
On re-adding the lock, it was assigned its previous node (node 78) - every other device is assigned a new node.

[2020-03-15 03:15] jaburges commented on #292
i've now repaired 99% of my zwave network except for a strips back door sensor (WIP).
However the Kwikset locks are not reporting their state from a manual lock turn as originally raised.
CONFIRMED for both Kwikset locks:
[code]

HOWEVER - 1 lock works (eventually) node 92 but there is a LOT of traffic and issues in the logs before it registers the change.
Node 93 the other Kwikset lock shows noth

[2020-03-15 03:42] ebfio commented on #294
I have the same issue with my Yale lock. I'm gathering the debug log to share here shortly, but in a nutshell, I can lock and unlock, but the state never gets updated on HA, manually or not.

I tried all the changes here in this thread, nothing worked. Sharing my logs soon...

[2020-03-15 05:15] Fishwaldo commented on #292
Unfortunately the TriggerRefreshValue Block isn't correct. Maybe let me explain so you can understand what its doing:
[code]
This says - if we see a ValueID, whois Genre is user, its instance is 1, and the Index is 6, then we are going to refresh a ValueID in another class:
[code]
So this is the ValueID we are going to refresh - In this case CommandClass 98 (doorlock), RequestFlags is advanced and

[2020-03-15 05:19] Fishwaldo commented on #292
Sounds like the Exclusion didn't "stick" on the Controller. I assume you did a "RemoveNode" then did whatever button dance on the lock to actually trigger the Node Removal?

[2020-03-15 05:21] Fishwaldo commented on #292
btw, when you get it finally "refreshing" there is a fix to the Lock_Mode value. @robertsLando needs to pull the latest version to get it... but we can continue to diagnose instead of having to wait for him.

[2020-03-15 05:40] Fishwaldo commented on #292
I can't see from your logs (as we had ozwcache present) details about your Network, so this is just generic advice...

1) Pre ZWave+ devices operate at 40K bandwidth... Z-Wave+ devices operate at 100K bandwidth... so if you have lots of traffic, obviously old devices are going to limit your available bandwidth

2) On a large network, its good to have a decent amount of Mains powered devices. These

[2020-03-15 06:32] jaburges commented on #292
thanks for the informative reply! super useful.
i'll explore what options there are to replace the locks - little frustrating as they weren't cheap.
I wonder what recourse there is for scenarios like this from the manufacturer.

I have a lot of powered devices (all my light switches are permanently wired creating a pretty solid mesh throughout the house) - although most of these are GE and not z-w

[2020-03-15 09:59] robertsLando commented on #292
There is no reason to wait for me to build a new release just for “testing”. Instead there are 2 options to this (that are lot recommended): first one is to git clone this project compile it and start it hsing nodejs, the second one would be to follow Zwave2Mqtt-docker repo readme and compile a custom docker image (it’s just one command).

[2020-03-16 04:12] Fishwaldo commented on #292
I wonder what recourse there is for scenarios like this from the manufacturer.

Well if we get this TriggerRefreshValue right - then I think you will be able to use them....

In general, it either works or doesn't work. Not often you will get a partially works, and if you do, its more than likely a RF/Mesh issue than a security issue.

[2020-03-16 08:15] robertsLando commented on #294
send a screenshot or gateway settings json export please

[2020-03-16 12:06] prisikarm opened #312 "[question] How to control nodes with one command?"
Hello,
I have multiple z-wave radiator valves in one room. I would like to group them in order to set the temperature for the whole room by one command. Is it possible to do that in Zwave2mqtt?

Best regards,
Mike

[2020-03-16 12:41] robertsLando commented on #312
@prisikarm If they have associatons group for this, yes you can. Or you could use broadcasts commands but they will affect all devices of that type

[2020-03-16 15:57] #310 closed

[2020-03-16 16:00] #92 closed

[2020-03-16 16:01] robertsLando commented on #169
Fixed in latest releases (starting from 3.0.1)

[2020-03-16 16:01] #169 closed

[2020-03-17 06:02] errolsancaktar opened #313 "[feat] verbose log option"
What is the process to increase the verbosity of the logging (ideally docker version). I have something funky going on where the container stays up but the service restarts. Nothing in the log to explain why.

[2020-03-17 07:14] robertsLando commented on #313
Actually there is no verbose log

[2020-03-17 07:19] errolsancaktar commented on #313
How would you recommend tracking down the cause of the reboots?

On Tue, Mar 17, 2020 at 01:15 Daniel Lando <notifications@github.com> wrote:

[2020-03-17 07:21] robertsLando commented on #313
I suggest you to remove the actual gateway configuration (it is inside store folder)

[2020-03-17 16:27] errolsancaktar commented on #313
so remove settings.json?

[2020-03-17 16:28] robertsLando commented on #313
Yes, make a backup of that that file somewhere and restart

Il giorno mar 17 mar 2020 alle ore 17:27 Errol Sancaktar <
notifications@github.com> ha scritto:

--
--

*Daniel Lando - Ufficio Tecnico R&D**daniel@innovation-system.it*

*Innovation System S.r.l. *
*Via Motton, 83 36061 Bassano del Grappa (VI)*

*Sede Operativa *
*Via San Giovanni bosco, 2  36022 Cassola (VI)*

La presente comunicazione

[2020-03-17 16:56] prisikarm commented on #108
I have the same continuous pooling with the latest versions of Zwave2Mqtt and openzwave. I tried different polling intervals. Also tried with disabled gateway. I am using raspberry 4B and UZB dongle

[2020-03-18 02:50] jaburges commented on #292
ok update. I have pulled the latest docker of Zwave2MQTT which includes the latest OZW build (1.6.1061 (latest from master)
Removed ozwcache (and nodes.json from Z2M) - renamed and ensured all devices are 'Alive' and talking to the controller.

BE469 and Kwikset locks STILL dont report their manual state to the controller.
Issue 1: BE469 isn't reporting the correct device type (not sure how to for

[2020-03-18 07:18] robertsLando commented on #108
@Fishwaldo Bug?

[2020-03-18 07:27] prisikarm commented on #108
Update:
After reinstalling OS, everything works fine, so far so good.

[2020-03-18 07:29] #108 closed

[2020-03-18 16:16] jaburges commented on #292
In the spirit of being thorough I excluded the BE469 and then paired it. This time a new node number was issued, however still the wrong device is being reported.
Log of the inclusion is here:
https://pastebin.com/kgs9QRrt

[2020-03-18 16:48] jaburges commented on #292
This issue (on searching the web goes back as far as 2018 so doesnt seem like a new thing).

Also the BE469 is in fact z-wave alliance certified:
https://products.z-wavealliance.org/products/1051
so not sure I understand the part about it being non-compliant.
My model is specifically BE469NX

[2020-03-18 20:10] chilicheech commented on #282
The `Send 'list' values as integer index` seems to have no effect for me. It still sends the value as a string. For example, my thermostat device still sends `"value": "Heat"` instead of `"value": 1` in the json payload.

[2020-03-18 21:32] jaburges opened #315 "[bug] Removed Nodes show as Alive"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.2
Openzwave Version: 1.6.1061

**Describe the bug**
Removing a Node leaves a node present in the UI:
[code]
However the node reports as `Alive` when clearly it isnt.

Can we have a look at how to handle Dead nodes as well while we are at it.

**To Reproduce*

[2020-03-18 22:50] jaburges commented on #292
so the solution was to replace the BE469 with a BE469ZP (zwave Plus) - oddly there was an error on first inclusion but the new lock does not have the issue.
NOTE - despite being securely added, it is showing in the UI as NOT securely added, and whilst i can lock/unlock the user codes are not configurable.

Now the Kwikset continues to have the same issue.
I have used Node-Red to solve this tempora

[2020-03-19 08:28] prisikarm opened #316 "[question] How to increase system reliability"
Hello,
It is a common problem for Raspberri PI that after some time, the SD cards could be corrupted due to constant system writings etc. I am trying to make Zwave2Mqtt as reliable as possible, so here what I did:

- removed :
`dpkg --purge rsyslog
apt-get remove --purge wolfram-engine triggerhappy cron anacron logrotate dphys-swapfile fake-hwclock
apt-get autoremove --purgedpkg --purge rsyslog
ap

[2020-03-19 09:29] robertsLando commented on #316
Yes sure, but I have 0 experience in such things. The only files that I wrote are all inside store directory of z2m app

[2020-03-19 09:32] prisikarm commented on #316
Thanks for the comment,
BTW, I am using `sudo iotop -o -a` to check what files are written on SD card

[2020-03-19 09:34] robertsLando commented on #316
Let me know if you make progreess with this. Is so could you create a section in readme or an issue to explain how you did?

[2020-03-19 09:36] robertsLando commented on #282
@chilicheech This issue is different than what you mean. Actually the 'index' is the index of the value in the valueID values array, that usually is different from the  value index

[2020-03-19 09:36] prisikarm commented on #316
Sure, if I will manage to do this :)

[2020-03-19 09:37] robertsLando commented on #315
Could you add a screenshot?

[2020-03-19 12:31] wilmardo commented on #316
@prisikarm I have a mostly read-only implementation of Zwave2MQTT by using this config:
[code]

The only thing I need to address is the OZW_Log.txt which is constantly appended to but I haven't had time to address this since the stdout logging depends on the file. For me out would be enough to log to directly to stdout since I am running a container.
Then the only file next to the `settings.json`

[2020-03-19 12:47] wilmardo commented on #316
Opened the issue:
https://github.com/OpenZWave/open-zwave/issues/2160

Relevant code in Zwave2MQTT:
https://github.com/OpenZWave/Zwave2Mqtt/blob/0635ece9ff994c7307415b16594812342997ab8c/lib/ZwaveClient.js#L120-L132

Where `cfg` is the zwave section in the `settings.json`
https://github.com/OpenZWave/Zwave2Mqtt/blob/be5e356eaf41b24530e4c487f6ed39e9f78fbb25/app.js#L50

[2020-03-19 13:06] Kroontje commented on #123
@robertsLando any news? Same issue with a flush shutter from Qubino: ZMNHCDx Flush Shutter (Qubino (Goap)). The device is correctly discovered by Z2M, but no function to open, close or stop with commands.

[2020-03-19 13:57] jaburges commented on #315
![image](https://user-images.githubusercontent.com/14154875/77074987-e4ad2580-69ae-11ea-8d45-52bd23ce10ed.jpeg)

[2020-03-19 14:51] robertsLando commented on #316
@wilmardo That is an OZW file, it's used as cache for devices infromations like valueids, name, locations etc...

[2020-03-19 14:52] robertsLando commented on #315
That's really strange. I will try to debug this

[2020-03-19 14:53] robertsLando commented on #123
@Kroontje What version are you using?

[2020-03-19 15:02] Kroontje commented on #123
@robertsLando version: v3.0.1

[2020-03-19 15:15] robertsLando commented on #123
For this kind of issues @Fishwaldo can help

[2020-03-19 15:25] wilmardo commented on #316
@robertsLando That is an absolute necessity of the open-zwave client? It is the last file which needs addressing to get a stateless Zwave2MQTT.

I moved the `settings.json` to an external location (for now with a patch):
https://github.com/LANsible/docker-zwave2mqtt/blob/master/stateless.patch

For some background for this patch, here is the same change I proposed for Zigbee2MQTT:
https://github.c

[2020-03-19 15:26] twochannel commented on #197
Closing this, I'm on build 3.0.2 w/ ozw 1.6  and things are much better but i still have 2 observations I'll open a new issue for.  Thanks!

[2020-03-19 15:26] #197 closed

[2020-03-19 15:32] robertsLando commented on #316
Do you really need this? I'm ok for others and I would be glad to review a PR, I'm not so sure if `resolve` will break someting

[2020-03-19 17:03] jaburges commented on #292
@robertsLando but mostly @Fishwaldo i thought I was losing my mind (turns out i'm not)
As above the Brand NEW BE469ZP was securely added (showed in the UI as secure).
Then for some reason changed to not secure?! weird thought I may have done something wrong.
Excluded the lock, and then re-added it securely. next morning the lock is no longer showing as Secure. And validated by the fact I no longer

[2020-03-19 17:06] jaburges commented on #315
![image](https://user-images.githubusercontent.com/14154875/77094146-4c706a00-69c9-11ea-8c51-e4738ef431d3.png)

[2020-03-19 17:06] jaburges commented on #315
sorry a little small, but another example above

[2020-03-19 17:27] robertsLando commented on #292
@jaburges don’t trust that flag. If you added it securely it is secure. There is an open issue for that

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-19 19:25] prisikarm commented on #312
I am trying to create a Group, but the Current Associations field is empty, and I can only select one group called Group 1. I cannot save the group.

I am using Eurotonic Z-Wave Spirit radiator thermostats.

Is it possible that in future versions, Broadcast could be used for Locations?

[2020-03-20 01:15] Gsyltc opened #317 "[feat] Support for reverse proxy"
With the evolution of practices and container-based solutions (Docker, Kubernetes, Swarm, etc), reverse proxy services (Treafik, Nginx ingress) are used.
Would it be possible to take these developments into account?

**Describe the solution you'd like**
Add a new environment variable to change the default path of the web application.

Example: :

Let's consider 3 front-end applications in containe

[2020-03-20 02:48] jaburges commented on #292
Normally I’d agree, however the user code
Parameters (the ability to enter and store user codes in the UI) disappears once the secure flag changes to ‘No’

[2020-03-20 03:44] jaburges opened #318 "[bug] Lock User codes not hashed (shown in plain text in the UI and logs)"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.2
Openzwave Version: 1.6.1061

**Describe the bug**
In a previous lock (and a previous build) - I can't be certain as only have a single lock BE469ZP where this is an issue (it wasn't on 2.x.x and using BE469).

On submitting a user code, the code is shown i

[2020-03-20 09:15] robertsLando commented on #312
Maybe, yes.

It depends on the groups supported by your devices

[2020-03-20 09:16] robertsLando commented on #292
@jaburges That's must be a bug with the device so :confused:  I never seen such things @Fishwaldo what do you think?

[2020-03-20 09:18] robertsLando commented on #318
@jaburges Actually I treat valueIds based on theyr type (string, list, byte ecc...), how could I detect if a valueId is something that I need to hash? @Fishwaldo

[2020-03-20 09:24] robertsLando commented on #317
@Gsyltc I'm ok for this. Would you mind to submit a PR?

[2020-03-20 14:43] Dinth opened #319 "[feat] Sleeping nodes - time last seen awake"
**Describe the solution you'd like**
Having a "Last seen awake" information for nodes which are sleeping in control panel would greatly help troubleshooting issues with failed nodes, dead batteries, etc. It could potentially be even shared through MQTT, but just having it in control panel would be great help.

**Additional context**
It could look like that:
![Screenshot 2020-03-20 at 14 42 57](htt

[2020-03-20 14:45] Dinth commented on #312
Another solution would be a simple shell script which would issue mosquitto_pub commands controlling all the devices through Z2M.

[2020-03-20 14:48] Dinth commented on #244
Just for the reference, here's how adding a device looks on Fibaro controllers.
![Screenshot 2020-03-20 at 14 47 01](https://user-images.githubusercontent.com/313674/77174940-b9fbc380-6ab9-11ea-9494-4fa0549c5c85.png)
Although on a second thought there's no point in entering/changing the default value every single time. Maybe a timeout value set once in the config would do a better job?

[2020-03-20 15:00] robertsLando commented on #319
Yes it could be done easily. Could I add a general 'lastActive' field that keeps track of both 'alive' and 'awake' events?

[2020-03-20 15:16] robertsLando commented on #319
Actually I have made it like this:

[code]

![Schermata da 2020-03-20 16-15-33](https://user-images.githubusercontent.com/11502495/77177599-1533b300-6ac6-11ea-8930-03ebf419f2ef.png)

[2020-03-20 15:23] Dinth commented on #319
Looks perfect for me

[2020-03-20 15:33] Gsyltc commented on #317
Unfortunatly, I haven't good knowledge with Javascript. I don't have the expertise to make changes and the PR.
But I can send you all informations and resources to make changes.

Actually, I can see one things 👍

My entrypoint for all services is on port 80
When I configure zwave2mqtt with / redirection, it works. The site (port 80) is redirected on the service (port 8091).

When I configure with

[2020-03-20 15:38] robertsLando commented on #319
Done

[2020-03-20 15:38] #319 closed

[2020-03-20 15:40] robertsLando commented on #244
@Dinth I'm ok with this but is that difficult to manually stop inclusion I mean?

[2020-03-20 15:44] Dinth commented on #319
@robertsLando thanks! Keep yourself safe in those hard times!

[2020-03-20 15:44] robertsLando commented on #317
@Gsyltc this need some thoughts...

[2020-03-20 15:52] robertsLando commented on #315
@jaburges I can't reproduce your issue. I have rmoved my node and added it back without any problem, I mean I dind't see such things appear in my devices table in control panel

[2020-03-20 15:53] robertsLando commented on #315
@jaburges Just for info, I see you are having many issues with your devices, could you give me more info about the hardware you are using? I mean where did you install Z2M ? are you using an usb stick or what else?

[2020-03-20 16:08] Dinth commented on #244
Its not as long as it would be clearly signaled that the controller is in inclusion mode with maybe a link to stop it.
TBH ive been using Z2M for a couple of months now and i didnt know that i have to stop it manually.

[2020-03-20 16:49] robertsLando commented on #244
Done

[2020-03-20 16:49] #244 closed

[2020-03-20 17:02] robertsLando commented on #244
I have added a `Commands timout` Zwave setting that allows to specify how many seconds to wait before cancel an inclusion/exclusion command. Default is to 30 seconds

[2020-03-21 15:32] jaburges commented on #315
I have resolved most the issues except for the Kwikset locks reporting their manual lock/unlock state.

I’m using gen5 aeotec “z-stick” on an intel NUC. ESXi 6.5 on the bare metal, and then an Ubuntu server running HA, Z2M, mosquito dockers

[2020-03-21 15:34] jaburges commented on #292
I actually think it could be RF interference, that randomly causes dropped z-wave commands. In a 24 hour period seemingly if a certain command is dropped (not sure which) the lock stops communicating securely (and Z2M actually behaves correctly, as updates the Secure flag = No, and removes secure functionality).

[2020-03-22 17:56] raetha commented on #294
@robertsLando Just a quick follow up here. I know you've made a bunch of changes for the lock issues with HA 104 and above, and most of them seemed to improve things. But I am still having the issue with lock status and have to update the lock JSON to put quotes around true and false for:
[code]
As long as the quotes are around true and false, all seems well with HA seeing the status correctly. I

[2020-03-23 04:18] Fishwaldo commented on #318
There was never any hashing - In 1.4 UserCodes were treated as Binary - As when we wrote 1.4 it wasn't clear if they were ascii, binary or decimal. (due to RFID devices "abusing" the protocol). You could have easily decoded the Binary back to strings in 1.4

In 1.6, its clear UserCodes are treated as Strings, hence that's what is shown. Its upto a application to decide if they want to "hide" the c

[2020-03-23 04:21] Fishwaldo commented on #316
Not having it present would increase the startup times of OZW as it has to "re-interview" all devices. Not recomended as people complain a lot about the startup times as it is.

[2020-03-23 04:28] Fishwaldo commented on #319
Just FYI - This information was already exposed by OZW (see the node statistics). There will be cases where OZW talks to a Node (Say a sleeping node that wakes up with no queued messages for it) that results in no state changes that a Application would see.

[2020-03-23 04:37] Fishwaldo commented on #315
Does that node appear in OZW_Log.txt? If so - then it wasn't removed properly from the stick for whatever reason.

[2020-03-23 08:07] robertsLando commented on #292
@jaburges That's really weird

[2020-03-23 08:09] robertsLando commented on #294
@raetha PLease set payload to json time value or entire zwave object when using with hass

[2020-03-23 08:11] #315 closed

[2020-03-23 08:14] robertsLando commented on #318
@Fishwaldo is there any command class-index should be everytime hidden? I mean I could create a function to identify values that should be hased and use an input password for them

[2020-03-23 08:14] #312 closed

[2020-03-23 08:15] #293 closed

[2020-03-23 08:16] #254 closed

[2020-03-23 08:16] #250 closed

[2020-03-23 08:17] #166 closed

[2020-03-23 10:16] billiaz opened #320 "[feat]MQTT Payload addition - for Better telegraf/influxdb support"
Currently a payload is looking like:

[code]

Telegraf supports parsing json payload to influxdb. this way I can directly make graphs and get info using mqtt's consumer..
Having the posibility to push measurements using the class_id  is the best approach. Because Class_id is int/float this is not possible for telegraf.
Another way would be to also translate class_id to class name! (Sensor_binary e

[2020-03-23 10:22] robertsLando commented on #320
So you would like something like this:

[code]

[2020-03-23 10:28] billiaz commented on #320
or class_name to keep it sane!

[2020-03-23 11:01] billiaz commented on #320
@robertsLando can you point me, where I would be able to add this? :)
I could also keep a fork for myself.

[2020-03-23 11:34] raetha commented on #294
In the UI it is set to entire zwave object as I mentioned. Is that not working as expected and I need to change something directly in the config?

[2020-03-23 12:41] robertsLando commented on #320
add [here](https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/Gateway.js#L227)

[code]

[2020-03-23 14:02] billiaz commented on #320
trying it. If this works, want me to pull request this on the mail project or not?

[2020-03-23 14:21] robertsLando commented on #320
Nope, If I add this I need to add a dedicated option in the UI :)

[2020-03-23 14:26] billiaz commented on #320
thanks! :)

[2020-03-23 14:26] #320 closed

[2020-03-23 14:46] robertsLando commented on #320
@billiaz You welcome! let me know if it's working!

[2020-03-23 14:46] Fishwaldo opened #321 "[feat] Support new "in-progress" native Z-Wave MQTT Integration for HA"
Not sure if you are aware, but Home Assistant is working with me on a new native Z-Wave Integration that replaces the old python-openzwave wrapper.

This new integration, like yours, is based upon MQTT as a transport, but is written to directly support Z-Wave without going through the MQTT generic device discovery layers (and subsequent challenges that you face).

I have no idea how hard it would

[2020-03-23 14:55] robertsLando commented on #321
I dind't get it @Fishwaldo

Nope didn't know

If your integration natively supports zwave it will be an alternative to mine? I don't get it how I should interface to that integration

[2020-03-23 15:07] Fishwaldo commented on #321
It’s a alternative to yours but we used a topic structure and payload that’s different to the current MQTT adapter in HA.

If you can duplicate the structure and payload (which is basically just exposing the existing values and attributes as a JSON payload, you don’t have to map to the different device types. The integration (in cgarwood’s repository) will handle all that.

Makes the Integration v

[2020-03-23 15:20] rflx18 opened #322 "[question] blinds control / keep existint nodes"
hi, does the zwave2mqtt work with zwave mesh? i have fibaro and philios zwave blinds box, does zwave2mqtt fully work with them? also since they are already paired with the usb zwave stick does they still stay connected even if i change from homeassistant to zwave2mqtt?

[2020-03-23 15:45] robertsLando commented on #294
Nope it should work

[2020-03-23 15:47] robertsLando commented on #322
What? I don't understand what you mean. It supports all zwave features

Yes, but you should refresh node info if you are moving from an older openwave version like 1.4

[2020-03-23 16:40] rflx18 commented on #322
i misspell, i was asking for zwave2mqtt blinds.
also im facing issues installing in raspberry pi 3 :S

[2020-03-23 16:42] robertsLando commented on #322
What about blinds?

What errors?

[2020-03-23 16:45] chilicheech commented on #321
So, what value does this add? If z2m implements the same mqtt structure as HA's native zwave mqtt implementation then there's no need for z2m at all. The reason I switched to z2m is because sometimes home assistant makes assumptions about how things should be implemented without giving users the option to do it differently. z2m gives us more flexibility in that i don't have to follow HA's native i

[2020-03-23 16:55] rflx18 commented on #322
im stuck installing either openzwave and zwave2mqtt, both are confusing or it just me,
im using rasperry pi 3 and already have nodejs installed for zigbee2mqtt.

[https://imgur.com/a/Kkch4GG](url)

[2020-03-23 16:57] robertsLando commented on #321
Yes that is what I mean

The only 'pro' will still be the fact that if you restart hass z2m will run in a separete process and you don't need to wait for a completely new network scan

[2020-03-23 16:57] robertsLando commented on #322
Use docker way

[2020-03-23 17:24] rflx18 commented on #322
thats the all point, using the raspeberry pi so i can hide the qnap out of site

[2020-03-23 18:01] rflx18 commented on #322
installed docker in the raspberry, and started, but no nodes are showing, any guess?

[2020-03-23 18:43] rflx18 commented on #322
managed to go trought everything and homeassistant already detecting, the major issue is that the blinds/covers are detected as switch and i dont have the hability to close or open them. 2 bad :(

[2020-03-23 19:47] rflx18 commented on #105
@foxy82  did you fix the issue? i have the same issues in my setup

[2020-03-24 00:41] Botched1 commented on #187
The real issue is that the GE devices all report the double tap events via command 0x20 (basic). Currently if you just pair a GE device in zwave2mqtt, newest version, nothing is populated in MQTT for command 32.

So really, command 32 support is what needs to be added for the device.

Example, for a 26933 motion dimmer, here is what is populated in MQTT. Notice no command 32...

![image](https://u

[2020-03-24 00:49] Botched1 commented on #187
The real issue is how GE did the devices.

On some of them you use the BASIC report (0.20) for double tap. Out of the box, if you pair a 26933 motion dimmer, zwave2mqtt doesn't expose command 0x20/32 at all, it only shows up in "event":
![image](https://user-images.githubusercontent.com/19985320/77376841-5aaee500-6d3f-11ea-949c-c33f76d9479a.png)

[2020-03-24 01:03] Botched1 opened #323 "GE 26933 Motion Dimmer can not set association groups 2 and 3 correctly"
**Version**

Build/Run method
- [x ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: latest
Openzwave Version: 1.6.1061

**Describe the bug**
For GE dimmer/switch devices you need to add the controller to association group 3, but *not* association group 2 in order to get double tap events to work correctly.

Desired behavior: Should be able to

[2020-03-24 03:23] raetha commented on #294
That’s what I thought. So the only fix I’veGotten to work was adding the quotes around those values in the json for the lock, then storing that. Do you happen to have a lock that is working correctly without the quotes? If so, would you mind sharing your config so I can compare. And maybe the discovery payload as well?

[2020-03-24 05:56] jaburges commented on #292
The weirdest thing is the interference is potentially from 2.4GHz !?

[2020-03-24 07:06] robertsLando commented on #292
@Fishwaldo

[2020-03-24 07:10] robertsLando commented on #294
@raetha  are you using latest z2m version? Anyway I don't have a lock device, but @cliviu74 made it working

[2020-03-24 07:13] robertsLando commented on #323
In order to see current associations be sure that scan has complete. Could you enable zwave logs and paste here the output when you press `Add` button to add the association? @Fishwaldo any ideas what could be broken here?

[2020-03-24 07:14] robertsLando commented on #187
@Botched1 What z2m version are you running?

[2020-03-24 09:08] foxy82 commented on #105
No - at the point where I had to remove/add it from the network it became a real hassle so I haven't done it yet. See here: https://github.com/OpenZWave/Zwave2Mqtt/issues/123

[2020-03-24 10:03] gdave321 opened #324 "[bug] npm crashes on node alive with TypeError"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.1
Openzwave Version: 1.6.1031

**Describe the bug**
When a node comes alive npm crashes with TypeError: Cannot set property '128-1-0' of undefined

**To Reproduce**
Steps to reproduce the behavior:
1. Node not in client setup
2. Add client in application (u

[2020-03-24 10:12] robertsLando commented on #324
@gdave321 Thanks, fixed

[2020-03-24 10:12] #324 closed

[2020-03-24 12:23] rflx18 commented on #105
if we remove and add it again the issue is fixed? i tried old docker verison with openzwave 1.4 and the issue is the same

[2020-03-24 13:05] Botched1 commented on #323
I am a little new to this, which logs do you mean? When I do debug in the control panel, I see nothing in the debug log when adding/removing associations. I know it is happening, though, based on device behavbior.

[2020-03-24 13:06] Botched1 commented on #187
Latest docker version of z2m, just set it up about 4 days ago.

I'll go peek at the openzwave repo, good idea. I'm not new to zwave, or the GE devices (write drivers for the device on multiple platforms), but I am new to openzwave and z2m.

[2020-03-24 13:09] robertsLando commented on #323
Go to the UI, in Settings tab, Zwave section, check that logging is enabled

[2020-03-24 13:10] robertsLando commented on #187
Absolutely

[2020-03-24 13:15] Botched1 commented on #323
Ah, yes, that is enabled. Where do I go to actually see the log?

[2020-03-24 13:18] Botched1 commented on #187
Feature request submitted over there. Thanks.

[2020-03-24 13:39] Botched1 commented on #187
And, it was already closed.

https://github.com/OpenZWave/open-zwave/issues/2166#issuecomment-603237823

Back in your court I guess?

[2020-03-24 14:10] Botched1 commented on #323
Well, I'm at a loss. Looking at the ozw logs it looks like it is setting associations on assoc group 2 or 3 as expected. But the device behavior doesn't match what I see on other hubs.

On other hjubs to setup doubletap, you do this:
zwave.associationV2.associationSet(groupingIdentifier:1, nodeId:zwaveHubNodeId).format()
zwave.associationV2.associationRemove(groupingIdentifier:2, nodeId:zwaveHubNo

[2020-03-24 14:18] Botched1 commented on #323
In any case, here is what I see when I try to add node_01 to the association group 3. Also still don't know why nothing shows up in "Current associations" in the UI:

[code]

[2020-03-24 14:22] Botched1 commented on #323
Also, any thoughts on why the BASIC SET command/report doesn't show up in the z2m MQTT topic? Seems like 0x20/32 should show up in the list just like everything else?

Here is what I see on my device. Notice no 0x20/32 commands in the tree:
![image](https://user-images.githubusercontent.com/19985320/77435971-e9a81580-6db0-11ea-8c2d-b294b0c81953.png)

[2020-03-24 15:14] robertsLando commented on #187
I have added a comment

[2020-03-24 15:39] foxy82 commented on #105
The suggestion is to try 1.6 so use a newer docker and remove/readd.

[2020-03-24 18:06] wilmardo commented on #243
@robertsLando @Fishwaldo I wrote a blogpost on my progress so far since it was a long road, way to long to explain in a Github issue :)
https://lansible.com/2020/03/the-adventure-to-a-remote-z-wave-usb-part-1/

TLDR:
I got it somewhat working with a Z-Wave.me RaZberry and ttynvt for the connection to the ESP8266 running [jeelabs/esp-link](https://github.com/jeelabs/esp-link). But I am now running

[2020-03-24 18:31] cliviu74 commented on #294
@robertsLando just a quick update, the autodiscovered lock has stopped working after a while, although the payload settings have been maintained the same (tried both JSON or Zwave Object with the same result)
Wrapping the booleans in quotes seems to fix this issue but, as I'm running z2m in docker, I lose the settings after a restart and I don't have the time to rebuild the patched file into my ow

[2020-03-24 19:12] cliviu74 commented on #294
Verified and confirmed a couple of times, adding quotes to boolean fixes the issue with autodiscovered locks in home assistant, removing the quotes breaks it again.
Tested on Z2M 3.0.1 with Gateway -> Payload Type: Entire Z-WAVE value Object

proposed change in the discovery payload:

[code]

[2020-03-24 19:37] cliviu74 commented on #294
Home Assistant is expecting the quoted string rather than a boolean. The JSON payload sent via MQTT wouldn't make a distinction between a string and a boolean. Probably Home Assistant is discarding the value if it's not string.
I think adding quotes to the discovery payload booleans is the proper fix for this.

Here's the MQTT JSON  discovery payload for the

Broken:
[code]

Working
[code]

[2020-03-24 23:12] jshridha opened #325 "[bug] Battery level for some devices gets reported as a different device"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.2
Openzwave Version: 1.6-1061-g14f2ba74

**Describe the bug**
With my firstalert zwave devices, the battery level gets reported under the device: zwave2mqtt_laundry_first_alert whereas the other sensors get reported under the new unique identifier format: zw

[2020-03-25 02:27] Fishwaldo commented on #243
The data that OZW is receiving is corrupt. So it’s still something at your CUSE/ESP level. I’d go back to validating that really is passing packets etc without drops and so on.

[2020-03-25 03:39] jaburges commented on #318
This worked previously - not sure what changed.
The code entered would stay in the UI `user code slot 1` - when the lock had accepted it, it then converted it to ****

What i'm saying is it worked before in the UI, and now it doesn't. I cant confirm this did or did not happen in the logs

[2020-03-25 03:41] jaburges commented on #292
everything is stable without the possible interference. I'm going to regret doing this, but i'm going to test if that is the case, and replace the possible interference and see if the issue returns - update to follow

[2020-03-25 09:32] robertsLando commented on #323
Check also Z2M logs, you should see a request to `getCurrentAssociatons`. It is called when you select the association in the select box in the ui.

What you get there is everything I get from OZW, if not there, it means I don't receive anything from OZW so it's not z2m related

[2020-03-25 09:35] robertsLando commented on #294
@cliviu74 Thank you, will submit a fix asap!

[2020-03-25 09:36] robertsLando commented on #294
@cliviu74 Does this apply also to others? like lights?

[2020-03-25 09:39] robertsLando commented on #325
@jshridha Sorry this is not really a bug, in fact if you check your screenshot you will see that the sensor_battery has `persistent` set to `Yes`. Remove it from persistence and it will work :) It's just because you may have stored it with a prev vesion of z2m and it keeps the old identifier of when you stored it

[2020-03-25 09:39] #325 closed

[2020-03-25 09:42] robertsLando commented on #318
@jaburges I don't convert anything to **** in the UI, there was never such support, so that was something received from OZW, if so

[2020-03-25 09:43] robertsLando commented on #292
@jaburges Ok thanks!

[2020-03-25 09:48] cliviu74 commented on #294
@robertsLando thanks for looking into this, great stuff!
Unfortunately I only have a lock on zwave at the moment so I can only verify that.
From what I see, discovery payload looks a bit funny in Home Assistant, if the boolean is without quotes, I would imagine it would apply to others.
From home assistant mqtt discovery documentation [https://www.home-assistant.io/docs/mqtt/discovery/] I can't se

[2020-03-25 12:18] Dinth opened #327 "[bug]Changes are being posted to MQTT multiple times"
**Version**
3.0.2
Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.2
Openzwave Version: 1.6

**Describe the bug**
I have noticed this behaviour recently, so im not sure if its started after one of the updates, or after changing MQTT settings (I have changed "Named topics" to "ValueID topics" as the former was deprecate

[2020-03-25 14:14] billiaz opened #328 "[bug] issue with 3.0.2 version"
upgrading to 3.0.2 I get some errors on OpenZwave side.
I do nto knwo if this is a library issues (which I suspect) or something else on the system

[code]

[2020-03-25 14:16] robertsLando commented on #328
@billiaz Maybe @Fishwaldo has added some more verbose log in latest OZW? Let's see what he say about this

[2020-03-25 14:17] robertsLando commented on #327
@Dinth Are you sure that maybe you have pooling enabled? Or try to set the qos to 0 to see if something changes

[2020-03-25 14:19] robertsLando commented on #294
Because I have other configurations that have booleans, and I'm thinking that maybe also them could be broken

[2020-03-25 16:03] cliviu74 commented on #294
I suppose we can try to simulate discovery payloads of concern to verify them. If you have any thoughts on testing things, I can lend a hand to emulate.

[2020-03-25 16:19] Fishwaldo commented on #328
Has the interview for those devices completed (querystage_Complete?). If not that the reason. 

If it has, try RefreshNodeInfo

On 25 Mar 2020, at 10:16 PM, Daniel Lando <notifications@github.com> wrote:

﻿

@billiaz Maybe @Fishwaldo has added some more verbose log in latest OZW? Let's see what he say about this

—
You are receiving this because you were mentioned.
Reply to this email directly, vi

[2020-03-25 17:50] billiaz commented on #328
I performed twice the refreshnodeinfo on different nodes, and still getting this.
would querystage_Complete give a message in the end of the refresh?

[2020-03-25 21:17] rflx18 opened #329 "[bug]roller shutter detected as light dimmers"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: v3.0.2
Openzwave Version: 1.6.1061

**Describe the bug**
all of my shutters are detected as light_dimmers, the function works but they are detected as light dimmers in homeassistant aswell.
i already have remove and readded the node since they where coming from

[2020-03-25 22:08] #322 closed

[2020-03-26 01:28] raetha commented on #294
I can confirm that my switches don't seem to have an issue with the payload_off and payload_on values not being in quotes, and show the correct light status in HA. Example working switch payload:
[code]
So it isn't clear to me why HA has a different standard with the lock state values in the discovery json, only that it was consistent for my lock.

@robertsLando Sorry for not providing enough info

[2020-03-26 04:09] jaburges commented on #292
Ok tested and moved the RF interference back.
I’ll close this issue, but my concern is we never got to the bottom of it. The locks just stopped working (and I ended up getting a newer Zwave plus lock)

For completeness:

The new BE469ZP has issues when dropping commands, however after a few days I guess when the zwave network may have stablized? I removed and re-added this lock and it works, repor

[2020-03-26 04:09] #292 closed

[2020-03-26 06:30] billiaz commented on #328
@Fishwaldo when the library is restarted, it never finishes the whole refresh node info.

With or without the ozwcache in the system

I have 18 devices in the network, with AEOTEC usb stick (gen 5).
I have TRVs from eurotronics, which work almost like mains devices.
And 4 only battery devices (except eurotronics).

If the driver restarts, I have to manually go through all devices and perform refre

[2020-03-26 10:26] robertsLando commented on #329
@rflx18 Unfortunally that's not a bug, actually I have no way to identify the roller shutter, It is a switch multilevel and that class is also used for lights. The only thing you can do is to manually edit the discovery payload with the configuration you want and make it persistent by pressing on store. In this way once z2m starts it will use your configuration instead of using its auto-detect alg

[2020-03-26 10:31] robertsLando commented on #294
@cliviu74 In order to simulate discovery payload we should simulate nodes/valueids. I already did such things like you can see [here](https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/ZwaveClient.js#L303) but that is not the way. We could create a file with a fake node with different valueids, load that file on startup and emulate events

[2020-03-26 10:34] robertsLando commented on #294
@raetha Thanks for the feedback!

Welcome to my world 😆

I'm sorry for this, I live in Italy so I know that feel...

Please join the slack channel so :) https://join.slack.com/t/zwave2mqtt/shared_invite/enQtNjc4NjgyNjc3NDI2LTc3OGQzYmJlZDIzZTJhMzUzZWQ3M2Q3NThmMjY5MGY1MTc4NjFiOWZhZWE5YjNmNGE0OWRjZjJiMjliZGQyYmU

[2020-03-26 11:06] rflx18 commented on #329
i have been trying that without sucess, at least with lovelace custom card i can manage it fairly well,
i pledge the same, if anyone have a sucess payload for HA please share.

[2020-03-26 12:38] robertsLando commented on #329
Did you try to follow [this](https://www.home-assistant.io/integrations/cover.mqtt/) ?

[2020-03-26 13:02] rflx18 commented on #329
thats doesnt work it says JSON test failed, i dont have enought knowledge to create that :(

[2020-03-26 15:14] robertsLando commented on #329
@rflx18 Because it is js not json.

[code]

[2020-03-26 15:40] rflx18 commented on #329
no luck, didnt appeared :(

[2020-03-26 16:00] robertsLando commented on #329
You have to press on rediscover

[2020-03-26 16:09] rflx18 commented on #329
i did, no luck there, im trying creating it from HA but not having luck also thought

[2020-03-26 16:45] robertsLando commented on #329
You have to check on hass logs what is wrong with the payload. Paste the error here

[2020-03-26 22:02] rflx18 commented on #329
i just dont see anything in HA once i publish the new code.

here is how the code stays, the last lines are always added automatically

{
  "type": "cover",
  "object_id": "position",
  "values": [
    "38-1-0"
  ],
  "discovery_payload": {
    "command_topic": "zwave2mqtt/37/38/1/0",
    "position_topic": "zwave2mqtt/37/38/1/0",
    "set_position_topic": "zwave2mqtt/37/38/1/0",
    "value_templat

[2020-03-26 22:23] rflx18 commented on #329
with the following msg i have the discorey ok in HA but it doenst do anything when i press

{
  "type": "cover",
  "object_id": "position",
  "values": [
    "38-1-0"
  ],
  "discovery_payload": {
    "command_topic": "zwave2mqtt/37/38/1/0",
    "position_topic": "zwave2mqtt/37/38/1/0",
    "set_position_topic": "zwave2mqtt/37/38/1/0",
    "value_template": "{{ (value_json.value / 99 * 100) | roun

[2020-03-26 22:25] rflx18 commented on #329
ok, some sucess,

{
  "type": "cover",
  "object_id": "position",
  "values": [
    "38-1-0"
  ],
  "discovery_payload": {
    "command_topic": "zwave2mqtt/37/38/1/0/set",
    "position_topic": "zwave2mqtt/37/38/1/0/set",
    "set_position_topic": "zwave2mqtt/37/38/1/0/set",
    "value_template": "{{ (value_json.value / 99 * 100) | round(0) }}",
    "position_open": 99,
    "position_closed": 0,

[2020-03-27 10:37] billiaz opened #330 "[feat] health page - Modern infra (kubernetes)"
More and more people are working on kubernetes and other similar technologies. It has become common practice to have a "dummy" or real Endpoint which will return the health status of your application.

once this endpoint is available, the underlying orchestration considers the service ready to work.

I would like to suggest implementing an empty or just Health page with endpoint "/healthz"
this wa

[2020-03-27 12:36] rflx18 commented on #329
new update, im having some degree of sucess by manually adding the cover in homeassistant and not by the discorey.
if some brain can now help with the stop button, it would be perfect,
so far position, up and down is working, stop button just close the shutter.

here is the code for homeassistant.

  - platform: mqtt
    name: "blackout"
    payload_open: "99"
    payload_close: "0"
    device_cla

[2020-03-27 12:59] robertsLando commented on #330
https://github.com/OpenZWave/Zwave2Mqtt#healt-check-endpoints

[2020-03-27 12:59] #330 closed

[2020-03-28 05:35] billiaz commented on #328
I can confirm, this seems to be an issue after the latest release.
When library starts with or without ozwcache file. random devices fail to interview. And at that point I need to interview one by one. to be sure everything works.

Tested Lib from commits: 14f2ba743ff5ce893f652cad3a86968e26f8ea10 and 55770df17be4f0196d2a64785369be91eeeb4479

[2020-03-29 02:39] errolsancaktar opened #332 "[question] Are there any issues with the ZME_UZB1 USB Stick (Z-Wave.Me)"
I've been having a terrible time trying to get my network reliable.  I originally had the linear controller and ran into some issues trying to repair some devices so i went with the UZB stick since it has zwave+.  i did a complete reset of the network and now devices come up dead randomly, door sensors like the HANK-DWS01  will not pair correctly or stay paired after a reboot.  Here are my setting

[2020-03-29 10:22] elcosmelco opened #333 "Best way to see if gateway is still responsive / alive"
I would like to know if there is something like a heartbeat or query-able status topic I can listen to, to see the whether the service is still alive. I can of course query a random API call but I was wondering whether there is something more  appropriate, such as the status topic.

Cheers,
Elco

[2020-03-29 10:30] robertsLando commented on #328
@billiaz Could youb try to make a new custom docker version using a previous version of ozw to see if that is working?

[2020-03-29 10:41] robertsLando commented on #332
Nope AFAIK. @Fishwaldo Do you know?

[2020-03-29 10:42] robertsLando commented on #333
Did you checked: https://github.com/OpenZWave/Zwave2Mqtt#healt-check-endpoints

[2020-03-29 12:46] sjoerdmulder opened #334 "[question] changing colors on RGBW controller"
Hi i'm having a FGRGBWM441 RGBW Controller (Node 2) which i'm trying to get working with this project.

Openzwave version: 1.6.1061
Zwave2mqtt version: Not sure... pulled latest from Docker yesterday but no log with version

I'm having 2 issues / questions
* When setting the color using the `51/1/0/set` topic it takes a long time to propegate back to the `51/1/0` topic, sometimes more than 20 seco

[2020-03-29 15:58] brgaulin opened #335 "[bug] Multiple Unique IDs for the same node"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.2

**Describe the bug**
When restarting ZWave2MQTT the unique_id being broadcast to the hass auto discovery changes, causing duplicate devices to be created in hass. This seems to be specific to my Zooz Zen27 Light Switch

**To Reproduce**
Steps to reproduce

[2020-03-29 15:59] elcosmelco commented on #333
I did notice that one - I was just hoping for something purely Mqtt - maybe even with some extra information, like uptime, time since last ZWave activity, driver status etc.

[2020-03-29 16:02] brgaulin commented on #335
I'm actually going to close this, think I have a lead, of course after doing this write up lol.

Current lead, is that in my nodes.json in my hassDevices section, I had the bad node ids, going to update those to the correct ids and try again

[2020-03-29 16:02] #335 closed

[2020-03-29 16:39] brgaulin commented on #335
Yup that seemed to do it!

[2020-03-30 08:38] robertsLando commented on #333
You could enable zwave events in settings (https://github.com/OpenZWave/Zwave2Mqtt#zwave-events) or use `getNodes` api via MQTT (https://github.com/OpenZWave/Zwave2Mqtt#custom-apis)

[2020-03-30 08:41] robertsLando commented on #334
@sjoerdmulder This is a question to ask in Openzwave library, I have no control of that, but based on personal experice most times this kind of errors are something device related. There could be an option in config or something wrong with the device itself, not really a bug so. @Fishwaldo

[2020-03-30 21:48] elcosmelco commented on #333
I've already enabled the events but they are only triggered by the driver correct? Calling `getNodes` on large networks periodically will generate too much unnecessary traffic - what I'll do is call `getInfo` which is a minimal amount of data. Maybe adding some additional info to that would make sense?

[2020-03-31 08:48] robertsLando commented on #333
Could you list the properties that you would like to be added to getInfo api (with also a description)? There is no problem for me to add them

[2020-03-31 18:55] elcosmelco commented on #333
Ah great!

`uptime` - time since the start of the service
`lastUpdate` - time since the last OZW activity
`zwaveStatus` - intialization status of OZW

The latter 2 because your service and my app can restart independent of each other and if I restart my software say halfway during initialization of OZW I can still get a general idea of its state because any `EVENT` message might still take a while

[2020-04-01 09:18] LordMike opened #336 "[feat] Configuration templates, apply to many devices"
**Is your feature request related to a problem? Please describe.**
I've acquired three Aeotec door/window sensor 6's, and I'd like to configure them in the same fashion (send X when open, monitor battery ,.. etc). Currently, I have to do this individually, per device - and then on that, I need to verify the settings took hold (There's an option to persist the queued messages, so even on z2m restar

[2020-04-01 09:45] robertsLando commented on #336
Thats intreresting @LordMike . Would you like to create a PR for this? I will add this to the todos but requires some effort on front end side

[2020-04-01 10:05] robertsLando commented on #333
I have added this parameters to Zwave `getStatus` api:

[code]

Where description could be

[code]

[2020-04-01 11:20] phsluis opened #337 "Failed to load device_classes.xml"
Most of my Zwave devices work, but 2 out of 3 smoke detectors don’t have all options available.
When starting the Zwave2Mqtt addon I see the messages below, does anyone know what is wrong?

2020-03-30T17:50:36.485Z z2m:Zwave Node added 44
2020-03-30 19:50:36.485 Info, Failed to load device_classes.xml
2020-03-30 19:50:36.485 Info, Check that the config path provided when creating the Manager point

[2020-04-01 11:49] robertsLando commented on #333
@elcosmelco Check out latest commit

[2020-04-01 11:49] #333 closed

[2020-04-01 11:51] robertsLando commented on #337
Could you tell me the version of z2m you are running?

[2020-04-01 13:57] phsluis commented on #337
Thank you responding, I am running 0.5.0 of the add-on in Home assistant
and Openzwave 1.6.974.

Is this the information you are looking for?

Best regards,

Patrick

Daniel Lando schreef op 2020-04-01 13:51:

Links:
------
[1]
https://github.com/OpenZWave/Zwave2Mqtt/issues/337#issuecomment-607203214
[2]
https://github.com/notifications/unsubscribe-auth/AOGQ7WDLFKAAPHBWPZVCOTLRKMTERANCNFSM4LYZRQKA

[2020-04-01 14:43] jaburges commented on #318
@robertsLando weird that it has now stopped hashing user codes.
If that is the case can you implement an optional login screen to prevent anyone on my network getting to the Z2M dashboard?
My MQTT is secured, but this is a simple way to get in.

[2020-04-01 14:46] robertsLando commented on #318
A login screen is already in my todo list but it requires some major changes to be implemented, nothing that will come in the near future because I have very little time now. What you could do is to use nginx to create a basic authentication: https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/

[2020-04-01 14:49] robertsLando commented on #337
I need to know Z2m version, it is shown in the side menu on the top

[2020-04-01 14:56] phsluis commented on #337
Okay, that is v2.2.0

Daniel Lando schreef op 2020-04-01 16:49:

Links:
------
[1]
https://github.com/OpenZWave/Zwave2Mqtt/issues/337#issuecomment-607294598
[2]
https://github.com/notifications/unsubscribe-auth/AOGQ7WEEKU4XJAMZJ2SDK3DRKNH73ANCNFSM4LYZRQKA

[2020-04-01 15:06] robertsLando commented on #337
@phsluis I think you simply need to update it, it's an old version

[2020-04-01 15:06] niemyjski opened #338 "[bug] Multiple switches created for GE 26931 Smart Motion Switch"
**Version**

latest master commit

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: master
Openzwave Version: 1.6.0

**Describe the bug**
There are multiple switches generated for the 26931 GE zwave devices.
![image](https://user-images.githubusercontent.com/1020579/78153040-44202200-7400-11ea-8ca4-38da62b00eaa.png)

**To

[2020-04-01 15:08] robertsLando commented on #338
I don't think so, your device is multi-instance and as you can see the second is on instance 2 so there is no duplication. Please check your device manual

[2020-04-01 15:08] #338 closed

[2020-04-01 15:12] phsluis commented on #337
Do you have instructrions how to do this?

I think it is running as a docker in Home Assistant hypervisor.

Daniel Lando schreef op 2020-04-01 17:06:

Links:
------
[1] https://github.com/phsluis
[2]
https://github.com/OpenZWave/Zwave2Mqtt/issues/337#issuecomment-607304695
[3]
https://github.com/notifications/unsubscribe-auth/AOGQ7WHBEAUBQYKGVSXTA2DRKNKA3ANCNFSM4LYZRQKA

[2020-04-01 15:16] robertsLando commented on #337
@phsluis I don't use hass or that plugin, so I have no Idea, sorry. Try to ask in the plugin github repo

[2020-04-01 15:16] #337 closed

[2020-04-01 15:21] phsluis commented on #337
Okay, thank you very much for your help.

Daniel Lando schreef op 2020-04-01 17:16:

Links:
------
[1] https://github.com/phsluis
[2]
https://github.com/OpenZWave/Zwave2Mqtt/issues/337#issuecomment-607310796
[3]
https://github.com/notifications/unsubscribe-auth/AOGQ7WC4O4YKJJRWHME73YLRKNLGPANCNFSM4LYZRQKA

[2020-04-01 15:32] niemyjski commented on #338
Why is this switch a multi-instance device? I don't see anywhere in the docs and none of my other ge z-wave devices are generating multiple switches. What is this second instance for? This really feels like a bug.

[2020-04-01 15:36] niemyjski commented on #338
The device only has one physical switch, so I'm not sure how multiple switches would work here and that is why I filed this issue it just doesn't make sense to me or others on the forums.

[2020-04-01 16:00] robertsLando commented on #338
@niemyjski It is for sure a device bug or a configuration bug, not something related to zwave2mqtt for sure. YOu should open an issue on Openzwave repo reporting this

[2020-04-01 16:34] niemyjski commented on #338
Thanks will do!

[2020-04-01 22:28] LordMike commented on #336
It unfortunately does. I'm not _that_ familiar with larger apps in JS .. but if I get around to it, I might give it a whirl. :)

Thanks for the effort on the project. It looks good :)

[2020-04-02 01:11] Botched1 commented on #332
That's the same USB stick I use. No issues as far as I can tell - has been perfectly stable for me.

[2020-04-02 01:13] Botched1 commented on #323
Everything looks corfrect in the logs, but the device isn't acting as expected. I'll just close this for now, and if I find something useful to look into I'll open a new issue.

[2020-04-02 01:13] #323 closed

[2020-04-02 15:10] robertsLando commented on #336
@LordMike If you need help to understand how code works, I'm here :)

I think that there is an 'easy way' that consists in add a button in configuration section (near refresh button) like 'Create template' that once pressed calls an api that stores in the JSON stores an objet like:

[code]

It will contain all templates of each deviceID that has one, near that button there should be an 'Apply temp

[2020-04-02 15:12] robertsLando commented on #336
@chilicheech Would you like to implement this?

[2020-04-02 16:54] LordMike commented on #336
Quick sketch of what I imagine the feature will do:

* Add a template management page, that can display all templates, clicking on one will show non-compliant devices
  * For each device, there should be an "Apply template" which queues all the necessary setParameter thingies.
* Add a "Make template" link/button on the configuration page, which prompts for a name - when submitted, it stores all th

[2020-04-02 17:18] LordMike opened #339 "[feat] Support replacing nodes securely"
**Is your feature request related to a problem? Please describe.**
If possible, support a secure version of the replaceNode feature just like when issuing an addNode (which prompts for secure/not secure).

**Describe the solution you'd like**
A prompt for replaceNode on secure/not secure.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-04-02 22:54] LordMike opened #341 "[question] Is the "unique_id" for HASS meant to include NodeId?"
I've been playing for a few days, with the Z2M HASS integration, which works awesomely .. but once I started moving devices around in the node id's (excluding+including a few times), I got duplicate devices in HASS.

I can see the Unique Id of the HASS discovery document uses the node Id in addition to the device type. In the below picture, my doorbell is on NodeId 2.

![image](https://user-images

[2020-04-02 23:02] LordMike opened #342 "[question] Remove retained MQTT topics on exclusion"
Hi,

Messing around, I've noticed a lot of topics being left in my MQTT service, whenever I exclude, re-include, change from node-id to named topics etc. At least I've cleaned up a lot of topics.

Is there a feature, missing configuration, or something - that should clean up topics when devices disappear for good?

If not, I'll change this to a feature request :).

Edit: I imagine one of the worka

[2020-04-03 01:15] j3kestrel commented on #341
It is my understanding that HASS wants this to be a very unique value.  This is a policy that I find infuriating because it makes it impossible to replace a sensor without an enormous about of reconfiguration to point everything at the new sensor.  ...or what I actually do which is go to battle with HASS where I delete all the old entities and then rename the new ones to match the old ones.  For m

[2020-04-03 06:16] robertsLando commented on #336
I like your idea but I think it add lot complexity to something that is not complex at all. All devices have diffetent configurations valueId with different parameters (so there is no reason to use a filter, the only thing to use is the deviceId that unique identify a device). Also each value has a unique id inside the device and for configuration values they all have command class `112` so the vl

[2020-04-03 06:23] robertsLando commented on #339
There is already an open PR for this #216 , it don't depends on my but I need to wait for OZW to make it available

[2020-04-03 06:23] #339 closed

[2020-04-03 06:24] robertsLando commented on #342
@LordMike I really suggest to use MQTT Explorer for such things, it's lot easier :)

[2020-04-03 06:28] robertsLando commented on #341
@LordMike That is on purpose, you should use replacefailed node instead of excluede and include back your devices (to keep the same nodeid).

Unfortunally I have moved to that unique_id after some users told me there where the same problem when doing it using node names, so after some discussion with them we decided to use that unique id that is for sure unique even if you have multiple instances

[2020-04-03 09:53] LordMike commented on #341
I can see the argumentation of doing it as it is now - I wrote because I encountered the same issue as @j3kestrel.

Might I suggest then, @robertsLando, that you display the names of the nodes - even when they're not present?

As it is now. The name of a node in Z2M persists across exclude/include (by chance or by design) - which is convenient. But it requires me to remember more stuff (maybe I ge

[2020-04-03 09:57] robertsLando commented on #341
I can do this yes!

[2020-04-03 10:03] robertsLando commented on #341
@LordMike fix on master

[2020-04-03 10:03] #341 closed

[2020-04-03 10:32] LordMike commented on #342
Very well. I will comment though that it would be a user-friendly option to maintain / clean up when possible. I and others can very likely manage evaluating topics (or just remove all and let the system reboot) - but new users may find it hard.. :)

But hey. Now I know of MQTT Explorer. :)

[2020-04-03 10:32] #342 closed

[2020-04-03 11:38] robertsLando commented on #342
You right but I saw most users are using mqtt explorer

[2020-04-03 11:49] LordMike opened #344 "[question] Add validation on the node name?"
I was just burned by HASS not discovering some of my entities - as I was trying to find differences, I noticed all those not discovered has "." (dots) in their names. [And surely enough.](https://www.home-assistant.io/docs/mqtt/discovery/#configuration-variables)

How tightly integrated is Z2M with HASS (it seems like a lot), and if so - would it make sense to add a warning or such, on the name of

[2020-04-03 12:06] robertsLando commented on #344
@LordMike Thanks, fixed!

[2020-04-03 12:06] #344 closed

[2020-04-03 13:12] RezzZ commented on #255
@billiaz can you share your custom thermostat json defined in zwave2mqtt for hass auto discovery?
I'm strugling with the correct format and
https://github.com/OpenZWave/Zwave2Mqtt#thermostats
seems missing a few parameters compared with other auto defined devices

[2020-04-03 20:22] SirDeadlystrike opened #345 "[bug] Ilumin RGB Bulb Discovery in HA missing features"
**Version**

Build/Run method
- [x] Docker (Hass.io Addon)

Zwave2Mqtt version: 3.0.1
Openzwave Version: 1.6.974-r0

**Describe the bug**
Upon including the LZW42 Multi-Color Bulb (Inovelli) Z2M identifies the type as a "Light Dimmer Switch" and the product.

The device it creates in home assistant is a light_rgb_dimmer.

In home assistant the device only has On/Off features and is missing Dimming

[2020-04-04 14:16] robertsLando commented on #345
Try to use version 3.0.2

[2020-04-04 20:02] cyclops1982 opened #346 "[bug] HA integration fails when you set a name on a zwave device"
**Version**
Build/Run method: Manually built (git clone - npm install - npm run build )
Zwave2Mqtt version: master branch
Openzwave Version: master branch

**Describe the bug**
I'm using the HA integration with MQTT.
This works, but only when i do NOT set a name for the zwave device within zwave2mqtt. If i set the name, then it fails to work. This seems to be because the MQTT integration on the HA

[2020-04-04 20:43] cyclops1982 commented on #346
I have to say, this is starting to feel more like a HA bug.

I've removed the MQTT integration from my configuration.yaml, restart and added it again. Had the names in zwave2mqtt changed and this didn't reflect. What's more, one of the nodes i had a name for in HA (so the name override) suggested it. So there's some form of caching in HA that's fishy here.

[2020-04-05 19:21] cyclops1982 commented on #346
For others who might have this problem. I managed to get this to work by disabling the 'use name' option. You then have to do rediscover on all your items. Twice. :)

[2020-04-05 20:56] zacs commented on #345
@SirDeadlystrike You can make this work by declaring manually as described here: https://community.inovelli.com/t/rgbw-bulb-in-home-assistant/1235/9 -- worked great for me.

[2020-04-06 08:17] LordMike commented on #346
Quick question. In Z2M, on the node, there is a json discovery document for each of its "devices" (entities). Which mqtt paths do they describe?

HA should interact with those paths - or variations thereof.

Also, when changing from Names to Not-Names, it's a really good idea to clear the MQTT broker of topics related to Z2M. If retaining is set, HA will re-discover all the non-functional devices

[2020-04-06 09:49] cyclops1982 commented on #346
Here's an example of one:
[code]
This is from one that's working.

I used to have these values stored, this i think is not a good idea as then it uses the stored values. The store option is now also off.

So, i raised this item, but i believe it's configuration that caused it. The integration is working fine. I will see if i can find some time to update the docs to reflect my configuration better

[2020-04-06 10:09] robertsLando commented on #346
Z2M firstly is born as a simple zwave2mqtt gateway, has integration is born after many users have ask for it. That said, you can manage valueId nodes and their topic with an high level of customization, hass discovery is made after a node is ready, so if you make changes like change its name or something else that changes the topic of the values, or if you store its disovery values and then you ch

[2020-04-06 10:10] #345 closed

[2020-04-06 13:46] cyclops1982 commented on #346
I agree.
Thanks for explaining. This will be help for for others!

[2020-04-06 13:46] #346 closed

[2020-04-06 13:51] robertsLando commented on #346
@cyclops1982 @LordMike I'm not an HASS user so I don't know the problems that users could have when they first start to use z2m with hass. I would be glad if someone of you could write a section like 'Hass quick start' or something like that with useful information and step guide for newbes that are using z2m, maybe this will save from many question/issues in future :)

[2020-04-06 13:55] cyclops1982 commented on #346
It will! I'll try to see if i can find the time.

For now, this software is really making life with HASS easier! Really keep up the good work!

[2020-04-07 09:42] jtonk opened #348 "[bug] Device XML issue"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.2
Openzwave Version: 1.6.1061

**Describe the bug**
parameter config does not show all options from list of the OZW device xml file. for parameter 100 (and 101) it only shows the option 1 to 6, but omitts 0 (disable) and 9 (sensor binary) from the list.

[co

[2020-04-07 09:52] robertsLando commented on #348
@jtonk Did you checked if those options are present in the ozwcache file? I have no control of the options, I show what I receive from OZW

[2020-04-07 10:08] jtonk commented on #348
@robertsLando I assumed it was taken from the OZW 1.6 config folder, but I just double checked and the values 0 and 9 are present in the ozwcache file. Is there a way to send paramters manually? in other words override the pulldown menu

[2020-04-07 11:24] robertsLando commented on #348
You can try to directly send the value using mqtt apis, but I think this needs some investigation

Daniel - Software Engineer

Support me at:
    Github sponsors

[2020-04-07 13:35] LordMike opened #349 "[question] Cannot add device overrides for some devices"
Hey,

I wanted to change the device class pushed to HASS for two of my three door / window sensors, but I couldn't do this with the device overrides (where I configure polling). What's the criteria for which devices can be overriden?

Note: I'll override the device class using the HASS document editor .. I (re-)discovered that feature after I found this potential bug. :)

![image](https://user-ima

[2020-04-07 13:43] LordMike commented on #321
I'll note that I kinda prefer now to have z-wave running separately. When I do changes on HASS - it's a lot at once which often requires restarts .. having z2m nullifies the z-wave impact. :)

[2020-04-07 16:44] robertsLando commented on #349
Hi Michael, that is not a bug, it’s how the gateway values work, in the readme you will find that in that dropdown are shown all devices types, this means one device for each type that is discovered in your network. This because in 99% of cases each device configuration will be the same for each type in the network and so you can configure one time and apply that to all the devices in your network

[2020-04-08 19:33] LordMike commented on #349
I figured it could be something like that (partly as no Node Id's were present).

But I'm still missing the door/window sensor in the list.

[2020-04-08 19:35] LordMike commented on #349
The sensors all have the device id `134-112-2`, which as I read it, is the same manufacturer as the USB stick (`134-90-1`) - is the logic filtered to one device type per manufacturer?

[2020-04-08 21:59] jtonk commented on #348
This is so dumb of me. The pulldown shows the first 5 items, but if you scroll on it it show the latter two. Sorry for taking your time...

[2020-04-09 06:11] robertsLando commented on #349
Nope, it checks the id and if not present it add the device to the devices list. Does this happen also if you restart the application?

[2020-04-09 06:13] #348 closed

[2020-04-09 12:17] LordMike commented on #349
Oooh.. It may be that these devices probably haven't reported in since the last reboot of Z2M .. they're battery powered after all.

They _have_ changed their state, but that might not entail a "ready"?

For these devices, I've also encountered that to apply new settings, I need to press their button - not just open/close the door/window .. possibly a byproduct of it not reporting "read" every tim

[2020-04-09 15:47] robertsLando commented on #349
Yes so thayt is the problem so

[2020-04-09 17:52] Lopton commented on #329
@robertsLando I spent sometime this morning figuring out the JSON payload. This seems to work for me, including ability to control with up or down arrows and set the position with a slider.

[code]
I cannot seem change the "id" at bottom though, it always reverts to light_dimmer. And I'm not sure how to use this across all of my devices other than manually changing each one (I started learning thi

[2020-04-10 13:26] robertsLando commented on #329
@Lopton Could you send a PR for that?

[2020-04-11 21:16] cyclops1982 opened #353 "[bug/question] Segmentation fault"
Master Brach

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: master branch
Openzwave Version: master branch

**Describe the bug**
Sometimes, i get a segmentation fault. Not during normal operation, but it does happen.

**To Reproduce**
Steps to reproduce the behavior:
1. Do stuff

[code]

The npm-debug.log:

[code]

**Ex

[2020-04-12 11:18] robertsLando commented on #353
@Fishwaldo Something known?

[2020-04-14 11:52] fiLLLip opened #354 "[bug] Aeotec Multisensor 6 and HASS autodiscovery reporting as door/contact sensor"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.2
Openzwave Version: 1.6.1061

**Describe the bug**
Aeotec Multisensor 6 reporting as binary_sensor_contact on Hass autodiscovery making it a door sensor, not motion.

**To Reproduce**
Steps to reproduce the behavior:
1. Add HASS Autodiscovery
2. Add Aeotec

[2020-04-14 12:07] robertsLando commented on #354
@fiLLLip If you just need to chenge the device class you can change it using gateway values table. Simply add a new value to the table, select the device then this value and the device id to use for it and that device class will be used for all devices of that type. Unfortunally I have no way to detect that it is a door contact or something else, ignore the label check

[2020-04-14 12:07] #354 closed

[2020-04-14 12:30] fiLLLip commented on #354
Perfect! Thanks :)

[2020-04-14 13:02] aretakisv opened #355 "[question/bug] Duplicate mqtt messages on value change -SOUNDSWITCH"
On soundswitch I noticed when changing the volume. I receive double  MQTT updates on topic

log:
[code]

Do not know why this happens.
When i set the saem value, I receive one update

[2020-04-14 13:05] robertsLando commented on #355
Have you tried to restart the application?

[2020-04-14 13:06] aretakisv commented on #355
Yes, also disabled:
node-red and homeassistant

[2020-04-14 13:23] robertsLando commented on #355
That notification is coming from OZW, try to open the issue there because I can't do anything to handle it

[2020-04-14 13:24] robertsLando commented on #355
But wait if you mean:

[code]

This are 2 different values, index is different

[2020-04-14 13:26] aretakisv commented on #355
if you see my log, it comes twice for both notifications on the different indices with a difference of some milli

[code]

[2020-04-14 14:01] robertsLando commented on #355
@aretakisv I think that it's a device bug not something related to z2m. It's the device that reports its value change, try to open the bug on ozw github to see if someone can tell you more about this

[2020-04-14 14:01] #355 closed

[2020-04-15 14:43] PatrickSannes opened #356 "[Question] Nodes being removed after scan complete"
If I'm not in the right place to ask these questions, please direct me to the proper location (i could not find it).

I just started to work with zwave2mqtt. My devices are configured on my EAON labs ZW090 gen5 stick (I had them configured in Home Assistant). I have 2 problems:
1: Devices are not recognized by vendor and the device id stays 0-0-0
2: After scan complete, my nodes are being removed

[2020-04-15 15:55] robertsLando commented on #356
@PatrickSannes Please disable `refreshNodeInfo` settings in zwave settings

[2020-04-15 15:55] #356 closed

[2020-04-15 17:05] Fishwaldo commented on #353
????
There is nothing in the logs that is specific to OZW...

[2020-04-15 17:07] Fishwaldo commented on #332
The only sticks that have issues are ones based on the new 700 Series Chips. They will work in the Dev branch (upcoming 1.7 release)

[2020-04-15 17:10] Fishwaldo commented on #318
They were binary before, they are now strings in 1.6

Nothing Robert did "hashed" previously. He probably just couldn't/didn't decode binary (ValueRaw) values previously.

[2020-04-15 17:13] Fishwaldo commented on #334
Disable SetChangeVerified for this valueID.

[2020-04-15 17:30] robertsLando commented on #353
Usually segfault happens when something breaks in C layers, maybe it’s something on node-openzwave-shared, I can only see there is an error with an emitter in npm-debug but there is no line or else specified so it’s difficult to know where it comes from.

Does this happen pnly when sending refreshNodeInfo?

——————

Daniel - Software Engineer

Support me at:
    Github sponsors

[2020-04-15 19:41] cyclops1982 commented on #353
HI guys,
it doesn't always happen. So it's not really reproducible.

This is why i asked how to troubleshoot/debug this. I'm quite new to nodejs, but have expirience debugging/troubleshooting .net and c++ applications. So, if you guys can give me some hints, than that would help me get you more details :)

[2020-04-16 08:21] #332 closed

[2020-04-16 08:33] robertsLando commented on #353
@cyclops1982 We could use [segfault-handler](https://github.com/ddopson/node-segfault-handler)

Clone the repository: `git clone https://github.com/OpenZWave/Zwave2Mqtt.git`
Add node js segfault handler to deps: `npm install segfault-handler`

Add this lines at the end of app.js file

[code]

[2020-04-16 19:36] jaburges commented on #318
ok, seems like the best approach is to create a user login screen. I'll close this and check if there is already a FR

[2020-04-16 19:36] #318 closed

[2020-04-16 19:58] raspberrypython opened #357 "[bug] Incorrect unit of measurement formatting with Hass Discovery for Zwave temperature sensors"
v3.0.2

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.2
Openzwave Version: 1.6.1061

**Describe the bug**
Home Assistant Hass Discovery is reporting temperature units in `C` or `F` rather than `°C` or `°F`.

The home assistant core code is defining `TEMP_CELSIUS` and `TEMP_FAHRENHEIT` as `°C` and `°F`:
https://githu

[2020-04-16 21:03] robertsLando commented on #357
This should be fixed in the device xml configuration file. Nothing related to z2m

---

Daniel - Software Engineer

Support me at:
    Github sponsors

[2020-04-16 21:06] raspberrypython commented on #357
Ah interesting! Thank you for the quick response, much appreciated.
Can you give me a few pointers on which file to be looking at and what to look out for? I’ll do my best to fend for myself from there.

[2020-04-16 21:37] raspberrypython commented on #357
Its ok! I think I found it.
Thank you again, ill close the issue.

[2020-04-16 21:37] #357 closed

[2020-04-16 23:02] chilicheech commented on #357
Hey @raspberrypython, I thought you might like to know how I solved this. I use the `customize` section in home assistant to change the `unit_of_measurment` and the `units`. For example:
[code]
With that said, as @robertsLando pointed out the device xml has the units.. but my devices only support `C` and `F`, no `°C` or `°F`. Since home assistant does use `°C` and `°F` I think it would be awesome

[2020-04-17 10:08] chrisns opened #358 "[feat] arbitrary zwave config"
It would be great to be able to specify arbitrary zwave config, at the minute i'm having to patch the `lib/ZwaveClient.js` (ignore the other things in the patch I'll raise a seperate issue to discuss that

https://github.com/chrisns/iot-zwave/blob/master/monkey-patch.patch#L9-L14

Something in the `settings.json` would be great! thanks

if you agree with the principal I'm more than happy to write

[2020-04-17 10:13] chrisns opened #359 "[feat] expose the zwave client"
i've got my own stuff that talks to the zwave interface, (I'm migrating away from that and will just use your API eventually, but until then...)
https://github.com/chrisns/iot-zwave/blob/master/monkey-patch.patch#L22
At the minute I'm doing some gross patching, what would be nicer is to be able to specify something in the settings to include a plugin arch of some sort.

thoughts?
happy to write th

[2020-04-17 11:23] magnus919 opened #360 ""remove a node" doc missing content [bug]"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 1.2.3
Openzwave Version: 1.4.1

**Describe the bug**
Doc bug. Trying to remove a node and the doc ends with:

But the sentence is not finished. I'm not really sure what to do next to remove a dead node.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2020-04-17 11:48] robertsLando commented on #360
It should be `enable the exclusion mode in your device TOO`. It's just a typo, there is a missing `o` there.

[2020-04-17 11:50] robertsLando commented on #359
Everything that introduce a feature here is more then welcome, just try to don't create breaking changes.

Explain me better what you want to do and we can choose the right way to implement it :) Or just open a PR and I will check what you are doing there

[2020-04-17 12:01] robertsLando commented on #358
About this, yes, maybe something under 'advaced' settings of zwave. I haven't expose all configurations as the ones that I expose usually fit for 90% of users and most don't really understand what they are used for.

Like on the other issue, every feature is welcome. We should check how to expose this functions in the UI too. For now we could just take them from the json configuration, so if someo

[2020-04-17 13:01] chrisns commented on #358
yeah, it's pretty niche, I mount the settings.json in read-only too and run the whole thing in k8s - I'm not the majority target market, but I'd like to maintain less so keen to ditch my code for something more widely adopted :)

exposing via the ui is probably out of scope and not relevant, so i'd suggest something in the settings.json that is ignored by the UI?

thoughts? if that sounds about ri

[2020-04-17 13:09] robertsLando commented on #358
Will wait for the PR so! Thanks @chrisns :+1:

[2020-04-17 13:22] chrisns commented on #359
i want to expose the raw zwave client to some arbitrary code so i can implement my own event listeners and publishers, also a raw telnet interface so i can faff about with the raw client when i'm trying to fix/diagnose gnarly network issues.
to spitball an idea as a super crude mechanism, could have a (non ui exposed setting) that would be:
[code]
around here: https://github.com/OpenZWave/Zwave2Mq

[2020-04-17 14:27] robertsLando commented on #359
I think that could work! Why not pass entire `this` instead of the client only?

[2020-04-17 15:07] chrisns commented on #359
yeah, fair point! ok cool! I'll knock that up 👍

[2020-04-18 02:29] jaredgudnason opened #361 "[question] How to add additional device types / Unknown type."
Hi there, new to your project.  thanks for all the work, so far so good.
I've deployed zwave2mqtt in a docker using the container image: robertslando/zwave2mqtt:latest
been slowly adding devices, which for the most part go okay, but i'm running into issues with a couple.

the first is an Inovelli sensor, which adds okay, but comes up ans an unknown type.  This is where my knowlege gets very fuzzy,

[2020-04-18 23:22] magpern opened #362 "Turn on/off light by PIR motion"
I have used zigbee alot and figured out how to link different devices together on events.

How can I do this in zwave?

I have a PIR and I want it to turn on a switch on motion, and turn it of when no motion. Wo do I link devices in zwave?

[2020-04-18 23:29] robertsLando commented on #362
You have to use zwave associations groups.
Go on Control Panel, under the table of nodes select the Groups tab and associate the two devices in the correct group
---

Daniel - Software Engineer

Support me at:
    Github sponsors

[2020-04-18 23:46] magpern commented on #362
@robertsLando  Okey???? That is not very self explanatory.... especially when it does not work...
I press Groups. I assume I select the PIR in the list of nodes
In Group I select something... don't know what it means.. tried lifeline and ...BASIC
![image](https://user-images.githubusercontent.com/6589760/79674006-61663600-81df-11ea-930c-0ee6e6c047e0.png)
And for target I assume it is the switch

P

[2020-04-18 23:57] robertsLando commented on #362
If you check your device manual you should there should be the documentation about each of that group. I don’t own that device, you should just read about zwave associatons to understand what I’m speaking about

---

Daniel - Software Engineer

Support me at:
    Github sponsors

[2020-04-19 00:14] magpern commented on #362
Then I widen my question a little...

Has anyone gotten a PIR to turn on a switch? How did you do?

My PIR has this in its documentation

![image](https://user-images.githubusercontent.com/6589760/79674387-ffa7cb00-81e2-11ea-9815-d52acc600c6d.png)

My Switch has two assosiation grooups. One called Lifeline and the other called On/off

I assume the PIR is the one that decides what to happen. So I a

[2020-04-19 03:35] Lopton commented on #329
@rflx18 you were saying that the stop command is not working for you, it is also not working for me. I did find though that if I sent a position value of 100 the shade stops. Any chance you can try get the shade moving and then send a position of value of 100 to it and see if your shade also stops moving? I used MQTT explorer to publish the 100 value I needed for testing to the right topic.

[2020-04-19 07:27] robertsLando commented on #362
In my opinion you should add the switch to PIR group 4 “send sensor bunary report”.

Alternatively you can do this using hass automations or node red.

If you don’t see the group added in current associations it means the group pair has not been done successfully

---

Daniel - Software Engineer

Support me at:
    Github sponsors

[2020-04-19 07:59] magpern commented on #362
Thanks! I'll check it out.
I suspect the implementation in open-zwave is wrong for this device.
When I compair [manual](https://fccid.io/Z52NAS-PD02Z/User-Manual/User-manual-2887191) with the file `nas-pd02z.xml` they don't match up, and the xml file states that protocol might have changed in version 3. And I think this is a version 3
![image](https://user-images.githubusercontent.com/6589760/7968

[2020-04-19 07:59] #362 closed

[2020-04-20 08:51] robertsLando commented on #361
It's already installed in the docker container along with its devices db.

Please enable auto update device db zwave setting in order to make an auto update of the db.

When you select a configuration than you need to hit the airplain button on the right. So a notification should appear with 'Value Updated' to confirm the change is done correctly. After a container restart you need to press on ref

[2020-04-20 20:26] jamesarbrown commented on #11
Hi @robertsLando is there any chance of getting the docker image pushed up to 3.03 that includes this. Have same issue. I can only see ARM3.03 in there. I am very new to zwave2mqtt so apologies if i have missed something

[2020-04-21 19:57] christoph-luebbe opened #365 "EUR_SPIRITZ Thermostat broken in zwave2mqtt 3.02 ozw 1.6"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.02
Openzwave Version: 1.6.974

**Describe the bug**
Device Type: Thermostat HVAC
Product: EUR_SPIRITZ Wall Radiator Thermostat (EUROtronic)
Values to Set Temperature for Heat (xx-67-1-1) and Heat Econ (xx-67-1-11) are not listed in the Value-list
However they

[2020-04-21 20:00] jamesarbrown opened #366 "JSON Template for Value Setting"
Hi,

I was trying to track down a typical JSON template for Zwave2MQTT for HA on an Aeotec Doorbell 6. My goal is to link it to another Aeotec trisensor, such I can force the doorbell to ring on motion detect.

This Scene I created and tested in zwave2mqtt. I would like to create this setting from HA which which the doorbell then activates that tone. I think its only for browsing the tone, but wor

[2020-04-21 20:40] christoph-luebbe commented on #365
I just checken the openzwave 1.6 config for the Eurotronic SPIRIT-Z

there the Command Class 64 lists the modes as Heat, and Heat Eco. No idea why I get Heat Econ instead. And also the Command Class 67 lists 1 and 11 as the two parameters to change the target values. So the definition in openzwaver seems to be ok.

<CommandClass id="64">
    <Instance index="1"/>
    <Value genre="user" index="0"

[2020-04-22 06:23] robertsLando commented on #11
@jamesarbrown I don't understand what you mean

[2020-04-22 06:34] jamesarbrown commented on #365
For me I think it's working?

![Screenshot_20200422-072938](https://user-images.githubusercontent.com/891438/79948385-ac947900-846b-11ea-852f-65c685d7fdf7.png)

[2020-04-22 06:46] robertsLando commented on #365
Please try with latest version 3.0.3

[2020-04-22 06:47] robertsLando commented on #366
The only way you can do this is to manually create a component in hass yaml configuration file that activate the scene using mqtt

[2020-04-22 06:51] jamesarbrown commented on #366
Daniel probably did not explain well.

I was looking for a way to set 121-3-1 to value 27 or 0 via creating a JSON that ha can use.

Zwave2mqtt does not expose and auto create a JSON for a block of user settings on this device

The scene in zwave2mqtt was only to test that the principal worked

[2020-04-22 07:09] robertsLando commented on #366
https://github.com/OpenZWave/Zwave2Mqtt#set-values ?

[2020-04-22 07:30] christoph-luebbe commented on #365
Hi Daniel, thanks. I will try

[2020-04-22 07:38] christoph-luebbe commented on #365
Hi James, Thanks for your comment. This is exactly what I would expect. I have no idea why I got this messed device config during the update. Daniel suggested to try 3.03. So I asked Frack from Home Assistant to provide us with an updated version of the zwave2mqtt add-on using 3.03.
Hopefully this solves this problem.

[2020-04-22 07:54] jamesarbrown commented on #365
I am on 3.02... i think. Certaintly thats what the http page says in top left and from docker latest image a couple of days ago. I need to investigate that later tonight and get onto 3.03 for other reason

[2020-04-22 08:52] christoph-luebbe commented on #365
Ok I found the root cause. I had a zwfgxxxx.xml file which contained the outdated info. After deleting this and restarting zwave2mqtt everything seems ok. The odd thing is that these wrong settings weren't used and they came up just after the upgrade.
I think it would be a good thing to mention this in the readme to check any zwfg files and consider delete it before the upgrade

[2020-04-22 08:52] #365 closed

[2020-04-22 11:41] robertsLando commented on #365
@christoph-luebbe you didn't have to delete the file, you could simply call the api `refreshNodeInfo` from the UI or via MQTT that will refresh the cache and use latest version of config available :)

[2020-04-22 12:55] #359 closed

[2020-04-22 20:11] broyuken opened #368 "Zooz 4 in 1 no configuration"
I have a ZSE40 Zooz 4 in 1 sensor, and Z2M 3.02, the device was added fine, but I have no configuration options. I have the files there in my config, but they aren't showing up in the control panel. I have other devices that are populated fine.

[2020-04-22 20:24] chilicheech commented on #368
My Zooz ZSE40 4 in 1 shows up just fine:
![Screen Shot 2020-04-22 at 1 22 31 PM](https://user-images.githubusercontent.com/732659/80029988-728f9b00-849c-11ea-92b1-8cccc79cdc6c.png)
Maybe you need to run a `Refresh Node Info`..

[2020-04-22 20:40] broyuken commented on #368
I did that and then the node went to dead state

[2020-04-23 01:33] idyedov opened #370 "[bug] double-click for GE 14291 In-Wall Smart Switch in home assistant"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.3? (image with latest docker tag)
Openzwave Version: 1.6.1080

**Describe the bug**
I have two light switches connected through zwave2mqtt:
1. 14291 In-Wall Smart Switch (GE (Jasco Products)) id 99-12342-18770
2. 46201 In-Wall Smart Switch (GE (Jasco Product

[2020-04-23 01:55] broyuken opened #371 "Support HUSBZB-1"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Zigbee2Mqtt won't start with my HUSBZB-1 stick

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
ZIgbee2mqtt to work with my HUSBZB-1 stick

**Describe alternatives you've considered**
A clear

[2020-04-23 06:50] robertsLando commented on #368
@broyuken Remove and add back your node so from the controller

[2020-04-23 06:56] robertsLando commented on #371
@broyuken I think you are in the wrong repo :) that's zegbee2mqtt :)

[2020-04-23 06:56] #371 closed

[2020-04-23 06:57] robertsLando commented on #370
@idyedov YOu should open this issue on openzwave repo, I have no control of such things on my side

[2020-04-23 06:57] #370 closed

[2020-04-23 11:15] broyuken commented on #371
I think you are correct!

[2020-04-23 11:35] broyuken commented on #368
I have, I even added it back as a different node id. Same issue.

[2020-04-23 11:41] robertsLando commented on #368
@broyuken Could you try using latest version published yesterday please? 3.0.3

[2020-04-23 11:57] broyuken commented on #368
I’m using the hassio add on, how would I update? That is still using 3.0.2

[2020-04-23 11:58] robertsLando commented on #368
@broyuken Ask them to make a new release or use my docker image instead of the addon

[2020-04-23 11:59] robertsLando commented on #368
@broyuken Anyway I'm going to close this, it's not an issue with z2m but more likely something related to configuration versions of the device

[2020-04-23 11:59] #368 closed

[2020-04-23 12:09] broyuken commented on #368
How would I fix a configuration version of the device? Is this an issue with ozw? Or something with my specific device? Where do I go from here if 3.0.3 doesn’t fix it?

[2020-04-23 12:10] robertsLando commented on #368
@broyuken YOu could try to enable zwave setting that auto-updates the db

[2020-04-23 12:15] broyuken commented on #368
It’s on

[2020-04-23 12:20] chrisns commented on #317
@Gsyltc this is more an issue for your proxy, you should be able to have it rewrite the content

as an alternative you could perhaps have a different hostname rather than a sub-path?

[2020-04-23 12:27] robertsLando commented on #368
So just cross your finger and update to latest version :confused:

[2020-04-23 17:39] #358 closed

[2020-04-23 18:55] broyuken commented on #368
I updated the config path to /etc/openzwave from /config/ozwave/config and repaired it and now the options show up.

[2020-04-23 21:36] m4dm4rtig4n opened #376 "[question] FGR-223, where is stop command ?"
Hi,

I try to add command to stop my roller (Fibaro  FGR-223) but i don't find any combo to do it :/

On jeedom, i can stop roller with :
Classe : 38
Instance : 1
Index : 2
And command : type=buttonaction&action=release

Any idea ?

[2020-04-24 04:33] xannor opened #377 "Zombie nodes"
0.6.0

Build/Run method
- [ x] Docker - hass io addon
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 0.6.0
Openzwave Version: 1.6.974

**Describe the bug**
I have 3 nodes on my network that do not exist, however they continually persist as dead nodes. The only way I can make them dissappear, temporarily, is to run a request info, then they get flagge

[2020-04-24 06:00] robertsLando commented on #377
Are you speaking about mesh graph?

---

Daniel - Software Engineer

Support me at:
    Github sponsors

[2020-04-24 06:33] robertsLando commented on #376
Please ask this kind of questions on Openzwave repo :) Every value that you see in UI comes from there

[2020-04-24 06:33] #376 closed

[2020-04-24 09:04] idyedov opened #378 "[question] can't get celsius / fahrenheit to work on any temp sensor"
Hi,

I just installed zwave2mqtt 3.0.3 (openzwave 1.6.1080) and I have 2 different kinds of temperature sensors:

1. ZP3102 PIR Motion Sensor (Vision Security)
2. ZP3111 Multisensor 4in1 (Vision Security)

I'm trying to get the sensors to report in Fahrenheit instead of Celsius and am having issues with both of them - it always reports in Celsius.

I see two different settings for this (not sure w

[2020-04-24 09:05] robertsLando commented on #378
You should open such questions on Openzwave repo, sorry I have no control of such things :(

[2020-04-24 09:05] #378 closed

[2020-04-24 10:13] m4dm4rtig4n commented on #376
hi @robertsLando ,

Features allready exist on openzwave because jeedom use openzwave 1.4 and have functionnality.

But i don't find how send to MQTT action type buttonaction & action release.

if i compare with jeedom, when i would send `zwave/PLACE/NAME/38/1/0/set`
Jeedom send command : type=setvalue&value=0

But when i see stop action, jeedom send command : type=buttonaction&action=release

i t

[2020-04-24 11:16] xannor commented on #377
not specifically, but it can be used to visualize the links. I am mostly observing this through the debug log. As an example:

[code]

This is a neighbor update request to node 11. It seem to report back node 12 and 20 as neighbors, though those nodes do not exist. Node 12 was a NanoMote quad that I had accidentally reset and is now another node (23 I believe), and node 20 was a GE hinge pin senso

[2020-04-24 11:35] xannor commented on #377
Here is an example of sending a request info to node 20:
[code]

This is also the only action I can send that shows anything in the log, if I do a NIF or has failed or remove failed, nothing is logged. When I do the request for info, the node get set as removed.

[2020-04-24 11:41] robertsLando commented on #377
@Fishwaldo

[2020-04-24 11:41] robertsLando commented on #377
Did you try to send updateNodeNeightbors api?

[2020-04-24 11:43] robertsLando commented on #376
Try to send `true` or `{"value": true}`  to `zwave/PLACE/NAME/38/1/0/set`

[2020-04-24 12:26] xannor commented on #377
Against which node? I have done it against node 11, which reports node 12 and 20 as neighbors. Oddly enough this time it finally did not report node 20. I originally thought ti try to fire update neighbors on all nodes that had reported a link to a dead node, but the only flaw in that is that node 19 seems to have no links, but still comes back.

[2020-04-24 12:37] m4dm4rtig4n commented on #376
@robertsLando thx !!!

With {"value": false}, the roller stop :)

thx guy and good job for you work !

[2020-04-24 12:46] duncan-valleix commented on #376
sorry, je repond en français mais 38/1/0/set {true} fait monté le volet et {false} le fait descendre, 38/1/2/set {true} force la descente du volet, 38/1/2/set {false} arrete la course du volet

[2020-04-24 12:49] m4dm4rtig4n commented on #376
This parameter work fine :+1:

![image](https://user-images.githubusercontent.com/7872518/80213752-f0d57400-8639-11ea-92e9-ecea578df630.png)

![image](https://user-images.githubusercontent.com/7872518/80213876-2712f380-863a-11ea-8564-963e91519867.png)

![image](https://user-images.githubusercontent.com/7872518/80213923-3d20b400-863a-11ea-99ac-89591106187f.png)

But have you idea for this parameter

[2020-04-24 12:50] robertsLando commented on #377
Against node 11

[2020-04-24 12:58] robertsLando commented on #376
@m4dm4rtig4n Why don't you use the UI control panel?

[2020-04-24 13:01] m4dm4rtig4n commented on #376
I use it, but I tell myself that one day I might need the information :D
I am trying to understand at the same time how mqtt works :)

[2020-04-24 13:27] robertsLando commented on #376
In the value you have to use the value that you would send from the UI

[2020-04-24 13:44] djdd87 opened #388 "[feat] Http APIs"
Apologies if I'm not understanding the API stuff in the docs, but I was wondering if zwave2mqtt itself has an HTTP API that can be called to toggle stuff like switches on/off without another application, e.g. home assistant?

Or alternatively, is there any way of limiting the data sent to application like HomeAssistant? I.e. only send the status of a switch instead of all the other entities like a

[2020-04-24 13:45] robertsLando commented on #388
Nope there is no http api for that. Only MQTT

[2020-04-24 13:55] robertsLando commented on #388
Could add this to TODOs

[2020-04-24 14:06] edif30 commented on #388
With the existing API, is there a way to refresh a single node?

[2020-04-24 14:12] robertsLando commented on #388
What you mean with `refresh` ? `refreshNodeInfo` ? If so yes, just use MQTT apis, check readme

[2020-04-24 14:14] edif30 commented on #388
The README states

This looks like it will refreshNodeInfo for ALL nodes.  I only want to do this for 1 node.  Is that possible?

[2020-04-24 14:21] robertsLando commented on #388
Oh that is a settings in zwave. But If you go in the control panel you will see that there is an action that you can send to a specific node, he signature is `refreshNodeInfo(nodeid)`  so it will have just nodeid as arg

[2020-04-24 14:24] djdd87 commented on #388
Going back to my request, what I was hoping for was a way of toggling switches/fetching node states without having to make HomeAssistant handle it all for me. An HTTP request to get the status of a light that I poll and another to toggle it on/off was what I'd aim for. However, I'm not really up to speed on mqtt yet, so I may be talking impossibilities/nonsense. I just figured as you can toggle on

[2020-04-24 14:26] edif30 commented on #388
Maybe that is it.  Not sure but what I am looking to do is tell the node to update its status/info and tell the controller.  In Homeassistant native OZW integration I can ask a node to update its info via zwave.refresh_node.  The node would then tell the controller its most up to date information such as state.  That is what I'd like to do with z2m but the only way to do that is via the control pa

[2020-04-24 14:26] robertsLando commented on #388
@djdd87 The UI sends command to the backend using sockets. You can use sockets like I do in the frontend or just check out mqtt :)

[2020-04-24 14:27] robertsLando commented on #388
@edif30 Eveything you are asking right now could be done using MQTT or sockets. For http apis I need to make the support

[2020-04-24 14:28] djdd87 commented on #388
@robertsLando Could I be cheeky and ask you to point me at an example of the sockets stuff within the repo?

[2020-04-24 16:19] robertsLando commented on #388
Socket events: https://github.com/OpenZWave/Zwave2Mqtt/blob/master/src/App.vue#L170
SOcket actions: https://github.com/OpenZWave/Zwave2Mqtt/blob/master/src/App.vue#L180

Socket management: https://github.com/OpenZWave/Zwave2Mqtt/blob/master/src/App.vue#L205

Call zwave api: https://github.com/OpenZWave/Zwave2Mqtt/blob/master/src/components/ControlPanel.vue#L806

Socket events: https://github.com/O

[2020-04-24 17:24] idyedov commented on #357
running into the same issue with the same workaround. @robertsLando would you be open to a PR that does this conversion in zwave2mqtt?

[2020-04-25 11:23] broyuken commented on #187
So is there a guide on how to get a double tap working with z2m and ha? I had it working under ha zwave config, but haven’t gotten in working here yet. Is it just associate group 3 on the switch with the controller and then creating the template sensor from above? Or is there another step somewhere?

[2020-04-26 09:11] rolandb5 opened #395 "Configuration values not processed.stored of specific device."
I'm migrating from my Athom Homey to my Home Assistant/Zwave2MQTT. Everything runs super smooth except for one annoying thing.

My NEO PIR V1 device is recognised, but has a very annoying red LED that gives a sign every time movement is seen. In my Homey devices it was simple to disable via config settings. The possibility is also shown in Zwave2MQTT, but setting doesn't seem to get processed.

-

[2020-04-26 12:50] djdd87 opened #396 "UI randomly clearing down and showing nothing or nodes with missing types [bug]"
**Version**

Build/Run method
- [x ] Docker (Haspian - Raspberry Pi 4)

Zwave2Mqtt version: 3.0.3
Openzwave Version: 1.6

**Describe the bug**
I've set up a third of my z-wave network and I've noticed that occasionally the whole UI seems to refresh and all my nodes (all all my nodes except the zstick ) just disappear for no reason. A few minutes later (or sometimes after refreshing the screen), th

[2020-04-26 13:16] robertsLando commented on #396
Please disable refreshNodeInfo from zwave settings

---

Daniel - Software Engineer

Support me at:
    Github sponsors

[2020-04-26 13:22] djdd87 commented on #396
Doh... what triggers/is the scan that "after scan is complete" refers to?

[2020-04-26 15:23] djdd87 commented on #396
Issue hasn't occurred since making the specified change.

[2020-04-26 15:23] #396 closed

[2020-04-26 15:37] djdd87 opened #397 "Add locations to the nodes on the Network Graph [feat]"
**Is your feature request related to a problem? Please describe.**
I've taken a more semantic approach to naming my z-wave nodes, e.g. /kitchen/light_switch, /playroom/light_switch (instead of /kitchen/kitchen_light_switch or /playroom/playroom_light_switch. So as I've got multiple entities with the same name (but different locations), it makes the network graph hard to read (without clicking on e

[2020-04-26 22:13] m4dm4rtig4n opened #398 "[question] Skipping Cache Save for Node XX as its not past QueryStage_CacheLoad"
Hi,

I have a problem with battery node :/

When i restart my docker zwave2mqtt, all battery node have this message :
[code]

And have 0 data in User, Configuration, System and device not worker until they haven't had "wakeup".

Any idea why battery node can't load cache ?

Docker configuration :
`docker run --rm -it -p 8091:8091 --device=/dev/ttyACM0 -v $(pwd)/store:/usr/src/app/store robertsland

[2020-04-27 01:38] tvories commented on #294
3.0.3 fixed this for me!  Thanks for pushing it to the docker hub!

[2020-04-27 07:19] robertsLando commented on #398
Ask this kind of question on Openzwave repo please. It's not something I can handle on my side. Sorry

[2020-04-27 07:19] #398 closed

[2020-04-27 07:20] robertsLando commented on #397
@djdd87 It could be done yes, would you mind to send a PR for that?

[2020-04-27 07:33] robertsLando commented on #187
@broyuken The question is how to make double tap working with Openzwave, I have no control ho devices behaviour I just send commands and receive updates from them

[2020-04-27 07:35] robertsLando commented on #395
This means that the command has been successfully called but you haven't receive any feedback from the device.

@Fishwaldo

[2020-04-27 11:33] djdd87 commented on #397
I'll happily take a look. Is there any way I can fake a set of nodes for the mesh? I only have one Z-Stick and it's running my Home Automation.

Does this UI change work for you?

![image](https://user-images.githubusercontent.com/22151993/80367572-3f298380-8883-11ea-8df9-e0ad8a40eb2b.png)

[2020-04-27 12:07] robertsLando commented on #397
@djdd87 Yes that is how I would made that :) To fake nodes just add a script that adds them, check Mesh.vue the `convertNode` function is the one that creates the nodes to add to the mesh graph :)

[2020-04-27 13:55] djdd87 commented on #397
I'd like to do it! I saw that method, but I still can't work out how to get the nodes in. I'm a C# dev of nearly 20 years and I can't seem to get the Visual Studio Code debugger to attach/not error/do anything.

Where and how can I script the nodes in? I tried importing my nodes.json file, but that doesn't seem to do anything, and I can't work out how to replace the running store directory with a

[2020-04-27 14:07] robertsLando commented on #397
You could create a fake nodes array:
:

[code]

And call this method in `mounted()`

[2020-04-27 14:25] robertsLando commented on #397
@djdd87 Don't waste your time I have a PR ready for this

[2020-04-27 19:04] #397 closed

[2020-04-27 19:34] LordMike opened #405 "[question] Reg. Logic-soft Matrix ZDB5100"
**Version** 3.0.3

Build/Run method
- [x] Docker

Zwave2Mqtt version: 3.0.3
Openzwave Version: 1.6.1080

**Questions**
I've just acquired a [Logic-soft Matrix ZDB5100](https://logic-group.com/produkt/matrix-zdb/), and z2m has discovered a total of [17 devices](https://user-images.githubusercontent.com/1027111/80413066-221aa200-88cf-11ea-91f7-7252ea0a0c02.png) for it:

* 6 dimmers (type=light), I e

[2020-04-27 19:36] jamesarbrown commented on #11
At the time the docker did not seem to have 3.03 x64, so i cleaned and docker pull again and now its running on 3.03

But, it did not fix this issue for me on a Trisensor zwa005. My device still says dead immediately after restarting zwave2mqtt and even after waiting 2 days

`https://github.com/OpenZWave/open-zwave/blob/master/config/aeotec/zwa005.xml`

In the device table earlier today, also conf

[2020-04-27 19:40] LordMike commented on #405
Also. The product is detected as having 6 dimmers.. where I'd expect 1, as only one output exists on it.. (it can only control one light).. I think the remaining can be used in tandem with other similar products.. so that one product controls the light (the master), and others merely send the master "basic set" commands..

Maybe the slaves need the concept of a dimmer for this to work.

[2020-04-28 13:56] Fishwaldo commented on #395
Wake up the device. It’s sleeping so it’s queued up:

[2020-04-28 15:02] #395 closed

[2020-04-28 15:35] broyuken opened #411 "[bug]Transition not working"
**Version**

Build/Run method
- [x] Docker I think (Hassio Addon)
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: v3.0.2
Openzwave Version: 1.6 something

**Describe the bug**
Transition does not appear to work with zwave2mqtt. I set a transition in the developer tools and/or an automation but the light just turns on instantly. Additionally, I see no

[2020-04-28 18:25] djdd87 commented on #388
In the end I managed to achieve everything I wanted with mqtt sensors and switches without the HASS integration. Everything's working brilliantly - thank you very much. As I don't require this any more, feel free to close it unless you think it'll add value to the project.

[2020-04-29 06:19] #366 closed

[2020-04-29 06:46] robertsLando commented on #411
@broyuken Unfortunally I can't help with this, I think it's more likely a bug with hass configuration not something strinctly related to z2m

[2020-04-29 07:00] robertsLando commented on #405
Check the hass configuration and fix the value template if needed, unfortunally not every device works in the same way

This question is too generic, you should provide the valueid of each one and show a debug log when you try to set a value

Could be a configuration issue in XML file. Try to open this issue on OZW repo and check

It's a parameter of the value, it comes from OZW https://github.com

[2020-04-29 10:32] maichai opened #413 "[question] Problems with Aeotec Multisensor 6, Firmware 1.13"
Using Aeotec Multisensor 6 with Firmware 1.13 paired with Aeotec Zstick Gen 5

 System: HassOS 3.13  (amd64 / qemux86-64)
 Home Assistant Core: 0.108.9
 Home Assistant Supervisor: 219

 Add on 0.6.0
ZWave2MQTT v3.0.2
OpenZWave 1.6.974 binary addon for Node.JS.

There are a lot of quirks when you look at the sensor readings and settings detected by zwave2mqtt and what is promoted to Home Assistant

[2020-04-29 10:43] chrisns commented on #413
i have one, so can comment
see the notes in the ozw spec
https://github.com/OpenZWave/open-zwave/blob/master/config/aeotec/zw100.xml
enable the `Binary Sensor Report`
you may also want to tweak the `Group [1+] Reports`

[2020-04-29 11:22] broyuken commented on #411
Is there something in the mqtt object that needs to be created to send the transition flag?

[2020-04-29 11:33] robertsLando commented on #411
@broyuken Transition doesn't exists on set values in OZW so I dunno what are you speaking about

[2020-04-29 11:47] broyuken commented on #411
I’m not sure which side it has to be done on, I just know that there is a feature where you can change a lights brightness from off to say 100% over 30 seconds. That is not working and I’m trying to figure out why. It works on my zigbee bulbs but isn’t working on my zwave light switches.

[2020-04-29 12:13] robertsLando commented on #411
@broyuken As I told you there is no transition on Openzwave side. If hass has I don't know and I also don't know how it works. If hass handles it by sending messages at specified intervals with values for transiction it should work, otherwise not, you should check what messages are sent from hass via mqtt

[2020-04-29 17:59] maichai commented on #413
Chris, you were very fast with responding with the right solution, I wish I had seen it right away. After some time I found this solution too. But maybe one should also let zwave2mqtt work with "Basic Set"? Would that be possible?

Also the discovery JSON template for this sensor seems not to work. But maybe I am doing something wrong:

`
binary_sensor:
  - platform: mqtt
    name: "Motion Example

[2020-04-29 19:15] pboers1988 commented on #353
Hi perhaps I can help, I also have been experiencing seg faults and have an accurate and reliable way to trigger it (if that is a good thing?? ;)) When I update the my fibaro dimmer through an mqtt command, the segfault gets triggered and the app restarts.

**This is the long of MQTT**

As you can see it receives the message and then just dies and respawns.

[code]

**This is the corresponding log

[2020-04-29 20:45] chrisns commented on #413
its an underlying openzwave implementation, you'll likely find it common in most/all things that use openzwave, quick googling finds the same thing mentioned for domoticz for example in forums.

I don't know anything about home assistant discovery stuff, so can't help you on that bit I'm affraid @robertsLando might be able to comment?

[2020-04-30 06:26] robertsLando commented on #413
@maichai It depends on you hass version, I had made some changes to make everything compatible with latest version. Try to change

[code]

[2020-04-30 06:31] robertsLando commented on #353
@Fishwaldo Based on this, it's something on your side

[2020-04-30 06:32] robertsLando commented on #353
@pboers1988 Could you tell me also the Z2M version you are using?

[2020-04-30 06:51] jamesarbrown commented on #413
My Aeotec tri sensor under ozw2mqtt 3.03
[code]

[2020-04-30 06:53] jamesarbrown commented on #11
@robertsLando would it be possible to re-open this issue? or do you think its something different and I can open a new issue?

[2020-04-30 06:55] robertsLando commented on #11
@jamesarbrown If you have refreshNodeInfo option enabled in Zwave settings please disable it

[2020-04-30 06:58] pboers1988 commented on #353
Hi @robertsLando I’m using the most recent packaged version with Home assistant, I believe thats 3.0.2

[2020-04-30 07:01] pboers1988 commented on #353
Actually Im also able to reproduce the same behavior via the user interface. By updating the dimmer setting to an arbitrary number the system crashes. Sometimes after sending the update on the network, but usually before.

[2020-04-30 07:03] robertsLando commented on #353
@pboers1988 Ok it's an OZW problem so, please open the issue there to be sure @Fishwaldo will check it :)

[2020-04-30 07:04] pboers1988 commented on #353
Cool! Will do thanks.

[2020-04-30 07:08] robertsLando commented on #388
@djdd87 That is the raccomended way. This project is born as zwave mqtt gateway, hass integration is difficut and easily breaks with hass updates

[2020-04-30 07:09] #388 closed

[2020-04-30 11:02] ThePierce commented on #242
@hostrup did you get the siren working? if so, could you please explain how?

[2020-04-30 11:53] hostrup commented on #242
Hi ThePierce.
Yes - with mqtt commands.
You can see my questions / answers here: https://github.com/cgarwood/homeassistant-zwave_mqtt/issues/45

br Ronni

[2020-04-30 11:59] Fishwaldo commented on #411
There should be a "Duration" value ID exposed. That needs to be set to the desired time before changing the "Level" value.

This is a device feature, OZW just transmits the transition (or duration) value to the device with the set message.

[2020-04-30 12:43] broyuken commented on #411
That’s the issue, my light supports it, but the auto discovered mqtt device doesn’t seem to be sending it to ozw

[2020-04-30 14:40] robertsLando opened #418 "[feat] Better logging"
Update logger to export  `error` `log` and `verbose` methods and add an option to enable verbose loggind

[2020-04-30 17:37] jaredgudnason commented on #418
also is there an existing option, or perhaps add to the request, to forward logs to an external syslog?  both openzwave and zwave2mqtt logs.

[2020-04-30 17:39] jaredgudnason opened #419 "zwave2mqtt - scroll bars [feat]"
Is there any possibility to get scroll bars in the GUI.  i've been caught a few times where pop-down menus look like they only have a few options until i scroll wheel them, as there are no scroll bars.  additionally the main interface does't have scroll bars, or even resize to fit screen in a lot of cases.

[2020-04-30 17:40] jaredgudnason commented on #418
also sorry to hijack thread, but one other question specifically around logging.  is there an option anywhere to control the logging level of openzwave output?  ie. debug, info, error, etc..

[2020-04-30 17:58] broyuken commented on #411
I checked in mqtt explorer and I see that it is being updated constantly, but the value is always 0, even after I push a transition from HA developer tools.

[code]

[2020-04-30 18:49] LordMike commented on #405
##### The version is actually class 0x86..

.. so that's odd.

![image](https://user-images.githubusercontent.com/1027111/80747259-71591080-8b23-11ea-9f81-e27dad51a9e8.png)

[2020-04-30 19:04] LordMike commented on #405
I've played a bit with the brightness / states / RGB and so on..

I've found that HASS has a `brightness_scale` property, which defines that brightness max value. It defaults to 255. If you set this to `100`, then HASS properly scales between `0..100`. Doing that could actually remove the workaround (?) Z2M makes, which is: ` "brightness_value_template": "{{ (value_json.value / 99 * 255) | round(0

[2020-04-30 19:05] chrisns commented on #418
Syslog, use logstash or fluentd to forward it. Given the variety of options, flags etc it’s better to not bake that into the app

[2020-04-30 19:10] LordMike commented on #405
I've also found that Z2M defines the `state` and `brightness` topics as the same. So what HASS will do, is send both "ON", "OFF" and numerical values (0..100) to Z2M. I think this confuses the wall switch. I bypassed the state topic by temporarily placing it elsewhere, and then HASS started "working properly".

I've found that if I set `zwave2mqtt/switch_2/38/6/0/set` (brightness topic for my dimm

[2020-04-30 19:11] LordMike commented on #405
Thanks for the tips btw.. :)

[2020-04-30 19:31] jaredgudnason commented on #418
great, thanks for the info, i'll look into those options.

[2020-05-01 09:51] robertsLando commented on #419
I’m making a big refactoring of the code, will try to address this next week.

If you are familiar with vue/vuetify fell free to open a PR :)

---

Daniel - Software Engineer

Support me at:
    Github sponsors

[2020-05-01 10:23] cliviu74 opened #420 "[bug] Unable to save configuration in Z2M 3.0.3"
Zwave2Mqtt 3.0.3

Build/Run method
- [ x ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.3
Openzwave Version: 1.6

Unable to save configuration. Making changes to configuration result in an error pop-up "Your configuration contains errors, fix it" on the bottom of the screen when hitting the save button.

A clear and concise description o

[2020-05-01 15:10] LordMike commented on #405
I refreshed the node, and copied out the section of the OZW_Log that relates to this device (it's long .. 2100 lines)..

Regarding version, I see that the device apparently reports 3 instances of `COMMAND_CLASS_VERSION` ?

[OZW_Log.txt](https://github.com/OpenZWave/Zwave2Mqtt/files/4564856/OZW_Log.txt)

[2020-05-01 15:45] LordMike commented on #405
I kicked off Zensys Tools and checked out my wall switch. It correctly detects 5 endpoints, where 4 of them are switches and the last is the output from the product. The 4 switches all have a `0x33 - SWITCH COLOR` command class (51) .. so something must be off with OZW as it only detects one of them? ..

I can't figure out how to invoke the Color Set though.. could be cool to test if it actually w

[2020-05-01 16:25] LordMike commented on #405
I've made an [issue with OZW](https://github.com/OpenZWave/open-zwave/issues/2204)

[2020-05-02 07:22] robertsLando commented on #405
I will check this out on Monday Mike! About the version, as you see that one is using 134 that is application version

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-02 10:49] djdd87 opened #424 "Display issue with labels overlapping input fields on mobile [bug]"
**Version**

Build/Run method
- [ x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.3
Openzwave Version: 1.6

**Describe the bug**
The new name and new location fields are overlapped by their labels on mobile (Pixel 3 Chrome, or emulated screensize on browser).

![image](https://user-images.githubusercontent.com/22151993/80862170-c9e6f580-

[2020-05-02 10:53] djdd87 commented on #424
I've done a pull request but don't know how to link it to this issue.

[2020-05-02 22:54] jaredgudnason opened #426 "Adding Custom Component [question]"
trying to follow the documentation for adding a custom component (Honeywell T6 thermostat).
there is a large section on getting the device id (57-8-17),
then there is a section on what goes in the customDevices.json file.  (file doesn't exist, i created in store directory)

but no where does it tell you where/what to do with the device-id?  does it go in the json block, does it go in the json with

[2020-05-03 08:55] poudenes commented on #168
Hi All,

Im done with add all my devices. Also 2 FGDW002 Fibaro Door Sensors.
They don't have any MQTT part to send OPEN/CLOSE

Zwave2MQTT is installed using Add-ON of Home Assistant.
Version: Openzwave 1.6.974

What can I do to let those 2 devices work correct?

[2020-05-03 09:16] maichai commented on #413
To be honest I do not see where your all proposals do anything different from what I have posted as configuration. Sorry, no offense intended.
The crucial part was configuring the PIR from "Basic Set" to "Binary sensor report".
So the question is still open, why OZW does not support "Basic Set".

Also still open is the problem around the temperature sensor settings. Could someone please got to you

[2020-05-03 10:53] Fishwaldo commented on #413
I’m not troubleshooting anything. Just noting that Basic CC should be avoided where possible: https://github.com/OpenZWave/open-zwave/wiki/Basic-Command-Class

[2020-05-03 10:53] djdd87 opened #427 "How do I resolve an "Unknown" product? [question]"
I added a Ring Extender, but the UI shows it as follows:

![image](https://user-images.githubusercontent.com/22151993/80909570-358b9a00-8d21-11ea-859f-1211603ec386.png)

Here's the product page: https://products.z-wavealliance.org/products/3686?selectedFrequencyId=1

I saw the docs say to enable "Auto Update Config File", but that option isn't in my Z-Wave settings.

So how do I get ZWave2Mqtt to

[2020-05-03 12:37] poudenes opened #428 "FGDW002 Door Opening Sensor 2 (FIBARO System) not show open/close"
**Version**

Build/Run method
- [ ] Docker

Zwave2Mqtt version: 3.0.2
Openzwave Version: 1.6.974

**Describe the bug**
Fibaro Door Sensor is add correct. But its not showing open or close of the door

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Door/window state give correct state of node. Open or

[2020-05-03 16:06] jamesarbrown commented on #11
I have tried the refreshnodeinfo and still the device is marked as dead after some days. I am not sure about the operating details of zwave what it needs to get out of a dead state, but as you can see from this screenshot it has woken up in the past hours and connected in.

Is there anything that can be done to force a full wake up on check in, whilst the device has its zwave radio active?

![imag

[2020-05-03 20:18] Oohcalme opened #429 "No configuration available for Fibaro FGRM222"
**1.6**

Build/Run method
Zwave2MQTT Addon on Home Assistant

**Describe the bug**
No configuration option available for the FIBARO FGRM222 whereas the device exists on openzwave database (checked id and type).
Other devices are ok, except the ZWave Stick from Aeotec with no configuration

**Additional context**
the only difference I can see betwen the FIBARO FGRM222 and othe devices is that the c

[2020-05-04 00:05] adamcstephens commented on #420
I'm receiving this error on 3.0.3 when attempting to enable `hassDiscovery`.

Downgrading to 3.0.2 allowed me to save the configuration.

[2020-05-04 06:25] robertsLando commented on #411
@broyuken The auto-discovered device will never send it. Based on what @Fishwaldo said that you should hace another valueId exposed called duration where you set the duration, when you send the set command OZW will check if there is a duration and if so will use that

[2020-05-04 06:31] robertsLando commented on #429
I don't know which Z2M/OZW specific version the addon is using

[2020-05-04 06:32] robertsLando commented on #428
@poudenes This is not an issue whit z2m please open this issue on OZW repo

[2020-05-04 06:32] #428 closed

[2020-05-04 06:34] robertsLando commented on #427
@djdd87 What version of z2m are you using? If you don't see that option it means it's an old one so usually an update fix this kind of problems

[2020-05-04 06:36] robertsLando commented on #426
@jaredgudnason If you check `hass/devices.js` you will see some examples and you will understand how it works.

The export should be an object where keys are the deviceIds and values are the device discovery object configuration

[2020-05-04 06:36] #426 closed

[2020-05-04 06:37] robertsLando commented on #11
@jamesarbrown Did you try to enable the option in zwave settings called `assume awake`?

Also let's see what @Fishwaldo says about this. Please @jamesarbrown add your OZW log file here

[2020-05-04 06:39] robertsLando commented on #168
@poudenes Open this kind of questions on OZW library

[2020-05-04 06:40] robertsLando commented on #420
@adamcstephens @cliviu74 Could you show me your configuration? (remove the secret key if any)

[2020-05-04 06:40] #424 closed

[2020-05-04 06:42] #419 closed

[2020-05-04 06:54] robertsLando commented on #405
By double checking the code I saw that I only check the command class for version, I should also check the index (0=lib version, 1=protocol version, 2=application version)

I saw that but I had some hass users having problems when using that property. Does it works for you? If so I will wubmit a fix as you suggested (or ifo you want to make a PR this is the code to edit: https://github.com/OpenZWa

[2020-05-04 07:02] Oohcalme commented on #429
it uses Zwave2Mqtt v3.0.2 in its last release.

[2020-05-04 07:13] poudenes commented on #168
Sure? Because before I use Z2M all my nodes where in HA itself with OpenZwave and it worked correct. OZW 1.4.x version instead of Z2M Openzwave version 1.6.974

[2020-05-04 07:13] robertsLando commented on #429
Did you enabled the zwave setting to auto update devices db?

Did you try to send a refresh node info against that node?

[2020-05-04 07:25] Oohcalme commented on #429
Yes I tried. Auto update db is on and the refresh node info does nothing.
I have 10 FGRM222 and I just saw that the two last one I added recently have the configuration.
I guess I will have to exclude/include the others again (that's a nightmare as I can add them one by one only)

Except if there's something to solve it without include them again, let's close the point !
thank you  Roberts for the

[2020-05-04 07:38] djdd87 commented on #427
Apologies, the option is there! I had the latest since last week. I've also just pulled the latest image and Open Z Wave version is showing 1.6.1105 which is very new.

The node is still showing as unknown after the update.

As an aside, how often do you update the docker image? The current latest has not got my recent UI changes in it.

[2020-05-04 07:48] maichai commented on #413
That text actually says that it should also work with Basic Set, although it  is not the best solution. Actually it does NOT work with Basic set.

The issue of the "crazy" temperature values is still unclear to me. See my last comment above. Maybe  someone knows what is going on there.

[2020-05-04 07:58] jamesarbrown commented on #413
@maichai my gut feeling re temp readouts, is that openzwave is getting the values the sensor reports, so quite simply the strange reading must be what the sensor is reporting. Others do seem to have it working.

Its clear the mutlisensor6, if you do a bit of googling, is not the easiest of devices.

https://www.tabsoverspaces.com/233657-calibrating-aeotec-multisensor-6s-temperature-using-openzwave

[2020-05-04 08:12] LordMike commented on #405
Reg. `brightness_scale`. The value template converts from `0..255` to `0..99`, right? In that case, changing the scale will let HASS do that conversion.

Reg. RGB. I managed to change the lights on the other switches, using a different controller.. Only, I reverted back to OZW before I turned them off, so now they're permanently set .. :D

HASS does not have an RGB-only thing, but `light` is the p

[2020-05-04 08:13] LordMike commented on #405
Is there an issue I could read on previous `brightness_scale` attempts?

[2020-05-04 08:18] LordMike commented on #405
Sidequestion: Would it be possible to display devices with their multiple endpoints, like Zensys does it?

I find it really convenient to know that that there are 5 endpoints, 4 of them named the same, etc.. I don't know if all the details are there, in the Z-wave data, or if Zensys has a magic matchup elsewhere..

[2020-05-04 09:57] cliviu74 commented on #420
@robertsLando I've attached my config as a snippet in the original bug report. It is settings.json contents you're looking for?
Here it is again anyways.
[code]

Same issue happens on a fresh new install of 3.0.3 in docker.
Issue is gone on 3.0.2 with the same config, as @adamcstephens mentioned.
Please let me know if there's anything else you need for this.

[2020-05-04 12:53] broyuken commented on #411
Can I modify the auto created device to include it? Would this be something added to the device in HA? I’m sorry, I don’t understand how or what to modify to get this working.

[2020-05-04 13:38] robertsLando commented on #420
Go to zwave settings and add commands timeout and your problem is fixed @cliviu74

[2020-05-04 13:48] #420 closed

[2020-05-04 13:52] robertsLando commented on #405
@LordMike With endpoints you mean groups? If so you will be able to see them in groups tabs. COuld you show me what Zensys does with endpoints?

I cannot find the issue, it could have been a conversation in slack channel too, I only remember that a user was helping me with that and maybe could tell you more about this: @jshridha.

Anyway, the edit to make the test is really simple (just check the

[2020-05-04 13:56] robertsLando commented on #168
@poudenes Unfortunally hass was maintaining a separete branch of OZW 1.4 with some fixes, now ozw 1.4 is deprecated and 1.6 is the only one maintained so there could have been some breaking change or else. It's not something on my side

[2020-05-04 13:57] chrisns opened #430 "[feat] support certificate based auth"
at the minute only auth is username password
would be great to support certificates too!
https://github.com/mqttjs/MQTT.js/blob/master/types/lib/client-options.d.ts#L118-L130

should straight forward since these are just strings to file locations, which the mqtt client handles loading the actual files

[2020-05-04 14:00] poudenes commented on #168
@robertsLando when I check the OZW version then I see 1.6.974
Im not using ZWave part inside HA itself, that is OZW 1.4 indeed. Fibaro was working correct.

So to let this work good, will be the best to install Z2M in a docker outside the HA option to install Z2M in a docker?

[2020-05-04 14:01] robertsLando commented on #427
I try to keep that always updated with master but some users told me that they prefer to have a dev branch for this and make latest point to latest stable release, so I need to update release script to work in this way

Unfortunally this kind of issues are mostly something related to OZW so I suggest you to open the issue oin their repo @djdd87

[2020-05-04 14:02] robertsLando commented on #429
@Oohcalme Unfortunally this kind of issues are something related to devices and I have no power with them, you should try to open this issue on OZW repo if you cannot make it work, sorry

[2020-05-04 14:02] #429 closed

[2020-05-04 14:03] robertsLando commented on #430
@chrisns already workiung, try to set the host url using a secure protocol: eg: tls://localhost

[2020-05-04 14:03] #430 closed

[2020-05-04 14:04] robertsLando commented on #411
Just go to hass devices table. Check readme for more info

[2020-05-04 14:04] #411 closed

[2020-05-04 14:05] robertsLando commented on #168
Yes, sure

[2020-05-04 14:08] poudenes commented on #168
Ehmm but it is in a docker already. When I stop or restart HA, ZwaveMqtt is still working.
I access it with https://192.168.100.xxx:8091
[code]

[2020-05-04 14:12] robertsLando commented on #168
Yes but it is from an addon and I don't know how it handles OZW versions

[2020-05-04 14:17] chrisns commented on #430
oh! yup, so you are! cool!

[2020-05-04 14:27] poudenes commented on #168
Clear. So when I install on different RPi and connect the ZWave Dongle to it, it will load the whole mesh network, or do I remove all nodes and add them again?
(Im not sure)

[2020-05-04 15:10] cliviu74 commented on #420
Thanks @robertsLando, it's working now, both on my set-up as well as a new deployment.
Probably the UX can be improved by making the alert more verbose as to what's missing. This may trip others, especially on a new set-up.
Expanding all configuration options by default would also do, as it would make it obvious what mandatory fields are missing.

[2020-05-04 15:13] robertsLando commented on #420
@cliviu74 Yes thanks for the tip :) Big changes are coming in next release

[2020-05-04 15:17] cliviu74 commented on #420
@robertsLando thanks for the great work, well done.
Looking forward to the new releases.
Cheers!

[2020-05-04 15:27] LordMike commented on #405
Groups would be having one ZW device communicate "directly" with another, right? That's not it.

In [my Zensys screenshot](https://user-images.githubusercontent.com/1027111/80818358-504ff880-8bd3-11ea-887e-ce70e7b840c5.png), the "endpoints" (I still don't know if this is the name for it), are shown up top. The node, 20, is split into 5 sub-thingies, where each of the 5 (`20.1` through `20.5`) have

[2020-05-04 15:39] jaredgudnason commented on #426
where do i find hass/devices.js ?  is that in the zwave2mqtt container or the HA container ?
I dont see it in either of the mapped volumes from HA or z2m.
perhaps i should have asked the question under your docker zwave2mqtt project instead  ;)

[2020-05-04 16:20] broyuken commented on #411
I looked over the readme, but I'm still not understanding. Do I need to create a "duration_topic" and "duration_template"?

This is what I have currently.

[code]

[2020-05-04 16:27] adamcstephens commented on #420
Thanks! I tried changing other settings to figure out what was missing, but the UI didn’t give any direction.

[2020-05-04 19:29] LordMike opened #431 "[feat]"
**Is your feature request related to a problem? Please describe.**
When working with multi-endpoint or multi-instance devices, where each instance is a replica of other instances (f.ex. buttons on a multiple-button device), it becomes cumbersome in Z2M to keep track of which value belongs to which instance.

Zensys Z-Wave PC Controller, the view is presented in a tree view to help distinguish mult

[2020-05-04 19:30] broyuken commented on #411
I updated the values but that didn't seem to do it.
[code]

[2020-05-04 20:29] jaredgudnason commented on #426
Alright, i'm getting there.
I've got my customDevice climate device showing up in HA devices (is there any way to refresh that short of restarting the z2m container) ?
other question, there are a couple other sensors i want to expose to HA, which autodiscover doesn't pick up, Operating State on 66-1-0 and Fan State on 69-1-0.
do i have to define additional type:sensor entries in customDevices for

[2020-05-04 20:48] jamesarbrown commented on #11
**OZWLog Startup**
[OZWLogStartup.txt](https://github.com/OpenZWave/Zwave2Mqtt/files/4577328/OZWLogStartup.txt)

[settings.zip](https://github.com/OpenZWave/Zwave2Mqtt/files/4577332/settings.zip)

Ill try to remember to pull a later log at some point tomorrow

[2020-05-04 20:54] jamesarbrown commented on #11
Assume Awake was off.... as I thought it should assume they are asleep

Then I turned it on and currently see no difference.

[OZWLogStartup.txt](https://github.com/OpenZWave/Zwave2Mqtt/files/4577355/OZWLogStartup.txt)
[settings.zip](https://github.com/OpenZWave/Zwave2Mqtt/files/4577353/settings.zip)

Will try to remember to do another log post after a considerable uptime

[2020-05-04 22:51] jaredgudnason commented on #426
figured it out.. added in the z2m interface.  added additional sensor definitions in the using the json add functionality.

[2020-05-05 06:03] robertsLando commented on #405
Z2M's "Groups" might be a misnomer of Z-Waves "associations"
Z2M's "instance" might be Z-waves "endpoint"

Yes that's it :)

[2020-05-05 06:21] robertsLando commented on #411
@broyuken you should try to use the topic of the duration valueid and add it to values array like you did

If in your settings you have set `valueid topics` it would be
`prefix/commandclass/instance/index/`

[2020-05-05 15:12] robertsLando commented on #405
@LordMike Could we close this in favor of the new feat request?

[2020-05-05 15:27] broyuken commented on #411
I set it to the following but it's not working. Is my naming wrong, I'm sorry I'm not a coder so I don't understand fully how exactly all these things have to be configured.

[code]

[2020-05-05 15:36] robertsLando commented on #411
@broyuken Sorry but by checking hass docs: https://www.home-assistant.io/integrations/light.mqtt/

Seems duration isn't supported by mqtt autodiscovery. The only option is to manually create that dimmer, check this tutorial: https://selfhostedhome.com/migrating-to-zwave2mqtt-for-home-assistant/

[2020-05-05 16:45] broyuken commented on #411
I created in manually, but transition still isn't working.

[code]

[2020-05-05 16:47] LordMike commented on #405
Outstanding stuff not related to #417:

* Should `brightness_scale` be `99` by default?
* Should `on_command_type` be `brightness` by default? -- I don't think so, is overriding by stored discovery doc the way to go?
* Why did Z2M identify 6 dimmers? -- I'll check up on this.

[2020-05-05 17:30] broyuken commented on #187
@Botched1 were you ever able to find a way to get double tap working?

[2020-05-05 17:32] Botched1 commented on #187
Nope. Moved those devices back to Hubitat because of that.

[2020-05-05 18:09] jamesarbrown commented on #11
Node 16 seems to be busy but still flagged as dead

![image](https://user-images.githubusercontent.com/891438/81099604-18aebc80-8f03-11ea-8341-144442aeb2dc.png)

1526 Log
[1526 Node 16 Logs.txt](https://github.com/OpenZWave/Zwave2Mqtt/files/4582830/1526.Node.16.Logs.txt)

Full Log
[OZW_Log.txt](https://github.com/OpenZWave/Zwave2Mqtt/files/4582835/OZW_Log.txt)

[2020-05-05 19:14] roflmao opened #444 "[bug] darkmode network graph connections hard to read"
**Version**

Build/Run method
- [ x ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.1.0
Openzwave Version: 1.6.xxxx

**Describe the bug**
Network graph in dark mode is hard to read with black on gray: https://www.jottacloud.com/s/0066291ca7ba3ac4d54a5ed40886ffc57c7

**Expected behavior**
Use another color which is human readable.

[2020-05-05 19:53] broyuken commented on #187
So I basically just did what you had, and it seems to work fine. Turning on the lights doesn't trip the sensor.

[code]

[2020-05-05 19:56] jshridha commented on #405
@robertsLando I think you're talking about pull request #135. The reason for sending 255 by default for an "on" operation is that all of the Jasco, GE, and zooz dimmers (and probably others also) will return to their previous brightness if they receive 255 command. If they receive anything from 0-99, they will go to that specified brightness %.

@LordMike I believe I tested setting the max scale i

[2020-05-05 22:38] LordMike commented on #405
Aha!.. That makes sense then. I've found that for the ZDB5100, if I send .. I think .. a COMMAND_CLASS_SWITCH_BINARY with ON, it goes to its previous brightness.. so perhaps it's a matter of instructing HASS to send to different CC's?

In any case, devices will be different in the end.. Am I meant to resolve it on my end by configuring the discovery document for the devices that differ?

[2020-05-06 02:39] travisghansen opened #445 "[bug] missing configuration values with hass integration"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.1.0 (on an rpi)
Openzwave Version:

**Describe the bug**

I've got 3 devices which either don't configure the hass settings at all or only configure (seemingly) read-only data points for integration with hass.

Examples:
- minimote (in scene mode I believe the

[2020-05-06 06:04] robertsLando commented on #445
@travisghansen That's not a bug. Z2M is intended to be used as control panel to configure your devices and hass to be used as dashboard so that's why only user values are mapped

[2020-05-06 06:06] robertsLando commented on #405
@LordMike I let @jshridha Answer for you as I don't own this devices and I'm not able to make tests

[2020-05-06 06:07] travisghansen commented on #445
@robertsLando ok, but what about the user values that are not exposed?

[2020-05-06 06:09] robertsLando commented on #445
@travisghansen Could you tell me the valueid of those values?

[2020-05-06 06:15] robertsLando commented on #444
PR ready :+1:

[2020-05-06 06:50] travisghansen commented on #445
@robertsLando sure

- minimote (2 total user values, missing 2)
  - scene 5-43-1-0
  - duration 5-43-1-1
- thermostats (15 user values, missing 13)
  - scene 22-43-1-0
  - duration 22-43-1-1
  - mode 22-64-1-0
  - operating state 22-66-1-0
  - heating 1 22-67-1-1
  - cooling 1 22-67-1-2
  - heating econ 22-67-1-11
  - cooling econ 22-67-1-12
  - fan mode 22-68-1-0
  - fan state 22-69-1-0
  - day 2

[2020-05-06 07:24] robertsLando commented on #445
in poor words

- 43 : COMMAND_CLASS_SCENE_ACTIVATION
- 129: COMMAND_CLASS_CLOCK

The others are thermostat command classes, if you check the readme those need to be configured manually by creating a configuration in `hass/devices.js`

[2020-05-06 07:25] #444 closed

[2020-05-06 07:41] robertsLando commented on #11
@Fishwaldo COuld you check the logs please?

[2020-05-06 07:43] robertsLando commented on #411
I cannot help here as I'm not an hass user. Try to check hass console to see if there is any error

[2020-05-06 12:00] jshridha commented on #405
@LordMike that's probably the easiest way to go. You may just need to make a custom mqtt device in home assistant since I'm not sure that zwave2mqtt has build in the ability for hass devices created from one command class to send instructions to a different command class.

[2020-05-06 13:08] travisghansen commented on #445
I missed that in the readme I’ll go have a look. What about 102 from the garage door? Same thing? Manually add?

[2020-05-06 16:29] travisghansen commented on #445
Ok, so I've added the following:

[code]

But I'm not seeing anything additional in the UI...what should I be doing now?

On a related note, I've tried adding the block to the UI (hass device json) (without device id key/etc) directly which validates it until the `ADD` button turns blue. However clicking the `ADD` button does nothing. Nothing going on with the browser on the network tab nor the co

[2020-05-06 19:17] jaburges opened #452 "[bug] Dark Mode - Highlighted Row in Nodes view not visible"
**Version**
3.0.4

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.0.4
Openzwave Version: 1.6.1080?? (3.0.4 not listed on docker hub readme)

**Describe the bug**
In dark mode the highlighted row isnt visible as white text on light grey background (image in slack)

**To Reproduce**
Steps to reproduce the behavior:
1. Da

[2020-05-06 20:47] Hassiopeia opened #453 "[bug] CT101 Thermostat Missing Auto Mode"
**Version**

Build/Run method
- [ X] Docker

Zwave2Mqtt version: 3.1.0
Openzwave Version: 1.6+

**Describe the bug**
The new addition of the CT101 thermostat lacks the Auto mode for setting a heat/cool range in Home Assistant

**To Reproduce**
Steps to reproduce the behavior:
1. Connect CT101 thermostat
2. setup hass discovery
3. check the modes in hass
4. Validate that its missing from the hass d

[2020-05-06 21:07] Hassiopeia commented on #453
I just managed to update hass/devices.js and the Auto mode shows up, but it does not show the temperature range associated with Auto(heat=68, cool-72). The thermostat was previously handled as a dual thermostat in HA with 2 entities merged until recently someone corrected that for zwave dual thermostats.

[2020-05-06 21:25] maichai commented on #413
Thanks James, I am acually not talking about HA at all when I talk about the crazy temperature configuration values. Those are the values I get in zwave2mqtt when I click on the sensor and open the configuration section. So this problem is either in the sensor, in OWZ, or in zwave2mqtt.

What I try to understand is, whether I have a faulty hardware, so that I can return it and get a working hardwa

[2020-05-06 21:45] #413 closed

[2020-05-07 06:13] robertsLando commented on #453
@Hassiopeia Would you mind to fix the configuration? I don't own this device so it's difficult for me to fix this

[2020-05-07 06:15] robertsLando commented on #405
It depends on the configuration used in the command topic, if the command topic should use a different valueid just need to use that valueid in the configuration

[2020-05-07 06:23] robertsLando commented on #452
@jaburges PR is ready :)

[2020-05-07 06:33] robertsLando commented on #445
@travisghansen When you start zwave2mqtt do you see a log that says once custom device has been added?

Also in order to make this work you need to restart the application or press on rediscover button

[2020-05-07 07:20] #452 closed

[2020-05-07 12:22] Hassiopeia commented on #453
I will attempt to fix it, however @idyedov might be better suited to help out as he originally added the CT101 and it sounds like he could test it as well. However after some research last night I think the issue primarily lies with the MQTT HVAC component and how it handles thermostats with two setpoints. I don't believe it can merge them together. I managed to configure it to accept the mode of

[2020-05-07 12:28] robertsLando commented on #453
Ok so let's see if @idyedov can help with this. I'm here for everything else

[2020-05-07 13:33] travisghansen commented on #445
I’ll check for sure but when I say ui here I mean the z2m ui not the hass ui. Nothing will show up in hass unless it first appears in z2m right?

[2020-05-07 13:35] LordMike commented on #405
That would be the thinking, yes, have it communicate with a different topic.

TBF, I'll probably end up making the entities myself, in HASS, as they'll probably be unmaintainable in Z2M.

[2020-05-07 14:07] robertsLando commented on #405
@LordMike That is my suggestion at all, for simple things everything should work but unfortunally mqtt autodiscovery is not so friendly and also doesn't support all features (and also could easily break things after hass updates like it has happen with locks) so that would be the best way to integrate your devices for sure.

This could be a useful tutorial for this: https://selfhostedhome.com/migr

[2020-05-07 14:08] robertsLando commented on #445
@travisghansen Sure, if it doesn't show up so something is wrong with the config. Do you see any error in z2m logs? Do you se that log I mentioned that says a custom component has been loaded?

[2020-05-07 14:11] travisghansen commented on #445
I’ll check in just a few minutes and send over what I’ve got.

[2020-05-07 14:26] travisghansen commented on #445
I'm not seeing anything but it could be burried in the mountain of zwave output...I know the file is at least being *read* because I initially entered the data as an object instead of an array of objects and z2m puked due to a `forEach` error.

Got a more specific line I can grep the output for to check what you're after?

[2020-05-07 14:29] travisghansen commented on #445
The error I got with a misformed file:

[code]

[2020-05-07 14:58] travisghansen commented on #445
Scratch that (sorry for all the confusion). I just noticed each thermostat in z2m still has 2 devices only but one of them is a thermostat instead of the previous temperature reading...

I subsequently noticed this in the hass logs:

[code]

I'll do some more digging around now to see if anything seems off. So far though looks great!

Would it be possible to dynamically set the min/max temps using

[2020-05-07 15:12] robertsLando commented on #445
@travisghansen Sure but for that I need to write some code :)

Check out here: https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/Gateway.js#L715

You could simply add this lines inside `climate` if statement:

[code]

[2020-05-07 15:17] travisghansen commented on #445
Yeah, mostly just thinking about getting the details committed for others to use. In any case I've still got something off as trying to set the target temps is behaving strangely..

[code]

[2020-05-07 15:22] robertsLando commented on #445
@travisghansen Sure once you have a working configuration please send a PR and add it to `hass/devices` :) Fot that fix about the custom min/max setpoints I can make it for you now

[2020-05-07 15:51] travisghansen commented on #445
What's the connection between these:

[code]
and

[code]

I've explicitly set the latter and now things are working as expected..

[2020-05-07 16:10] robertsLando commented on #445
I don't support `temperature_low_command_topic` and `temperature_high_command_topic` so they doesn't make any difference to me. There is no connection between the two things

[2020-05-07 16:22] jasonsinclair5 opened #459 "Honeywell Fan Switch Detects as a light dimmer"
I have several Honeywell Z-Wave In-Wall Fan Controller's (39358) that I want to move over from Smartthings to Zwave2Mqtt --> Home Assistant. When I add the node, it shows up as:

Fan Switch	Unknown: type=4944, id=3131 (Unknown: id=0039)

The device JSON for Home Assistant shows this:

{
  "type": "light",
  "object_id": "dimmer",
  "discovery_payload": {
    "schema": "template",
    "brightness_t

[2020-05-07 16:22] travisghansen commented on #445
I see. This is relatively complex stuff obviously trying to map :(

I have an 'auto' setting and the hass UI has target high and low temps (in addition to the generic 'target temp')...seems to make sense to map those to the `setpoint_topic` as appropriate?

If not if I replace `true` with `67-1-1` and/or `67-1-2` will that be translated appropriately?

[2020-05-07 16:27] travisghansen commented on #445
That's what these are from (setting the low/high without a translation to proper topics) FYI:

[code]

[2020-05-07 16:34] broyuken commented on #187
Yep, after more testing, this works great. I grouped group 3 and the controller together and we're in business. Thanks for the help everyone!

[2020-05-07 16:35] LordMike commented on #405
In that case, I don't think there's any remainder in this issue.

The current defaults have their merit, so I'll let this be a discovery of available options :).. Unfotunately, I can hardly point at any HASS docs for discovery, as that documentation is non-existent or scattered in many places :/.

[2020-05-07 17:23] jshridha commented on #405
@LordMike Yes, the hass docs for discovery can be tedious / difficult to go through. I just went through it for a different project. But for your use case, you may just want to try out specifying the mqtt yaml and skipping the auto-discovery phase.

[2020-05-08 06:12] robertsLando commented on #405
All I have follow to make the things you see here are this docs: https://www.home-assistant.io/docs/mqtt/discovery/

[2020-05-08 06:14] robertsLando commented on #187
thanks @broyuken

[2020-05-08 06:22] robertsLando commented on #459
Hi @jasonsinclair5, unfortunally your value has command class `38` that is SWITCH_MULTILEVEL and that could be many things like a cover position a light dimmer and so on but I have no way on my side to distinguish them. In order to fix this kind of things I have made [this](https://github.com/OpenZWave/Zwave2Mqtt/blob/master/hass/devices.js) file where all users submit pr to fix devices like yours

[2020-05-08 06:24] robertsLando commented on #445
Nope I need to make the support in the gateway to check for this files and translate the valueids to the corrisponding topics

[2020-05-08 06:34] travisghansen commented on #445
Ok cool. Looks like climate devices support some sort of bitwise features flag which for me was set to 11 so my UI is showing those elements. Not sure how that value is getting set but may be beneficial to somehow allow overriding it.

Been using it for several hours now and seems ok but somehow ha got into a situation where it had an unknown state for the thermostats even though it was not restar

[2020-05-08 06:35] robertsLando commented on #445
What kind of problem do you have with that?

[2020-05-08 06:38] travisghansen commented on #445
The most important attribute isn’t mapping (the state/position) to be able to actually control it. I just looked and saw you have an example custom entry for a cover so maybe I’ll try that out. 102-1-1

[2020-05-08 06:51] robertsLando commented on #445
Yep try with that and let me know :)

Remember to submit a PR if you have created some custom device, could help other users :)

[2020-05-08 06:57] travisghansen commented on #445
Yeah for sure will do. Or at least pass them on to you.

[2020-05-08 09:10] idyedov commented on #453
Sorry, don't have much insight on what it takes to handle both heat and cool setpoints separately here. I only use mine in heat mode

[2020-05-08 12:12] jasonsinclair5 commented on #459
Thanks for the explanation. I did see that and was trying to get it working. Based on my device info
Fan Switch Unknown: type=4944, id=3131 (Unknown: id=0039)
And here:
https://products.z-wavealliance.org/products/2725?selectedFrequencyId=2

Would the config look like this?
'39-4944-1108': [FAN_DIMMER], // Honeywell 39358 Fan Controller

I added that to the devices.js and ran a rediscover. However

[2020-05-08 12:50] robertsLando commented on #459
You should just re-run the application and it should discover it

---

Daniel - Software Engineer

Support me at:
    Github sponsors

[2020-05-08 13:52] jasonsinclair5 commented on #459
Ok...tried that and it still comes up as a light dimmer. I'm running in docker so I just restarted the container.

[2020-05-08 13:57] Hassiopeia commented on #453
I found that there are MQTT HVAC configuration variables for high and low temperatures command, topics, and states. I don't know how to configure them, but I'll try. So I suppose this is just a custom configuration issue for me to figure out in hass/devices.js as @robertsLando mentioned to begin with.

[2020-05-08 15:10] travisghansen commented on #445
This seems to work like a charm:

[code]

I'm pretty sure the device doesn't support *setting* `Stopped` so I'm not sure if there's a way to tell hass to not show that feature for this device (just getting started with hass so I have a lot to digest). It looks like covers have the same sort of bitwise feature flags that can be set like climate controls so maybe...

[2020-05-08 18:54] jasonsinclair5 commented on #459
Haven't been able to get the template to apply, but I did modify it and have it working within home assistant. Here's the JSON I used:

{
  "type": "fan",
  "object_id": "dimmer",
  "discovery_payload": {
    "command_topic": "homeassistant/OfficeFan/38/1/0/set",
    "state_topic": "homeassistant/OfficeFan/38/1/0",
    "speed_command_topic": "homeassistant/OfficeFan/38/1/0/set",
    "speed_state_t

[2020-05-09 06:21] Phontana opened #461 "Weird behavior with double switch"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.1.0
Openzwave Version: 1.6.0

**Describe the bug**
I have a Fibaro Double Switch in my Z-wave network. I have configured MQTT in Home Assistant without discovery, and all of my devices are working well, except for the double switch. I am seeing this behavior:

[2020-05-09 12:16] matthew-larner opened #462 "Re-sending zwave commands after reboot"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 1.2.3
Openzwave Version: 1.4.1

**Describe the bug**
The issue I'm facing is that after a reboot, it seems to resend the last state from mqtt to all z-wave devices. The reason this is an issue is because my garage door only supports toggle - when zwave2mqtt send

[2020-05-10 10:03] LordMike opened #463 "[feat] Ability to set a blank name"
**Is your feature request related to a problem? Please describe.**
I was about to ensure I wasn't pushing my z-wave devices to HASS with names (as I want to create my devices there, myself, and want to reuse the names). But I couldn't set a blank name again, in Z2M.

**Describe the solution you'd like**
Ability to clear a name for a node/device in Z2M

**Describe alternatives you've considered**
N

[2020-05-10 10:20] LordMike commented on #405
@robertsLando is there a way to prevent Z2M from pushing discovery documents?

[2020-05-10 20:08] magpern opened #464 "[bug] ZW095 Home Energy Meter Gen5 (AEON Labs) not updating / wrong initialization"
**Version**
Z2M docker dev

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 3.1.0
OpenZwave 1.6.1115

**Describe the bug**
I have just bought a ZW095 Home Energy Meter Gen5 (AEON Labs)
It registeres fine in Z2M, but it never updates. It only updates if I manually select to refresh node info. Nothing in the log, nothing in

[2020-05-10 20:16] magpern commented on #464
Logfile from the include procedure is [here](https://paste.ubuntu.com/p/vJDSnBXwTr/)

[2020-05-10 20:31] magpern opened #465 "[feat] No not automatically add HA discovery data upon include"
**Is your feature request related to a problem? Please describe.**
When you include a node, the node gets a id number. Eg. NodeID_16
If HASS Discovery is true, this entity will get written to MQTT as NodeID_16 the same instance it is included.

If you later change the name of the device in zwave2mqtt (or location) a new MQTT discovery topic is posted.
This results in a lot of manual cleaning of MQ

[2020-05-10 20:35] magpern opened #466 "[feat] On node exclude. Clean up MQTT"
**Is your feature request related to a problem? Please describe.**
If a node is removed from the network. The MQTT items remain.

**Describe the solution you'd like**
Clean up MQTT when the node is removed

**Describe alternatives you've considered**
Manual cleaning. It is quite a quick action with "MQTT Explorer", but in an automated world, this should be automatic.

**Additional context**
Exclud

[2020-05-11 09:32] robertsLando commented on #453
@Hassiopeia any updates?

[2020-05-11 09:33] robertsLando commented on #445
Will add it to devices. Thanks @travisghansen

[2020-05-11 09:44] robertsLando commented on #445
@travisghansen Just opened a PR for the support of this with all devices. Check it out once it's merged

[2020-05-11 09:46] robertsLando commented on #459
@jasonsinclair5 Could you send a PR with that added to `hass/devices.js`?

[2020-05-11 09:48] robertsLando commented on #461
@Phontana try to use `payload_on: 'true'` and `payload_off: 'false'`

[2020-05-11 09:49] robertsLando commented on #462
@matthew-larner That's not an issue, that's mqtt behaviour, if you have retain flag set to true you have to disable it

[2020-05-11 09:49] #462 closed

[2020-05-11 09:51] robertsLando commented on #466
@magpern This issue has been raised some time ago but it's quite difficult for me to entirely cleanup all retained messages of a not. In order to do that I should get all nodes topic and for each topic send an empty payload message, actually i always suggest to do it using mqtt_explorer like you suggested

[2020-05-11 09:54] robertsLando commented on #465
I think I could add an option like `manual discovery` that will allow you to manually send discovery once you are ready

[2020-05-11 09:58] robertsLando commented on #463
PR ready @LordMike :)

[2020-05-11 10:00] robertsLando commented on #464
I think it's firstly a device compatibility issue and from another side a OZW issue but definetly not an issue with z2m @magpern. Please open this issue on OZW library or let's see if @Fishwaldo can reply here

[2020-05-11 10:02] robertsLando commented on #405
@LordMike for this nodes, set an empty discovery payload on each entity

[2020-05-11 10:11] magpern commented on #466
ok. fair enough

[2020-05-11 10:11] #466 closed

[2020-05-11 10:22] magpern commented on #464
Closing and reopening in openzwave https://github.com/OpenZWave/open-zwave/issues/2214

[2020-05-11 10:22] #464 closed

[2020-05-11 10:31] magpern commented on #465
This option is already there and works
![image](https://user-images.githubusercontent.com/6589760/81551644-7c613b80-9382-11ea-9d5a-467ffd351d7c.png)

Makes sense. However, I always remember this *after* I have included or changed a device :)

It is not a big deal, since it is fairly easy to remove the HASS topics with MQTT Explorer, but since, device is just included and name will change it feels

[2020-05-11 13:31] robertsLando commented on #465
I mean, it doesn't discover nodes automatically once nodes are detected but you always have to press that button in order to discover them

[2020-05-11 13:45] LordMike commented on #405
Slightly cumbersome. But ok. They won't be recreated at any point?

[2020-05-11 14:19] travisghansen commented on #445
OK I wondered about `barrier_state` as the `object_id`. I just sort of picked that since that's what the UI showed. If I'm reading the PR correctly it looks like it will generically handle barrier state devices without anything special in `hass/devices.js` which is cool. I'm not sure if locks use barrier state (I don't have any myself).

The thermostat has generally been functioning but as I menti

[2020-05-11 18:02] robertsLando commented on #405
I havent’t found a friendly way for this yet, do you have any suggestions? Anyway with an empty payload the discovey will fail so there will be no entities on hass, but mqtt values will still be availables. What I could do is to add a field to nodes to disable discovery on some of them, or would you prefer to select single entities to esclude for each node?

---

Daniel - Software Engineer

Suppor

[2020-05-11 21:32] LordMike commented on #405
Ooh.. I kinda hoped to use the same topics to publish entities myself. I found the HASS config to be a pain, especially as I'll have to make ~6-8 entities per device, so I made a templating program that pushes to topics in MQTT.

I'll just have to name something differently.

One way is a property next to the `discovery_payload`, f.ex. `discovery: false`. (It'll default to true).

For convenience,

[2020-05-11 22:02] LordMike commented on #465
@robertsLando I had some of these thoughts too, as this issue has. I resigned myself to just cleaning up in MQTT on renaming, but [my comment](https://github.com/OpenZWave/Zwave2Mqtt/issues/405#issuecomment-626977096) can actually apply here too. If the default was to not do discovery, a button could instead be added to actually do it (push it to MQTT).