[2020-09-25 14:41] robertsLando commented on #742
Everything you see in the UI is what I get from OZW, so if something is missing it means OZW didn't sent me that, or there should be some kind of error in console log, try to enable zwave logging and check the "value added" logs to see if there is any error there. Also as another try, try to send a "refresh node info" command against that node to refresh its config

[2020-09-25 16:05] sirsiegfrieds commented on #740
Ok i will try to find it
________________________________
De : Daniel Lando <notifications@github.com>
Envoyé : vendredi 25 septembre 2020 08:39
À : OpenZWave/Zwave2Mqtt <Zwave2Mqtt@noreply.github.com>
Cc : Sir_SiegfriedS <sir_siegfrieds@hotmail.com>; Mention <mention@noreply.github.com>
Objet : Re: [OpenZWave/Zwave2Mqtt] [question] (#740)

Take a look to custom devices in readme. Climate devices

[2020-09-25 18:21] sirsiegfrieds commented on #740
Ok i think you are talking about this :
{ // Heatit Thermostat TF 021 (ThermoFloor AS)
    "type": "climate",
    "object_id": "thermostat",
    "values": ["64-1-0", "49-1-1", "67-1-1", "67-1-2"],
    "mode_map": {"off": "Off", "heat": "Heat (Default)", "cool": "Cool"},
    "setpoint_topic": { "Heat (Default)": "67-1-1", "Cool": "67-1-2" },
    "default_setpoint": "67-1-1",
    "discovery_payload"

[2020-09-27 05:02] hyperbolic2346 opened #744 "[question] Constant spam from a node after a period of time"
I'm seeing an issue with my zwave network. I'm hoping that this has been seen before. Everything is normal for a "while", which can be minutes or a couple of days. At that point, the network becomes extremely sluggish and lights take many seconds to respond. This gets progressively worse until the network is essentially not working. I found that it appears to be consumed by these messages:
[code]

[2020-09-28 07:07] robertsLando commented on #744
@hyperbolic2346 Do you have lot failed/dead nodes in your network? Have you enable polling of some values? I never saw such bug in my networks unfortunaly :( @Fishwaldo Do you know what could cause this kind of network 'saturation'?

[2020-09-28 07:14] robertsLando commented on #740
This is just to enable the discovery of your climate device, once it is discovered you can do what you want with it in hass

[2020-09-28 07:15] robertsLando commented on #742
Let me know

[2020-09-28 07:22] robertsLando commented on #738
Ok thanks for the clarification @dr1rrb :) I will implement this, just one question, with scene you mean the `central_scene`? Are your scene sensor actually looking like this: https://github.com/OpenZWave/Zwave2Mqtt/blob/master/hass/configurations.js#L135?

[2020-09-28 22:35] hyperbolic2346 commented on #744
I have limited my network right now to 30 nodes. I have 4 that are listed as removed if I show hidden nodes. Everything else is alive or sleeping. The original node that this happened with is not 10 feet from the zwave stick. It seems to be stuck constantly trying to update the state of that node.

Looking at my options I do see a 5 second poll, which seems very fast to me. I've upped that to 300

[2020-09-29 02:24] dr1rrb commented on #738
Thanks @robertsLando 👍

And yep it looks like to be that:
![image](https://user-images.githubusercontent.com/8635919/94505246-a18f0300-01d8-11eb-8f48-4c781e3d713d.png)
At least the `object_id` ("scene_state") seems to match 😊

[2020-09-29 06:20] robertsLando commented on #738
@dr1rrb What type should I use in the discovery payload? What value is published in the scene topic when it is activated?

https://www.home-assistant.io/integrations/device_trigger.mqtt/#type

[2020-09-29 06:30] robertsLando commented on #744
@hyperbolic2346 The poll time should be at least 1 second for node, not less, that could be the reason

[2020-09-29 16:12] p4p3r commented on #329
Hi @robertsLando, I'd like to help on this but I'm new on HomeAssistant/OpenZwave/Zwave2Mqtt and I'm still getting up to speed and exploring the code/architecture.

In my case I'm using the Aeotec NanoShutter (https://github.com/OpenZWave/open-zwave/blob/master/config/aeotec/zw141.xml). Is there any way to get the "Specific Device Type" of a device? For the NanoShutter that would be "SPECIFIC_TYPE

[2020-09-29 16:34] squiddity commented on #329
Are you looking for STOP to work in home assistant or a custom application? See my June 8 reply in thread how to issue a "stop level change" via a specific topic through zwave2mqtt, in particular the 38/1/1 topic like "discoveryprefix/nodetopicname/38/1/1/set" with payload "false". My code snippet there goes into the HA config yaml file and shows how you can use a HA "template cover" to make a ful

[2020-09-29 19:16] p4p3r commented on #329
@squiddity sorry I should have been more precise. Yes I'm trying to make it work with HomeAssistant+Zwave2Mqtt.
I tried your code snippet before posting my comment and it didn't work... but now I played with it a bit more and it worked! I cannot use the same exact solution as you did because (and I should file a separate bug) with the Aeotec NanoShutter the "switch" entity doesn't work (the device

[2020-09-29 19:56] squiddity commented on #329
The challenge I ran into mentioned above is that using the openzwave/zwave2mqtt topic structure leads to two different command topics for open/close vs stop (i.e. different instance ids in valueId topics). It's not that zwave2mqtt doesn't support this, it does through the topic structure, but that HA autodiscovery doesn't support different command topics for open, close and stop. Specifically per

[2020-09-30 00:19] mew0717 opened #747 "Updating Notification Type"
This is driving me mad..... I have a sensitive strips Z-wave door sensor.  It works great.  There are 3 notification types:
1. Binary Sensor Report
2. Notification Report
3. Basic Report.

For some reason, the sensor likes to switch which notification type it likes to use.  For a couple days, it used a notification report, so i built my Home assistant Yaml appropriately.  Then its switched (on it'

[2020-09-30 07:07] maxenced commented on #185
@gertvdijk do you have any new for this ? It looks like I have the very same issue with aeotec smart switch 6 (ZW096), and can't really understand how I'm supposed to fix it ?

[2020-09-30 07:34] robertsLando commented on #747
@mew0717 seems more like a device error then a z2m one. Anyway you can try to check if there is a device firmware update, or create automations for all type of reports so even if the notification changes it works anyway

About the `Successfully call api setValue` that means you have call a setValue, you should then receive a `Value updated` notification that informs you that the value has also giv

[2020-09-30 07:36] robertsLando commented on #329
Does all cover has this?

[2020-09-30 07:48] maxenced commented on #185
Thx @robertsLando , So I just need to take the json from @gertvdijk  and try to store it ?  He was talking about a possible fix in hass/devices.js so I wondered if anything has been done here :)

[2020-09-30 07:50] robertsLando commented on #185
That's the correct way to start, then you can edit it based on your needs :)  Paste it here and send a PR once it works! And also if you need help

[2020-09-30 09:37] p4p3r commented on #329
I just double-checked in cd-jackson/opensmarthouse database and all the devices that have
- Generic Class == GENERIC_TYPE_SWITCH_MULTILEVEL
AND
- Specific Device Type == SPECIFIC_TYPE_CLASS_A_MOTOR_CONTROL or SPECIFIC_TYPE_CLASS_B_MOTOR_CONTROL or SPECIFIC_TYPE_CLASS_C_MOTOR_CONTROL or SPECIFIC_TYPE_MOTOR_MULTIPOSITION
are kinds of homeassistant covers.

In terms of cover though they belongs to di

[2020-09-30 13:26] robertsLando commented on #329
Could you list me the command classes number of:

SPECIFIC_TYPE_CLASS_A_MOTOR_CONTROL or SPECIFIC_TYPE_CLASS_B_MOTOR_CONTROL or SPECIFIC_TYPE_CLASS_C_MOTOR_CONTROL or SPECIFIC_TYPE_MOTOR_MULTIPOSITION?

I could simply add an `if` that checks for this cmd classes and if they exists create a cover instead of a dimmer

[2020-09-30 15:01] p4p3r commented on #329
This is the best source of info I found https://github.com/home-assistant/core/blob/dev/homeassistant/components/zwave/const.py#L286
`SPECIFIC_TYPE_CLASS_A_MOTOR_CONTROL = 5
SPECIFIC_TYPE_CLASS_B_MOTOR_CONTROL = 6
SPECIFIC_TYPE_CLASS_C_MOTOR_CONTROL = 7
SPECIFIC_TYPE_MOTOR_MULTIPOSITION = 3`

These are not command classes but another property of the zwave node.
I can try to come up with a PR mysel

[2020-09-30 15:21] robertsLando commented on #329
@p4p3r

Essentially [this] function is the one that is called for each value of a device to try to guess the right discovery.

[Here](https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/Gateway.js#L1096) It's the specific case where you should put the code to check for the existing command class and try to apply the correct configuration (cover or light dimmer).

There is already some commente

[2020-09-30 17:42] jamesarbrown commented on #718
@robertsLando I think the connectivity is currently created by all devices on the mqtt broker, so I think my answer would be that the JSON should be generated for all, after all it will follow the same pattern always and you can always hide within HA

[2020-10-01 15:14] p4p3r commented on #329
Sounds good, I forked and setting up my dev environment. I'll ping you if I need anything. I should be able to work on this in the next couple of days.

[2020-10-01 15:19] rflx18 commented on #329
please do share your findings, im interested :D

[2020-10-01 18:00] wfscot opened #749 "[feat] Strongly default or hardcode "homeassistant" as discovery prefix"
I recently set up zwave2mqtt as my first mqtt integration for HA using the discovery features.  As I really didn't know much, I randomly selected "discovery" as the discovery prefix.  I'm now looking to integrate other stuff via mqtt and am finding that "homeassistant" is essentially the convention (for example, ring-mqtt).  This was supported via a brief discussion on Discord.  I'm now looking at

[2020-10-01 18:26] robertsLando commented on #749
If you check the readme on the
Home Assistant integration (BETA)

You will find this

---

Daniel

[2020-10-01 18:54] wfscot commented on #749
Sorry if I missed that. I saw the note on homeassistant/status being the default birth/will topic, but I didn't see anything on the discovery prefix itself.  You're absolutely welcome to close this if it isn't worth discussing further.

[2020-10-01 19:31] jaburges commented on #742
so its coming from the lock to OZW - but seems i'm missing a parameter `ParamUserCodeid`
[code]

[2020-10-01 20:21] jaburges commented on #742
ok my knowledge of OZW isnt great BUT, it seems comparing to the kwikset lock (and the non Zwave Plus BE469)

The BE469ZP:
[code]

The Index="0" when I think it should be "6" (i seem to remember on an old thread, Fishwaldo advised to change it to 6 - but it looks like its pulled the new revision
so should be:
``` <TriggerRefreshValue Genre="user" Index="6" Instance="1"> ```

Note the [BE469 lock](

[2020-10-02 04:02] hyperbolic2346 commented on #744
This is fascinating. So tonight I happened to be looking at my logs and toggled a switch. When I turn the light on there is no unusual chatter, but when I turn it off there is constant spam.
[code]

[2020-10-02 07:42] robertsLando commented on #744
@hyperbolic2346 I really would like to help here but unfortunally that's out of my knowladge, I really have no idea about what's going on there what I could tell you is the things I told in prev comments like try to check for device firmware updates, refresh device node information, check the poll time and so on, also try to update z2m to latest version (ozw has been updated).

Only @Fishwaldo cou

[2020-10-02 07:52] robertsLando commented on #742
@jaburges I would like to help more but as most of the issues here are device related or ozw related I cannot help more then this, let me know if you fix your problem :pray:

[2020-10-02 08:25] #749 closed

[2020-10-02 08:28] robertsLando commented on #329
If you need any help just ask me, I think this is really easy to implement (it's an `if` check)  but I would need some devices to test this

[2020-10-02 09:32] rflx18 commented on #329
i have fibaro cover that are already detected and Philio PAN08-1 that are detected as light dimmers.

[2020-10-02 15:45] hyperbolic2346 commented on #744
@robertsLando I understand and I appreciate your help thus far. I'm not ready to call this an issue with ozw, but it is possible. I'm not sure what is going on yet and I'm using this issue to document my findings as it progresses.

[2020-10-03 13:44] LordMike opened #750 "[feat] Ability to broadcast to a set of nodes"
**Is your feature request related to a problem? Please describe.**

I'm trying to optimize a little, so that I can turn off 10+ lights in rapid succession. Right now, when I use HASS to turn off all lights, Z2M will get 10+ OFF commands via MQTT topics. In practice, I then see lights go off.. one by one.. sometimes with great delay between them.

I think that, by sending fewer messages on z-wave,

[2020-10-04 01:20] jaburges commented on #742
ok - made the update, and i think it updated ozwcache...xml but still doesnt work :(

turns out its missing any of the sensors that used to be alarm_type and alarm_level as they have been replaced with Command Class Notification. On reading more information the lock changing state is working - but i'm not entirely sure how to add the right info to update the ozwcache to include this:
``` Couldn't

[2020-10-04 15:31] jaburges commented on #742
i'm assuming like the lock state (CC 98) that it then needs to trigger a notification.

Does that mean that the notification for CC User code should also be under CC Notification in BE469ZP.xml

could be something like this:?
[code]
At this point its guess work but another assumption would be to tell the primary command class 'UserCode' to use the correct NotificationCCType.xml value which looks l

[2020-10-04 15:58] jaburges commented on #742
`Couldn't Find a ValueList for Notification Type 6 (1)` seems odd as above:
[code]
OZW is aware of the type - 6 . access control > 6. "Keypad Unlock Operation" Notification, but then not able to look up the right alarm trigger. Looking a `ValueIDIndexDefines.def` there isn't any reference under Alarm of `usercodeid`

Does this mean the device is still using an `CCAlarm` instead of `CCnotification`

[2020-10-04 16:36] jaburges commented on #742
Seems its coming from Alarm.cpp
https://raw.githubusercontent.com/OpenZWave/open-zwave/master/cpp/src/command_classes/Alarm.cpp

[2020-10-04 21:44] jaburges commented on #573
Keeping this current. Latest docker of Z2M. Same issue applies.

Node is showing as Alive, but last updated Never

[2020-10-05 07:06] robertsLando commented on #573
@jaburges That's very strange, do you have any nodejs knowladge to debug this? The only way to mark a node as alive is to receive a node alive notification

[2020-10-05 07:08] robertsLando commented on #742
@jaburges Everything you said seems legit, hope the ozw author will answer you :(

[2020-10-05 07:12] robertsLando commented on #750
What do you mean? There are already broadcast apis in z2m, but the way them works are almost the same, once I receive a broadcast set I then make N zwave commands to specific nodes matching the broadcast: https://github.com/OpenZWave/Zwave2Mqtt#broadcast

[2020-10-05 15:52] jaburges commented on #742
@Fishwaldo are the .cpp files located somewhere in the docker?

[2020-10-05 17:14] pdbogen opened #755 "[bug] thermostat /set (e.g., /zwave2mqtt/8/67/1/1/set) ignores some values"
**Version** 4.0.4

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 4.0.4
Openzwave Version: 1.6.1280

**Describe the bug**
An incoming value via mqtt is ignored if it's a decimal with a lot of places.

**To Reproduce**

[code]

**Expected behavior**
Any value that node can parse as a number should be sent to ZWave.

[2020-10-05 17:18] pdbogen commented on #755
further assessment, I don't think the issue is on the mqtt side, I think it's on the zwave side. Here's a comparison of setting `28.4444` vs `28.444` directly on the object via z2m UI:

[code]

[2020-10-05 17:45] mgw854 commented on #744
I've run into the same issue trying to get my Leviton switches (DZ15S-1BZ) working with zwave2mqtt. It appears to be a bug in the Leviton implementation that open-zwave does not handle well. There's an open PR to fix this.

https://github.com/OpenZWave/open-zwave/pull/2370

[2020-10-05 18:47] jaburges commented on #742
ok, so for some reason - no clue why (despite many RefreshNodeInfo attempts the usercode (index 260) was not being pulled into my ozwcache xml. Adding it manually resolved the problem.

[code]

[2020-10-05 22:10] LordMike commented on #750
Damn - I had hoped Z-wave had a broadcast message.. or maybe a message with many "To" fields..

Oh well.. Would it be possible to expand this API, such that I could do a comma-separated list of nodes (names) to target - or perhaps a regex?

Broadcasting a "basic set OFF", as I understand it, would turn off everything I have... lights, buttons (set their states to off), plugs, fans, .. .. right? So

[2020-10-05 22:19] LordMike commented on #750
I've tested a little.. for future reference, I used the following topic:

It's a BASIC_SET command class (37), and I was targeting endpoint 6 on my switches. They payload was "0".

I did not see any difference in time, when doing a HASS "off", where I click a toggle that sends a "turn off" command to all lights as quickly as possible.. and then doing this broadcast thing.

It seems to me, and I on

[2020-10-05 22:19] #750 closed

[2020-10-06 02:14] hyperbolic2346 commented on #744
I have those switches as well and this looks to be **exactly** my issue. This is great news, thank you @mgw854.

[2020-10-06 06:13] robertsLando commented on #755
@pdbogen I think the device doesn't allow that number, even if you set it from the ui then it writes 28.

[2020-10-06 06:15] robertsLando commented on #744
Glad there is a fix for this, keep me updated

[2020-10-06 06:17] robertsLando commented on #750
@LordMike Unfortunally AFAIK this doesn't exist in Zwave, what you could use are associations but them are not faster (usually the timeout is the same of the poll interval)

[2020-10-06 06:18] robertsLando commented on #742
I think there could be a bug in ozw code that prevetns that value to be added to the cache. Anyway like I said it's something ozw related and I cannot do anything on my side :(

[2020-10-06 06:18] #742 closed

[2020-10-06 15:30] jaburges commented on #573
nope, but i'm always learning - what should i look at specifically?

[2020-10-06 16:03] robertsLando commented on #573
@jaburges You shoud install node on your machine, clone this repo and debug the project with node inspector. It's not that easy but if you wish to start: https://nodejs.org/en/docs/guides/debugging-getting-started/

[2020-10-06 21:34] chrisns commented on #317
think this can be closed thanks to #540 please reopen if i'm wrong

[2020-10-06 21:34] #317 closed

[2020-10-06 21:42] chrisns commented on #316
i would suggest your best bet would be to use a cheap usb stick to mount where the files that do change, or mount a network volume if you've got something more robust elsewhere in the network.
i basically run it as an immutable container in Kubernetes with a nfs volume mount to my NAS for the things that change.

I would however check that you're doing something to either provide an easy way to mo

[2020-10-06 21:42] #316 closed

[2020-10-06 21:45] pdbogen commented on #755
Yeah, the problem is that `28.4444` doesn't trigger an actual call to zwave stack at all but `28.444` _does_. I'd be happy if they both set 28.

HomeAssistant is sending `28.444444444444443` as a result of Fahrenheit to Celsius conversion.

[2020-10-06 21:47] pdbogen commented on #755
or... maybe the zwave stack itself is treating this differently. :thinking: it could be a bug in openzwave itself, perhaps?

[2020-10-07 06:14] robertsLando commented on #755
@pdbogen From what I can see I don't see any error here, what you could try to do is create a `parse receive` function to remove some decimals: https://github.com/OpenZWave/Zwave2Mqtt#gateway-values-table

Something like:
[code]

[2020-10-07 14:21] #599 closed

[2020-10-07 14:24] #556 closed

[2020-10-07 14:25] #377 closed

[2020-10-07 14:26] #361 closed

[2020-10-08 06:26] #334 closed

[2020-10-08 06:27] #349 closed

[2020-10-08 06:28] #353 closed

[2020-10-08 06:30] #427 closed

[2020-10-08 06:32] #504 closed

[2020-10-08 06:33] #559 closed

[2020-10-08 06:40] sirsiegfrieds commented on #740
I have change of climate. It doesn't work like i want him to work :). So i have changed him :).

[2020-10-08 06:40] #740 closed

[2020-10-08 14:26] crxporter opened #771 "[question] Problems with TimerEvent in logs"
I'm running into an issue with my setup (installed in docker, running on a pi 4 with a zooz stick, everything should be up to date).

Some questionable logs during startup:
[code]

These TimerEvent warnings continue and get more frequent as the system runs. Then finally early this morning when everyone was sleeping, we run out of space in the buffer and the system stops responding:

[code]

I'm ha

[2020-10-08 16:06] robertsLando commented on #771
@crxporter Definetly that's something I cannot handle, it's on OZW side I'm sorry

[2020-10-08 16:19] robertsLando commented on #771
What USB stick are you using? How is it connected?

[2020-10-08 17:35] robertsLando commented on #771
@crxporter check:

https://github.com/OpenZWave/Zwave2Mqtt/issues/141

[2020-10-08 18:07] crxporter commented on #771
It's a pi 4 running the stick plugged into USB 2. I'll have a look at #141 thanks. I've been running it like this for 7 or 8 months now? This is only the second crash.

Do you have any comments on the "Cant Find TimerEvent to Delete in TimerDelEvent"? I don't know what these are but they're in the logs constantly but only started about 22 hours after starting the docker package.

[2020-10-08 18:35] robertsLando commented on #771
Never saw such logs, are you running latest version of z2m ? What’s the ozw version shown in control panel?

---

Daniel

[2020-10-08 18:36] robertsLando commented on #771
The only reference Ihave found is about 2 years ago:

https://github.com/OpenZWave/open-zwave/issues/1720

[2020-10-08 18:50] crxporter commented on #771
I believe I have the newest things. I'm running z2m 4.0.4 - it shows ozw version 1.6.1280.

[2020-10-08 20:08] robertsLando commented on #771
Could you try to use dev tag?

---

Daniel

[2020-10-08 20:40] crxporter commented on #771
I'd be happy to try dev, how do I do it and what would I be looking for?

I'll probably wait until the next crash - then enable dev tag. So it'll be a bit before I have more logs to share.

[2020-10-09 06:00] robertsLando commented on #771
Just use `dev` instead of `latest`

[2020-10-09 07:41] robertsLando commented on #755
@pdbogen Did you try with my suggestion?

[2020-10-09 13:54] alex-savin opened #773 "[bug] Lock "Alarm Level/Type additional sensors" are no more presented"
Build/Run method
- [*] Docker

Zwave2Mqtt version: 4.0.4
Openzwave Version: 1.6.1280

**Describe the bug**
No more additional sensor for lock device (alarm_level/alarm_type)

**Expected behavior**
Based on these sensor that was possible to figure out what lock code had been used to unlock a lock and the state of a lock

[2020-10-09 22:48] pdbogen commented on #755
I worked around it in my case by changing automations in question to publish mqtt directly with integer values instead of making HA climate changes.

I still intend to dig around and find out why the behavior differs for different numbers of decimal places, but I'm thinking maybe the issue is somewhere with ozw itself, or maybe even it's device-specific. I'll update this issue with any findings..

[2020-10-12 06:37] oddgili opened #779 "/var/lib/docker/containers large log file[question]"
Hi,
After have been running Z2M for about 2 weeks, the application stoppet working, apparently alive, but no traffic, the controller had filled all storage space. I found a log file in /var/lib/docker/containers/[directoryid]-json.log at 2.5 Gbyte, not a trivial thing on a Pibased controller with 8GB total storage. Digging into the file, this was log entries from Z2M, and after deletion of the fil

[2020-10-12 07:48] robertsLando commented on #779
@oddgili Did you try to set log driver to none?

[2020-10-12 08:04] robertsLando commented on #773
@alex-savin Could you try to send a refresh node info command against the node? Do you have automatic zwave db updates on?

[2020-10-12 08:04] robertsLando commented on #755
@pdbogen Ok closing this for now, feel free to comment if there are updates

[2020-10-12 08:04] #755 closed

[2020-10-12 08:19] oddgili commented on #779
Where would I do that? (The Looging switch in Zwave setting is off) The log grows by 1-2 MB by the hour.

[2020-10-12 08:33] chrisns commented on #779
https://medium.com/@Quigley_Ja/rotating-docker-logs-keeping-your-overlay-folder-small-40cfa2155412 you can have docker limit/rotate for you

[2020-10-12 08:35] robertsLando commented on #779
@oddgili That is just for openzwave library logging, z2m logging is another thing, as @chrisns said you can also opt for log rotation but IMO if you are using an rpi I suggest to disable logging driver and enable it just when you need to debug something to limit writes on the card (and make it last longer)

[2020-10-12 08:36] #779 closed

[2020-10-12 08:40] oddgili commented on #779
Thank you, I might wondered if this was a "Docker" issue and not Z2M specific, but you probably just saved my day. (My house was unpleasantly cold the other day, and I live in Norway)

[2020-10-12 09:07] robertsLando commented on #779
It's not an issue at all, you should always rotate your logs in any application to ensure this kinf of problems but I really suggest to disable them at all in a rpi with sd card :)

[2020-10-12 10:09] chrisns commented on #779
further to @robertsLando comment, yeah thrashing the sd card will kill it, you can mount a ram disk and store logs there so you've got some persistence. it is sometimes handy to look back a bit and the logs will hang around till you reboot at the expense of some ram

[2020-10-13 07:28] darkbasic opened #784 "[bug] Qubino Flush Shutter DC (venetian mode) does not reflect vertical height/tilt position"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 4.0.4
Openzwave Version: 1.6.974

**Describe the bug**
![192 168 1 148_8091_ (1)](https://user-images.githubusercontent.com/1047358/95828618-7dcdd000-0d35-11eb-858f-16fc703eea66.png)

None of the levels reflects the vertical height/tilt position of the venetian

[2020-10-13 07:57] sirsiegfrieds opened #785 "[bug]"
**Version**

Build/Run method
- [x ] Docker

Zwave2Mqtt version: 1.2.3
Openzwave Version: 1.6.1280

**Describe the bug**
Hey there, i'm using a fibaro fgs-212 for automate an heater,
It's works fine 50% , but sometimes it's going down and it's spamming in logs somethings like that :

[code]

When the problem is here, no device are working .
Sorry for my english, i'm french :).

[2020-10-13 08:47] LordMike commented on #405
@robertsLando I have no need for this issue to stay open, so you can close it if you want :).

I've ended up taking complete control of the entities. I let Z2M send to a different discovery topic prefix, and then I copy those I need over to the actual discovery topic prefix.

[2020-10-13 08:56] sirsiegfrieds commented on #785
I have reproduced the errors changing température on a climate ( in home assistant )

[code]

That's the starting of the error 👎🏻

[2020-10-13 09:21] robertsLando commented on #785
@sirsiegfrieds The problem is not z2m related, it could be something with your device or a bug in openzwave library

[2020-10-13 09:25] robertsLando commented on #784
Could you append some logs?

[2020-10-13 09:26] robertsLando commented on #405
@LordMike Ok perfect, thanks :)

[2020-10-13 09:26] #405 closed

[2020-10-13 09:28] #329 closed

[2020-10-13 09:45] sirsiegfrieds commented on #785
in my vm i have those bug 👍🏻
https://media.discordapp.net/attachments/699736270284390420/765504372267941938/unknown.png

I have changed something and i will try

[2020-10-13 10:11] p4p3r commented on #329
@rflx18 the changes just merged should fix the discovery for the Philio too.
FYI, you will likely still need to additionally do something along the lines of what @squiddity suggested in his comment above: https://github.com/OpenZWave/Zwave2Mqtt/issues/329#issuecomment-640687938

In my case (Aeotec NanoShutter ZW141) I'm using the following configuration in Homeassistant to get up/stop/down and pos

[2020-10-13 10:27] sirsiegfrieds commented on #785
Problem still here, i'm gonna call help on a debian forum thanks ...

[2020-10-13 13:58] darkbasic commented on #784
I compiled latest OpenZWave and zwave2mqtt (both from git master, no docker). I also switched to my AEON Labs Gen5 I use for testing purposes.

![localhost_8091_](https://user-images.githubusercontent.com/1047358/95870218-88f02280-0d6c-11eb-91cf-eef5806997f2.png)

Please note that this Flush Shutter is set in the simpler "shutter" mode instead of "venetian".

The same problem persists. Here are th

[2020-10-13 16:27] darkbasic commented on #784
I get the very same issue with open-zwave 1.4 from the hass fork (https://github.com/home-assistant/open-zwave) which **DOES** work in HA. Strange... maybe it has something to do with zwave2mqtt after all?

![localhost_8091_ (1)](https://user-images.githubusercontent.com/1047358/95888508-73d1be80-0d81-11eb-9402-2eb612046f0d.png)

[code]

[2020-10-14 00:08] #541 closed

[2020-10-14 00:08] #328 closed

[2020-10-14 00:08] #282 closed

[2020-10-14 00:08] #268 closed

[2020-10-14 00:08] #255 closed

[2020-10-14 07:15] robertsLando commented on #784
I'm investigating but cannot find what's wrong here

[2020-10-15 07:34] robertsLando commented on #785
Let me know if there are any updates here, closing this for now as it's not z2m related

[2020-10-15 07:34] #785 closed

[2020-10-15 10:06] PhiSDev opened #790 "[feat] More customisable MQTT topics"
**Is your feature request related to a problem? Please describe.**
I do have the problem of using the right topics. I would expect to have more flexibility choosing the topic of each node at least in the _Configured Manually_ - mode. At the moment it possible because of the restriction of the node location.

**Describe the solution you'd like**
As [HIVEMQ](https://www.hivemq.com/blog/mqtt-essentia

[2020-10-15 10:19] robertsLando commented on #790
@PhiSDev use location? If you set a location to a node that will be added to the topic (also check mqtt settings if this is enabled)

[2020-10-15 10:20] #790 closed

[2020-10-15 10:42] PhiSDev commented on #790
@robertsLando Both is not possible because the form says:
`Only a-zA-Z0-9_- chars are allowed`

[2020-10-15 14:09] robertsLando commented on #790
@PhiSDev  Ok sorry forgot about that regex, I could allow the / chars, but I would also like to know if you tried to add a location to the node, that should work. I mean if you add a location `firstfloor` and a node name `device` the topic will be

`<prefix>/firstfloor/device/<valueId>`

[2020-10-15 14:37] tm1m1tw commented on #445
So I am having similar issues using the GC-TBZ48 in 'Auto' mode and landed on this page during my investigation.

Please don't go Stale....I would like to see these last few changes added as I hope they will help solve my thermostat shenanigans.

@robertsLando I know you are busy person and I want to thank you for all your work thus far but I was wondering if there was a specific reason for omitti

[2020-10-15 14:41] robertsLando commented on #445
@tm1m1tw I think I have missed this, @travisghansen is just that snippet missing? I mean:

[code]

[2020-10-16 01:53] alex-savin commented on #773
@robertsLando it doesn't help

[2020-10-16 06:07] robertsLando commented on #773
Could you try to revert to a previous z2m version? I would like to know if something is broken, anyway if a value is missing it's more likely a problem on ozw side

[2020-10-16 08:52] ahochsteger commented on #490
I want to support the use case of @LordMike, since I just fell into the same trap thinking that half of my devices don't have a connection to the Z-Wave network anymore because of showing days-old "Last Active" values.
Is there a work-around possible?
I'm also willing to get my hands dirty and try to adjust the code myself, if someone could point me to the right direction ...

[2020-10-16 09:35] ahochsteger opened #792 "[bug] Rows per page on node list table is not working as intended"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 1.2.3
Openzwave Version: 1.4.1

**Describe the bug**
The drop-down in the footer of the node list always shows the default of "5, 10, 15, All" instead of the currently intended "10, 20, All".

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Control

[2020-10-16 09:38] robertsLando commented on #792
Vuetify break I think, I see you have a fix, PR?

[2020-10-16 09:42] robertsLando commented on #490
@ahochsteger

`lastActive` is updated on `lib/ZwaveClient`:

Node status: https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/ZwaveClient.js#L469
Notification: https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/ZwaveClient.js#L575

You could simply add it there too: https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/ZwaveClient.js#L506

But you need to call `this.emit('nodeStatus', o

[2020-10-16 09:43] #792 closed

[2020-10-16 09:50] ahochsteger commented on #490
@robertsLando, thanks for the hint, seems to be straight forward - I'll give it a try :-).
Do you think that adding the event emit might cause performance problems in the UI if you have a large number of nodes?
For example I have currently more than 60 active devices.

[2020-10-16 10:21] ahochsteger commented on #490
@robertsLando, I've got a few more questions:

**(1) HOWTO Question**
What's the desired way of running z2m in development mode while accessing the serial device and setting all zwave configuration?
I tried to do it using `npm run dev` and put all settings into the Zwave section while disabling the gateway (as I do not want to send messages to the MQTT broker during development) but it doesn't see

[2020-10-16 11:45] robertsLando commented on #490
`npm run dev` starts the frontend in development mode at the port `8082` with hot reloading feature. You also need to start the backend in another terminal with `npm start` or `node bin/www` or `nodemon bin/www` if you want also the hot reloading of the server in development mode

[2020-10-16 11:53] PhiSDev commented on #790
@robertsLando
No problem :)
This way of using the location does work. I prefer to group my devices into rooms as well. When I add `firstfloor` to location I have your solution. Do I wanna have a room as group as well I'm not able, because the value topic I can modify would end in a solution like `<prefix>/firstfloor/device/bath/level` in case of a value topic `bath/level`.

Do you know what I mean

[2020-10-16 12:58] robertsLando commented on #790
I understand. I will submit a pr for this

[2020-10-16 13:12] robertsLando commented on #790
Done

[2020-10-16 13:43] robertsLando commented on #773
@alex-savin Also firstly try to use latest 4.0.5 version that also has latest ozw stable version

[2020-10-16 13:55] billimek commented on #744
I'm experiencing the same issue with a different model Leviton zwave switch (`DZPA1`).

When toggling the power on->off, the zwave controller starts dumping similar logs as above.

In addition,

* Even with zwave logging disabled, the following gets logged repeatedly without end in the zwave2mqtt docker container - it's about 5 entries/second
* Even with zwave logging disabled, the overall zwave c

[2020-10-16 14:01] robertsLando commented on #744
@billimek Are you sure you haven't enabled logging for that value? I mean check on Settings > Gateway > Values Table if you have that value in that table and the logging is enable that is the problem

[2020-10-16 14:02] billimek commented on #744
@robertsLando this is the setting?
![image](https://user-images.githubusercontent.com/6393612/96268183-bc15fa00-0f96-11eb-958d-d8ba0e16411a.png)

[2020-10-16 14:07] robertsLando commented on #744
@billimek Nope I mean the table. Colud you please try to add that value to the table and __NOT__ enabling the `enable poll` flag?

That should call disable poll of that value automatically and may fix the problem

[2020-10-18 22:23] simplenotezy commented on #145
Would love this

[2020-10-18 23:03] crxporter commented on #145
@simplenotezy if you’re interested I’d be happy to guide you through the setup as I have built it. I’m running all my Zwave (sensors, switches, curtain, dimmer) through nodered into homekit.

Here’s a link to our nodered homekit project, if you head to the discord linked on the readme, that’s where you’ll find me pretty much every day.

https://github.com/NRCHKB/node-red-contrib-homekit-bridged

[2020-10-18 23:09] simplenotezy opened #801 "[bug] NPM Crashes when saving settings and wont rerun"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 4.0.5
Openzwave Version: 1.4.79

**Describe the bug**
I went to the config interface as per the documentation, and upon hitting save, I got this error:

[code]

[2020-10-19 07:25] robertsLando commented on #801
OZW 1.4 isn't supported anymore try with  OZW 1.6

[2020-10-19 07:25] #801 closed

[2020-10-19 07:33] #490 closed

[2020-10-19 10:33] simplenotezy commented on #801
Hi @robertsLando. Apologies if I am asking stupid questions, but I just got into this. I installed a Raspberry PI with homebridge yesterday, and I tried following your documentation, but 1.4 is the version I got following that.

Nevertheless, I have tried searching of any 1.4 package, uninstalling, removing the whole `Zwave2Mqtt` folder and then reinstalling again from scratch.

I'd like some inst

[2020-10-19 10:36] simplenotezy commented on #145
Awesome @crxporter. I'll message you directly

[2020-10-19 11:27] simplenotezy opened #802 "[question] How do I add a new device via the UI?"
So I setup basic configuration, it uses my Z-Stick and I believe I can search for devices.

I have my Thermostat in my hand, and did a factory reset of the device, so I guess then it becomes "pairable". I then went to the UI and clicked "Add Node" and clicked yes to "Pair in security mode" (whatever this means?).

The "Controller Status" is then "AddDevice Completed", but the Node does not show up

[2020-10-19 11:53] simplenotezy commented on #802
Okay, so I went ahead and looked in the logs of the "npm start" command, and when adding a new device I see this:

[code]

Which I guess is positive.

Now the question remains; how do I make it appear as a node/devices in the list /// how do I control it?

[2020-10-19 12:18] robertsLando commented on #802
@simplenotezy This requires at least a minimun knowledge about how zwave works. Anyway you have to put your device in inclusion mode and enable inclusion on the controller (throught the controller phisical button or by using 'Add Node' api) and then the device once successfully paried will appear on the ui. Also just enable security if your device support it and if you have set an encryption key o

[2020-10-19 12:18] #802 closed

[2020-10-19 12:22] robertsLando commented on #801
@simplenotezy I suggest you to use the docker way, it's lot easier for you as everything is setup with just one command

[2020-10-19 13:26] simplenotezy commented on #801
@robertsLando Great thanks! Got any installation guides for setting that up on homebridge/raspberry pi?

[2020-10-19 13:47] PhiSDev commented on #790
Thank you very much!

[2020-10-19 13:49] robertsLando commented on #790
You welcome :smile:

[2020-10-19 13:50] robertsLando commented on #801
Nope

[2020-10-20 00:33] j3kestrel opened #803 "[question] Docker pulls wrong arch, armv6 vs armv7?"
I'll assume that the problem is mine, but I can't find the answer.  It took substantial digging to figure out the core problem, if not the root problem.  This seems more like a forum question, and possibly a generic docker question, but I'm not sure what forum to use and hope I can get at least a lead, if not a solution here.

I am running Zwave2Mqtt on a Raspberry Pi Zero-W running Rasbian Lite.

[2020-10-20 07:00] robertsLando commented on #803
@chrisns Do you know what could cause this?

 @j3kestrel We use docker buildx to build and push multi-arch images on docker-hub. I dunno what could cause this kind of problems and if there is one it could be something related to buildx? Could you please try to delete all your local images about zwave2mqtt,  and retry with latest `4.0.5` version?

[2020-10-20 07:04] chrisns commented on #803
We do build and push linux/arm/v6
You could perhaps try pulling the codebase and building it yourself and compare the image metadata
I've not got a pi zero to hand to test myself

[2020-10-20 11:04] darkbasic commented on #784
It was a calibration problem, I'm closing it.

[2020-10-20 11:04] #784 closed

[2020-10-20 11:25] robertsLando commented on #784
Glad you fixed it

[2020-10-20 12:31] wilmardo commented on #803
This is a common problem on armv6 there seems something wrong with Docker. I ran into this with Rhasspy, they have these instructions in their manual:
https://rhasspy.readthedocs.io/en/latest/installation/#raspberry-pi-zero

You should be able to adapt these to zwave2mqtt easily. If not, let me know and I will guide you trough :)

[2020-10-20 12:33] wilmardo commented on #803
Just found the Docker issues:

https://github.com/moby/moby/issues/41017
https://github.com/moby/moby/issues/34875

[2020-10-20 12:51] robertsLando commented on #803
@wilmardo Sorry but based on https://rhasspy.readthedocs.io/en/latest/installation/#raspberry-pi-zero shouldn't be you to do that? I mean, you should enable experimental features on your docker instance so the image pulled is the correct one?

[2020-10-20 13:04] benchdog93 opened #804 "GE/enbrighten switches[question]"
When adding name in control panel switches become disabled, remove the name in control panel and the are active again. Dimmer does not retain its position and needs multiple clicks. The way I would expect the dimmer to work would be a single click on, set brightness, a single click off, and for the brightness level to be maintained. At least that how they worked with past applications I have used.

[2020-10-20 14:00] wilmardo commented on #803
Ah sorry re-reading it might not have been clear. This for sure is a local environment issue and has nothing to do with Zwave2MQTT.

@j3kestrel should be the doing these actions. He is the you in the above quote :)

It might be nice to include the instructions somewhere since it a known issue and has been known for quite some time (2017)

[2020-10-20 14:05] robertsLando commented on #803
@wilmardo I'm ok to add it to docs, but based on my experience I know 90% of users don't read docs at all, so since this is just related to Rpi zero I will change the title of the issue, hopefully users will find this issue once they are opening a new one. Thanks for your findings about this problem :)

[2020-10-20 14:05] #803 closed

[2020-10-20 14:07] wilmardo commented on #803
Raspberry Pi 1 is also affected, no need to put it in the title but this message should make it available in the search :)

[2020-10-20 14:07] robertsLando commented on #804
Sorry but I don't understand what you mean, are you speaking about home assistant switches or switches in z2m control panel?

[2020-10-20 14:08] robertsLando commented on #803
Thanks again @wilmardo :+1:

[2020-10-20 14:13] j3kestrel commented on #803
I have skimmed the above links.  It looks to me like a docker issue with possible work-arounds. With some guidance on how you would like the documentation structured, I can test some work-arounds and submit a pull request with docs.  I can suggest either something near the bottom of the top level README.md, or a reference in the top level README.md to a separate file.

[2020-10-20 14:15] j3kestrel commented on #803
I'll try the work-around suggested in @wilmardo's rhasspy link and summarize results.

[2020-10-20 14:26] benchdog93 commented on #804
I am talking about z2m control panel. I can rename them in HA fine but that does not show their name in the z2m control panel. I have the 14288 Duplex Receptacles (GE (Jasco Products)) that allow me to add a name in the z2m control panel and work as expected. I have several of these receptacles and switches to add and it would make it easier to manage having their name and location in the z2m cont

[2020-10-20 15:28] robertsLando commented on #804
@benchdog93 Could you show me a gif that shows this ?

[2020-10-20 16:34] benchdog93 commented on #804
![z2m_control_panel](https://user-images.githubusercontent.com/51010158/96616311-6ad87400-12d0-11eb-8e64-3314a52e21d9.GIF)

Attached is the screen shot of my z2m control panel. I think this is what you are asking for.

[2020-10-20 16:37] benchdog93 commented on #804
![mqtt](https://user-images.githubusercontent.com/51010158/96616933-f5b96e80-12d0-11eb-8592-7b943a254d91.GIF)

This is what it looks like in mqtt

[2020-10-20 16:53] benchdog93 commented on #804
![devive_in_mqtt](https://user-images.githubusercontent.com/51010158/96618668-3b773680-12d3-11eb-8db4-f1e21ed6def6.GIF)

This is where I rename it for HA

[2020-10-21 06:52] robertsLando commented on #804
@benchdog93 When you rename it it looses the reference in zwave2mqtt, you should rename it on zwave2mqtt

[2020-10-21 13:00] benchdog93 commented on #804
This is my issue. When I rename swithes, I've listed above, in zwave2mqtt I can not operate the switch in Home Assistant, When clicking on the switches to change state it changes for an instant then returns back and no longer operates. It is the same with both types of switches listed. Also when I remove the name in zwave2mqtt the switches operate in HA. I can rename these switches in mqtt but thi

[2020-10-22 06:16] robertsLando commented on #804
@benchdog93 After renaming themyou hae to press on `Rediscover node` because the name is part of the topic

[2020-10-22 06:16] robertsLando commented on #804
Also you should enable retain in mqtt settings

[2020-10-22 15:12] benchdog93 commented on #804
I am away until Monday and see if these changes work.

Thank you

[2020-10-23 03:55] benchdog93 commented on #804
I was able to work on it tonight. Does not work still. I had already tried Rediscover Node in the past.

[2020-10-23 11:52] robertsLando commented on #804
Could you show me your settings?

[2020-10-23 15:23] benchdog93 commented on #804
Screen shots of my settings

![zwave](https://user-images.githubusercontent.com/51010158/97022195-d49b8c80-1521-11eb-9e26-309c5628b820.GIF)
![mqtt](https://user-images.githubusercontent.com/51010158/97022230-dc5b3100-1521-11eb-86d2-7ae71788ba42.GIF)
![gateway](https://user-images.githubusercontent.com/51010158/97022261-e4b36c00-1521-11eb-99eb-40dd02ce8663.GIF)

[2020-10-24 21:09] darkbasic commented on #513
I had the same issue, this is due to some communication error occurred when openzwave queried for the node.
The solution is to stop zwave2mqtt, remove the node from ozwcache_xxx.xml and restart it to let it requery the node.

[2020-10-25 14:05] darkbasic commented on #172
Regarding nodes showing `Unknown: type=0000, id=0000 (Unknown: id=0000)` I think this is due to some communication error occurred when openzwave queried for the node. The solution is to stop zwave2mqtt, remove the node from ozwcache_xxx.xml and restart it to let it requery the node. Maybe "Refresh node info" could help as well, but I didn't try.

Regarding secure nodes, instead, "Refresh node info

[2020-10-25 21:14] robertsLando commented on #172
Hopefully this will no more happen after the transition to the new lib

[2020-10-25 22:33] crxporter commented on #771
An update on this. The big issue locking up my system seems to be related to the power issue. Today I’ve set up an extra power supply for the zooz stick, I’ll watch it for a week or two then come back to update and close the issue.

Thanks again.

[2020-10-26 09:32] robertsLando commented on #771
@crxporter Glad you fixed it! I'm sorry I couldn't help so much. Hope there will be no problems

[2020-10-26 09:32] #771 closed

[2020-10-26 09:35] robertsLando commented on #804
@benchdog93 From a settings side everything seems good. As I can see you are using node names in nodes so when you chage them also topics of that node will change and you will need to rediscover that specific node to update discovery tepmplates with updated topics. I think there should be  a user error somewhere in the process because I cannot see anythign wrong here

[2020-10-27 02:48] jtronicus opened #811 "[bug] Brightness set via mqtt is not the same value transmitted to LED strip"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 4.0.5
Openzwave Version: 1.6.1392

**Describe the bug**
When setting the brightness for a zwave LED strip, the value set via mqtt is not the value passed to the device.

**To Reproduce**
Steps to reproduce the behavior:
1. Pass a payload of 8 to node 40 (zwave/4

[2020-10-27 07:09] robertsLando commented on #811
@jtronicus Do you have hass discovery enabled? If so it's due to this: https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/Gateway.js#L618

[2020-10-27 14:07] jtronicus commented on #811
Yes, I did have hass discovery enabled (but I wasnt actually using that feature).  Disabling it resolved the issue.  Thanks!

[2020-10-27 14:07] #811 closed

[2020-10-30 15:52] benchdog93 commented on #804
I will need to figure it out I don't see any user errors. When I have a day to dedicate to it I will and let you know.

Did you look at the dimmer switch issue I am seeing? I have not look at that for a while.

[2020-10-30 15:54] robertsLando commented on #804
Yes I looked at it but can't figure out what's wrong there, I'm sorry :( let me know if you find something that I can help

[2020-10-30 22:42] jtronicus opened #812 "[bug] Incorrect color "Target Value""
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 4.0.5
Openzwave Version: 1.6.1392

**Describe the bug**
Web Interface and MQTT do not appear to populate the "Target Color" field correctly.  I am not sure if this is an issue with Zwave2MQTT, or is an issue in OZW itself

**To Reproduce**
Steps to reproduce the

[2020-10-31 10:09] Jeoffreybauvin opened #813 "[bug]"
If an admin can edit the title, I made a mistake while publishing it :(.

**Version**

Build/Run method
- [x] Docker

Zwave2Mqtt version: 4.0.5
Openzwave Version: 1.6.1280

**Describe the bug**
From time to time, all my nodes are reporting as "dead", even my controller (Z-Wave Plus Z-Stick GEN5 - Aeon Labs)

![](https://cdn.discordapp.com/attachments/671117000055193621/772032576490962944/unknown.p

[2020-11-02 08:08] robertsLando commented on #813
I think there is a problem with the controller, nothing related to ozw or z2m. Try to exclude all nodes, reset your controller and add them back again

[2020-11-02 08:08] #813 closed

[2020-11-02 09:09] robertsLando commented on #812
@jtronicus Does a refresh of the page show the correct value? Did you see if in z2m logs you get a `value changed` log ?

[2020-11-02 13:38] dr1rrb commented on #738
Hey @robertsLando , I finally took time to validate that.

So for the discovery I used
[code]
Note: No `name` nor `unique_id`. Setting any extra property will fail the discovery.

Then in the HA's Automation UI it adds a well named trigger:
![image](https://user-images.githubusercontent.com/8635919/97871231-2b535400-1ce2-11eb-83af-e8f6f2543310.png)
The text in the red rectangle is **_"Turn off" do

[2020-11-02 14:11] crxporter commented on #771
The `ERROR: Not enough space in stream buffer` errors are back, even with the external power supply.

Any other ideas for a permanent fix?

[2020-11-02 14:14] robertsLando commented on #771
Hopefully this: https://github.com/zwave-js/zwavejs2mqtt

[2020-11-02 14:18] crxporter commented on #771
Oh wait what's this??!! Are you leaving openzwave, @robertsLando ?

[2020-11-02 14:19] robertsLando commented on #771
I'm not leaving it, I'm looking forward for something better :) in the meanwhile I will keep working on this too.

[2020-11-02 14:30] dr1rrb commented on #738
BTW I just realized that if for the `subtype` would could just use `button_<index>`, there is no easy conversion between central_scene items in the OZW device config and the `type` of the HA discovery. But the HA's doc states

So I tried to alter my discovery config to use the config's `label` as `type` and `subtype`:
[code]

then in HA automation UI:
![image](https://user-images.githubusercontent

[2020-11-03 02:55] jtronicus commented on #812
Refreshing the page does not show the correct value.

When you mention the z2m logs, are you referring to the OZW_Log.txt file, or is there another log I am not aware of?

In the OZW_Log.txt file, I do see an entry about an updated Color Target (this makes me think it is more of an OZW issue, and not Zwave2MQTT)
[code]

The correct Color Target value above should be `#FF00000000`

The MQTT topic i

[2020-11-03 07:23] robertsLando commented on #812
@jtronicus If you are using docker you should check docker logs or from the ui go to control panel and then select the debug tab under the table. There you will see z2m logs. I would like to know if there is a value changed event that is missed

[2020-11-03 08:26] robertsLando commented on #738
@dr1rrb Are you able to submit a PR for this? :)

[2020-11-03 13:11] Jeoffreybauvin opened #814 "[bug] MQTT offline, reconnecting, connected, ..."
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: latest
Openzwave Version: 1.6.0

**Describe the bug**
Following #813, I move the stick to another host. Everything is working fine, my devices are not dead anymore, but I have a lot of these in my logs :

[code]

And I have a lot of messages coming to zwave2mqtt

[2020-11-03 13:27] dr1rrb commented on #738
@robertsLando I would love to, but I already have a lot of pending projects (the life story of all of us ;)). So it probably won't be before the end of this year. Meanwhile I can do real world tests if someone wants to do this.

[2020-11-03 13:28] robertsLando commented on #814
@Jeoffreybauvin I usually have expected this behaviour when there are multiple clients connected with the same id to the broker, do you have multiple instances of z2m running or some other client connected to the broker with the same client id?

[2020-11-03 13:33] robertsLando commented on #738
@dr1rrb I keep it in my todos for now but I'm also working on z2m successor (https://github.com/zwave-js/zwavejs2mqtt) and it will take me some time :)

[2020-11-03 14:24] Jeoffreybauvin commented on #814
Hi @robertsLando

Indeed, I had two clients connected with the same id.  Is there a way to use a different id ?

[2020-11-03 14:25] robertsLando commented on #814
Change the name on mqtt settings :)

[2020-11-03 14:26] #814 closed

[2020-11-03 14:26] Jeoffreybauvin commented on #814
Indeed, perfect :).

Thanks @robertsLando  !

[2020-11-03 15:17] l3arcf commented on #744
PR mentioned earlier (OpenZWave/open-zwave#2370) has been merged. I assume it will be trivial to include that in Zwave2Mqtt now.

[2020-11-03 15:35] jtronicus commented on #812
It looks like it is picking up the value changed event (its just the wrong value)

[code]

[2020-11-03 15:42] robertsLando commented on #812
Did ypu tried to use maiusc FF? Instead of ff? Anyway the event you see there are the ones coming from ozz

[2020-11-03 15:59] robertsLando commented on #744
@l3arcf just need to wait next release

[2020-11-03 16:04] jtronicus commented on #812
Yes, I did try both uppercase FF and lowercase ff, and it made no difference.  However, I agree that this is not an issue with Zwave2MQTT.  It looks like an OZW issue.  I will close this issue and open a new one on the openzwave github.

Thanks!

[2020-11-03 16:04] #812 closed

[2020-11-03 18:49] hyperbolic2346 commented on #744
@robertsLando is that on a periodic schedule or as-needed?

[2020-11-03 19:44] robertsLando commented on #744
It depends when ozw releases a new stable at old.openzwave.com/downloads. After that I can bump the version on dockerfile and create a new release

[2020-11-03 19:52] robertsLando commented on #744
Just saw there is a new stable 1.6.1510, will update tomorrow

[2020-11-04 08:53] robertsLando commented on #744
@hyperbolic2346 @l3arcf New version released, will be available on dockerhub in an hour or less :)

[2020-11-04 08:53] #744 closed

[2020-11-09 00:20] PavelD opened #820 "[bug] Measured temperature offset 128 not allow to set air temperature"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 4.0.6
Openzwave Version: 1.4.1

**Describe the bug**
The Air temperature is read only when set to external sensor.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to EUROtronic EUR_SPIRITZ Wall Radiator Thermostat.
2. Check the 49-1-1:Air Temperature. I

[2020-11-09 08:07] robertsLando commented on #820
@PavelD Hi PavelD! If the value is reported as read-only it means ozw is reporting it to me as it,did you try to open an issue on ozw repo?

[2020-11-09 08:10] robertsLando commented on #820
Also I see you are using ozw 1.4 that could have some issues with latest z2m version, I suggest to update to ozw 1.6 and retry

[2020-11-09 13:54] PavelD commented on #820
Hi Robert,

Thanks for your answer. I'm using your image robertslando/zwave2mqtt:latest and the version of z2m i find out from the docker file present on that place (https://hub.docker.com/r/robertslando/zwave2mqtt/dockerfile).

Here is what i'm currently running:
$ docker images | grep zwave2mqtt
robertslando/zwave2mqtt            latest              2f9529847871        5 days ago          191MB

[2020-11-09 13:57] robertsLando commented on #820
Ok so I think you forgot to edit the openzwave version in your issue :) It's 1.6 not 1.4.

As I said in my previous comment if this value is reported as read-only it means that Openzwave (the library that I use to communicate with the controller) is sending me that value as read-only value. So the problem should be there

[2020-11-09 13:58] PavelD commented on #820
So sorry. I grep the logs again and i see it now. Version is 1.6.

2020-11-06T07:23:14.869Z z2m:Zwave Zwave connected, Openzwave version: 1.6.0

[2020-11-09 14:06] PavelD commented on #820
I will open issue in OpenZWave/open-zwave. Thanks for your time!

[2020-11-09 14:06] #820 closed

[2020-11-09 14:32] robertsLando commented on #820
Sorry I just checked again your issue, the command class 49 is `COMMAND_CLASS_SENSOR_MULTILEVEL` and it's obiviously read only. You should check for `COMMAND_CLASS_THERMOSTAT_SETPOINT` in the ui in order to set a value

[2020-11-09 23:48] ingenium13 opened #822 "[bug] Brightness and power on templates cause 100% brightness to exceed valid brightness values"
**Version**

Build/Run method
- [ X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 4.0.5
Openzwave Version: 1.6.1392

**Describe the bug**
The hass json for Leviton DZ6HD-1BZ Decora 600W Smart Dimmer has templates that cause 100% brightness to exceed the max value for Home Assistant. 100% brightness is converted to a value of 258, but HA only

[2020-11-10 00:31] arlenarlenarlen commented on #803
I had the same issue on a Pi Zero, found this thread, and was able to fix it by:
* following [the instructions wilmardo mentioned](https://rhasspy.readthedocs.io/en/latest/installation/#raspberry-pi-zero) (or the first part of them anyway)
* adding `platform: linux/arm/v6` to my docker compose file.

Thanks folks!

[2020-11-10 07:20] robertsLando commented on #822
Hi @ingenium13 ! AFAIK that template has always work, at least until now, could be that if I fix that for you it could break existing templates, what about manually edit it in hass devices table based on your needs? Or even better if you have lot of this devices add the desired template to customDevices.json (in the correct format) and it will be applied to all

[2020-11-10 16:26] ingenium13 commented on #822
The Home Assistant docs specify that brightness should be a value between 0-255 https://www.home-assistant.io/integrations/light/ The current template results in a brightness between 3 and 258. While Home Assistant itself seems to accept 258, other things that integrate with Home Assistant do not. For example, this bug I filed against the Home Assistant Android app https://github.com/home-assistan

[2020-11-10 17:09] robertsLando commented on #822
If you store it in customDevices.js it will persist, yes

Yes but now sincerly I don't remember, when we firstly integrate light dimmers there was some bugs and that template was the final fix. Maybe @jshridha could tell you more

[2020-11-11 01:56] tommyjlong opened #824 "[bug] Gateway - Values Table (Configured Manually). Some devices don't show up in pull down"
**Version**
v4.0.5

Build/Run method
- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 4.0.5
Openzwave Version: 1.6.1392

**Describe the bug**
After upgrading to v4.05/1.6.1392, All my devices have been rediscovered and show up in the Control Panel.
All the devices of interest in the Control Panel have their "Type" "Product", etc.  filled o

[2020-11-11 07:11] robertsLando commented on #824
A device is added when it's on `ready` state. Are your devices `ready` on gateway table?

Source: https://github.com/OpenZWave/Zwave2Mqtt/blob/master/lib/ZwaveClient.js#L472

[2020-11-11 12:54] tommyjlong commented on #824
How would one go about determining if a device is ready?

[2020-11-11 13:25] robertsLando commented on #824
@tommyjlong It's the driver that reports it as ready, for sleeping devices it could take very long time to be ready

[2020-11-11 14:14] tommyjlong commented on #824
OK..my battery devices all of a sudden now show up in the G/W Table Device Pull down.  The only device that does not show up is the second of two Aeotec Range Extenders (these are the ones that only differ by node-id).  I will play with it some more and report back.

[2020-11-11 15:48] robertsLando commented on #824
Ok let me know so

[2020-11-11 15:57] ingenium13 commented on #822
Is there any documentation for customDevices.js? All I've found are a couple bug reports, but I think I can mostly figure it out from those.

I guess my question is, what parts of the hass json have to be added? Some subset of the discovery payload? If so, what is required and what is auto populated? Can I just have the parts that I want to change as an override (basically the two templates)? Or d

[2020-11-11 17:12] jshridha commented on #822
Regarding the 99 value: for the GE/jasco dimmers, sending 99 causes the device to go back to the brightness level it was at prior to being turned off. I'm not sure how the Leviton dimmers work regarding their state after they've been turned off.

[2020-11-11 17:17] ingenium13 commented on #822
For Leviton and Innovelli de

[2020-11-11 22:31] tommyjlong commented on #824
It looks like by performing a Request Node Info, one can find out if a device is **ready**.

Here is a (very) shortened version of the log outputs I conducted on the two identical AEOTEC Range Extenders (node 10 and 11 respectively).  Notice the last line showing the devices as ready:
[code]

[code]
Yet there is only one entry in the G/W Table Device Pulldown for these two devices:
`[881-189-260]

[2020-11-12 08:23] robertsLando commented on #824
If they have the same device id it's correct that there is only one entry. There is 1 for each device, if you have 2 identical devices you will always see only one there

[2020-11-12 09:05] Diddlik opened #829 "No Option to setup serial port in zwave menu"
I have installed everything in the docker according to the instructions

After startup I have no menu in the GUI to define serail port for zwave

![grafik](https://user-images.githubusercontent.com/6010713/98918709-3c644800-24ce-11eb-99d7-55c78990fe98.png)

What did I do wrong during the installation?

[2020-11-12 09:06] robertsLando commented on #829
@Diddlik Did you try to expand the zwave menu? there should be an arrow on the right to expand that

[2020-11-12 09:12] Diddlik commented on #829
ooo, no, i am so stupid...now i have it, thank you

[2020-11-12 09:12] #829 closed

[2020-11-12 10:47] robertsLando commented on #822
It's explained on readme: https://github.com/OpenZWave/Zwave2Mqtt#custom-components

[2020-11-12 16:37] tommyjlong commented on #824
OK.  Thanks for your help.
And thanks a bunch for your work on this project 👍

[2020-11-12 16:37] #824 closed

[2020-11-12 17:04] robertsLando commented on #824
@tommyjlong Glad you like it hope you have fixed your problem :)

[2020-11-13 08:06] ODINServ commented on #692
Hi,

I'm quiet new to zwave2mqtt, trying to migrate away from the openhab2 zwave binding.
Since i'm migrating i've pulled one of the FGR223 modules from the wall and placed it next to me for debugging purposes.

I am running the docker "dev" (downloaded yesterday) image on my linux pc to see of things are better on the dev branch, but that seems not to matter.

What is working fine:
* Forcing call

[2020-11-13 08:27] robertsLando commented on #692
Unfortunally I don't own this device and I don't know what's going on here, Could you enable logging and attach a log that shows this?

[2020-11-13 09:35] ODINServ commented on #692
Thx for the response,

I've noticed a second thing:
When the level reports 99 (up) and you set the "up" topic (38/1/1) to true and later to false, this behavior
 is not there.
Same counts for when the level reports 0, and requesting down.

My test network only has one node, the FGR223 module.

Timestamp: 10:16:31.716 send "true" to down command
Timestamp; 10:16:35.105 send "false" to down command

[2020-11-13 09:42] robertsLando commented on #692
@ODINServ IMO there is a problem with OZW library, the duration shouldn't be integer and is wrongly translated to a negative number. Unfortunally I cannot fix that as it's not on my library. What you could try to do is to use the new project https://github.com/zwave-js/zwavejs2mqtt it is based on a new zwave library

[2020-11-13 09:51] ODINServ commented on #692
Alright!, i will give that a try later today!

[2020-11-13 11:11] ODINServ commented on #692
Stop command works in the zwavejs2mqtt without additional updates (no rapidly flashing led)!

But there i've noticed the new "currentValue" topic only gets updated when i send a new level request and not when it is done,  i guess i will write a issue there.

[2020-11-13 13:13] robertsLando commented on #692
@ODINServ Glad it works :) PLease when opening an issue remember to also attach a log file so we can debug what's going on there :)

[2020-11-13 14:15] AlCalzone commented on #692
That's Roller Shutter 3, isn't it? AFAIK it should be controlled with the `Supervision CC` which lets us know when the motor has stopped. If that's not working, something must have broken it, because it 100% worked a while back.

[2020-11-13 14:27] ODINServ commented on #692
Yes Roller Shutter 3, ive created the issue here: https://github.com/zwave-js/zwavejs2mqtt/issues/16

[2020-11-16 08:23] #692 closed

[2020-11-16 21:22] travisghansen commented on #445
@robertsLando that..and adding the custom devices appears to be the remaining items yes.

[2020-11-18 13:35] robertsLando commented on #445
Could you explain this better ?

[2020-11-18 15:00] travisghansen commented on #445
Last I checked the code snippet didn’t land but I’ll look again today..

[2020-11-18 17:28] travisghansen commented on #445
Sorry, misread the comment earlier...adding these

[code]

[2020-11-19 07:40] robertsLando commented on #445
@travisghansen Are you able to open a pr with this changes? Otherwise I can make it, no problem, just because if you do it you could also test the changes, If I do it I cannot :) Otherwise I can create a PR for this and you could checkout that and test

[2020-11-22 08:42] homected opened #837 "Stored configuration doesn't apply after restart"
I removed some node values from Zwave devices to publish only the node values I have interest. To do this, I delete the Id I don't need and then set STORE when I have the list of values I want to publish. But when I restart the Zwave2mqtt, all id appear again and to let the configuration as I want I have to import the nodes.json. There is any way to set this configuration persistent after a restar

[2020-11-22 08:56] robertsLando commented on #837
You mean hass discovery values?

[2020-11-22 20:43] vvuk opened #838 "Turning off switch briefly reports it as back on in homeassistant, before showing off [question]"
I've got a Zooz ZEN15 power switch for a high-wattage device.  When I turn the device off via homeassistant, the device's state flicks back to on.. and only some seconds later goes back off.  If I look at the zwave2mqtt logs I see this:

[code]

I'm guessing what's happening is hass sends the mqtt message to set the device to off.  Homeassistant then refreshes the state of the device, and sees tha

[2020-11-23 03:30] idlezombie commented on #838
Have you set the qos in z2m?

I saw similar behavior in hass with my aeotec dual nanos, they all started behaving a lot better after setting z2m config for mqtt to retain and qos 2.

https://assetwolf.com/learn/mqtt-qos-understanding-quality-of-service#:~:text=Quality%20of%20Service%20%28QoS%29%20in%20MQTT%20messaging%20is,at%20these%20in%20more%20detail%20in%20a%20moment.

[2020-11-23 09:31] robertsLando commented on #838
I would suggest to set the qos to 0 and enable retain flag

[2020-11-25 15:29] homected commented on #837
Thanks Daniel, disable discovery is the solution for me. I think this option is not covered in the documentation.

Regards.

[2020-11-25 15:33] robertsLando commented on #837
Will fix docs so :) Also keep an eye on the next version of z2m here: https://github.com/zwave-js/zwavejs2mqtt

[2020-11-25 15:34] homected commented on #837
Sorry Daniel, but disable discovery is not the solution, after restart the homeassistant devide appear duplicated.

[2020-11-25 16:09] robertsLando commented on #837
Did you stored the hassDevice? If you check hass devices table, the persistent column says `Yes`? Also check if the discovery is retained and if so disable the retained discovery and delete the retained message from your broker

[2020-11-25 16:39] homected commented on #837
I attach some images to try to explain the problem, sorry for my english. I removed the homeassistant devices that I don't need from the table and then I push store. If I reboot the raspberry pi, once Zwave2Mqtt is available but Zwave network devices are not yet discovered I can check that the table is as I want, check this image:
![image](https://user-images.githubusercontent.com/2371734/10025392

[2020-11-25 16:42] robertsLando commented on #837
Wrong, you don't have to remove them, you have to disable the discovery or they will be discoverd again on next app boot

[2020-11-25 17:33] homected commented on #837
But I If I don't remove the home assistant devices entries from the table, all the entries are published to the mqtt broker, not?

[2020-11-26 07:14] robertsLando commented on #837
Nope if they are disabled :) I need to have them there with the `ignoreDiscovery` set to true to know I don't have to discover them

[2020-11-27 20:24] homected commented on #837
I don't understand, I tested some configurations and the only way to don't publish all the endpoints (the entries in the table) is remove those I have no interest from the table, but after a restart all the entries are reloaded and due to this all off them are again published. You said me that set DISABLE DISCOVERY and STORE, if I do without all the entries of the table because I deleted some of t

[2020-11-28 15:06] kwv opened #840 "[question] Roundtrip (export/import) of nodes.json fails"
Something weird is happening in my setup, in that custom names and locations are not being preserved, when pulling the latest. This means upgrading is a chore to recreate all names/values as I'm using that hierarchy in mqtt.

Looking at my `/store` directory it has
- settings.json
- openzwave/

Should I expect a nodes.json file there as well?

As a workaround to saving names ahead of upgrades,  I'

[2020-11-29 01:22] pdbogen opened #841 "[bug] with custom device thermostat, "Cannot read property 'value_id' of undefined""
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 4.0.6
Openzwave Version: 1.6.0

**Describe the bug**

This worked alright in 4.0.5, but in 4.0.6 my custom device config for my thermostat is not correctly producing HA thermostat devices.

I see this in the logs:

[code]

Here's my `customDevices.json`:

[code]

[2020-11-30 08:14] robertsLando commented on #841
@pdbogen Are you sure all your valueIds exists? Also here you are missing the `Auto` setpoint, when you set the auto mode I check for its valueId in setpoint_topic and that error could come from this:

[code]

[2020-11-30 08:44] robertsLando commented on #840
It should be there, it has been always there and I haven't changed anything to break such thing. What's the version you are running?

[2020-11-30 08:50] robertsLando commented on #837
@homected I have found where the bug could be, let me submit a fix for this now

[2020-11-30 09:31] robertsLando commented on #837
@homected Wait an hour or less for the docker build then retry this :)

[2020-11-30 09:31] #837 closed

[2020-11-30 22:39] kwv commented on #840
that was an important clue. i messed up the container path as  `/store`  not `/usr/src/app/store`

wrong:
[code]
better:
[code]

once i get all of the nodes persisted -- let me retry the "roundtrip" & if there are no issues i'll close this.

[2020-12-01 01:43] pdbogen commented on #841
oh, good call. I gather I also need one for `Off`?

[2020-12-01 07:10] robertsLando commented on #841
Nope that't the only one that doesn't need a setpoint

[2020-12-01 07:22] robertsLando commented on #840
@kwv Ok let me know

[2020-12-01 13:22] kwv commented on #840
storing each node, and using the right volume allows me to update the image in place.

However I'm still seeing "configuration not valid" when trying to export nodes.json followed by import of nodes.json.

[2020-12-01 13:42] robertsLando commented on #840
Could you show me the content of node.json?

[2020-12-01 13:42] robertsLando commented on #840
Also @kwv Consider switching to zwavejs2mqtt: https://github.com/zwave-js/zwavejs2mqtt

[2020-12-01 18:14] kwv commented on #840
looks like zwavejs2mqtt's `'latest` tags isn't publishing

[code]

here's the nodes.json for the zwave2mqtt.  this also fails to import on zwavejs2mqtt

[code]

[2020-12-01 18:51] robertsLando commented on #840
Latest isn't available yet as it's still under heavy development, use `dev` tag

[2020-12-01 23:52] kwv commented on #840
configured names/locations on zwavejs2mqtt:dev exported/imported with no problem.

Thanks!

[2020-12-01 23:52] #840 closed

[2020-12-02 10:26] Altycoder opened #843 "zwave2mqtt not starting on reboot"
Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 4.1.0
Openzwave Version: 1.6.0

After updating to the latest image 2 days ago, when I restart my Arch (LTS kernel) server, zwave2mqtt does not start correctly (doesn't function, nothing operating on port 8091) - nothing is feeding through to mosquitto.  I need to recreate th

[2020-12-02 10:29] robertsLando commented on #843
@Altycoder Consider switching to zwavejs2mqtt, The bug seems related to OZW.

https://github.com/zwave-js/zwavejs2mqtt

[2020-12-02 10:32] robertsLando commented on #843
@chrisns Maybe we should downgrade to ozw 1.6.1542 (actually it's latest 1.6.2545) http://old.openzwave.com/downloads/

[2020-12-02 10:39] Altycoder commented on #843
Why would zwavejs2mqtt be any different / better?  I don't really want to switch if I don't have to....

I thought this may have been a bug with docker or docker-compose as they were updated a few days ago as well, but both have just been updated again via the Arch repo and all my other containers seem fine so I don't think it's that.

[2020-12-02 10:43] Altycoder commented on #843
Are you going to stop maintaining zwave2mqtt in favour of zwavejs2mqtt?

[2020-12-02 10:49] Altycoder commented on #843
I've just tried pulling zwavejs2mqtt but got an error so wondering what to do now............

[2020-12-02 10:52] robertsLando commented on #843
@Altycoder The onyl tag available for zwavejs2mqtt is `dev` until there is a stable release. Anyway I don't plan to stop maintaining zwave2mqtt, this could be solved by down grading ozw version

[2020-12-02 10:58] Altycoder commented on #843
ok but the readme for zwavejs2mqtt says to pull `latest` ;-)

For now I'm going to stick with zwave2mqtt as I don't want to jump just yet.  I'm also going to review the home assistant position on their OZW move as I've lost track of that.

[2020-12-02 11:33] robertsLando commented on #843
You right, sorry! Anyway no problem, does if you downgrade to the previous z2m version it works?

[2020-12-02 11:39] Altycoder commented on #843
that's my job for this afternoon.

Do you recommend I go back to:

sha-9311ff98aa6086c85be55c79d6c3b8f2dd6b5435

or

sha-e9553ebcea38a823edfa1edcf19d0f847355c0f8

[2020-12-02 11:40] Altycoder commented on #843
or 4.0.6 even?

[2020-12-02 11:47] robertsLando commented on #843
4.0.6. If that works Iwill submit a patch release 4.1.1 with a downgraded ozw version

[2020-12-02 11:57] Altycoder commented on #843
ok I will give it a try this afternoon and report back

[2020-12-02 12:26] Altycoder commented on #843
rolling back to 4.0.6 works

[2020-12-02 12:32] robertsLando commented on #843
Ok will downgrade ozw version and release a patch for this. thanks

[2020-12-02 14:53] #843 closed

[2020-12-02 15:01] robertsLando commented on #843
@Altycoder 4.1.1 version just released with the fix

[2020-12-02 15:43] Altycoder commented on #843
OK thanks I will try this tomorrow if I can

[2020-12-02 15:52] robertsLando commented on #843
LMK

[2020-12-02 18:57] homected commented on #837
I don't use docker, I update from github to its latest version, so Zwave2mqtt is now at version 4.1.0. I try different setups and this one have the behaviour I want.

![image](https://user-images.githubusercontent.com/2371734/100917148-0e739180-34d7-11eb-83fe-db65a659a8a0.png)

To get this, first I need to delete the entries I want to publish (yes, I have to delete the ones I want to publish), so

[2020-12-03 07:17] robertsLando commented on #837
It is but it'a a work in progress :) it has some new fetaures and it's more stable z2m

I know this, sorry, I will try to make it more easy to use.

[2020-12-03 07:49] Altycoder commented on #843
4.1.1. works, thanks

[2020-12-03 07:53] robertsLando commented on #843
@Altycoder You welcome :) thanks for the report!

[2020-12-03 14:26] teknomar7 commented on #804
I was never able to get my GE dimmer / motion sensor switches to work with the default configuration in zwave2mqtt.  The regular switches work fine, but for dimmer / motion I had to disable auto discovery in zwave2mqtt for those and define them manually in the HA config file.  This is what my configuration looks like for a dimmer...

[code]

[2020-12-03 14:31] robertsLando commented on #804
@teknomar7 What's the difference from the original discover sent from z2m?

[2020-12-03 14:34] teknomar7 commented on #804
This is what it looks like for the same switch for the light_dimmer id in the json within zwave2mqtt (assume this is what you are looking for):

[code]

[2020-12-03 14:37] teknomar7 commented on #804
I think the state topic is what causes problems.  At least when I tried to define state topic in HA manually, I had issues.  Eliminating that was what solved my problem if I recall.  It's been awhile since I had to figure this out and I just cloned the solution for all the dimmers and motion sensitive GE switches.

[2020-12-03 14:41] robertsLando commented on #804
@teknomar7 Maybe this has been caused by an hass update? Because AFAIK light dimmer were working

[2020-12-03 14:44] teknomar7 commented on #804
This has been like this since I installed these switches at least few months back (4+ months if I had to guess).  I don't know if this applies to all dimmers or just the GE ones.  Also, I have not tried to auto-rediscover these to see if the problem was corrected, but sounds like it isn't if the person how opened the issue is having similar behavior.

[2020-12-03 15:02] robertsLando commented on #804
[code]

@teknomar7 What if you use this?

[2020-12-03 15:05] teknomar7 commented on #804
I never tried fixing it from the zwave2mqtt side, but maybe I'll try that one day.  Kind of taking the "don't fix it if it ain't broken" approach these days.  But perhaps I will give this a try when I am feeling like messing with stuff again.  Thanks!

[2020-12-03 15:08] robertsLando commented on #804
Let me know! It could be that something has change and that is the correct template to use for lights :) If so I can submit a PR to automatically use that

Anyway keep an eye to the future of z2m: https://github.com/zwave-js/zwavejs2mqtt

[2020-12-04 04:52] vvuk commented on #838
QoS is set to 0 and retain is enabled.  I saw in the z-wave log that there are some timeouts from this device; will dig into that too.

[2020-12-04 04:57] vvuk commented on #465
I'm about to add a whole pile of devices to my z-wave network, and would like to have them have somewhat sane names on the HA side.  One idea would be to add an additional configuration option, basically "only send hass discovery if node has a name".  If you have "use node names" AND "hass discovery" AND the new "only discover named nodes" enabled, the discovery will be created once the node gets

[2020-12-04 08:41] robertsLando commented on #838
@vvuk Also keep an eye to: https://github.com/zwave-js/zwavejs2mqtt. It's very close to a first release

[2020-12-04 08:44] robertsLando commented on #465
@vvuk I would be happy to review a PR for this. Anyway I suggest to add new features to: https://github.com/zwave-js/zwavejs2mqtt. That will be the future of this project. I will continue maintain this but would like to add features there and only fix bugs here. If you are asking for a 'why?' : https://github.com/zwave-js/zwavejs2mqtt#why-zwavejs

[2020-12-04 17:17] Diddlik opened #846 "[question] Get Zwave2Mqtt version over MQTT"
Is it possible to send a version of currently installed zwave2mqtt to mqtt?

The Idea is to create one atomation / notification if there are a new version

[2020-12-04 21:03] flaghub opened #847 "[question] Set climate custom components"
Hi,

I have Hassio installed in Docker (synology). I've installed the Zwave2mqtt plugin.
I have multiple eurotronic spirit radiator valve I'd like to configure.

I've read multiple times the documentation but I still don't understand how I could add the thermostat devices.
First I tried to find the hass/devices.js or store/customDevices(.js|.json) but It wasn't there. So I created devices.js under

[2020-12-06 16:29] EKCJ commented on #847
I don't think your code has enough values there to work. If you have another thermostat device that is working I would copy the code for that to use as a base. If you don't, here's the code for my identical Aeotec TRV:

[code]

Make sure to update the topics and device names as appropriate.

Separately, I have also been struggling with adding a new device to an existing node. I've entered my custo

[2020-12-07 06:25] dhritzkiv opened #848 "[question] How to request latest value, or force refresh of current value"
For background, I'm setting up zwave2mqtt to work with the [mqtthing plugin for homebridge](https://github.com/arachnetech/homebridge-mqttthing#readme).

If I'm connecting the mqtthing plugin (client) to the mqtt broker after zwave2mqtt has been running, what's the best way for mqtthing to be made aware of devices' current latest/values.

Listening to a topic (e.g. `ozw/2/38/1/0`, where `ozw` is m

[2020-12-07 09:16] robertsLando commented on #848
@dhritzkiv YOu should use `retain` flag for such purposes

[2020-12-07 09:20] robertsLando commented on #847
@flaghub @EKCJ Could you give a try to: https://github.com/zwave-js/zwavejs2mqtt ?

[2020-12-07 09:34] robertsLando commented on #846
@Diddlik Actually it's not possible but it's easy to implement. Anyway I would like all users to start moving to https://github.com/zwave-js/zwavejs2mqtt/ so I'm focusing there for new fetaures. If I implement it there could you use it?

[2020-12-07 12:34] Diddlik commented on #846
Hi Daniel
am on zwavejs since yesterday. So far all good.
Yes, I would like to use it there. Ideal would be a topic with the current version and the currently available master/dev. But the current one would be very helpful.

Thank you

[2020-12-07 12:51] homected commented on #837
You don't have to say sorry, I'm thankful to you for your support and the efforts you used for this problem.

I'll keep an eye on zwavejs2mqtt although zwave2mqtt is working fine for me.

[2020-12-07 12:52] robertsLando commented on #846
@Diddlik Let me move this there so :)

[2020-12-07 12:53] robertsLando commented on #846
@Diddlik I cannot move the issue to that repo, can you recreate the issue there please?

[2020-12-07 12:59] Diddlik commented on #846
done

[2020-12-07 12:59] #846 closed

[2020-12-07 17:49] dhritzkiv commented on #848
This did the trick!

[2020-12-07 17:49] #848 closed

[2020-12-07 21:56] EKCJ commented on #847
Thanks, I will try moving to that and see if it solves the problem - but maybe next weekend since I only migrated from the HA zwave integration to zwave2mqtt on Saturday 😂

[2020-12-08 19:22] flaghub commented on #847
Thanks, I'll test next week

[2020-12-09 22:47] gjermy opened #850 "[question] zwave2mqtt only responding to published mqtt set values after manually switching device or setting user value via zwave2mqtt UI"
Hi,

I have a behaviour with a couple devices that I can't understand or debug.

For a couple of devices on the system, zwave2mqtt doesn't respond to or even log anything when values are published to the 'set' topic... until either the device is switched manually (e.g. at wall switch) or via the zwave2mqtt web UI by doing a set of the value within 'User' part of the device's values.

After the fir

[2020-12-10 07:08] robertsLando commented on #850
Hi @gjermy , so this happens only after restarts right? But you mean after an application restart or a restart from settings? Did you tried with https://github.com/zwave-js/zwavejs2mqtt?

[2020-12-10 09:34] gjermy commented on #850
Hi @robertsLando - really sorry but I think I may have been using an old version.

I was running via docker(-compose) using robertslando/zwave2mqtt:latest - and I was sure I'd done a docker pull of latest, but maybe that hadn't worked. Or I'd mistakenly pulled on laptop rather than ssh to pi. The pi had been half set up a while previous.

I've tried pinning to a more recent image than I'd original

[2020-12-10 09:36] #850 closed

[2020-12-10 09:48] robertsLando commented on #850
@gjermy I suggest you to consider switching to zwavejs implementation as I will add new features only on that one :)

[2020-12-11 09:18] doguitar commented on #841
Having the same issue with the same versions as the OP and didn't want to report a duplicate issue. Although this is the first I'm trying so I can't speak to if this would have worked in the past.

[code]

On a side note, the error logging for this method is pretty unhelpful. There's a single try/catch wrapping the entire method.

[2020-12-11 14:24] robertsLando commented on #841
@doguitar In zwavejs2mqtt now climates are auto discovered: https://github.com/zwave-js/zwavejs2mqtt

[2020-12-12 01:05] doguitar commented on #841
What's the purpose/objective of the fork? Besides devices support (which is pretty major), why should I switch?

[2020-12-12 08:18] robertsLando commented on #841
It's explained here: https://github.com/zwave-js/zwavejs2mqtt#why-zwavejs

[2020-12-13 21:47] smitt04 commented on #773
I am also experiencing this, This is the first time i have tried to use the library and it is missing those sensors which I can get using a different setup.

[2020-12-14 00:19] ve6rah commented on #546
I don't think anything had changed on this issue. Still seeing problems.

[2020-12-14 08:52] robertsLando commented on #773
@smitt04 Can you try with: https://github.com/zwave-js/zwavejs2mqtt#why-zwavejs

[2020-12-14 08:56] robertsLando commented on #546
@ve6rah Could you give a try to: https://github.com/zwave-js/zwavejs2mqtt#why-zwavejs

[2020-12-14 18:48] smitt04 commented on #773
@robertsLando I tried the zwave-js and it seems like it can not communicate with the device for nodeinfo. I get these in the logs

[code]

I have tried excluding and re-including the node through zwave-js and that seems to add and remove the device, but it still can't query for nodeInfo

[2020-12-15 03:42] pdrahcir commented on #744
@hyperbolic2346 is this resolved for you?  I am having a very similar issue where I am getting log spam and I am using the latest version.  I am using zooz zen27 switches BTW.

` 65 ms
2020-12-15 03:32:52.247 Detail,
2020-12-15 03:32:52.247 Info, Node019, Sending (Send) message (Callback ID=0xe8, Expected Reply=0x04) - SwitchMultilevelCmd_Get (Node=19): 0x01, 0x09, 0x00, 0x13, 0x13, 0x02, 0x26, 0x

[2020-12-15 06:14] hyperbolic2346 commented on #744
@pdrahcir I haven’t seen the issue since this fix went in to a release. I notice you have a different device. I wonder if it is doing something similar but not the same. ☹️ I would suggest a new issue to track it.

[2020-12-15 07:16] robertsLando commented on #744
Hi guys, I'm working on a completely new version of this project here: https://github.com/zwave-js/zwavejs2mqtt#why-zwavejs

Take a look at it :)

[2020-12-15 07:45] robertsLando commented on #773
@smitt04 This is something we have to speak with @AlCalzone. Could you please set the loglevel to debug on zwave settings, enable log to file and send us the file? it should be stored in `bin` folder

[2020-12-15 15:11] smitt04 commented on #773
[zwave-1.log](https://github.com/OpenZWave/Zwave2Mqtt/files/5696752/zwave-1.log)

[2020-12-15 15:22] AlCalzone commented on #773
@smitt04 thanks --> https://github.com/zwave-js/node-zwave-js/issues/1214

[2020-12-15 15:25] pdrahcir commented on #744
Thanks for your help.

@robertsLando I have installed your new version and I do not see the issue anymore.  I will proceed with it.  Thanks!

[2020-12-15 15:39] robertsLando commented on #512
@LordMike Did you take a look at: https://github.com/zwave-js/zwavejs2mqtt?

If you wonder why: https://github.com/zwave-js/zwavejs2mqtt#why-zwavejs

[2020-12-16 03:37] hyperbolic2346 commented on #744
@robertsLando What is the stability of that project? Are you suggesting migration for zwave2mqtt users?

[2020-12-17 19:27] smitt04 commented on #773
@robertsLando @AlCalzone Not sure if we should move this issue to another ticket in zwavejs2mqtt

I got around to installing the node version of the package and installed the master of node-zwave-js and I get a new error now.

[code]

[2020-12-17 22:20] AlCalzone commented on #773
That log snippet is not enough to diagnose. But yeah, that warrants a new issue in node-zwave-js

[2020-12-18 23:24] smitt04 commented on #773
Forgot to link the other issue https://github.com/zwave-js/node-zwave-js/issues/1219

[2020-12-21 07:58] robertsLando commented on #773
Closing this in favor of that

[2020-12-21 07:58] #773 closed

[2020-12-23 15:13] BigDoom opened #857 "[bug] FGS213 Switch (FIBARO System) needs to be operated twice when toggled via Zwave"
**Version**
Build/Run method
Home Assistant Addon (https://github.com/hassio-addons/addon-zwave2mqtt)

Zwave2Mqtt version: v4.0.6
Openzwave Version: 1.6

**Describe the bug**
Fibaro Switch is configured as Toggle switch (device changes status when switch changes status), so when operating the (physical) switch the light should be toggled. This works perfectly untill the light is toggled via a Zwav

[2020-12-23 15:24] robertsLando commented on #857
@BigDoom I think that this should be something that the device should handle, not related to zwave2mqtt

[2020-12-25 19:44] IATLLC opened #859 "regarding setValue API calls from MQTT"
Hello,
I have installed the OpenZWave/Zwave2Mqtt on my ubunto 20.04 laptop to do development for my raspberry pi as a Zwave hub. I have a thermostat that is recognized in the control panel and will let me control it just fine from the control panel. I set a temperature setpoint for the heater click the update arrow and it calls the setValue API and updates the value. I can see from the terminal ou

[2020-12-26 10:37] robertsLando commented on #859
The payload looks good, the topic too as it is received as shown in the logs. Are you able to set breakpoints in the code? I suggest you to set a break on mqttclient message received. Otherwise, this project is going to be replaced by: https://github.com/zwave-js/zwavejs2mqtt

If you just started with z2m I suggest to start with that :)

[2020-12-28 06:47] blhoward2 commented on #185
Has anyone managed to fix this? I have the same issue with my Aeotec Switch 6s except the relay also rarely changes when I flip the dimmer in HA on/off, and it doesn’t show the correct state in HA most of the time.

[2020-12-28 09:26] robertsLando commented on #185
@blhoward2 Have you tried with: https://github.com/zwave-js/zwavejs2mqtt?

[2020-12-28 12:47] t00 opened #861 "How to configure Node config options for a ZWave device which supports configuration?"
After reinstalling Home Assistant I thought Zwave2Mqtt is architecturally a better approach allowing separation of device handling and automation. Problem is that my Aeotec Gen5 Meter is sending too much information and this can be configured using ZWave node configuration as described on Home Assistant ZWave integration guide [here](https://community.home-assistant.io/t/aeon-labs-aeotec-home-ener

[2020-12-28 13:06] robertsLando commented on #861
@t00 Just select the node from the table of control panel and all its configuration values will be displayed on node tab

[2020-12-28 13:06] #861 closed

[2020-12-28 13:06] IATLLC commented on #859
Ok thanks, I will switch over to the other project and give that a go. Thanks for the response.

[2020-12-28 13:06] #859 closed

[2020-12-28 13:37] t00 commented on #861
@robertsLando It looks like these options are not available on the node tab:
![zwave2mqtt_node_config](https://user-images.githubusercontent.com/1933165/103217727-36f17e80-4911-11eb-9fe2-c78a3fd9716c.png)

There are indeed ZWave settings like power level or others, "Configuration" section is empty though. There is no per-option list or a dropdown with options to select i.e. 101 as in the guide lin

[2020-12-28 13:44] t00 commented on #861
Please also see the bottom of the list showing first 10 of 20 entities in the meter with one example config on the right.
![zwave2mqtt_node_config_entities](https://user-images.githubusercontent.com/1933165/103218390-c2b7da80-4912-11eb-9a3e-d33fcf45988a.png)

[2020-12-28 13:47] t00 commented on #861
I might also add Configuration -> Refresh Values shows a popup "Successfully call api requestAllConfigParams " but nothing changes on screen.

[2020-12-28 13:50] robertsLando commented on #861
@t00 Could you also try with https://github.com/zwave-js/zwavejs2mqtt?

[2020-12-28 14:47] blhoward2 commented on #185
I have not because after months of dealing with ozw I’m frankly ready for something more stable that just works. How far along is that effort?

[2020-12-28 15:25] robertsLando commented on #185
It depends, what I can tell you is that I don't plan to keep both project maintained, I know that switch costs time but I see no future with OZW for many reasons

[2020-12-28 15:36] blhoward2 commented on #185
Understand that. And the development of qt-openzwave has seemingly stalled since July with critical bugs left unaddressed so I appreciate that you’re active at all. How comprehensive is the device database? The only reason that I didn’t start there is that I saw your question about using the ozw device database hasn’t been answered in a while.

[2020-12-28 16:06] robertsLando commented on #185
It already have most devices, if some is missing open a PR and we will help you or add it in few days or even in some hour if it's easy. About the question, it's not answered because Justin isn't active for more then 4 months and he is the man behind all ozw stuff even the last ozw daemon. I don't want to waste my time anymore with ozw, we have created a nice community in slack with the author of

[2020-12-28 20:34] t00 commented on #861
@robertsLando Thanks, I will give it a go. The localization problem I mentioned earlier - is there something I could do to set locale of Zwave2Mqtt once it's installed, maybe this prevents configuration and out of all options I would love to make Zwave2Mqtt working.

[2020-12-29 06:10] t00 commented on #861
@robertsLando I checked zwavejs2mqtt and it works as expected:

![image](https://user-images.githubusercontent.com/1933165/103262167-f9860300-499b-11eb-9571-005148df4d56.png)

This means there are 2 potentially related issues:
1. Not working locale causing excessive OpenZWave logging of values
2. Configuration not showing available settings for Aeotec Gen 5 meter

Would you like me to report these

[2020-12-29 06:22] t00 commented on #861
It would also be great if zwavejs2mqtt provided a Home Assistant Supervised plugin as if I understood correctly it is the future of ZWave development for HA?

Consider adding a docker-compose.yml to README so people using supervised can still add zwavejs2mqtt to their setup manually:

[code]

[2020-12-29 07:14] robertsLando commented on #861
Could you tell me more about this? I dunno what you mean here.

I'm not the author of OZW, also I dunno how it works at low level as I never studied its source code so I cannot help to debug your problem I'm sorry. If it works with zwavejs2mqtt just use that one or no?

[2020-12-29 10:06] Swiftnesses commented on #92
I realise this is closed, but have the same issue with my previously working (1.4) ZW100.

Can someone point me in the right direction as to what I need to add to the ZW100 xml?

Many thanks.

[2020-12-29 10:10] robertsLando commented on #92
@Swiftnesses GIve a try to https://github.com/zwave-js/zwavejs2mqtt

[2020-12-29 10:45] t00 commented on #861
Home Assistant Supervised is just a new name for Hassio setup available for a custom OS (i.e. Debian) rather than using Home Assistant OS but the plugin would work for both HA OS and HA Supervised - it is all more confusing than necessary to me as well. I was just referring to an alternative to OZW plugin https://github.com/hassio-addons/addon-zwave2mqtt but using zwavejs2mqtt instead of OZW.

For

[2020-12-29 12:34] robertsLando commented on #861
@t00 Ok I can ask to the author of zwave2mqtt addon to create one for zwavejs2mqtt

[2020-12-29 12:39] robertsLando commented on #861
@t00  https://github.com/hassio-addons/addon-zwave2mqtt/issues/70

[2020-12-29 19:59] Swiftnesses commented on #92
Hi @robertsLando and followers,

Tonight I've installed qt-openzwave on docker and got it up and running.

I'd like to know how I can apply 'EnableNotificationClear' to the zw100.xml (I am assuming I can do this via a custom file).

Any help would be greatly appreciated - I've recently migrated from the 'old' Home Assistant z-wave implementation and have found many of my nodes no longer work (or w

[2020-12-29 20:06] robertsLando commented on #92
@Swiftnesses this is not qt-openzwave

[2020-12-31 01:09] scyto opened #862 "[suggestion] Consider Opening up the Wiki for contributions?"
**Is your feature request related to a problem? Please describe.**
Getting started with this project is effing hard - the readme.md is uweildly for a noob and contains getting started, development, and other topics all over the place - for example the docker instructions are spread out.  (i only found the zwave database comments on like my 10th past, and i had to use some random google article to

[2020-12-31 03:57] scyto commented on #862
given i only just got the memo on zwavejs2mqtt i just switched to that (was easy as i only one device included, lol).
offer still stands on the docker / wiki docs.  For example this works, i have no idea if it is right / ideal / best..... but happy to learn and document for others :-)

![image](https://user-images.githubusercontent.com/11369180/103393736-255ad300-4ad9-11eb-92a9-02d969fcef70.png)

[2020-12-31 07:48] stuartwishart opened #863 "[question] Stale response to switch state change command"
I'm regularly getting into a situation when using Z2M with HA (both installed in Docks) where switch state change commands are
get a response from the Zwave device stating that the state change has not occurred.  However, I can see that the state change command has been actioned by the switch.  If I restart the Z2M docker container the problem goes away for a short period and then reoccurs.

**_Q:

[2020-12-31 20:22] ml8208 opened #864 "I have integrated a Schlage FE599 and having MQTT issues"
Hello,

I have connected a Schlage FE599 with Zwave2MQTT and can control the lock perfectly from the zwave control panel. When I do change the lock from unlocked or vice versa it writes the correct true or false value to the MQTT topic.

The issue I am having is controlling the lock at all from MQTT. if I publish to that same topic the true false value that I am changing in Zwave2mqtt the lock doe

[2021-01-01 23:51] phrz commented on #257
Hi, any news on this? I was caught off guard by this being the only tool in my smart home without password protection. In the meantime I will have to figure out firewalling it off.

[2021-01-02 09:26] robertsLando commented on #257
@phrz I suggest you to keep a look at the next version of this project. https://github.com/zwave-js/zwavejs2mqtt

[2021-01-02 10:09] robertsLando commented on #864
Could you give a try to

https://github.com/zwave-js/zwavejs2mqtt

[2021-01-02 10:17] robertsLando commented on #863
@stuartwishart did you try using zwavejs2mqtt?

[2021-01-02 10:21] robertsLando commented on #862
I have an open pr on zwavejs to move docs to GitHub docs :) stay tuned

[2021-01-02 10:21] #862 closed

[2021-01-02 18:02] scyto commented on #862
Cool, awesome project by the way!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Daniel Lando <notifications@github.com>
Sent: Saturday, January 2, 2021 2:22:02 AM
To: OpenZWave/Zwave2Mqtt <Zwave2Mqtt@noreply.github.com>
Cc: scyto <lx_b@msn.com>; Author <author@noreply.github.com>
Subject: Re: [OpenZWave/Zwave2Mqtt] [suggestion] Consider Opening up the Wiki for

[2021-01-02 18:29] ml8208 commented on #864
So using that other zwavejs2mqtt tool I get A lot more information about the Zwave devices on the network and am still able to control the lock from Zwave control panel.

None of the MQTT topics seem to be displaying any fields like Set to change dimmer brightness for example or to lock or unlock.

What can I try from here?

[2021-01-04 00:18] #747 closed

[2021-01-04 07:17] haavardNO opened #865 "[question] Scenes from z-wave.me zme_wcd2"
I am trying to get a z-wave.me wall controller to work with scenes.
I have been able to get it to work in the HA hub that I am coming from, but after transitioning to zwave2mqtt and Home Assistant, I am struggling with this device.

I am able to add with no problems, but it only shows up with a dimmer and battery. I have configured it to send scenes, but cant see anything meaningful in mqtt explor

[2021-01-04 16:00] robertsLando commented on #865
@haavardNO Have you tried with https://github.com/zwave-js/zwavejs2mqtt?

[2021-01-04 16:01] raymonvdm opened #867 "[question] Webinterface missing after update"
I have update my Zwave2Mqtt from version 3.4.0 to 4.1.1 using these steps

[code]
But now i`m missing the static files which seem to be needed for http://192.168.1.2:8091/ to be working.
[code]

[2021-01-04 16:04] robertsLando commented on #867
@raymonvdm Could you try using https://github.com/zwave-js/zwavejs2mqtt?

[2021-01-04 16:14] raymonvdm commented on #867
What are the difference`s between these?

[2021-01-04 16:15] robertsLando commented on #867
https://zwave-js.github.io/zwavejs2mqtt/#/getting-started/why

[2021-01-04 16:22] robertsLando commented on #864
@ml8208 YOu can find everything in docs: https://zwave-js.github.io/zwavejs2mqtt/#/

Check https://zwave-js.github.io/zwavejs2mqtt/#/guide/mqtt?id=set-values

[2021-01-04 16:22] #864 closed

[2021-01-04 16:22] robertsLando commented on #862
@scyto DOcs available to https://zwave-js.github.io/zwavejs2mqtt/

[2021-01-04 16:30] raymonvdm commented on #867
Not really helping this rookie to understand :-) , but i have cloned the git in a new Zwave2MQTT folder to keep my local wiki relevant and it seems to be working. As i understand this is a new approach of getting Zwave to speak MQTT but with bypassing OpenZwave?

Maybe the approuch helps me to get rid of some strange Z-Wave issues with some devices, for example a not working FireAngel Z-Wave modul

[2021-01-04 17:06] robertsLando commented on #867
@raymonvdm Sorry, the difference is that it doesn't require ozw and we are switching to that for the future

[2021-01-04 17:24] haavardNO commented on #865
@robertsLando , no I have not tried with that version. Sorry for the noob question but what is the difference?
I am running it in docker on a rpi.

[2021-01-05 07:55] robertsLando commented on #865
It doesn't use OZW but zwavejs, a new driver, in the near future that will replace this project and this will be archived

[2021-01-05 08:52] haavardNO commented on #865
Ok, I understand. I spent some time reading about it yesterday as well. And you confirmed my understanding.
I now have about 40 nodes running in zwave2mqtt that is discovered by Home Assistant. Will it be a smooth transition if I install zwavejs2mqtt? Or do I have to update all the "mapping" of devices?

[2021-01-05 09:14] robertsLando commented on #865
@haavardNO It would require some work, all devices should be discovered as before (expect rgb lights for now) but they will have different entity names in some cases and the topics will change. If zwave2mqtt works for you I suggest to wait, I'm speaking with hass core team about an hass addon that will communicate directly with zwavejs2mqtt to create entities (like ozw daemon does now with ozw bet

[2021-01-05 10:27] haavardNO commented on #865
@robertsLando It is working good now, except for scene controllers.
What timeframe are we talking about when moving to zwavejs2mqtt? When could this new communicating be available?

[2021-01-05 10:29] robertsLando commented on #865
@haavardNO Don't know, could be some weeks or some months.

[2021-01-05 14:44] carfnann opened #869 "[bug] FGWPE FGWPF wrong instant consumption"
Hi

I've notice my Wall Plug Figaro don't give me my instant power consumption. I think it is because the instant consumption in W is not mapped to the proper class command.

<img width="432" alt="Capture d’écran 2021-01-05 à 15 41 19" src="https://user-images.githubusercontent.com/30008968/103659468-b6fc9180-4f6c-11eb-80f6-5b11b62ebca3.png">

The instant consumption should be :
Class : 49
Instanc

[2021-01-05 14:57] robertsLando commented on #869
@carfnann Is't it the first one? The one with `Unknown` label? Anyway I suggest you to try with: https://github.com/zwave-js/zwavejs2mqtt

[2021-01-05 15:00] carfnann commented on #869
Yes it is the 1st one.
Why do you advise me to use another wave integration? is zwave2mqtt depreciated?

[2021-01-05 15:02] robertsLando commented on #869
Will be in future

[2021-01-05 15:06] robertsLando commented on #869
Docker?

[2021-01-06 12:33] raymonvdm commented on #867
I understand and i think it is a good way to go.

But now i`m still experiencing some issues

- I`m missing the logging to file but i found that i should wait for https://github.com/OpenZWave/Zwave2Mqtt/issues/418
- Restart of HomeAssistant leaves me with unavailble devices until i save a setting in the webinterface of ZwaveJS2MQTT
- Notify from Fibaro Universal Binary Sensor is not picked on butt

[2021-01-06 20:42] jaburges commented on #573
moved to zwavejs - closing as dont have time to debug

[2021-01-06 20:42] #573 closed

[2021-01-07 07:39] robertsLando commented on #867
@raymonvdm I don't plan to make those changes in this project, the logging has been improved in the last one I mentioned

[2021-01-07 11:06] rotem925 commented on #321
I would have a look at this: https://github.com/home-assistant/architecture/issues/483
Something is cooking...

[2021-01-07 12:44] robertsLando commented on #321
@rotem925 This: https://github.com/zwave-js/zwave-js-server will  be embedded in https://github.com/zwave-js/zwavejs2mqtt

And a new addon will be created on hass side. This will replace qt-openzwave and ozw beta addon

[2021-01-07 12:44] #321 closed

[2021-01-07 14:13] rotem925 commented on #321
@robertsLando Thanks for the update on this.. I'm now using ozwdaemon.
Is this ready yet? It is going to be a nightmare to migrate everything all over again..

[2021-01-07 14:14] robertsLando commented on #321
Not ready yet

[2021-01-08 04:06] sdwilsh commented on #426
@robwolff3, I hope you made progress, but for anyone else, I figured I'd share what I ended up with.  Of note, I don't have A/C, so mine is configured as heat-only, so a config might look a little different (also why I'm not submitting a PR).  This is my `customDevices.json`:

[code]

[2021-01-08 07:10] robertsLando commented on #426
Hi guys, I suggest you to swtich to the new project: https://github.com/zwave-js/zwavejs2mqtt

[2021-01-11 09:48] haavardNO commented on #865
After some more testing I decided to move my network to zwavejs2mqtt. Looks like there is somethings that is not optimal there also, but the performance is much better.

[2021-01-11 09:48] #865 closed

[2021-01-11 17:48] kipe opened #874 "[feat] Add support for '/' in MQTT prefix"
**Is your feature request related to a problem? Please describe.**
Currently the prefix for MQTT topics only allows "a-z", "A-Z", "0-9", and "_". With the current prefix limitations, it's not possible to just subscribe to `zwave2mqtt/+/#` (for example, using `zwave2mqtt/uuid` as prefix). This would be useful when implementing a server with multiple zwave2mqtt instances connected, allowing the pref

[2021-01-12 07:38] robertsLando commented on #874
@kipe COuld you use: https://github.com/zwave-js/zwavejs2mqtt?

[2021-01-12 07:38] robertsLando commented on #874
I can implement it there if you want

[2021-01-12 07:41] kipe commented on #874
@robertsLando Thank you, I just started using Z-Wave in general yesterday, so changing to zwavejs2mqtt is no issue. Actually that was my plan anyways, once I stumbled upon it :)

[2021-01-12 07:42] robertsLando commented on #874
Open the issue there, will check it later :)

[2021-01-12 07:42] #874 closed

[2021-01-12 22:33] raymonvdm commented on #867
I`m sorry, it is better to respond to the other project with my questions

[2021-01-12 22:33] #867 closed

[2021-01-13 08:58] rotem925 commented on #321
Thank you @robertsLando !!
Do you know if the HA integration plan will talk directly to the zwave-js-server?
If that the case, doesn't it mean that zwavejs2mqtt is not necessary? Sorry, I just a bit confused.
I have a lot of issues with ozwdaemon, and this time I want to make a better choice :)
Not having to rename every time I switch..

thank you!

[2021-01-13 09:37] robertsLando commented on #321
Nope, zwavejs2mqtt will come with zwave-js-server inside, it will be used as control panel too and also you can use it to manually discover some entities when zwave-js-server fails to create some

[2021-01-13 09:56] rotem925 commented on #321
@robertsLando Got it!
I will give it a try then.
Thank you!

[2021-01-15 15:57] SmartHomeNewbie opened #877 "[question] cannot get zwave2mqtt to save changes"
Hello

Ive got some fibaro motion sensors where iam trying to change things like sensitivity in the configuration tab of the node.
the first sensor i've had success chaning some parameters a week or two ago but when im trying now it keep jumping back to default, i guess i must be doing something wrong since it worked for me before?

[2021-01-15 16:08] robertsLando commented on #877
@SmartHomeNewbie Could you provide the log output?

[2021-01-15 16:26] SmartHomeNewbie commented on #877
Im running in docker, is it the log from portainer you would like to see? else can you specify a bit more, im a newb
[log.txt](https://github.com/OpenZWave/Zwave2Mqtt/files/5821704/log.txt)
had to copy it into a txt file because i dont know how to download it

[2021-01-15 16:35] robertsLando commented on #877
@SmartHomeNewbie that's from Zwave2Mqtt, this is zwaveJS2mqtt

Please install the right package and retry :)

[2021-01-15 16:36] robertsLando commented on #877
Ops sorry I thought this question was on the other side. Please use this: https://github.com/zwave-js/zwavejs2mqtt

[2021-01-15 16:36] #877 closed

[2021-01-15 16:54] SmartHomeNewbie commented on #877
i should use that docker image instead?

[2021-01-15 16:57] robertsLando commented on #877
yep

[2021-01-20 09:53] reiniertc opened #880 "no zwave updates is sent to mqtt"
in Home Assistant, mosquito is setup and works (I see messages using MQTT explorer)
I have setup the zwave part and the mqtt part in zwave2mqtt.
my zwave-devices are being populated in zwave2mqtt
in MQTT explorer, i See my zwave and _EVENTS.
in _EVENTS I only see ZWAVE_GATEWAY-MQTT_gateway

But after that, no zwave changes (switch state, sensor values) are being send to MQTT (under _EVENTS of anyw

[2021-01-20 10:03] robertsLando commented on #880
@reiniertc Could you try to use: https://github.com/zwave-js/zwavejs2mqtt?

[2021-01-20 10:10] reiniertc commented on #880
@robertsLando can I add this via Supervisor?

[2021-01-20 10:23] robertsLando commented on #880
What is that?

[2021-01-20 10:30] reiniertc commented on #880
in home assistant, there is an option "supervisor" which let's you install add-ons via a user-interface

[2021-01-20 10:32] reiniertc commented on #880
let me rephrase my question: is zwave-js2mqtt a home assistant addon?

[2021-01-20 10:42] robertsLando commented on #880
Not yet, but I have a tutorial: https://zwave-js.github.io/zwavejs2mqtt/#/guide/homeassistant?id=accessing-zwavejs2mqtt-from-within-home-assistant

[2021-01-20 10:42] #880 closed

[2021-01-20 11:22] reiniertc commented on #880
mmm, ok thanks.
I'm not experienced enough to install a custom add on like this one on my raspberry pi4.
That's why I have chosen to only install addons via the add-on functions of homeassistant via Supervisor.

You advised me to install zwavejs2mqtt for a reason: why is that better than zwave2mqtt I wonder?

[2021-01-20 12:38] robertsLando commented on #880
You will find main reasons here: https://zwave-js.github.io/zwavejs2mqtt/#/getting-started/why

Additionally OZW main author isn't very active in last 4/5 months and said that he will not be able to be so active in the future. I cannot say OZW is died but most platforms are moving to zwavejs now

[2021-01-20 16:32] cramforce opened #881 "[question] Append-mode for zwave logging"
Hey,

My understanding is that OpenZWave supports 2 modes for opening the logging file:

1. (Default) Open and write to pointer at end of file
2. Append to file.

I'm wondering which one is used by Zwave2Mqtt today. I'm happy to send a PR to document this, and if it isn't (2) I'd look into adding an option to enable that.

I'm looking into (2) primarily to enable more traditional copy/truncate log

[2021-01-20 16:35] robertsLando commented on #881
@cramforce Could you use: https://github.com/zwave-js/zwavejs2mqtt ?

[2021-01-20 16:45] cramforce commented on #881
Possibly-ish :)

I had not seen that at all. Looks great. I would probably migrate to this if I have a very free weekend.

[2021-01-20 17:59] HWL1968 opened #882 "[question] Does zwave2mqtt support symlinks?"
Hi all,

I am using zwave2mqtt on a raspberry pi and it is working fine.

Now I try to get the system working while using a symlink (to ensure the tty* device doesn't change when the system has to be rebooted. My symlink is: /dev/ttyUSB_ZWave -> ttyACM0

However: I noticed I couldn't get the symlink working (using other software, like domoticz, the symlink works so no issue with that). The symlink

[2021-01-20 18:07] HWL1968 commented on #882
1 addition: I noticed just now the following:
- export the settings (under settings tab)
- edit the configuration by hand and changing the device to the symlink
- uploading the configuration again
- saving

And now the symlink seems to stick. ???

[2021-01-20 18:46] cramforce commented on #881
Any chance you have an answer to the original question for the short-term?

[2021-01-20 18:59] robertsLando commented on #881
Actually the logs are appended AFAIK. If it is handeld by an option on driver you can set that option in settings.json

[2021-01-20 21:14] chrish987 opened #883 "MQTT retain setting per item in Gateway config [feat]"
It would be nice to be able to set the RETAIN flag on a per message basis in the gateway config rather than just globally. Some messages (e.g. light status) are more relevant for retained messages than others (e.g. a PIR motion alert).

Setting could either replace or override the global setting in MQTT config.

Not sure if this is useful for others, I am using the software with all messages manua

[2021-01-21 03:56] cramforce commented on #881
OK, test. Yeah, ``logrotate` with `copytruncate` works just fine. Thanks!

[2021-01-21 03:56] #881 closed

[2021-01-21 08:29] robertsLando commented on #883
@chrish987 Could you move this request to https://github.com/zwave-js/zwavejs2mqtt?

[2021-01-21 08:35] robertsLando commented on #882
@HWL1968 Why are you using symlinks? Anyway I suggest you to switch to: https://github.com/zwave-js/zwavejs2mqtt

[2021-01-21 08:35] #882 closed

[2021-01-21 10:21] HWL1968 commented on #882
Thx for your swift respons.

Reason for using symlinks: when restarting the Pi it is not assured that the tty* device gets the same name and therefor I would have to reconfigure. (has happened a number of times. Yesterday (due to a restart after a power outage) it changed from ttyACM0 to ACM3 and thus zwave2mqtt stopped working. a restart fixed it (changed back to ACM0). Then I wondered why I didn

[2021-01-21 10:24] robertsLando commented on #882
@HWL1968 Why don't use docker? ALso about the names of ttys, you can write an UUDEV rule in order to keep the name always the same

[2021-01-21 10:33] HWL1968 commented on #882
I am not that familiar with docker, what I have seen: you have to pass the device name which would still be ACM0. If this would be the symlink, how is it being treated within the container? ACM0 again?

Regarding UUDEV rules: I am not familiar with them, will have a look. Thx for pointing out.

Also had a look just now at zwavejs2mqtt: can you help me pointing out the installation steps? Couldn't

[2021-01-21 10:36] robertsLando commented on #882
@HWL1968 Installing zwavejs2mqtt is really simple. You just need to have nodejs installed on your rpi and then clone and build the repo:

[code]

CHeck docs: https://zwave-js.github.io/zwavejs2mqtt/#/getting-started/quick-start

[2021-01-21 10:37] robertsLando commented on #882
@HWL1968 About udev rule check: https://unix.stackexchange.com/questions/66901/how-to-bind-usb-device-under-a-static-name

[2021-01-21 18:05] HWL1968 commented on #882
@robertsLando: thx for pointing out to udev. That is the way I defined the link to the ZWave controller (I now realize I pointed in the wrong direction as you probably understood 'ln ... '. This way it is being persisted after a reboot and works fine. Can it be that the name is being checked on a certain format? /dev/ttyUSB_ZWave is maybe not an ideal name?
I tried using zwavejs2mqtt running in a

[2021-01-21 20:29] chrish987 commented on #883
will do. is the other project now the focus?

[2021-01-22 09:50] robertsLando commented on #882
@HWL1968 What's the error you get?

[2021-01-22 09:51] robertsLando commented on #882
Maybe you have to add your user to `dialout` group

[2021-01-22 09:53] robertsLando commented on #883
Yep, it is

[2021-01-22 11:14] HWL1968 commented on #882
The issue is, it doesn't stick. When I leave the screen, it changes back to the last setting (yes,, I pressed 'save' :-) ). No error is shown.

I checked the groups pi belongs to (zwave2mqtt and docker both run under pi)... Is member of dialout.

[2021-01-22 11:58] robertsLando commented on #882
Try to export the settings, manually add the path in the json then import and save

[2021-01-22 12:12] HWL1968 commented on #882
Yep, that's working and then it sticks. For now no issue further issue. Noticed it already as mentioned. I was just wondering of there is some kind of check on the name of the device. For me: this is further no issue. (both: zwave2mqtt and zwavejs2mqtt). It was merely a question. Thx for your support.

[2021-01-24 17:15] reiniertc opened #886 "FGBS001 status changed not relayed to MQTT"
I have several fibaro FGBS001 sensors added to zwave2mqtt.
If I look at the debug info in zwave2mqtt I can see that sensor changes are happening in zwave:
[code]

Also when I inspect the node, I see this (seems fine to me):
[code]

But when I check the MQTT trafic in MQTT explorer, there is no MQTT sent when I open/close the contact that is attached to the sensor. The sensors are on/off, so I woul

[2021-01-25 15:54] robertsLando commented on #886
@reiniertc Please switch to https://github.com/zwave-js/zwavejs2mqtt

[2021-01-25 18:55] reiniertc commented on #886
You suggested me to do the same for another issue (which I solved). But as ling as there is no out of the box install option for home assistant, that’s a no go for me.

I’m looking for an answer to my question “ Do I have to configure something to get it to work? Or is this a bug?”

is there anyone that
Can help me with that?

[2021-01-26 06:48] reiniertc commented on #886
well, never mind my questions. Yesterday I installed Portainer in Home Assistant and installed a container with zwavejs2mqt. That worked within 15 minutes and my FGBS001 seems to work fine now :-)

[2021-01-26 06:48] #886 closed

[2021-01-26 22:16] embcla opened #888 "Device discovery and enumeration differs from Zwave SDK PC Controller"
Hello

I've got into this because I bought an Aeotec ZW095 Home Energy Meter and, after pairing, it wouldn't accept any command nor send status reports.

Aeotec support had me do stuff with the SDK PC Controller, and the more I fiddle with it the more I realize that when I pair the device via zwave2mqtt, the device does not appear to have all the features and settings as when it's paired via PC Co

[2021-01-27 02:41] ibrahim405 opened #889 "devices doesn't appear on home assistant?[question]"

[2021-01-27 11:36] robertsLando commented on #888
Could you try to use zwavejs2mqtt instead?

[2021-01-27 11:36] robertsLando commented on #889
Switch to zwavejs2mqtt

[2021-01-27 12:39] embcla commented on #888
Eventually I'm going to need the zw2mqtt embedded in HomeAssistant.
For this test I'm going to attempt running the js version in docker on windows and pass the usb stick to it.
Will report back

[2021-01-27 12:48] ibrahim405 commented on #889
ok i installed it but same problem no device appear i think the problem in the mqtt cofiguration
`mqtt:
  discovery: true
  discovery_prefix: zwave
  broker: core-mosquitto
  birth_message:
    topic: 'hass/status' # or homeassistant/status if z2m version >= 4.0.0
    payload: 'online'
  will_message:
    topic: 'hass/status' # or homeassistant/status if z2m version >= 4.0.0
    payload: 'offline'

[2021-01-27 13:20] robertsLando commented on #889
Enable hass discovery in settings

[2021-01-28 00:55] ibrahim405 commented on #889
it did not work i dont know the reason

[2021-01-28 02:56] ibrahim405 commented on #889
![image](https://user-images.githubusercontent.com/76870757/106083410-235e5100-6125-11eb-8ac2-be4dacb4d043.png)

[2021-01-28 02:58] ibrahim405 commented on #889
![image](https://user-images.githubusercontent.com/76870757/106083485-412bb600-6125-11eb-986c-bd789e21ae0c.png)
![image](https://user-images.githubusercontent.com/76870757/106083510-4be64b00-6125-11eb-83f3-5aedbb79dcbb.png)
![image](https://user-images.githubusercontent.com/76870757/106083619-7932f900-6125-11eb-8da5-f7a55d14d4c3.png)

[2021-01-28 04:49] ibrahim405 commented on #889
i use aeotic zwave stick 7 but it works fine with the zwave2mqttjs but nothing appears in the home assistant

[2021-01-28 07:40] robertsLando commented on #889
@ibrahim405 Mqtt settings? Is the broker connected?

[2021-01-28 12:14] embcla commented on #888
First image is the ZW095 HEM added by zwavejs2mqtt. Added with secure option.
![image](https://user-images.githubusercontent.com/54371771/106137004-642c8900-616a-11eb-8a5c-4694725d4293.png)

Second image is the ZW095 HEM added via PC Controller 5
![image](https://user-images.githubusercontent.com/54371771/106137156-9e962600-616a-11eb-98e8-06249724623a.png)

As you can see there is much more availa

[2021-01-28 12:38] robertsLando commented on #888
@embcla By looking at your image seems the version you are running is an old one. Could you try to use the `dev` tag instead to see if it works better?

[2021-01-28 12:40] embcla commented on #888
I just pulled it from dockerhub with latest, I'll pull dev

[2021-01-28 13:11] ibrahim405 commented on #889
![image](https://user-images.githubusercontent.com/76870757/106143188-1704e300-617b-11eb-827b-397a840e9e1d.png)

[2021-01-28 13:12] ibrahim405 commented on #889
![image](https://user-images.githubusercontent.com/76870757/106143308-461b5480-617b-11eb-8249-2b0254438dfd.png)

[2021-01-28 13:22] ibrahim405 commented on #889
sorry i toke wrong screenshot ...........

[2021-01-28 13:24] robertsLando commented on #889
@ibrahim405 I suggest to enable the clean flag on the broker. BTW is the mqtt client connected?

[2021-01-28 13:29] ibrahim405 commented on #889
how do i know is mqtt client is working

[2021-01-28 13:35] ibrahim405 commented on #889
done i found the url in the log of the mosquitto broker
thanks alot

[2021-01-28 15:39] jbuggie opened #891 "[question] Lights status not updated when changed physically"
I have a few light swiches, mostly GE-12724 Dimmer 3-way switches and WD500Z-1. I don't think they send status update when physically turned on/off. I was using Domoticz and had to set polling to yes on these to get their statuses update in a timely manner.

I'm testing out zwave2mqtt the latest version via docker and it seems their statuses do not get polled.  In the zwave control panel, the poll

[2021-01-28 15:49] robertsLando commented on #891
@jbuggie I suggest you to switch to https://github.com/zwave-js/zwavejs2mqtt/

[2021-01-28 16:49] #889 closed

[2021-01-28 16:50] jbuggie commented on #891
@robertsLando thanks. I tried it, similar problem.

[2021-01-28 16:54] robertsLando commented on #891
@jbuggie This is a device issue, it's the device that should tell me that an update has happen, could you try to check if there configuration options for this or if there are firmware updates for the device?

[2021-01-28 17:10] jbuggie commented on #891
@robertsLando I don't know the exact details but these older swtiches don't send update due to a patent by Lutron (expired now).  I don't think there is any firmware update for them. Domoticz got a around it polling their status every so often. I got the status change in Domoticz about 60s after it happens, which is ok.

[2021-01-29 08:13] robertsLando commented on #891
@jbuggie So you can enable poll of that value, from gateway values table, and choose the poll interval

[2021-01-29 12:02] embcla commented on #888
So I managed to get it working with zwavejs2mqtt-dev

A few questions now:
1) how long until dev trickles down to latest
2) how long until zwavejs2mqtt is fully integrated into HA (I saw the new repos have been created, but the addon isn't available yet)
3) in case such issues arise, what is the lag between HA and zwavejs2mqtt-dev?

[2021-01-29 12:52] robertsLando commented on #888
`dev` points to master branch, `latest` to latest release. TOday I just made I new release so if you pull latest you should be able to see the same as `dev`.

About the other questions, there is a work in progress, you will see everyhing in next days/weeks

[2021-01-29 14:26] #888 closed

[2021-01-30 18:48] kylechase opened #893 "[bug] Adding assocations does not seem to work"
**Version**

Build/Run method
- [X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: 4.1.1
Openzwave Version: 1.6.-1

**Describe the bug**
The associations are not being set.  There is no additional error being set, so I am not sure how to troubleshoot further.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to groups
2. Select the nod

[2021-01-30 23:51] william57m opened #894 "[question] Availability state not set in HA"
Hi,

I have a question about the availability in HA. When zwave2mqtt is down, my devices still appears as "available" in HA, they are not greyed out, is there an option to support that?

I know that in zigbee2mqtt, the payload of the devices contains the `availability_topic` which is checking `zigbee2mqtt/bridge/state`.

I tried to do the same in zwave2mqtt by setting the `availability_topic` of m

[2021-01-31 16:53] ratsputin opened #895 "Mesh not drawn correctly when removed node is part of mesh [bug]"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

Zwave2Mqtt version: Latest
Openzwave Version: 1.6.1789

**Describe the bug**
A node that was previously at address 18 (AEON Labs ZW095 Home Energy Meter Gen5), was removed and is now at 27 is still showing as a neighbor on five nodes at its old address.  Healing the network nor for

[2021-02-01 09:32] robertsLando commented on #895
Switch to https://github.com/zwave-js/zwavejs2mqtt

[2021-02-01 09:32] #895 closed

[2021-02-01 09:47] robertsLando commented on #893
Switch to https://github.com/zwave-js/zwavejs2mqtt

[2021-02-01 09:48] robertsLando commented on #894
Switch to: https://github.com/zwave-js/zwavejs2mqtt

Oopen a feature request there if it's not implemented. Also if used with hass I suggest ot give a try also top the integrated zwavejs server with the new hass zwavejs addon

[2021-02-01 09:48] #894 closed

[2021-02-01 13:48] ratsputin commented on #895
Are there any instructions on how to migrate from zwave2mqtt and setup zwavejs2mqtt?  I have no interest in running under docker.

[2021-02-01 13:56] robertsLando commented on #895
https://zwave-js.github.io/zwavejs2mqtt/#/guide/migrating

[2021-02-01 17:54] jbuggie commented on #891
@robertsLando  That's exactly what I did but still it does not refresh their statuses. I gave up and go back to domoticz and mqtt. A simple script to republish domoticz/in is all I need to interface with HA.

[2021-02-01 18:32] depetewes commented on #891
Same HA issue here. Din Dimmer from Qubino(ZMNHSDx Din Dimmer, Qubino (Goap)) is not updated in
Zwave2Mqtt when changed physically.
Could be related to "Update OpenZWave database" 1.6.974-r0  ee90c896c137b3a473232565c45a51d70c41c431 ?

[2021-02-01 23:10] william57m commented on #894
Can you tell me what's the difference? Is this version deprecated? (or just for openzwave). Why should I use zwavejs instead? Just trying to understand the benefit.

[2021-02-02 09:12] robertsLando commented on #894
https://zwave-js.github.io/zwavejs2mqtt/#/getting-started/why

[2021-02-03 01:21] ratsputin commented on #895
Thank you very much, sir.  Your effort on this is greatly appreciated.  Without your hard work, I'd be stuck on SmartThings.

[2021-02-06 15:47] jamesarbrown commented on #857
@BigDoom there is something bugging me in my mind I had similar on a Fibaro smart implant. Somewhere online I found instructions, had to get the official Zwave windows software, put the stick into my laptop and transmit/change something... sorry, I know that sounds very very vague, but I am sure is how the Fibaro pieces are shipped and setup, not openzwave

[2021-02-06 15:56] jamesarbrown opened #901 "OpenZwave newer Versions in Docker Image [question] [featurerequest]"
Is there

1. A way of identifying with the docker module the openzwave version, for instance on the dev docker image? Zwave2mqtt does not report the minor version such eg 1.6.0 instead of 1.6.1843
2. Could the Docker image not have a flag for the version of openzw to utilise? An example like the plex linuxserver.io, that on run pulls and complies the fixed or latest version dependant on the docker

[2021-02-07 11:14] robertsLando commented on #901
Hi @jamesarbrown, have you tried to swith to https://github.com/zwave-js/zwavejs2mqtt ?

I don't plan to maintain this anymore

[2021-02-07 12:43] jamesarbrown commented on #901
I will migrate this afternoon

[2021-02-16 00:09] #822 closed

[2021-02-17 12:12] Wojcioo opened #911 "[question] Danfoss LC13 not discovering all values"
Hello
I have 3 different Danfoss Living Connect Z Thermostat. For two of them all values are identified properly and I can see them in the ZWaveJS2MQTT Control Panel. This are:
climate_thermostat
sensor_battery_level
binary_sensor_battery_islow

But for one I can only:
sensor_battery_level
binary_sensor_battery_islow

I've installed this on RPI3 using this instruction: https://flemmingss.com/how-t

[2021-02-17 12:44] robertsLando commented on #911
@Wojcioo Could you open the issue in  the correct repo? This is the old zwave2mqtt.

https://github.com/zwave-js/zwavejs2mqtt

[2021-02-17 12:44] #911 closed

[2021-02-21 13:43] rolfw opened #913 "[question] Run privileged necessary?"
The example Kubernetes [deploment.yaml](https://github.com/OpenZWave/Zwave2Mqtt/blob/master/kubernetes/deployment.yaml) contains `allowPrivilegeEscalation: true` and `privileged: true`.

This seems like a security risk, so I'm wondering if this is necessary for proper operation of the container.

If so, what is it needed for, and how can privileges be limited to the meet the minimal requirements o

[2021-02-22 08:10] robertsLando commented on #913
@chrisns I think you made that file

[2021-02-22 08:18] chrisns commented on #913
Hey
Yes, it's lazy, you can probably find a way to run as non-root and secomp what's needed to talk to the usb device. It's just not something I'd looked at yet.
It would be best practice, so a PR would be great if you want to figure it out and we can update the k8s and docker docs

[2021-02-22 08:51] robertsLando commented on #913
@rolfw  btw mind that this project is not maintained anymore, I suggest you to switch to zwavejs version

[2021-02-23 16:22] rolfw commented on #913
Having done some research, it seems that k8s doesn't support an equivalent of Docker's `--device` flag yet: [add support for host devices #5607](https://github.com/kubernetes/kubernetes/issues/5607#issuecomment-696676446). In issue comments the most mentioned approach is to use a [Device Plugin](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/) and the only

[2021-02-23 16:24] rolfw commented on #913
Thanks for mentioning, I wasn't aware of that. Maybe a good idea to mention that in the readme of this repo. Is that project functionally equivalent and stable?

[2021-02-23 21:57] chrisns commented on #913
Functionality superior, probably more stable (subjective)

[2021-02-23 22:02] chrisns commented on #913
Yes. Your summary of findings is roughly what I was expecting. It's not a unique problem really, wanting to expose a /dev device to a non-root user so should all be possible

Feel free to join the slack and we can work on it together if you like

[2021-02-24 00:06] #445 closed